@import "typography.scss";

:host {
	display: block;
	border-top: $light-blue 10px solid;
	background: $white;
	border-radius: 4px;
	margin-bottom: 1rem;

	&.block--orange {
		border-top-color: orange;
	}
}

::ng-deep {
	block {
		.block__title {
			display: flex;
			color: $dark-gray;
      font-size: 16px;

			&--border {
				border-bottom: $gray 1px solid;
			}

			&__text {
				flex-grow: 1;
				padding: 26px 24px;
				text-transform: uppercase;
			}

			&__tabs {
				button {
					appearance: none;
					padding: 0 16px;
					border: none;
					height: 100%;
					background: none;
					border-left: $gray 1px solid;
					font-size: 1rem;
					cursor: pointer;
					position: relative;
					overflow: hidden;

					&.active {
						border-bottom: orange 4px solid;
						color: $blue;
					}
					.button__contents{
						position: relative;
						z-index: 2;
						pointer-events: none;
					}
				}

				icon {
					display: block;
					margin-bottom: 2px;
				}
			}
		}

		.block__content {
			display: block;
			padding: 24px;

			h1,h2,h3,h4,h5,h6,p {
				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}

			&:after {
				content: '';
				display: block;
				clear: both;
				height: 1px;
			}
		}
	}

	@media screen and (max-width:640px) {
		block {
			border-radius: 0 0 4px 4px !important;

			.block__title {
				&__tabs {
					display: none;
				}
			}
		}
	}
}
