@import "typography.scss";

:host {
	display: flex;
	flex-wrap: wrap;
	* {
		font-size: .875rem;
		line-height: 1.125rem;
		border-radius: 1rem;
		min-height: 1.5rem;
		font-weight: 400;
		padding: .25rem .75rem;
		margin: 0 .5rem .5rem 0;
		white-space: nowrap;
    text-overflow: ellipsis;
		overflow: hidden;
		border: .0625rem solid;
		font-style: normal;
		&:last-child {
			margin-right: 0;
		}
	}
	&.default * {
		background: $white;
		border: .0625rem solid $gray;
	}
	&.plain * {
		background: $light-gray;
		border: .0625rem solid $gray;
	}
	&.orange * {
		background: $light-orange;
		border: .0625rem solid $white;
	}
	&.aqua * {
		background: $aqua;
		border: .0625rem solid $white;
	}
}
