@import 'colors.scss';
@import 'typography.scss';

:host {
  h1 {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.25;
    text-align: left;
    color: #333;
    margin-bottom: 1rem;
  }
	.dashboard-table {
		border: 0.0625rem solid $gray;
		border-collapse: collapse;
		width: 100%;
		font-size: $small;
		tr {
			border: 0.0625rem solid $gray;
			&.extraBottom {
				border-bottom: solid 0.125rem $dark-gray;
			}
			&.extraRow {
				background-color: #f6f6f6;
				border-top: solid 0.125rem $dark-gray;
			}
			td,
			th {
				padding: 0.75rem 1rem;
				border: 0.0625rem solid $gray;
				width: 33%;
				font-size: 0.875rem;
				a {
					font-weight: 400;
					font-size: 16px;
				}
				color: $black;
				&.text-center {
					text-align: center;
				}
				&:first-letter {
					text-transform: uppercase;
				}
				&.first-small:first-letter {
					text-transform: lowercase;
				}
				&:last-of-type {
					font-weight: 500;
				}
				&.normal {
					width: 50%;
				}
				&.additional {
					border-bottom: solid 0.0625rem $dark-gray;
					&.multi {
						border-bottom: 0.0625rem solid #f6f6f6;
						&--bordered {
							border-bottom: 0.0625rem solid $gray;
						}
					}
					&--1 {
						width: 5%;
						background-color: #f6f6f6;
					}
					&--2 {
						width: 45%;
					}
					&--3 {
						width: 50%;
					}
					&.lastRow {
						border-bottom: 0.0625rem solid $gray;
					}
				}
				&.nonBreakable {
					white-space: nowrap;
				}
				&.dark {
					font-weight: 500;
				}
				&.action-spanning {
					text-align: center;
					width: 20%;
					font-size: 1rem;
				}
				&.light {
					font-weight: 400;
					&.underlineHover {
						a {
							text-decoration: none;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
				&.extraHeight {
					height: 1.5rem;
				}
			}
			td.extraHeight {
				font-weight: 400;
			}
			th {
				font-weight: 500;
				background: $light-gray;
				text-align: left;
			}
		}
		&.first-table {
			margin-bottom: 0.5rem;
		}
	}
	.exam-block {
		margin-top: 1.5rem;
		ul {
			list-style-type: none;
			padding-left: 0;
			li {
				line-height: 1.57;
			}
			dl {
				margin-top: 1rem;
				margin-bottom: 1rem;
			}
			dt, dd {
				display: inline-block;
				font-size: 14px;
				font-weight: 500;
			}
			dt {
				color: #757575;
				margin-right: 0.5rem;
			}
			dd {
				margin-left: 0;
				color: #333333;
			}
		}
		hr {
			border: solid 1px #c7c7c9;
			margin: 1rem 0;
		}
	}
	::ng-deep .examinations .accordion__inline {
		padding-top: 0;
	}
}
