
<div><breadcrumbs></breadcrumbs></div>
<div class="main-container">
  <mat-spinner *ngIf="!list && loading"></mat-spinner>
  <div class="row" *ngIf="list && !loading">
    <div class="col-12 sm-12">
      <div class="block">
        <div class="block-title">{{ 'oskaProfessions.label' | translate }}</div>
        <div class="row">
          <div class="col sm-10 flex">
            <h1 class="block-heading">{{ 'oskaProfessions.compare_label' | translate | titleCase }}</h1>
          </div>
          <div class="col sm-2 flex action--back">
            <a href="javascript:void(0)" [routerLink]="back()">
              <span class="sm-show">{{ 'button.back' | translate }}</span>
              <span class="sm-hide">{{ 'button.back_to_professions' | translate }}</span>
            </a>
          </div>
        </div>
        <div class="scrollable">
          <div class="scrollable__rectangle scrollable__rectangle--left pointer" id="scrollableLeft" *ngIf="!elemAtStart" 
            (touchstart)="tableService.scrollStart('tableRef')" 
            (mousedown)="tableService.scrollStart('tableRef')" 
            (touchend)="tableService.scrollEnd()" 
            (mouseup)="tableService.scrollEnd()">
            <span class="htm-icon">keyboard_arrow_left</span>
          </div>
          <div class="scrollable__rectangle scrollable__rectangle--right pointer" id="scrollableRight" *ngIf="tableOverflown" 
            (touchstart)="tableService.scrollStart('tableRef', true)"
            (mousedown)="tableService.scrollStart('tableRef', true)"
            (touchend)="tableService.scrollEnd(true)"
            (mouseup)="tableService.scrollEnd(true)">
            <span class="htm-icon">keyboard_arrow_right</span>
          </div>
          <div class="scrollable__table" id="tableRef" (scroll)="tableOverflown = tableService.isOverflownWhileScrolling($event); elemAtStart = tableService.isElemAtStart('tableRef');setScrollPos('tableRef')">
            <table class="scrollableTable">
              <tbody>
                <tr *ngIf="list">
                  <td class="firstCell centered bold" [class.borderless]="fixedLabelExists" [class.lastCell]="!fixedLabelExists" *ngFor="let item of list">
                    <a [routerLink]="item.entityUrl.path" attr.aria-label="{{item.title}}">{{ item.title | titleCase }}</a>
                  </td>
                </tr>
                <tr *ngIf="list && fixedLabelExists">
                  <td *ngFor="let item of list" class="lastCell centered">
                    <span class="important-pill" *ngIf="item.fieldFixedLabel">{{ 'fieldFixedLabel.label' | translate }}</span>
                  </td>
                </tr>
                <tr *ngIf="list" class="shade">
                  <td colspan="100%" class="dark center">{{ 'oskaProfessions.fields' | translate | uppercase }}</td>
                </tr>
                <tr *ngFor="let elem of oskaFieldsArr; let childInd = index; let last = last;">
                  <ng-container *ngFor="let item of list; let ind = index;">
                    <td [class.firstCell]="childInd === 0" [class.groupCell]="!last" [class.lastCell]="last">
                      <ng-container *ngIf="oskaFields[ind]">
                        <span *ngIf="!oskaFields[ind][childInd]"></span>
                        <span *ngIf="oskaFields[ind][childInd]">{{oskaFields[ind][childInd].entity.title}}</span>
                      </ng-container>
                      <ng-container *ngIf="!oskaFields[ind]">
                        <span></span>
                      </ng-container>
                    </td>
                  </ng-container>
                </tr>
                <tr class="shade" *ngIf="list && progressFields.length">
                  <td colspan="100%" class="dark center">{{ 'oska.competition' | translate | uppercase }}</td>
                </tr>
                <tr>
                  <td class="firstCell lastCell" *ngFor="let item of progressFields; let ind = index;">
                    <progress-bar *ngIf="item && item > 0 && item < 6" [level]="item" [status]="competitionLabel[ind]" labelStart="{{'oska.simple' | translate}}" labelEnd="{{'oska.difficult' | translate}}"></progress-bar>
                  </td>
                </tr>
                <tr class="shade" *ngIf="list && employedFields.length">
                  <td colspan="100%" class="dark center">{{ 'oska.fieldNumberEmployed' | translate | uppercase }}</td>
                </tr>
                <tr>
                  <td class="firstCell lastCell" *ngFor="let item of employedFields;">
                    <span *ngIf="item">{{ formatNumber(item, 'et') }}</span>
                    <span *ngIf="!item"></span>
                  </td>
                </tr>
                <tr class="shade" *ngIf="list && employedChangeFields.length">
                  <td colspan="100%" class="dark center">{{ 'oska.numberEmployedChange' | translate | uppercase }}</td>
                </tr>
                <tr>
                  <td class="firstCell lastCell" *ngFor="let item of employedChangeFields;">
                    <div class="flex centered final" *ngIf="item && item > 0 && item < 6">
                      <div class="{{'icon-wrapper'}} {{trendingValues[item - 1].class}}"><span class="htm-icon" aria-hidden="true">{{trendingValues[item - 1].icon}}</span></div>
                      <div class="flex-text"><span role="text" attr.aria-label="{{trendingValues[item - 1].text | translate}}">{{trendingValues[item - 1].text | translate}}</span></div>
                    </div>
                    <div *ngIf="!(item && item > 0 && item < 6)"></div>
                  </td>
                </tr>
                <tr class="shade" *ngIf="list && paymentFields.length">
                  <td colspan="100%" class="dark center">{{ 'oska.wage' | translate | uppercase }}</td>
                </tr>
                <tr>
                  <td class="firstCell lastCell" *ngFor="let item of paymentFields;">
                    <span *ngIf="item">{{ formatNumber(item, 'et') }} €</span>
                    <span *ngIf="!item"></span>
                  </td>
                </tr>
                <tr class="shade" *ngIf="list && graduatesToJobsFields.length">
                  <td colspan="100%" class="dark center">{{ 'oska.numberEmployedChange' | translate | uppercase }}</td>
                </tr>
                <tr>
                  <td class="firstCell lastCell" *ngFor="let item of graduatesToJobsFields;">
                    <div class="flex centered final" *ngIf="item && item > 0 && item < 6">
                      <div class="{{'icon-wrapper'}} {{graduatesToJobsValues[item - 1].class}}"><span class="icon" aria-hidden="true"></span></div>
                      <div class="flex-text"><span role="text" attr.aria-label="{{graduatesToJobsValues[item - 1].text | translate}}">{{graduatesToJobsValues[item - 1].text | translate}}</span></div>
                    </div>
                    <div *ngIf="!(item && item > 0 && item < 6)"></div>
                  </td>
                </tr>
                <tr class="shade" *ngIf="list && (prosFieldsArr.length || neutralFieldsArr.length || consFieldsArr.length)">
                  <td colspan="100%" class="dark center">{{ 'sidebar.pros_and_cons' | translate | uppercase }}</td>
                </tr>
                <tr class="slim" [class.firstSlim]="childInd === 0" *ngFor="let elem of prosFieldsArr; let childInd = index; let last = last;">
                  <ng-container *ngFor="let item of list; let ind = index;">
                    <td [class.groupCell]="!last || (last && consFieldsArr.length) || (last && neutralFieldsArr.length)" [class.lastCell]="last && !consFieldsArr.length && !neutralFieldsArr.length">
                      <ng-container *ngIf="prosFields[ind]">
                        <span *ngIf="!prosFields[ind][childInd]"></span>
                        <ng-container *ngIf="prosFields[ind][childInd]">
                          <div class="flex centered">
                            <div aria-hidden="true" class="icon-wrapper top"><span class="htm-icon">vertical_align_top</span></div>
                            <div>{{prosFields[ind][childInd]}}</div>
                          </div>
                        </ng-container>
                      </ng-container>
                      <ng-container *ngIf="!prosFields[ind]">
                        <span></span>
                      </ng-container>
                    </td>
                  </ng-container>
                </tr>
                <tr class="slim" [class.another]="childInd === 0" *ngFor="let elem of neutralFieldsArr; let childInd = index; let last = last;">
                  <ng-container *ngFor="let item of list; let ind = index;">
                    <td [class.groupCell]="!last || (last && consFieldsArr.length)" [class.lastCell]="last && !consFieldsArr.length">
                      <ng-container *ngIf="neutralFields[ind]">
                        <span *ngIf="!neutralFields[ind][childInd]"></span>
                        <ng-container *ngIf="neutralFields[ind][childInd]">
                          <div class="flex centered">
                            <div aria-hidden="true" class="icon-wrapper neutral"><span class="htm-icon">vertical_align_center</span></div>
                            <div>{{neutralFields[ind][childInd]}}</div>
                          </div>
                        </ng-container>
                      </ng-container>
                      <ng-container *ngIf="!neutralFields[ind]">
                        <span></span>
                      </ng-container>
                    </td>
                  </ng-container>
                </tr>
                <tr class="slim" [class.another]="childInd === 0" *ngFor="let elem of consFieldsArr; let childInd = index; let last = last;">
                  <ng-container *ngFor="let item of list; let ind = index;">
                    <td [class.groupCell]="!last" [class.lastCell]="last">
                      <ng-container *ngIf="consFields[ind]">
                        <span *ngIf="!consFields[ind][childInd]"></span>
                        <ng-container *ngIf="consFields[ind][childInd]">
                          <div class="flex centered">
                            <div aria-hidden="true" class="icon-wrapper bottom"><span class="htm-icon">vertical_align_bottom</span></div>
                            <div>{{consFields[ind][childInd]}}</div>
                          </div>
                        </ng-container>
                      </ng-container>
                      <ng-container *ngIf="!consFields[ind]">
                        <span></span>
                      </ng-container>
                    </td>
                  </ng-container>
                </tr>
                <tr>
                  <td *ngFor="let item of list; let i = index;">
                    <a attr.aria-label="{{'button.remove_from_comparison' | translate}}" href="javascript:void(0);" (click)="removeItemFromList(item.nid, 'oskaProfessions.compare'); setDeleteText(i)">{{ 'button.remove_from_comparison' | translate}}</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="notification--alert" role="alert">
              <span>{{ deleteText }} <span *ngIf="deleteText">{{ 'oskaProfessions.removed_from_comparison' | translate }}</span></span>
            </div>
          </div>
        </div>
      </div><!--/block-->
    </div><!--/col-8-->
  </div><!--/row-->
</div>