
<breadcrumbs></breadcrumbs>
<div class="main-container">
  <mat-spinner *ngIf="!list && loading"></mat-spinner>
  <div class="row" *ngIf="list && !loading">
    <div class="col-12 sm-12">
      <div class="block">
        <div class="block-title">{{ 'oskaProfessions.label' | translate }}</div>
        <div class="row">
          <div class="col-10 flex">
            <h1 class="block-heading">{{ 'oskaProfessions.compare_label' | translate | titleCase }}</h1>
          </div>
          <div class="col-2 flex action--back">
            <a href="javascript:void(0)" [routerLink]="back()">{{ 'button.back' | translate }}</a>
          </div>
        </div>
        <div class="scrollable">
          <div class="scrollable__rectangle scrollable__rectangle--left pointer" id="scrollableLeft" *ngIf="!elemAtStart" 
            (touchstart)="tableService.scrollStart('tableRef')" 
            (mousedown)="tableService.scrollStart('tableRef')" 
            (touchend)="tableService.scrollEnd()" 
            (mouseup)="tableService.scrollEnd()">
            <span class="htm-icon">keyboard_arrow_left</span>
          </div>
          <div class="scrollable__rectangle scrollable__rectangle--right pointer" id="scrollableRight" *ngIf="tableOverflown" 
            (touchstart)="tableService.scrollStart('tableRef', true)"
            (mousedown)="tableService.scrollStart('tableRef', true)"
            (touchend)="tableService.scrollEnd(true)"
            (mouseup)="tableService.scrollEnd(true)">
            <span class="htm-icon">keyboard_arrow_right</span>
          </div>
          <div class="scrollable__table" id="tableRef" (scroll)="tableOverflown = tableService.isOverflownWhileScrolling($event); elemAtStart = tableService.isElemAtStart('tableRef');setScrollPos('tableRef')">
            <table class="scrollableTable">
              <thead>
                <tr *ngIf="list">
                  <th class="groupHead"></th>
                  <th class="groupHead" *ngFor="let item of list">
                    <a [routerLink]="item.entityUrl.path" attr.aria-label="{{item.title}}">{{ item.title | titleCase }}</a>
                  </th>
                </tr>
                <tr *ngIf="list">
                  <th></th>
                  <th *ngFor="let item of list">
                    <span class="important-pill" *ngIf="item.fieldFixedLabel">{{ 'fieldFixedLabel.label' | translate }}</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let elem of oskaFieldsArr; let childInd = index; let last = last;">
                  <td [class.groupCell]="!last"><span *ngIf="childInd === 0">{{ 'oskaProfessions.fields' | translate }}</span></td>
                  <ng-container *ngFor="let item of list; let ind = index;">
                    <td class="highlighted" [class.groupCell]="!last">
                      <ng-container *ngIf="oskaFields[ind]">
                        <span *ngIf="!oskaFields[ind][childInd]">-</span>
                        <a *ngIf="oskaFields[ind][childInd]" href="javascript:void(0)" [routerLink]="oskaFields[ind][childInd].entity.entityUrl.path">{{oskaFields[ind][childInd].entity.title}}</a>
                      </ng-container>
                      <ng-container *ngIf="!oskaFields[ind]">
                        <span>-</span>
                      </ng-container>
                    </td>
                  </ng-container>
                </tr>
                <tr *ngFor="let elem of termFieldsArr; let childInd = index; let last = last;">
                  <td [class.groupCell]="!last"><span *ngIf="childInd === 0">{{ 'oskaProfessions.indicators' | translate }}</span></td>
                  <ng-container *ngFor="let item of list; let ind = index;">
                    <td class="highlighted" [class.groupCell]="!last">
                      <ng-container *ngIf="termFields[ind]">
                        <span *ngIf="!termFields[ind][childInd]">-</span>
                        <span *ngIf="termFields[ind][childInd]">{{termFields[ind][childInd].oskaIndicator}}: {{termFields[ind][childInd].value}}</span>
                      </ng-container>
                      <ng-container *ngIf="!termFields[ind]">
                        <span>-</span>
                      </ng-container>
                    </td>
                  </ng-container>
                </tr>
                <tr *ngFor="let elem of prosFieldsArr; let childInd = index; let last = last;">
                  <td [class.groupCell]="!last">
                    <span *ngIf="childInd === 0">{{ 'sidebar.pros' | translate }}</span>
                  </td>
                  <ng-container *ngFor="let item of list; let ind = index;">
                    <td class="highlighted" [class.groupCell]="!last">
                      <ng-container *ngIf="prosFields[ind]">
                        <span *ngIf="!prosFields[ind][childInd]">-</span>
                        <ng-container *ngIf="prosFields[ind][childInd]">
                          <div class="flex centered">
                            <div aria-hidden="true" class="icon-wrapper pos"><span class="htm-icon">thumb_up</span></div>
                            <div>{{prosFields[ind][childInd]}}</div>
                          </div>
                        </ng-container>
                      </ng-container>
                      <ng-container *ngIf="!prosFields[ind]">
                        <span>-</span>
                      </ng-container>
                    </td>
                  </ng-container>
                </tr>
                <tr *ngFor="let elem of consFieldsArr; let childInd = index; let last = last;">
                  <td [class.groupCell]="!last">
                    <span *ngIf="childInd === 0">{{ 'sidebar.cons' | translate }}</span>
                  </td>
                  <ng-container *ngFor="let item of list; let ind = index;">
                    <td class="highlighted" [class.groupCell]="!last">
                      <ng-container *ngIf="consFields[ind]">
                        <span *ngIf="!consFields[ind][childInd]">-</span>
                        <ng-container *ngIf="consFields[ind][childInd]">
                          <div class="flex centered">
                            <div aria-hidden="true" class="icon-wrapper neg"><span class="htm-icon">thumb_down</span></div>
                            <div>{{consFields[ind][childInd]}}</div>
                          </div>
                        </ng-container>
                      </ng-container>
                      <ng-container *ngIf="!consFields[ind]">
                        <span>-</span>
                      </ng-container>
                    </td>
                  </ng-container>
                </tr>
                <tr>
                  <td></td>
                  <td *ngFor="let item of list; let i = index;">
                    <a attr.aria-label="{{'button.remove_from_comparison' | translate}}" href="javascript:void(0);" (click)="removeItemFromList(item.nid, 'oskaProfessions.compare'); setDeleteText(i)">{{ 'button.remove_from_comparison' | translate}}</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="notification--alert" role="alert">
              <span>{{ deleteText }} <span *ngIf="deleteText">{{ 'oskaProfessions.removed_from_comparison' | translate }}</span></span>
            </div>
          </div>
        </div>
      </div><!--/block-->
    </div><!--/col-8-->
  </div><!--/row-->
</div>