
@import "../../../assets/styles/typography.scss"; 

.mat-expansion-panel {
  &-body { padding: 0 $medium !important;}
  &-header {height: 2.5rem !important;padding-right:1.25rem; padding-left:1.25rem;
    &.mat-expanded {height: 2.5rem !important;margin-top: 0;font-weight: 500;white-space: normal;padding-top: 0;}
  }
}
.accordion {padding: 0; padding-top: $large;   
  @include break-on(sm, max) { margin: 0 -1.5rem; }
}
.dashboard-table td {
 color: $black;
}
.section--header {margin-bottom: 1rem;
  @include break-on(sm, max) {margin: 0 1.5rem 1rem;}
}
.accordion .error {
  @include break-on(sm, max) {margin: 0 1.5rem;}
}
::ng-deep .text--substrong { font-weight: 400;font-size: 1rem;padding-bottom: .5rem; span {font-weight: 500;}
  &--head {@extend .text--substrong;padding-bottom: 0!important;}
}
.dashboard--detail.main-container{@include break-on(sm, min) {margin:.5rem 1.5rem 0;}}
.dashboard--detail {
  h1 { 
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.25;
    text-align: left;
    color: $black;
    margin-bottom: 1rem;
  }
  
  .block-title {line-height: 2rem;}
  .table-holder {overflow-y: auto;}
  .padding-block {padding: 1rem 1.5rem 3rem;}
  
  .top-link {
    line-height: 1.875rem;
    margin-bottom: 1rem;
  }
  
  .highlighted {
    border-radius: 0.78125rem;
    background-color: $aqua;
    font-size: 0.875rem;
    line-height: 1.29;
    color: #333333;
    margin-left: 1rem;
    padding: 0.3125rem 0.75rem;
    position: relative;
    top: -0.1875rem;
  }
  .scrollable {padding: 0;}
  .text--substrong { font-weight: 400;font-size: 1rem;padding-bottom: .5rem; span {font-weight: 500;}}
  .sidebar {background: $light-gray;
    &__item {border-top: $gutter solid $orange;background: $white;padding: $small $medium $medium $medium;margin-bottom: 0;
      @include break-on(sm, min) {border-radius: $half-gutter; margin-bottom: $small;}
    }
    &__title {font-size: 1.25rem; color: $black;}
    &__paragraph {a {width: 100%; line-height: 2.5rem; box-sizing: border-box;}}
  }
}




