@import "../../../assets/styles/typography.scss"; 

h4 {
  font-size: 1rem; font-weight: 500; line-height: 1.38; text-align: left; color: $black; margin: 2rem 0 0.5rem; }
h4.title-lg-padding { margin-bottom: 1rem;margin-top: 2rem; }
  
.mat-expansion-panel {margin-bottom: .25rem;border: .0625rem solid #bee3e8;border-left: .1875rem solid #bee3e8;
  &.detailView {
    @include break-on(sm, max) {margin: 0 -1.5rem .25rem -1.5rem;
      &-spacing {margin: 0 -1.5rem .25rem -1.5rem;}
    }
  }
  mat-panel-title {white-space: normal;overflow: hidden;
    @include break-on(sm, max) {white-space: normal;overflow: hidden;}
    @include break-on(sm, min) {span {overflow: hidden;text-overflow: ellipsis;}}
  }
  &.mat-expanded { border: .0625rem solid $gray; border-left: .1875rem solid #15adc2; 
    mat-panel-title {white-space: normal; color: $black; font-weight: 500;
      @include break-on(sm, min) {text-overflow: initial;overflow: auto;white-space: normal;}
    }
  }
  &-body { padding: 0 $medium !important;}
  &-spacing {margin: 0 0 $half-gutter 0;}
  &-header {height: auto !important;min-height: 2.5rem;padding-top: .5rem; padding-bottom: .5rem;margin-top: 0;
    padding-right:1.25rem;padding-left:1.25rem;background: #bee3e8!important; border-radius: 0;
    &.mat-expanded {height: auto !important;padding-top: .5rem; padding-bottom: .5rem;margin-top: 0;font-weight: 500;white-space: normal;background:#8ad6e0 !important;
      .text--substrong--head {
        font-weight: 500;
      }
    }
  }
  &:hover {
    border-left: .1875rem solid #15adc2;
    ::ng-deep .mat-expansion-indicator{ background: $blue;
      &:after {
        color: $white;
      }
    }
  }
  @include break-on(lg, min) {
    border-left: .3125rem solid #bee3e8;
    &.mat-expanded {border-left: .3125rem solid #15adc2;}
    &:hover {border-left: .3125rem solid #15adc2;}
  }
}
  ::ng-deep .mat-expansion-indicator::after {font-feature-settings: 'liga';-ms-font-feature-settings: 'liga';font-family: 'htm-icon';
    content: 'keyboard_arrow_down' !important;border: none !important;transform: none !important;padding: 0 !important;
    position: relative;text-align: center;width: $medium;color: $blue;
    height: $medium;-webkit-animation: rotating 2s linear infinite;animation: rotating 2s linear infinite; 
  }
  ::ng-deep .mat-expansion-panel-content {padding: 0 $half-gutter; background: $white!important; }
  ::ng-deep .mat-expansion-indicator {background: $white; font-size: 1.25rem;border-radius: 50%;width: $medium;height: $medium;border: 0rem solid $gray;}
  ::ng-deep .mat-expanded .mat-expansion-indicator::after {color: $white;-webkit-animation: rotating .25s linear infinite; animation: rotating .25s linear infinite; }
  ::ng-deep .mat-expanded .mat-expansion-indicator {background: $blue; border: 0rem solid $blue;}
  .accordion {padding: 0; padding-top: $large;   
    @include break-on(sm, max) { margin: 0 -1.5rem; }
  }
  .dashboard-table {
    td {color: $black;}
    &.highCells { 
      td, th {
        line-height: 1.375rem;
      }
    }
    &--equalCells {
      tr td {
        width: 50%;
      }
      td.regular {font-weight: 400;line-height: 1.25rem;
        .mb {padding-bottom: .5rem;}
      }
    }

  }
  a.rowspan-btn {font-size: 1rem;}
  .section--header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    @include break-on(sm, max) {
      margin: 0 1.5rem 1rem;
      button {
        text-align: right;
      }
    }
    button {
      cursor: pointer;
      align-self: flex-start;
      background: none;
      color: $blue;
      box-shadow: none;
      border: none;
      font-weight: normal;
      padding: 0;
      @include break-on(sm, min) {
        &:hover {
          text-decoration: none;
        }
      }
      text-decoration: underline;
      span {
        font-size: 1rem;
        font-family: 'Rubik', 'sans-serif';
      }
    }
  }
  .accordion .error {
    @include break-on(sm, max) {margin: 0 1.5rem;}
  }
  ::ng-deep .text--substrong { font-weight: 400;font-size: 1rem;padding-bottom: .5rem; color: #333;
    &--head {@extend .text--substrong;padding-bottom: 0!important;}
  }
.dashboard--detail.main-container{@include break-on(sm, min) {margin:.5rem 1.5rem 0;}}
.dashboard--detail {
  h1 { 
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.25;
    text-align: left;
    color: $black;
    margin-bottom: 1rem; }
  .explain {line-height: 138%;color: #757575;margin-top: -.625rem;}
  .block-title {line-height: 2rem;}
  .table-holder {overflow-y: auto;}
  .padding-block {padding: 1rem 1.5rem 3rem;}
  
  .top-link {
    line-height: 1.875rem;
    margin-bottom: 1rem;
  }
  .highlighted {
    border-radius: 0.78125rem;
    background-color: $aqua;
    font-size: 0.875rem;
    line-height: 1.29;
    color: #333333;
    margin-left: 1rem;
    padding: 0.3125rem 0.75rem;
    position: relative;
  }
  .highlights {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    .highlighted{
      margin-left: 0;
      margin-right: 1rem;
    }
  }
  .scrollable {padding: 0;}
  .text--substrong { font-weight: 400;font-size: 1rem;padding-bottom: .5rem; }
  .sidebar {background: $light-gray;
    &__item {border-top: $gutter solid $orange;background: $white;padding: $small $medium $medium $medium;margin-bottom: 0;
      @include break-on(sm, min) {border-radius: $half-gutter; margin-bottom: $small;}
    }
    &__title {font-size: 1.25rem; color: $black;}
    &__paragraph {a {width: 100%; line-height: 2.5rem; box-sizing: border-box;}}
  }
  & .dashboard__header {
    display: flex;
    justify-content: space-between;
    .top-link {
      flex-shrink: 0;
      margin-left: 1rem;
    }
  }
}
.scrollable.scrollable__applications {padding: 0;}
.grid {
  &-box { display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-between; margin-right: -1rem; }
  &-item { text-decoration: none; text-align: center; padding: 1rem 0.5rem; border-radius: 0.25rem; border: solid 1px $gray; background-color: $white;
    color: $blue; font-weight: 500; font-size: 0.875rem; flex: 0; margin-right: 1rem; margin-bottom: 1rem;
    display: flex; flex-basis: calc(50% - 2.125rem); justify-content: center; flex-direction: column;
    @include break-on(xxs, max) { flex-basis: 100%; }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {flex-basis: calc(50% - 2.25rem);}
    &:hover { text-decoration: underline; box-shadow: 0 0.125rem 0.25rem 0 rgba(117, 117, 117, 0.5); border: solid 1px $gray; cursor: pointer; text-decoration: underline; }
    &:visited { 
      .grid-link { color: $visited; }
    }
  }
    &-link{ text-decoration: none; }
}
@supports (-ms-ime-align:auto) {
  .grid-item {flex-basis: calc(50% - 2.25rem);}
}
.grid-load {display: flex; justify-content: center; 
  @include break-on(sm, max) { margin-top: 1rem; }
}
table td, table th { padding: 0.75rem 1rem; width: auto; font-size: 0.875rem; }
table p { margin: 0; font-weight: 400; }

.description { border-top: 0.125rem $dark-gray solid;
  &-bottom { border-bottom: 0.125rem $dark-gray solid; }
}
.scrollableTable td.text-center {text-align: center;}
.NOTICE {margin: 1rem 0 0;
  &.no-top {margin-top: 0;}
  &.md-top {margin-top: 1.5rem;}
  &.lg-top {margin-top: 2rem;}
}
.lg-top {margin-top: 2rem;}
.font-normal { font-weight: 400!important; }
.block-btn {width: 100%;height: 5rem;box-sizing: border-box;border-radius: .125rem;border: none;margin-top: .5rem;margin-bottom: 1.5rem;
  background-color: $aqua;font-size: 1rem;text-decoration: underline;color: $blue;line-height: 1.5rem;
  &:hover {text-decoration: none;}
  &--holder {
    @include break-on(sm, max) {margin: 0 -1.5rem;}
  }
}
.unpadded more-block {
  @include break-on(sm, max) {
    margin: 0 -1.5rem; 
  }
}
.exam-block {
  margin-top: 1.5rem;
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      line-height: 1.57;
    }
    dl {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    dt, dd {
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
    }
    dt {
      color: #757575;
      margin-right: 0.5rem;
    }
    dd {
      margin-left: 0;
      color: #333333;
    }
  }
  hr {
    border: solid 1px #c7c7c9;
    margin: 1rem 0;
  }
}
.mb-2 {margin-bottom: 2rem;}