<span class="login-wrapper">


    <mat-icon class="person" *ngIf="user" [matMenuTriggerFor]="usermenu">person_outline</mat-icon>

    <button class="login sm-hide" *ngIf="user" [matMenuTriggerFor]="usermenu" >{{ user.username }}</button>

    <mat-menu #usermenu="matMenu" overlapTrigger="false" direction="right" xPosition="before">
      <button mat-menu-item (click)="logOut()">{{ 'logout' | translate }}</button>
    </mat-menu>


    <mat-icon class="person" *ngIf="!user"  (click)="toggleLogin()">person_outline</mat-icon>
    <button class="login sm-hide" (click)="toggleLogin()" *ngIf="!user">{{ 'login' | translate }}</button>

    <div class="dropdown-menu-overlay" (click)="toggleLogin()" *ngIf="loginVisible"></div>
    <div class="dropdown-menu" *ngIf="loginVisible">

      <mat-spinner *ngIf="loader"></mat-spinner>

      <form (ngSubmit)="submit()" *ngIf="!loader">
        <div class="row">
            <div class="col-12">
            <input type="text" placeholder="{{ 'username' | translate }}" [(ngModel)]='formModels.username' name="username" />
          </div><!--/col-12-->
          <div class="col-12">
            <input type="password" placeholder="{{ 'password' | translate }}" [(ngModel)]='formModels.password' name="password" />
          </div><!--/col-12-->
          
          <div class="col-12">
              <button mat-raised-button color="primary">{{ 'login' | translate }}</button>
          </div><!--/col-12-->
        </div>
      </form>

      <div class="error" *ngIf="error">{{ 'login.error' | translate }}</div>

    </div>
    
  </span>