@import "../../../assets/styles/typography.scss"; 
:host{position: relative; z-index: 2; 
  @include break-on(sm, min) {top: 0;}
}

.login-wrapper { position: relative; display: block;
  @include break-on(sm, max) { position: static; }


  .login {position: relative; z-index: 2; appearance: none; border:none; background:none; padding: 0;top: .125rem;
    text-decoration: none;color: $white;font-size: $small;font-weight: 300;
  }
  .dropdown-menu{position:absolute;background:#fff; right:0; top:100%;padding:$medium;padding-top:$small;width:13.125rem;box-shadow:0 .1875rem .0625rem -.125rem rgba(0,0,0,.2),0 .125rem .125rem 0 rgba(0,0,0,.14),0 .0625rem .3125rem 0 rgba(0,0,0,.12);
    border-top: $gutter solid $red;border-radius: 0;margin-top: $quarter;
    @include break-on(sm, min) {border-radius: $half-gutter;}
    @include break-on(sm, max) { left: 0; right: 0; width: auto; margin-top: 0px; }
    .round-input__wrapper:focus-within .round-input__title {color: $blue;display: block;width: fit-content;font-weight: 400;line-height: 1.2rem;}
    .round-input__wrapper.complete {
      .round-input__title {color: $blue;display: block;width: fit-content;font-weight: 400;line-height: 1.2rem;}
      .round-input__field-wrapper {border-color: $blue;}
    }
    .round-input__wrapper.errors {
      .round-input__title {color: $red;}
      .round-input__field-wrapper {border-color: $red;}
    }
    button {width:100% !important;}
    .header {font-size: $small;line-height: $large;text-align: left;color: $dark-gray;font-weight: 400;padding-bottom: 1.5rem;}
    @include break-on(sm, min) {margin-top: .875rem;}
    @include break-on(xl, min) {margin-top: .9375rem;}
    @include break-on(sm, max) {  &:after {
      display: block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; height: 100vh; content: ""; background: rgba(51,51,51,.9); opacity: 1; z-index: -1; }
    }
  }
  .error{color: $red;white-space: normal;font-size: .875rem;line-height: 120%;font-weight: normal;margin-top: $small;}
  .htm-icon
  {vertical-align: middle;position: relative;z-index: 2;bottom: .0625rem;
    @include break-on(sm, min) {bottom: 0;}
    &.person { padding-right: 0.75rem; color: $white;
      @include break-on(md, min) {padding-right: 0px;}
    }
  }

  .login__actions{background:none; padding:0; border:none; appearance: none;
    .person{padding-right:0.3125rem;}
  }
}
    @include break-on(md, max) {
.login__actions { position: relative;
  .login { display: none; }
  .person { padding-right: 0.75rem; }
        &.logged:before { 
    @include break-on(md, max) { 
      content: ""; display: block; height: 0.625rem; width: 0.625rem; background: $success; border-radius: 1rem; margin-right: 0.5rem; position: absolute; top: 0.8rem; left: 1.1rem; z-index: 3;
    }
  }
 }
}
.mobile-handshake {color: $black;white-space: normal;
  h1 {margin: 2rem 0;color: $black;}
  p {font-size: 1rem;line-height: 1.25rem;margin: 0;
    &.latter {line-height: 1.25rem;}
    &.light {font-weight: 400;}
  }
}
.dropdown-menu-overlay{position: fixed; top:0; left:0; bottom:0; right:0; background:transparent;}
button{ display: block;}
button+button{margin-top:1rem;}
labeled-separator {display: block;padding: 2rem 0;}
h2 {color: $black; line-height: 1rem;}