<span class="login-wrapper" *ngIf="basicLogin">

  <button class="login__actions" *ngIf="!user.isExpired" [matMenuTriggerFor]="usermenu" [class.logged]="!user.isExpired">
    <span class="person pointer htm-icon" aria-hidden="true">person_outline</span>
    <span class="login pointer sm-hide">{{ user.username }}</span>
  </button>
  <mat-menu #usermenu="matMenu" overlapTrigger="false" direction="right" xPosition="before">
    <button mat-menu-item (click)="logOut()">{{ 'button.logout' | translate }}</button>
  </mat-menu>

  <button class="login__actions" *ngIf="user.isExpired" (keyup.esc)="loginVisible = false;" (click)="toggleLogin()" attr.aria-label="{{ 'button.login' | translate }}">
    <span class="person pointer htm-icon" aria-hidden="true">person_outline</span>
    <span class="login pointer sm-hide">{{ 'button.login' | translate }}</span>
  </button>
  <div class="dropdown-menu-overlay" (click)="toggleLogin()" (keyup.esc)="loginVisible = false" *ngIf="loginVisible"></div>
  <div class="dropdown-menu" *ngIf="loginVisible" (keyup.esc)="loginVisible = false">

    <mat-spinner *ngIf="loader"></mat-spinner>

    <!-- REGULAR LOGIN DISABLED-->
    <form (ngSubmit)="submit()" *ngIf="!loader && basicLogin">
      <div class="row">
        <div class="col-12 header">{{ 'button.login' | translate | uppercase }}</div>
        <div class="col-12">
          <div class="round-input__wrapper" 
          [class.complete]="formModels.username && !usernameFocus"
          [class.errors]="!formModels.username && !usernameFocus && error">
            <span class="round-input__title">{{ 'login.username' | translate }}</span>
            <div class="round-input__field-wrapper">
              <input class="round-input__field" (focus)="usernameFocus = true" (blur)="usernameFocus = false" [class.focused]='usernameFocus' type="text" name="username" placeholder="{{ 'username' | translate }}" [(ngModel)]="formModels.username"/>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="round-input__wrapper" 
          [class.complete]="formModels.password && !passwordFocus"
          [class.errors]="!formModels.password && !passwordFocus && error">
            <span class="round-input__title">{{ 'login.password' | translate }}</span>
            <div class="round-input__field-wrapper">
              <input class="round-input__field" (focus)="passwordFocus = true" (blur)="passwordFocus = false" [class.focused]='passwordFocus' type="password" name="password" placeholder="{{ 'password' | translate }}" [(ngModel)]="formModels.password"/>
            </div>
          </div>
        </div>
        <div class="col-12">
            <button role="button" mat-raised-button color="primary">{{ 'button.login' | translate }}</button>
        </div><!--/col-12-->
      </div>
    </form>

    <div class="error" role="alert" tabindex="0" *ngIf="error">{{ 'login.error' | translate }}</div>

    <div *ngIf="!loader && basicLogin" style="height:20px;"></div>
    <button role="button" mat-raised-button color="primary" (click)="openTara()" attr.aria-label="{{ 'login_tara' | translate }}">{{ 'login_tara' | translate }}</button>
    <button role="button" mat-raised-button color="primary" (click)="openHarID()" attr.aria-label="{{ 'login_harid' | translate }}">{{ 'login_harid' | translate }}</button>
    

  </div>
</span>