@import "../../../assets/styles/typography.scss"; 
:host{position: relative; z-index: 2; 
  @include break-on(sm, min) {top: .1875rem;}
}

.login-wrapper { position: relative;
  .login {position: relative; z-index: 2; appearance: none; border:none; background:none;padding: 0 $gutter;top: .0625rem;
    text-decoration: none;color: $white;font-size: $small;font-weight: 300;
  }
  .dropdown-menu{position:absolute;background:#fff;right:$small;top:100%;padding:$medium;padding-top:$small;width:13.125rem;box-shadow:0 .1875rem .0625rem -.125rem rgba(0,0,0,.2),0 .125rem .125rem 0 rgba(0,0,0,.14),0 .0625rem .3125rem 0 rgba(0,0,0,.12);
    border-top: $gutter solid $red;border-radius: $half-gutter;margin-top: $quarter;
    .round-input__wrapper:focus-within .round-input__title {color: $blue;display: block;width: fit-content;font-weight: 400;line-height: 1.2rem;}
    .round-input__wrapper.complete {
      .round-input__title {color: $blue;display: block;width: fit-content;font-weight: 400;line-height: 1.2rem;}
      .round-input__field-wrapper {border-color: $blue;}
    }
    .round-input__wrapper.errors {
      .round-input__title {color: $red;}
      .round-input__field-wrapper {border-color: $red;}
    }
    button{width:100% !important;}
    .header {font-size: $small;line-height: $large;text-align: left;color: $dark-gray;font-weight: 400;}
    @include break-on(sm, min) {margin-top: .875rem;}
    @include break-on(xl, min) {margin-top: .9375rem;}
  }
  .error{color: $red;white-space: normal;font-size: .875rem;line-height: 120%;font-weight: normal;margin-top: $small;}
  mat-icon {vertical-align: middle;position: relative;z-index: 2;bottom: .0625rem;
    @include break-on(sm, min) {bottom: 0;}
    &.person { padding-right: 0.75rem;color: $white;
      @include break-on(sm, min) {padding-right: 0px;}
    }
  }
}

.dropdown-menu-overlay{position: fixed; top:0; left:0; bottom:0; right:0; background:transparent;}