<a role="button" href="javascript:void(0)" (click)="focusMainContent()" (keyup.enter)="focusMainContent()" (keyup.space)="focusMainContent()" class="maincontent" name="maincontent">Skip to main content</a>

<app-header></app-header>

<div class="inline" style="height: 100%;">
	<mat-sidenav-container class="example-container"  style="min-height:100%;">
		<mat-sidenav #sidenav mode="{{mode}}" [(opened)]="opened" [disableClose]="isSidenavCloseDisabled" fixedInViewport="true">
			<app-side-menu></app-side-menu>
		</mat-sidenav>


		<mat-sidenav-content role="contentinfo" id="mainContent" tabindex="0">

			<router-outlet ></router-outlet>

		</mat-sidenav-content>

	</mat-sidenav-container>
</div><!--/inline-->
