@import "~@ng-select/ng-select/themes/material.theme.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../assets/styles/controls.scss";
@import "../assets/styles/sidebar.scss";

/* You can add global styles to this file, and also import other style files */
body{margin:0; padding:0; padding-top:64px; background:#fafafa;}

/* Force Rubik font over material default */
body [class^='mat-'], body [class*=' mat-'] {font-family: 'Rubik', sans-serif; } 
body .material-icons {font-family: 'Material Icons';}

h1{font-size:32px; line-height:120%;}
.fill-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

input:focus {outline: none;}

html{
  height:100%;
}
body{height: calc(100% - 64px);}

.pull-right{
  float:right;
}

.pointer{cursor: pointer;}

.indent .mat-menu-item{
  padding-left:30px;
}

.header-logo{
  img{height:54px; margin-top:5px;}
} 

.filter-wrapper {background: #ffffff;padding: 1rem 1.5rem; margin-bottom: 1.5rem;}
.mat-sidenav-content{padding:0 0 40px 40px;}

.mat-toolbar.header-toolbar{position: fixed; top:0; left:0; width:100%; z-index: 999;}

.text-center{text-align:center;}
.text-right{text-align: right;}

.mat-menu-item-active{font-weight: bold !important;}
.mat-menu-item-active-parent{font-weight: bold !important;}

.mat-card{
  &.article-image{margin:16px 0; max-width: 100%; box-sizing: border-box;
    .mat-card img{width:100%;}
    p{margin:10px 0 -8px 0 !important;}
  }
  &.pull-right{float:right; max-width:500px; width:100%; margin:16px 0 16px 16px;}
}

.link-list{list-style:none; padding:0; margin:16px 0;
  a[href]{color:rgba(0,0,0,.87); text-decoration: none; line-height:24px; color:#3f51b5;
    &:hover{text-decoration: underline;}
    .mat-icon{vertical-align: top; margin-right:8px; color:#3f51b5;}
  }

  li{margin-bottom:10px;
    &:last-child{margin-bottom:0;}
  }
}

.sebm-google-map-container{height:200px;}
.mat-menu-item img{height:24px; vertical-align: middle; margin-right:6px; margin-top:-4px;}

.grid{margin:0 -10px;}
.row{display: flex; width: auto;}
.row .col{flex-grow: 1; padding:10px;}
.row .col .mat-card{width:100%; box-sizing: border-box; margin:0; float:none; max-width: 9999px;}
.row .align-end {align-self: flex-end;}

.breadcrumb{display: block; padding:0; margin:16px 0;}
.breadcrumb li{margin:0; padding:0; display: inline;}
.breadcrumb li a{color:inherit;}
.breadcrumb li:after{content:">"; display: inline-block; padding:0 5px;}
.breadcrumb li:last-child:after{display: none;}
.breadcrumb li span{overflow: hidden; display: inline; max-width:200px; text-overflow: ellipsis; white-space: nowrap;}

.mat-sidenav{top:64px !important;}
.mat-sidenav .mat-menu-item{height:auto; padding-top:14px; padding-bottom:14px; line-height:120%;}
.mat-sidenav .mat-menu-item span{white-space: normal; line-height: inherit; font-size: 13px;}
.mat-raised-button.mat-primary { border-radius: 20px; background-color: #2e3374; font-weight: 300; height: 40px; width: 100%;
  @media (min-width: 900px) {width: auto;}
}

article{line-height:150%;}
article a[href]{color:#3f51b5;}

.menu-burger{cursor: pointer;}
.mat-sidenav-container{padding-top:20px;}
.side-menu-wrapper{background:#fff; display: block; box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);}
.ul-styleless{padding:0; margin:0 0 0 0; list-style:none;}
.ul-styleless li{padding:0; margin:0;}
.ul-styleless ul a{padding-left:30px;}
.ul-styleless ul ul a{padding-left:44px;}
.mat-sidenav li.has-children > .mat-menu-item{position: relative; padding-right:40px;}
.mat-sidenav li.has-children .mat-icon{position: absolute; top:50%; right:18px; margin-top:-12px; margin-right:0;} 
.mat-sidenav li ul{display: none;}
.mat-sidenav li.menu-open > ul{display: block;}
.mat-sidenav li.menu-open > a .mat-icon{transform:rotate(90deg);}
.mat-form-label{padding-top:20px; text-align: center;}
.mat-spinner{margin:50px auto;}
.mat-chip[ng-reflect-router-link]{cursor: pointer !important;}

.mat-chip-list{margin:0 -4px; display:block !important;;
  .mat-chip{cursor: pointer !important; margin:0 4px;}
  .mat-chip-list-wrapper{margin-bottom:-10px;
    .mat-chip-wrapper{margin-bottom:10px !important;}
  }
}

$grid-columns: 12;


.row{display: flex; margin:-10px; flex-wrap:wrap;  box-sizing: border-box;
  @for $i from 1 through $grid-columns {
    .col-#{$i} { width: percentage($i / $grid-columns); }
    @media (max-width:900px) {
      .sm-#{$i} { width: percentage($i / $grid-columns) !important; }
    }
  }
  [class*='col']{padding:10px; box-sizing: border-box;}
  .col{flex-grow: 1; flex-shrink: 1;}
  
  &>.dateBlock{padding:10px;}
  &+.mat-divider{margin:20px 0;}
}

.w-100{width:100%;
  .mat-input-infix{width:auto;}
}
.mt-0{margin-top:0 !important;}
.mb-0{margin-bottom:0 !important;}
.mb-20{margin-bottom:20px  !important;}
.mt-20{margin-top:20px !important;}
.mt-30{margin-top:30px !important;}
.mb-30{margin-bottom:30px !important;}
.mt-40{margin-top:40px !important;}
.mb-40{margin-bottom:40px !important;}

.m-0{margin:0 !important;}
.mb-shrink{margin-bottom:-40px !important;}
.mr-10{margin-right:10px !important;}
.mr-20{margin-right:20px !important;}

.button-height{margin:6px 0;}
.mat-drawer-content{overflow: visible !important;}
.mat-warn{color:#f44336;}

.event-details{
  .mat-icon{vertical-align: middle;}
}
.dateBlock{width:150px; text-decoration: none;
  .dateBlock-inner{background:#E0E0E0; border-radius:4px; font-size: 13px; display: block; text-decoration: none;
    .dateBlock-title{background:#3F51B5; color:#fff; border-radius:4px 4px 0 0; padding:7px; text-align: center; display: block; }
    .dateBlock-date{padding:20px 7px; text-align: center; font-size:28px; display: block; color:rgba(0,0,0,.87); text-decoration: none;}
  }
}

.button-list{
  button{vertical-align: top;
    &+*{margin-left:10px;}
  }
}
.normal-text{color:rgba(0,0,0,.87); text-decoration:none;}
.sm-show{display:none !important;}

.clist-item{padding:7px 12px; background:#e0e0e0; border-radius:24px; font-size:13px; line-height:18px;}


.inline{max-width:1400px; margin:0 auto; padding:0 40px 0 0;}

.mat-toolbar{ padding:0 !important;
  .inline{display: flex; align-items:center; width:100%; padding-right: 24px;
    .pull-right{float:right;}
  }
}

.mat-drawer{background:transparent;}

.mat-card{
  .mat-divider{position: relative !important;}
  .mat-card-content{
    &>.row:first-child{margin-top:-10px;}
    &>.row:last-child{margin-bottom:-10px;}
  }
}

@media (max-width:900px) {
  .mat-drawer{background:#fff; }
  .sm-hide{display:none !important;}
  .sm-show{display: block !important;}
  .mb-shrink{margin-bottom:0;}
  .mat-sidenav-content{padding:0 0 40px 0;}
  .mat-sidenav{top:64px !important;}
  .mat-toolbar.header-toolbar{
    .inline{padding-left: 20px; }
  }
  .inline{padding:0;
    .mat-drawer-content{padding:0 20px;}
  }
}

@media (max-width:599px){
  body{padding-top:64px; height: calc(100% - 64px);}
  .mat-sidenav{top:64px !important;}
}