<cookie-notification link="/uudised/haridus-ja-teadusminister-mailis-repsi-kooliaasta-alguse-tervitus" (action)="agreeTerms()" (close)="closeNotification()" *ngIf="showCookieNotification"></cookie-notification>

<button role="button" (click)="focusMainContent()" (keyup.enter)="focusMainContent()" (keyup.space)="focusMainContent()" class="maincontent" attr.aria-label="{{'frontpage.skip' | translate}}">Skip to main content</button>

<app-header [wasClicked]="wasClicked"></app-header>

<div class="inline" style="height: 100%;">
	<mat-sidenav-container class="example-container"  style="min-height:100%;">
		<mat-sidenav #sidenav mode="{{mode}}" (openedStart)="wasClicked=true" (closedStart)="wasClicked=false" [(opened)]="opened" [disableClose]="isSidenavCloseDisabled" fixedInViewport="true">
			<app-side-menu attr.aria-label="{{'frontpage.main_menu' | translate}}"></app-side-menu>
		</mat-sidenav>
		
		
		<mat-sidenav-content role="contentinfo">
			<a href="javascript:void(0)" attr.aria-label="{{'frontpage.mainarea' | translate}}" id="mainContent"></a>
			<router-outlet></router-outlet>
			
		</mat-sidenav-content>
		
	</mat-sidenav-container>
</div><!--/inline-->