@import "../assets/styles/typography.scss";
@import "~@ng-select/ng-select/themes/material.theme.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../assets/styles/controls.scss";
@import "../assets/styles/sidebar.scss";
@import "../assets/styles/layout.scss";
@import "../assets/styles/htm-icon.scss";

article table, .accordion table{width: 100%;border-collapse: collapse; margin:$small 0 0 0;
  th {background: $light-gray;
    .sortable {&:hover { color: $dark-gray;}}
    .htm-icon {position: relative; top: $half-gutter; font-size: 1.12rem;&:hover { color: $dark-gray;}}
  }
  th {white-space: nowrap; font-weight: 500; }
  th, td {line-height: 1.38rem;font-size: 1rem;padding: $gutter 1rem;text-align:left;border: .0625rem solid $gray;
  }
  td.hidden, th.hidden {min-width:1.5rem;width: 1.5rem; background: $light-gray;padding:$gutter;}
  th.hidden {text-align: center;border-bottom: none;}
  td {font-weight: 400;
    &.hidden {border-top: none;border-bottom: none;
      &.last {border-bottom: .0625rem solid $gray;}
      &.vertical {position: relative;}
      .vertical__text {position: absolute;writing-mode: tb-rl;white-space: nowrap;font-weight: 500;font-size: .875rem;left: $gutter;top: $half-gutter;}
    }
  }
  .separator {padding: 0;min-width: .125rem;width: .125rem;background: #fff;border:none;}
}

/* You can add global styles to this file, and also import other style files */
body{margin:0; padding:0; padding-top:4rem; background: $light-gray;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body::-webkit-scrollbar { display: none; }
html, body { -ms-overflow-style: none; }
html{overflow-y:scroll;}
/* Google maps */
.gm-style-cc { display:none; }
.sebm-google-map-container{height:12.5rem;}

/* Force Rubik font over material default */
body [class^='mat-'], body [class*=' mat-'] {font-family: 'Rubik', sans-serif; } 
body .htm-icon {font-family: 'htm-icon';font-size: $medium;}

h1{ font-size:2rem; line-height:120%; }
a h1 { text-decoration: none;
}
a:hover h1 { text-decoration: underline; }
a:visited, a:visited h1 { color: $visited; }
strong, b { font-weight: 500; }
a {color: $blue}
input:focus, textarea:focus {outline: none;}
input:-webkit-autofill {
  box-shadow: 0 0 0 $medium white inset;
}

a {text-decoration: underline;
 &:hover {text-decoration: none;}}
 html{
  font-size: 100%;
  height:100%;
  @include break-on(lg, min) {font-size: 16px;}
  @include break-on(xl, min) {font-size: 18px;}
  @include break-on(xxl, min) {font-size: 22px;}
}
.main-container, .row-wrapper{
  @include break-on(lg, min) {max-width: 1130px;margin-left: auto !important;margin-right: auto !important;}
  @include break-on(xl, min) {max-width: 1430px;margin-left: auto !important;margin-right: auto !important;}
  @include break-on(xxl, min) {max-width: 1890px;margin-left: auto !important;margin-right: auto !important;}
}
body{height: calc(100% - 4rem);}
@include break-on(sm, max) {body{padding-top:4rem;}}

/* Grid definition */

.grid{margin:0 -$gutter;}
.row{display: flex; width: auto;
  &.wrapper__row{
    @include break-on(sm, min) {padding: $gutter $medium $medium $medium;}
    @include break-on(lg, min) {padding-left: 0;padding-right: 0;}
  }
}
.row .col{flex-grow: 1; padding:$gutter;}
.row .col .mat-card{width:100%; box-sizing: border-box; margin:0; float:none; max-width: 9999px;}
.row .align-end {align-self: flex-end;}
.row .align-center {align-self: center;}

$grid-columns: 12;


.form-col { padding: 0.75rem 0.5rem 0.25rem 0.5rem !important;
  @include break-on(sm, max) {
 padding: 0.75rem 0.5rem 0.25rem 0.5rem !important
}
}
.form-first-row {margin-top: -$quarter !important;
  &.short-filter {margin-bottom: -$quarter !important;}
}
.form-additional-row {padding-top: $gutter;
  &:last-child {margin-bottom: -$quarter !important;}
  &.no-gutter {
    .custom-checkbox {margin-left: 1rem;}
    @include break-on(sm, min) {margin-top: -1.5rem;
      .custom-checkbox {margin: 1rem 0 0 1rem;}
    }
  }
}

.row{display: flex; margin:-$gutter; flex-wrap:wrap;  box-sizing: border-box;
  @for $i from 1 through $grid-columns {
    .col-#{$i} { width: percentage($i / $grid-columns); }
    @include break-on(md, max) {
      .md-#{$i} { width: percentage($i / $grid-columns) !important; }
    }
    @include break-on(sm, max) {
      .sm-#{$i} { width: percentage($i / $grid-columns) !important; }
    }
    @include break-on(xs, max) {
      .xs-#{$i} { width: percentage($i / $grid-columns) !important; }
    }
    @include break-on(xxs, max) {
      .xxs-#{$i} { width: percentage($i / $grid-columns) !important; }
    }
  }
  [class*='col']{padding:$gutter; box-sizing: border-box;}
  .col{flex-grow: 1; flex-shrink: 1;}
  
  &>.dateBlock{padding:.625rem;}
  &+.mat-divider{margin:1.25rem 0;}
}
@for $i from 1 through $grid-columns {
  .error-#{$i} { width: percentage($i / $grid-columns); }
  @include break-on(sm, max) {
    .error-sm-#{$i} { width: percentage($i / $grid-columns) !important; }
  }
}
.xxs-show{display:none !important;}
.xxs-flex{display:none !important;}
.sm-show{display:none !important;}
.sm-flex{display:none !important;}
.md-show{display:none !important;}
.md-flex{display:none !important;}
@include break-on(xxs, max) {
  .xxs-hide{display:none !important;}
  .xxs-show{display: block !important;}
  .xxs-flex{display: flex !important;}
}
@include break-on(sm, max) {
  .sm-hide{display:none !important;}
  .sm-show{display: block !important;}
  .sm-flex{display: flex !important;}
}
@include break-on(md, max) {
  .md-hide{display: none !important;}
  .md-show{display: block !important;}
  .md-flex{display: flex !important;}
}

/* Common styles across components */

/*ALERTS*/

.NOTICE { margin-bottom: 1rem; position: relative; border-radius: 0.25rem; background-color: #f1f7fe; border: solid 0.0625rem $info; padding: 0.5625rem 1rem 0.5625rem 3.5rem; 
  &:before {
    font-family: 'htm-icon'; content: "info"; font-feature-settings: 'liga';-ms-font-feature-settings: 'liga';color: $white; background: $info; position: absolute;
    left: 0px; font-size: 1.5rem; align-items: center; text-align: center; display: flex; padding: 0.5rem; top: 0; bottom: 0; font-weight: 400; 
  } 
}
.WARNING { margin-bottom: 1rem; position: relative; border-radius: 0.25rem; background-color: #fff7eb; border: solid 0.0625rem $warning; padding: 0.5625rem 1rem 0.5625rem 3.5rem; 
  &:before {transform:rotate(180deg);
    font-family: 'htm-icon'; content: "info"; font-feature-settings: 'liga';-ms-font-feature-settings: 'liga';color: $white; background: $warning; position: absolute;
    left: 0px; font-size: 1.5rem; align-items: center; text-align: center; display: flex; padding: 0.5rem; top: 0; bottom: 0; font-weight: 400;
  }
}
.ERROR { margin-bottom: 1rem; position: relative; border-radius: 4px; background-color: #fdf3f4; border: solid 1px $error; padding: 0.5625rem 1rem 0.5625rem 3.5rem; 
  &:before {
    font-family: 'htm-icon'; content: "highlight_off"; font-feature-settings: 'liga';-ms-font-feature-settings: 'liga';color: $white; background: $error; position: absolute;
    left: 0px; font-size: 1.5rem; align-items: center; text-align: center; display: flex; padding: 0.5rem; top: 0; bottom: 0; font-weight: 400;
  }
}
.SUCCESS { margin-bottom: 1rem; position: relative;border-radius: 4px; background-color: #e6f5ef; border: solid 1px $success; padding: 0.5625rem 1rem 0.5625rem 3.5rem; 
  &:before {
    font-family: 'htm-icon'; content: "check_circle"; font-feature-settings: 'liga';-ms-font-feature-settings: 'liga';color: $white; background: $success; position: absolute;
    left: 0px; font-size: 1.5rem; align-items: center; text-align: center; display: flex; padding: 0.5rem; top: 0; bottom: 0; font-weight: 400;
  } 
}   
.alert { font-size: 1rem; line-height: 1.38; text-align: left; color:$black; }

.search__alert {position: absolute; overflow: hidden;
  &--elem {position: relative; left: 100%;}
}
.dashboard-table {
  border: .0625rem solid $gray;
  border-collapse: collapse;
  width: 100%;
  font-size: $small; 
  tr{
    border: .0625rem solid $gray;
    &.extraBottom {border-bottom: solid .125rem $dark-gray;}
    &.extraRow {background-color: #f6f6f6;
      border-top: solid .125rem $dark-gray;
    }
    td, th {
      padding: 0.5rem 1rem;
      border: .0625rem solid $gray;
      width: 33%;
      font-size: 0.875rem;
      a {font-weight: 400;}
      color: $black;
      &:first-letter { 
        text-transform: uppercase;
      }
      &.first-small:first-letter {
        text-transform: lowercase;
      }
      &:last-of-type {
        font-weight: 500;
      }
      &.normal {width: 50%;}
      &.additional {border-bottom: solid .0625rem $dark-gray;
        &.multi {border-bottom: .0625rem solid #f6f6f6;
          &--bordered {border-bottom: .0625rem solid $gray;}
        }
        &--1 {width: 5%; background-color: #f6f6f6;}
        &--2 {width: 45%;}
        &--3 {width: 50%;}
        &.lastRow {border-bottom: .0625rem solid $gray;}
      }
      &.nonBreakable {white-space: nowrap;}
      &.light {font-weight: 400;
        &.underlineHover {
          a {text-decoration: none;
            &:hover {text-decoration: underline;}
          }
        }
      }
      &.extraHeight {height: 1.5rem;}
    }
    td.extraHeight {font-weight: 400;}
    th {font-weight: 500; background: $light-gray; text-align: left;}
  }
  &.first-table {margin-bottom: .5rem;}
}

.icon-wrapper {display: flex;width: 2.5rem;min-width: 2.5rem;height: 2.5rem;align-items: center;justify-content: center;border-radius: .25rem;
  &.pos{border: 1px solid #008d53;background-color: #e6f5ef;
    .htm-icon {color: #008d53;}
  }
  &.neg{border: 1px solid #d0021b;background-color: #fdf3f4;
    .htm-icon {color: #d0021b;}
  }
}

.flex.mininav {line-height: 2;flex-wrap: wrap;min-height: 3.0625rem;align-items: center;
  & > * {height: 1.5rem;padding-right: 1rem;}
  .important-pill{height: 1.125rem;top: 0;margin-left: 0;}
  share {padding-right: .5rem;margin-left: -.75rem;}
  @include break-on(sm, max) {white-space: nowrap;}
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {height: 3.0625rem;}
}

.grow {flex-grow: 1;
  &.additional {padding-bottom: 1rem;}
  @include break-on(sm, min) {
    &.additional {padding-right: 1rem;padding-bottom: 0;}
  }
}
.wrap {@include break-on(sm, max) {flex-wrap: wrap;
  &.desktop {flex-wrap: wrap;}
}
&.xxs {flex-wrap: nowrap;@include break-on(xxs, max) {flex-wrap: wrap;}}
}
.btn {@include break-on(xxs, max) {padding-top: $medium;}}
.full {flex-basis: 100%;z-index: 5;
  @include break-on(sm, min) {padding-right: $small;}
  @include break-on(xxs, min) {padding-right: $small;}
}
.pull-right{float:right;}
.text-center{text-align:center;}
.text-right{text-align: right;}
.pointer{cursor: pointer;}
.capitalize {text-transform: capitalize;}
.inline-flex {display: inline-flex;justify-content: flex-end;}


.btn-link { color: $blue; background-color: $white; border: transparent 0px solid; text-decoration: underline; 
  font-size: 1rem; }
  .button-row {@include break-on(sm, max) {padding-top: $gutter; width: 100%;}}
  .filter-state { margin: 0 auto; position: relative; right: 0.5rem; text-align: center;
    a {
      text-decoration: underline;
    }
    a:hover {
      text-decoration: none;
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      margin: 0;
    }
  }
  .filter-control {padding: $medium;}
  .filter-wrapper {background: $white; padding: 0 $small; margin-bottom: $xxl;
    @include break-on(sm, min) {padding: $small $medium $medium $medium; margin-bottom: $medium; margin-top: $small;
      @include break-on(md, max) {padding: $small $medium $medium $medium;}
    }
    .align-end {margin-bottom: auto;
    }
    input {
      font-size: 0.875rem;
      &::placeholder { font-size: 0.875rem; }
    }
  }
  .cdk-overlay-pane, #cdk-overlay-0 {
    @include break-on(sm, max) {max-width: 100% !important;}
    @include break-on(sm, min) {max-width: 80vw;}
    // @include break-on(xxs, max) {min-width: 100vw;}
  }
  .cdk-overlay-pane.mat-tooltip-panel {
    @include break-on(xxs, max) {min-width: auto;}
  }
  .mat-tooltip.mat-tooltip-handset {margin: 0;}
  article{line-height:150%;}
  article a[href]{color:$blue;}
  .link-list{list-style:none; padding:0; margin:$small 0;
    a[href]{color:rgba(0,0,0,.87); text-decoration: underline; line-height:$medium; color:$blue;
      &:hover {text-decoration: none;}
      .htm-icon{vertical-align: top; margin-right:$gutter; color:$blue;}
    }
    li{margin-bottom:0.625rem;
      &:last-child{margin-bottom:0;}
    }
  }
  @include break-on(sm, min) {.crumbs {min-height: 2.0625rem;}}
  breadcrumbs .row {min-height: 2.0625rem;}
  .breadcrumb{display: none; padding:0; margin:1rem 0;margin-left: 1.5rem; margin-right: 1.5rem;font-size: .875rem;
    @include break-on(sm, min) {display: block;}
  }
  .breadcrumb li{margin:0; padding:0; display: inline;}
  .breadcrumb li:after{content:">"; display: inline-block; padding:0 0.75rem;}
  .breadcrumb li:last-child:after{display: none;}
  .breadcrumb li span{overflow: hidden; display: inline; max-width:12.5rem; text-overflow: ellipsis; white-space: nowrap;}
  .side-menu-wrapper{background:#fff; display: block; box-shadow:0 .1875rem .0625rem -.125rem rgba(0,0,0,.2),0 .125rem .125rem 0 rgba(0,0,0,.14),0 .0625rem .3125rem 0 rgba(0,0,0,.12);}
  .ul-styleless{padding:0; margin:0 0 0 0; list-style:none;
    &.submenu.deep span{position: relative; left: $small; padding-right: $small;}
  }
  .ul-styleless li{padding:0; margin:0;}
  .ul-styleless ul a{padding-left:1.875rem;}
  .ul-styleless ul ul a{padding-left:2.75rem;}
  .w-100{width:100%;
    .mat-input-infix{width:auto;}
  }
  .mt-0{margin-top:0 !important;}
  .mb-0{margin-bottom:0 !important;}
  .mb-20{margin-bottom:1.25rem !important;}
  .mt-20{margin-top:1.25rem !important;}
  .mt-30{margin-top:1.875rem !important;}
  .mb-30{margin-bottom:1.875rem !important;}
  .mt-40{margin-top:2.5rem !important;}
  .mb-40{margin-bottom:2.5rem !important;}
  .m-0{margin:0 !important;}
  .mb-shrink{margin-bottom:-2.5rem !important;}
  .mr-10{margin-right:0.625rem !important;}
  .mr-20{margin-right:1.25rem !important;}
  .mr-25{margin-right:1.5rem !important;}
  .p-0{padding:0 !important;}
  .button-height{margin:.375rem 0;}
  .event-details{
    .htm-icon{vertical-align: middle;}
  }
  .dateBlock{width:9.375rem; text-decoration: none;
    .dateBlock-inner{background:#E0E0E0; border-radius:$half-gutter; font-size: 0.8125rem; display: block; text-decoration: none;
      .dateBlock-title{background:$blue; color:#fff; border-radius:$half-gutter $half-gutter 0 0; padding:.4375rem; text-align: center; display: block; }
      .dateBlock-date{padding:1.25rem .4375rem; text-align: center; font-size: 1.75rem; display: block; color:rgba(0,0,0,.87); text-decoration: none;}
    }
  }
  .button-list{
    button {vertical-align: top;
      &+*{margin-left:.625rem;}
    }
  }

  .view-item {
    .title { padding: 0 0.5rem; }
  }

  .view-item:hover { color: #0F7B8A; 
    .htm-icon { color: #0F7B8A; }
    .title { color: #0F7B8A; }
  }
  .view-item.active:hover {
    .htm-icon { color: $black!important; }
    .title { color: $black!important; }

  }


  .normal-text{color:rgba(0,0,0,.87); text-decoration:none;}
  .clist-item{padding:.4375rem $quarter; background:#e0e0e0; border-radius:$medium; font-size: 0.8125rem; line-height:1.125rem;}
  .inline{margin:0 auto; padding:0;}
  .flex{display:flex;
    &.centered { align-items: center; }
    &.flex-wrap {flex-wrap: wrap; }
    &.flex-notrows {flex-direction: column; }
    &.flex-rows {flex-direction: row; }
    &.flex-grow {flex-grow: 1; }
    &.flex-center {align-items: center; }
    &.flex-justify-end {justify-content: flex-end; }
    &.flex-justify-center {justify-content: center; }
    &.input-row {padding: .5rem 0 .5rem 0;flex-direction: column;
      &.no-top {padding-top: 0;}
      &.no-bottom {padding-bottom: 0;}
      @include break-on(sm, min) {padding-right: 1rem;flex-direction: row;} 
    }
  }

  .scrollableTable{
    .scrollableTable-arrow-{
      &:before{display: inline-block; content:"<>";}
    }

    .scrollableTable-arrow-asc{
      &:before{display: inline-block; content:"<";}
    }
    .scrollableTable-arrow-desc{
      &:before{display: inline-block; content:">";}
    }
  }
  .scrollableTable {width: 100%;border-collapse: collapse;margin-top: 0;
    thead {background: $light-gray;
      .sortable {&:hover { color: $dark-gray;}}
      .htm-icon {position: relative; top: $half-gutter; font-size: 1.12rem;&:hover { color: $dark-gray;}}
    }
    th {white-space: nowrap;}
    th, td {line-height: 1.38rem;font-size: 1rem;font-weight: 500;padding: $gutter $medium;text-align:left;border: .0625rem solid $gray;}
    td.hidden, th.hidden {min-width:1.5rem;width: 1.5rem; background: $light-gray;padding:$gutter;}
    th.hidden {text-align: center;border-bottom: none;}
    td {font-weight: 400;
      &.hidden {border-top: none;border-bottom: none;
        &.last {border-bottom: .0625rem solid $gray;}
        &.vertical {position: relative;}
        .vertical__text {position: absolute;writing-mode: tb-rl;white-space: nowrap;font-weight: 500;font-size: .875rem;left: $gutter;top: $half-gutter;}
      }
    }
    .separator {padding: 0;min-width: .125rem;width: .125rem;background: #fff;border:none;}
  }
  .scrollable {position: relative; padding: $small 0 0 0;
    @include break-on(sm, min) {position: relative;padding-right: $small;padding-left: $small;}
    &__table {overflow:auto;}
    &__rectangle {width: 3.125rem;height: 3.125rem;border-radius: 50%;background-color: $dark-gray;position: absolute;right: $small;top: 50%;z-index: 5;user-select: none;
      box-shadow: 0 .125rem .125rem 0 rgba(0, 0, 0, 0.24), 0 0 0.125rem 0 rgba(0, 0, 0, 0.12);
      .htm-icon {position: relative;top: 0.4rem;left: 0.4rem;font-size: 2.5rem;color: $white;}
      &--left {left: $small;
        @include break-on(sm, min) {left: $small;}
      }
      @include break-on(sm, min) {right: $small;}
      &.withState {opacity: 0;pointer-events: none;
        &--active {opacity: 1;pointer-events: auto;}
      }
    }
    &.padded {padding: 0;padding-top: 1rem;}
  }

  .tags { padding: $small $medium;
    .mat-chip {height: $gutter; border-radius: .8125rem; border: solid .0625rem $gray; background-color: $white;
      &-wrapper {pointer-events: none;}
      &:not(.mat-basic-chip):focus {box-shadow: none;outline: 0;}
      font-size: .875rem;font-weight: 300;line-height: 1.43;letter-spacing: normal;color: $black;
    }
  }

  .inline__items {padding-top: .375rem;
    .item {font-weight: 500;font-size: .875rem;line-height: 1.25rem;color: $dark-gray;padding-top: $half-gutter;white-space: nowrap;
      a {white-space: pre-wrap;}
      &--inline {display: inline;}
    }
  }
  .bar {padding: 0 $half-gutter;}
  .nonActive {padding: $half-gutter $quarter;border-radius: $quarter;font-size: .875rem;line-height: 1.125rem;white-space: nowrap;
    width: fit-content;display: inline;position: relative;bottom: .125rem;
    &--blue {@extend .nonActive;background-color: #bee3e8;}
  }
  /* Material design overrides and styles */
  .disabled {
    pointer-events: none!important;
  }
  button{cursor:pointer;}
  .mat-checkbox .mat-checkbox-checkmark {left: 0px !important;}
  .mat-dialog-container {padding: 0 !important;border-radius:$half-gutter !important;}
  .mat-toolbar.header-toolbar{position: fixed; top:0; left:0; width:100%; z-index: 999;}
  .mat-menu-item-active{font-weight: bold !important;}
  .mat-menu-item-active-parent{font-weight: bold !important;}
  .mat-menu-item img{height:$medium; vertical-align: middle; margin-right:.375rem; margin-top:-$half-gutter;}
  .htm-icon {height: 1.5rem !important; width: $medium !important;}
  .mat-sidenav{top:4rem !important;-ms-overflow-style: none;width:16.25rem;}
  .mat-sidenav .mat-menu-item{height:auto; padding-top:.875rem; padding-bottom:.875rem; line-height:120%;}
  .mat-sidenav .mat-menu-item span{ line-height: inherit; font-size: 0.8125rem;}
  .mat-sidenav .mat-menu-item span.htm-icon{ font-size: 1.5rem!important; }
  .mat-sidenav .isActive { font-weight: 500!important; }
  .mat-raised-button.mat-primary { font-size: 1rem; border-radius: 1.25rem; background-color: $blue; font-weight: 300; height: 2.5rem; width: 100%; padding: 0rem 2.5rem;
    &:disabled, &[disabled] {color: $black !important;background-color: $gray !important;}
    &:hover {background-color: #454B92;}
    &:focus {background-color: $blue; color: $white; box-shadow: 0 0.0625rem 0.1875rem 0 rgba(60,64,67,0.302), 0 0.25rem 0.5rem 0.1875rem rgba(60,64,67,0.149); }
    @include break-on(sm, min) {width: auto;}
  }
  .mat-card{
    &.article-image{margin:$small 0; max-width: 100%; box-sizing: border-box;
      .mat-card img{width:100%;}
      p{margin:.625rem 0 -$gutter 0 !important;}
    }
    &.pull-right{float:right; max-width:31.25rem; width:100%; margin:$small 0 $small $small;}
  }
  .mat-drawer-container {
    background-color: $white;
    @include break-on(sm, min) {background-color: $light-gray}
  }
  .mat-sidenav-container {padding-top: 0;
    @include break-on(sm, min) {padding-top:1rem;}
  }
  .mat-sidenav li.has-children > .mat-menu-item{position: relative; padding-right:2.5rem;}
  .mat-sidenav li.has-children .htm-icon{position: absolute; top:50%; right:1.125rem; margin-top: -0.55rem; margin-right:0;} 
  .mat-sidenav li ul{display: none;}
  .mat-sidenav li.menu-open > ul{display: block;}
  .mat-sidenav li.menu-open > a .htm-icon{transform:rotate(90deg);}
  .mat-form-label{padding-top:1.25rem; text-align: center;}
  .mat-spinner{margin:3.125rem auto;}
  .mat-chip[ng-reflect-router-link]{cursor: pointer !important;}
  .mat-chip-list{margin:0 -$half-gutter; display:block !important;;
    .mat-chip{ margin:0 $half-gutter;}
    .mat-chip-list-wrapper{margin-bottom:-.625rem; display: inline;
      .mat-chip-wrapper{margin-bottom:.625rem !important; overflow: hidden;}
    }
  }
  .mat-drawer{background:transparent;}
  .mat-drawer-content{overflow: visible !important;}
  .mat-card{
    .mat-divider{position: relative !important;}
    .mat-card-content{
      &>.row:first-child{margin-top:-$gutter;}
      &>.row:last-child{margin-bottom:-$gutter;}
    }
  }
  .mat-warn{color:$dark-red;}
  .mat-toolbar{ padding:0 !important; box-shadow: none;
    .inline{display: flex; align-items:center; width:100%;
      .pull-right{float:right; 
        @include break-on(sm, min) {padding-right: 1.5rem;}
      }
    }
  }
  @include break-on(sm, min) {
    mat-sidenav-content{margin-left: 16.25rem !important;}
  }
  @include break-on(sm, max) {
    .mat-drawer{background:$white; }
    .mb-shrink{margin-bottom:0;}
    .mat-sidenav-content{padding:0 0 1.5rem 0; margin-left: auto;}
    .mat-sidenav{top:4rem !important;}
    .mat-toolbar.header-toolbar{
      .inline{padding-left: 1.25rem; padding-right: 1rem;}
    }
    .inline{padding:0;
      .mat-drawer-content{padding:0;}
    }
  }
  .mat-snack-bar-container {
   box-shadow: 0 .125rem $half-gutter 0 rgba(0, 0, 0, 0.5);
   height: 3.75rem;
   @include break-on(sm, min) {min-width: 50rem !important;}
   @include break-on(sm, max) {min-width: 100vw !important;height: auto; padding: 1.25rem 1.5rem 0.875rem 4.6875rem!important;}
   padding: 1.25rem 1.5rem 0.875rem 4.6875rem!important;
   border-radius: 0.25rem; background-color: $success-light; border: solid 0.09375rem $success;
   @include break-on(sm, max) {
    height: auto;
    &.mat-snack-bar-center {max-width:100%;}
  }

  button {
   font-size: 1rem; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 0; color: #2e3374;
 }
 .mat-simple-snackbar { font-size: 1rem; font-weight: normal; font-style: normal; font-stretch: normal; 
  line-height: 1.38; letter-spacing: normal; text-align: left; color: #333333; 

}

.mat-simple-snackbar:before {
 font-family: 'htm-icon'; content: "\e9ce"; font-feature-settings: 'liga';-ms-font-feature-settings: 'liga';color: $white; background: $success; position: absolute;
 left: 0px; top: 0px; bottom: 0px; font-size: 1.875rem; display: flex; align-items: center; padding: 0 0.9375rem; };

}

.mat-simple-snackbar {
  display: flex;
  flex-direction: column;
}

@include break-on(sm, max) {
  .mat-simple-snackbar button { text-align: left; margin-left: 0px; padding: 0.4375rem 0; margin-top: 0.875rem; margin-bottom: 0.7rem; }
}
@include break-on(sm, min) {
  .mat-simple-snackbar { flex-direction: row;}
}

.mat-simple-snackbar {font-size: $small;}
.mat-simple-snackbar-action {color: $white; text-decoration: underline;font-weight: 300;}
@include break-on(sm, max) {
  .mat-sidenav{ top: 4rem !important;}
}

.sidebar__item {
 a { text-decoration: none; }
 .link-list a { text-decoration: none; }
}


/* Css print */

@media print{
  body{padding-top:0; width:1200px;}
  .inline{padding:0;}
  .mat-sidenav-content{padding:0;}
  app-header, .mat-drawer, .breadcrumb{display: none !important;}
  .mat-drawer-content{margin-left:0 !important;}
  .mat-sidenav-container{overflow: visible; height:auto;}
  article{
    &>h1,
    &>h2,
    &>h3,
    &>h4,
    &>h5,
    &>h6,
    &>p{
      &:first-child{margin-top:0;}
    }
  }

  .row{display: block;font-size:0; margin:0;
    &>[class*='col']{display: inline-block; font-size:1rem; vertical-align: top;}
    @for $i from 1 through $grid-columns {
      .col-#{$i} { width: percentage($i / $grid-columns) !important; }
    }
  }
  .mat-card{page-break-inside: avoid;}
  
  .mat-expansion-panel-content{height:auto !important; visibility: visible !important;}
}


.mat-expansion-panel-body {padding: 0 1rem 1rem 1rem!important;}
.mat-expansion-panel {box-shadow: none !important;border: .0625rem solid $light-orange; border-radius: .125rem; border-left: .1875rem solid $light-orange; margin-bottom: $half-gutter;
  mat-panel-title {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
    @include break-on(sm, max) {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
  }
  &.mat-expanded { border: .0625rem solid $gray; border-left: .1875rem solid $dark-orange;
    mat-panel-title {white-space: normal; color: $black; font-weight: $medium;
      @include break-on(sm, min) {text-overflow: initial;overflow: auto;white-space: normal;}
    }
  }
  &-body { padding: 0 1rem 1rem }
  &-spacing {margin: 0 0 $half-gutter 0;}
  &-header { height: 2.5rem !important;padding: 0 1.25rem;
    &:focus { outline: rgb(59, 153, 252) 5px auto!important; }
    &.mat-expanded { height: 2.5rem!important;margin-top: 0;font-weight: 500;white-space: normal; padding: 0 1.25rem; }
  }
}
mat-panel-title {font-size: $small; text-decoration: none; color: $black;}
::ng-deep .accordion__body {line-height: 1.375rem;font-size: $small;padding-top: $gutter;
  p {margin:1rem 0;
    &:first-child{margin-top:0;}
    &:last-child{margin-top:0;}
  }
}
::ng-deep .accordion__links {line-height: 1.375rem;font-size: $small;padding-top: $small;
}
::ng-deep .description a[target="_blank"]:after, ::ng-deep .short a[target="_blank"]:after {
  font-feature-settings: 'liga';-ms-font-feature-settings: 'liga';font-family: 'htm-icon';content: 'launch' !important;position: relative;top: .125rem;left:.125rem;
}
::ng-deep .description a, ::ng-deep .short a {text-decoration: none;}

.mat-expansion-panel-header {
  width: 100%;
  box-sizing: border-box;
  background: $light-orange!important;
}

.mat-expansion-panel-header.mat-expanded { 
  background: transparent!important;
}


// Units are in pixels. Because of google maps
.si-float-wrapper{
font-family: 'Rubik', sans-serif!important;
  .si-wrapper-top{width:443px; position: relative; font-family: 'Rubik', sans-serif!important;
    @include break-on(sm, max) {width:327px;}
    &:before{ content:" "; display: block; height:7px; background:$orange; top:0; left:0; width:100%; position: absolute; z-index: 3; border-radius:4px 4px 0 0;}
  }
  .si-close-button{width: 14px; height: 14px;  padding: 0; right: 24px; top: 24px; line-height: 14px; font-family: 'Rubik', sans-serif!important;}
  .si-content-wrapper{font-size:14px; line-height:20px; padding:24px; font-family: 'Rubik', sans-serif!important;
    p, h1{ font-family: 'Rubik', sans-serif!important;
      &:first-child{margin-top:0;}
      &:last-child{margin-bottom:0;}
    }
    .title{margin-top:0; font-weight: bold; font-size:20px; color:#333; font-family: 'Rubik', sans-serif!important; font-weight: 500; }
    .si-content{max-width:100% !important; max-height:99999px !important; overflow: visible !important; font-family: 'Rubik', sans-serif!important;}
    .button{ font-family: 'Rubik', sans-serif!important; height:62px; line-height:62px; margin:0 -24px -24px -24px; text-align: center; display: block; border-top:#c7c7c9 1px solid; font-size:16px;}
  }
  .snazzy-scrollarea{max-height:200px; overflow: auto; font-family: 'Rubik', sans-serif!important;
    p{margin:1.25rem 0; font-family: 'Rubik', sans-serif!important; }
  }
  .link{font-size:1rem; margin:1rem 0; display:inline-block; font-family: 'Rubik', sans-serif!important;}
  .snazzy-entry{border-top:$light-gray 1px solid; border-bottom:$gray 1px solid; padding:1rem 0; margin-bottom:-1px; font-family: 'Rubik', sans-serif!important;}
  hr{border:none; margin:0; background:$gray; height:1px; overflow: hidden; display:block; margin:0 -24px; font-family: 'Rubik', sans-serif!important;}

  .tab-buttons{margin-bottom:-1rem; font-family: 'Rubik', sans-serif!important;
    button{ font-family: 'Rubik', sans-serif!important; appearance:none; border:$gray 1px solid; border-radius:2rem; height:2.5rem; line-height:2.5rem; padding:0 1.5rem; color:$black; text-decoration: none; background:$white;  font-size:0.875rem; margin-right:0.75rem; margin-bottom:1rem;
      &:hover{color:$blue; border-color:$blue;}
    }
  }
}

.grecaptcha-badge{z-index:9999;}
.g-recaptcha {
  transform:scale(0.77);
  transform-origin:0 0;
}
.maincontent {
  position: absolute;
  opacity: 0;
  height: 0px;
  width: 6.25rem;
}
.hidden {
  opacity: 0;
  position: absolute;
  height: 0px;
  width: 0px;
}
.favourites__wrapper {
  color: #2e3374;
}
.title__close:hover { color: $dark-gray; }

/*Select arrows*/

.mat-select-arrow-wrapper .mat-select-arrow {
  background: url('/assets/img/dropdown-orange.svg') center center no-repeat; height: 1.5rem; width: 1.5rem; background-size: 1.5rem; display: block;
  margin: -0.25rem -0.5rem 0 0; border-left: 0 solid transparent; border-right: 0 solid transparent; border-top: 0 solid transparent;
}

.disabled .mat-select-arrow-wrapper .mat-select-arrow {
  background: url('/assets/img/dropdown-gray.svg') center center no-repeat; height: 1.5rem; width: 1.5rem; background-size: 1.5rem; display: block;
  margin: -0.25rem -0.5rem 0 0; border-left: 0 solid transparent; border-right: 0 solid transparent; border-top: 0 solid transparent;
}

.cdk-overlay-dark-backdrop { background: rgba(51,51,51,0.9); }
.cdk-overlay-container{z-index: 99999999;}
.mat-select-value {
  font-size: 0.875rem;
  font-weight: 300;
  color: $black;
  .mat-select-value-text {font-size: .875rem;color: $black;font-weight: 300;}
}
.round-input__wrapper .mat-form-field:focus {
  border: 0.0625rem solid $blue;
}

.mat-checkbox {
  .mat-checkbox-inner-container {
    margin: 0px 0.5rem auto 0;
  }
  .mat-checkbox-layout {
    white-space: inherit; display: inline-flex;
    .mat-checkbox-label {
      color: $black;
    }
  }
}

.flexbox {
  display: flex;
  width: 100%;
}

.mat-datepicker-toggle .mat-icon-button .mat-button-wrapper>* {
  fill: $red!important;
}


a:hover .important-pill {
  text-decoration: none!important;
}

.important-pill { 
  font-size: 0.875rem; line-height: 1.29; color: $black; border-radius: 0.78125rem; background-color: $light-orange; padding: 0.25rem 0.75rem 0.25rem;
  font-weight: normal; margin-left: 1rem; pointer-events: none; text-decoration: none; display: inline-block; top: -0.25rem; position: relative;
  @include break-on(xxs, max) {
    margin-left: 0;
    &.xxs-show {display: inline-block !important;}
  }
}

.tooltip { display: flex; align-items: baseline; margin-top: 0.75rem; margin-left: 0.5rem; }
.tooltip:before { font-family: 'htm-icon'; content: "help_24px"; font-feature-settings: 'liga';-ms-font-feature-settings: 'liga'; color: $black;
 display: flex; align-items: center; }

.sidebar__item {
  .link-list { 
    a[href]:hover { text-decoration: underline!important }
   }
}

.bar {color: $gray; font-weight: 400; }
.notification--alert {position: absolute;overflow: hidden;
  span {position: relative; right: 100%;}
}

.mat-select:focus .mat-select-arrow {
  transform: rotate(180deg); 
}

.mat-snack-bar-container{
  &.info{border-color:$info; background-color:$info-light;
    .mat-simple-snackbar::before{background:$info; content:"\ead4";}
  }
  &.error{border-color:$error; background-color:$error-light;
    .mat-simple-snackbar::before{background:$error; content:"\e9bb";}
  }
  &.warning{border-color:$warning; background-color:$warning-light;
    .mat-simple-snackbar::before{background:$warning; content:"\ead4"; transform:rotate(180deg);}
  }
}

.mat-snack-bar-container{
  
}

.link-ellipsis{display:block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}

.mat-drawer-content {padding-bottom:4rem;}
@include break-on(sm, max) {
  .mat-drawer-content {padding-bottom:10rem !important;}
}