@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
body{margin:0; padding:0; font-family: Roboto,"Helvetica Neue",sans-serif; padding-top:64px;}


.fill-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

html{
  height:100%;
}
body{height: calc(100% - 64px);}

.pull-right{
  float:right;
}

.indent .mat-menu-item{
  padding-left:30px;
}

.header-logo{height:54px; margin-top:5px;}

.sm-show{display: none !important;}
@media screen and (max-width:900px){
  .sm-show{display: block !important;}
}

.mat-sidenav-content{padding:0 20px 20px 20px;

}

.mat-toolbar{position: fixed; top:0; left:0; width:100%; z-index: 999;}

.text-center{text-align:center;}
.text-right{text-align: right;}

.mat-menu-item-active{font-weight: bold !important;}
.mat-menu-item-active-parent{font-weight: bold !important;}

.mat-card{margin:16px 0; max-width: 100%;}
.mat-card img{width:100%;}
.mat-card p{margin:10px 0 -8px 0 !important;}

.mat-menu-item img{height:24px; vertical-align: middle; margin-right:6px; margin-top:-4px;}

.grid{margin:0 -10px;}
.row{display: flex; width: 100%;}
.row .col{flex-grow: 1; padding:10px;}
.row .col .mat-card{width:100%; box-sizing: border-box; margin:0; float:none; max-width: 9999px;}

.breadcrumb{display: block; padding:0; margin:16px 0;}
.breadcrumb li{margin:0; padding:0; display: inline;}
.breadcrumb li a{color:inherit;}
.breadcrumb li:after{content:">"; display: inline-block; padding:0 5px;}
.breadcrumb li:last-child:after{display: none;}
.breadcrumb li span{overflow: hidden; display: inline; max-width:200px; text-overflow: ellipsis; white-space: nowrap;}

.mat-sidenav{top:64px !important;}
.mat-sidenav .mat-menu-item{height:auto; padding-top:8px; padding-bottom:8px; line-height:120%;}
.mat-sidenav .mat-menu-item span{white-space: normal; line-height: inherit; font-size: 13px;}

article{line-height:150%;}
article a[href]{color:#3f51b5;}

.menu-burger{cursor: pointer;}

.ul-styleless{padding:0; margin:0; list-style:none;}
.ul-styleless li{padding:0; margin:0;}
.ul-styleless ul a{padding-left:30px;}
.ul-styleless ul ul a{padding-left:44px;}
.mat-sidenav li.has-children > .mat-menu-item{position: relative; padding-right:40px;}
.mat-sidenav li.has-children .mat-icon{position: absolute; top:50%; right:6px; margin-top:-12px; margin-right:0;} 
.mat-sidenav li ul{display: none;}
.mat-sidenav li.menu-open > ul{display: block;}
.mat-sidenav li.menu-open > a .mat-icon{transform:rotate(90deg);}
.mat-form-label{padding-top:20px; text-align: center;}
.mat-spinner{margin:50px auto;}
.mat-chip[ng-reflect-router-link]{cursor: pointer !important;}
$grid-columns: 12;


.row{display: flex; margin:-10px;
  @for $i from 1 through $grid-columns {
    .col-#{$i} { width: percentage($i / $grid-columns); }
    .sm-#{$i} { width: percentage($i / $grid-columns); }
  }
  [class*='col']{padding:10px;}
  .col{flex-grow: 1; flex-shrink: 1;}
  
  &>.dateBlock{padding:10px;}
  &+.mat-divider{margin:20px 0;}
}

.w-100{width:100%;
  .mat-input-infix{width:auto;}
}
.mt-0{margin-top:0;}

.dateBlock{width:150px;
  .dateBlock-inner{background:#E0E0E0; border-radius:4px; font-size: 13px;
    .dateBlock-title{background:#3F51B5; color:#fff; border-radius:4px 4px 0 0; padding:7px; text-align: center;}
    .dateBlock-date{padding:20px 7px; text-align: center; font-size:28px;}
  }
}

@media (max-width:599px) {
  body{padding-top:56px; height: calc(100% - 64px);}
  .header-logo{height:46px;  margin-top:5px;}
  .row{flex-wrap: wrap;}
  .row .col{width:100%;}
  .mat-sidenav{top:56px !important;}
  .row{
    [class*='col']{width:100%;}
  }
}