  <a role="button" href="#mainContent" class="maincontent" name="maincontent" tabindex="0" >Skip to main content</a>

<app-header></app-header>

<div class="inline" style="height: 100%;">
	<mat-sidenav-container class="example-container"  style="min-height:100%;">

		<mat-sidenav #sidenav mode="{{ mode }}" style="width:16.25rem;" tabindex="0" [disableClose]="isSidenavCloseDisabled" fixedInViewport="true">
			<app-side-menu  tabindex="0" ></app-side-menu>
		</mat-sidenav>


		<mat-sidenav-content id="mainContent" role="contentinfo">

			<router-outlet ></router-outlet>

		</mat-sidenav-content>

	</mat-sidenav-container>
</div><!--/inline-->
