@import 'colors.scss';
@import 'breakpoints';

/* The container <div> - needed to position the dropdown content */
.language-dropdown {
	position: relative;
	display: flex;
	margin-right: 2rem;

	@include  break-on(xxs, max) {
		margin-right: 0;
		padding-left: 0;
	}

	&:hover {
		/* Show the dropdown menu on hover */
		.dropdown-content {
			display: block;
		}

		/* Change the background color of the dropdown button when the dropdown content is shown */
		.dropbtn {
			background-color: $theme-default;
		}

		@include break-on(xxs, max) {
			.dropbtn, icon {
				background-color: $dark-orange;
			}
		}
	}
}

/* Style The Dropdown Button */
.dropbtn {
	background-color: $theme-default;
	color: $blue;
	padding: 1.4rem .2rem 1rem 1.4rem;
	font-size: 16px;
	border: none;
	cursor: pointer;

	@include break-on(xxs, max) {
		padding-left: .5rem;
	}
}

icon {
	color: $blue;
	padding-top: 1.4rem;

	@include break-on(xxs, max) {
		padding-right: .5rem;
	}
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: $white;
	// min-width: 105px;
	// min-height: 88px;
	box-shadow: 2px 2px 10px rgba(117, 117, 117, 0.25);
	z-index: 1;
	text-align: center;
	border-radius: 4px;
	top: 3.5rem;
	right: -1.75rem;

	@include break-on(xxs, max) {
		right: -.2rem;
	}

	&::after {
		content: '';
		position: absolute;
		top: -20px;
		right: 1.6rem;
		border: 10px solid transparent;
		border-bottom: 10px solid #fff;

		@include  break-on(xxs, max) {
			right: .6rem;
		}
	}

	/* Links inside the dropdown */
	a {
		color: $blue;
		padding: 12px 16px;
		margin-right: 1rem;
		margin-left: 1rem;
		text-decoration: none;
		display: block;
		cursor: pointer;

		@include  break-on(xxs, max) {
			margin-left: .25rem;
			margin-right: .25rem;
		}

		&:not(:last-child) {
			border-bottom: 1px solid $theme-default;
		}

		/* Change color of dropdown links on hover */
		&:hover {
			background-color: $white;
			text-decoration: underline;
		}
	}
}
