<div class="language-dropdown">
	<button class="dropbtn"
					[attr.aria-label]="('frontpage.selected' | translate) + ' ' + (activeLanguage | lowercase) + ' ' + ('frontpage.language' | translate)"
					[attr.aria-selected]="true"
	>
		{{ isDesktop ? activeLanguage : activeLanguageCode | uppercase }}
	</button>
	<icon glyph="chevron-down"></icon>
	<div class="dropdown-content">
		<ng-container *ngFor="let language of languages">
			<a *ngIf="activeLanguageCode !== language.code"
				 (click)="onClick(language.code)"
				 [attr.aria-label]="language.label | translate"
			>
				{{ isDesktop ? (language.label | translate) : (language.code | uppercase) }}
			</a>
		</ng-container>
	</div>
</div>
