@import "typography.scss";
@import "breakpoints.scss";

:host {
	.map__wrapper {
		display: block;
		position: relative;
		box-sizing: border-box;
		min-height: 10rem;
		.map__additions {
			position:absolute;
			top:1.5rem;
			left:1.5rem;
			pointer-events: none;
			.pair {
				font-size: .875rem;
				line-height: 1.25rem;
				display: flex;
				margin-bottom: .75rem;
				&__label {
					font-weight: 500;
					padding: .25rem .5rem .25rem 0;
				}
				&__value {
					padding: .25rem 1rem;
					background-color: rgba(255, 255, 255, 0.7);
					border-radius: 10rem;
				}
			}
		}
		.polygons__toggle {
			position: absolute;
			top: 1rem;
			left: 1rem;
			background: $white;
			border-radius: 10rem;
			button {
				appearance: none; 
				display: inline-block;
				border: none;
				cursor: pointer;
				background: $white;
				color: $black;
				padding: 0 0.75rem;
				height: 25px;
				line-height: 25px;
				border-radius: 10rem;
				font-size: 0.875rem;
				font-family: Rubik, sans-serif;
			  color: $blue;
				&.active{
					background: $light-blue;
					color: $black;
				}
			}
			@include break-on(sm, max) {
				right: 1rem;
				font-size: 0;
				button{
					width: 50%;
				}
			}
		}
		.map-loader{
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			background:rgba(255,255,255,0.7);
			z-index: 2;
			display:flex;
			flex-direction: column;
			justify-content: center;
		}
		@include break-on(sm, min) {
			padding-bottom: 56%;
		}
	}
	.map__legend {
		display: flex;
    width: 100%;
    font-size: .875rem;
    margin-top: 1rem;
		@include break-on(sm, max) {
			text-align: center;
			margin: 1rem 0;
			width: auto;
			display: block;
			overflow: auto;
			white-space: nowrap;
			&__block{
				display: inline-block;
				width: 9rem;
			}
		}
		&__block{
			flex-grow: 1;
    	text-align: center;
		}
		&__color{
			height: 1.875rem;
			margin-bottom: 0.5625rem;
			display: block;
		}
	}
	.mapLegend {
		display:flex;
		width:100%;
		font-size:0.875rem;
		margin-top:1rem;
		@include break-on(sm, max){
			display:flex;
			&__block {
				display:inline-block;
				width:8.25rem;
			}
		}
		&__block {
			flex-grow:1;
			text-align: center;
		}
		&__color {
			height:1.875rem;
			margin-bottom:0.5625rem;
			display:block;
		}
		&__labels {
			display: flex; 
			justify-content: space-between;
			font-size: .875rem;
			line-height: 1.25rem;
			@include break-on(sm, max) {
				margin: 0 1rem;
			}
		}
	}
	agm-map {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		::ng-deep b {
			font-weight: 500;
		}
		@include break-on(sm, max) {
			position: initial;
			height: 525px;
		}
	}
	a.outerLink {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		min-width: 100%;
		text-align: center;
		line-height: 3.125rem;
		background: rgba(51,51,51,.9);
		color: $gray;
		z-index: 6;
		icon {
			padding-right: .3125rem;
		}
	}
}
::ng-deep [class*=si-wrapper] {
	display: flex;
	position: absolute;
	align-items: center;
	font-size: 14px;
	cursor: default;
}
::ng-deep [class*=si-shadow-wrapper] {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: .298039;
	z-index: 1;
}
::ng-deep [class*=si-shadow-pointer] {
	position: relative;
	width: 15px;
	height: 15px;
	margin: auto;
}
::ng-deep [class*=si-pointer-border] {
	position: absolute;
	border: 15px solid transparent;
	z-index: 3;
}
::ng-deep [class*=si-pointer-bg] {
	position: relative;
	border: 15px solid transparent;
	z-index: 4;
}
::ng-deep .si-float-wrapper {
	font-family: 'Rubik', sans-serif!important;
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	::ng-deep a.link {
    font-size: 1rem;
    margin: 0 0 1rem 0;
    display: inline-block;
		font-family: Rubik,sans-serif!important;
	}
	.si-wrapper-top {
		width: 443px;
		position: relative;
		font-family: 'Rubik', sans-serif!important;
		flex-direction: column;
    margin-top: -40px;
    margin-left: 0;
    -webkit-transform: translate(-50%,-100%);
		transform: translate(-50%,-100%);
		&:before {
			content: " ";
			display: block;
			height: 7px;
			background: $orange;
			top: 0;
			left: 0;
			width: 100%;
			position: absolute;
			z-index: 3;
			border-radius: 4px 4px 0 0;
		}
		.tab-buttons button {
			font-family: Rubik,sans-serif!important;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border: 1px solid #c7c7c9;
			border-radius: 2rem;
			height: 2.5rem;
			line-height: 2.5rem;
			padding: 0 1.5rem;
			color: #333;
			text-decoration: none;
			background: #fff;
			font-size: .875rem;
			margin-right: .75rem;
		}
		.snazzy-scrollarea {
			max-height: 200px;
			overflow: auto;
			font-family: Rubik,sans-serif!important;
		}
		@include break-on(sm, max) {
			width: 327px;
		}
	}	
	::ng-deep hr {
    border: none;
    margin: 0 -24px;
    background: #c7c7c9;
    height: 1px;
    overflow: hidden;
    display: block;
    font-family: 'Rubik' ,sans-serif!important;
	}
 .si-close-button {
    width: 14px;
    height: 14px;
    padding: 0;
    right: 24px;
    top: 24px;
    line-height: 14px;
		font-family: 'Rubik', sans-serif!important;
		position: absolute;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: inherit;
    font-size: 24px;
    cursor: pointer;
    opacity: .5;
    appearance: none;
	}
	* {
		box-sizing: border-box;
	}
	.si-frame {
		position: relative;
		flex: 1 1 auto;
		border-radius: 3px;
		overflow: hidden;
		z-index: 2;
	}
	.si-shadow-wrapper-top {
		flex-direction: column;
		.si-shadow-frame {
			box-shadow: 0 1px 3px 0 #000;
		}
		.si-shadow-inner-pointer-top {
			left: 50%;
			-webkit-transform: translate(-50%,-50%) rotate(-45deg);
			transform: translate(-50%,-50%) rotate(-45deg);
		}
		[class*=si-shadow-inner-pointer] {
			position: absolute;
			width: 141%;
			height: 141%;
			box-shadow: -0.70710678px 0.70710678px 3px 0 #000;
		}
	}
	.si-content-wrapper {
		border: 1px solid #bbb;
		font-size: 14px;
		line-height: 20px;
		padding: 24px;
		font-family: Rubik,sans-serif!important;
		width: 100%;
		max-width: 100%;
		max-height: 100%;
		background-color: #fff;
		.si-content {
			max-width: 100%!important;
			max-height: 99999px!important;
			overflow: visible!important;
			font-family: Rubik,sans-serif!important;
		}
		.title {
			font-size: 20px;
			color: #333;
			font-family: Rubik,sans-serif!important;
			font-weight: 500;
			padding-left: 24px;
			padding-bottom: 0;
			margin: 0 -24px 16px;
			&.with--border {
				padding-bottom: 16px;
				border-bottom: 1px solid #c7c7c9;
			}
		}
		.button {
			font-family: Rubik,sans-serif!important;
			height: 62px;
			line-height: 62px;
			margin: 0 -24px -24px;
			text-align: center;
			display: block;
			border-top: 1px solid #c7c7c9;
			font-size: 16px;
		}
		p:not(.title) {
			margin-top: 10px;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.si-pointer-top {
		border-bottom: 0;
		&.si-pointer-bg-top {
			border-top-color: #fff;
		}
		&.si-pointer-border-top {
			bottom: 0;
			border-top-color: #bbb;
		}
		&.si-pointer-border-bottom, &.si-pointer-border-top {
			left: 50%;
			-webkit-transform: translate(-50%,0);
			transform: translate(-50%,0);
		}
	}
}
	