@import "../assets/styles/typography.scss";
.round-input {
  &__wrapper {
    margin-top: -1.125rem;
    padding-right: 0.125rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
            @include break-on(sm, max) { font-size: 1rem; } 
    ::placeholder {color: $dark-gray; opacity: 1; font-size: 0.875rem; overflow: hidden; 
            @include break-on(sm, max) { font-size: 0.875rem; } }
    &:focus-within {
      ::placeholder {color: transparent; font-size: 0.875rem;
            @include break-on(sm, max) { font-size: 0.875rem; }}
      .round-input__title {color: $blue; display: inline-block;}
      .round-input__field-wrapper {border-color: $blue; margin-top: 0;
        @include break-on(xl, min) {margin-top: .0625rem;}
      }
    }
    &.error {
      ::placeholder {color: transparent;  font-size: 0.875rem;
            @include break-on(sm, max) { font-size: 0.875rem; }}
      .round-input__title {color: $red; display: inline-block;}
      .round-input__field-wrapper {border-color: $red; margin-top: 0;
        @include break-on(xl, min) {margin-top: .0625rem;}
      }

    }
    &.complete {
      ::placeholder {color: transparent;  font-size: 0.875rem;
            @include break-on(sm, max) { font-size: 0.875rem; }}
      .round-input__title {display: inline-block;}
      .round-input__field-wrapper {margin-top: 0;
        @include break-on(xl, min) {margin-top: .0625rem;}
      }
    }
    &.success {
      ::placeholder {color: transparent;  font-size: 0.875rem;
            @include break-on(sm, max) { font-size: 0.875rem; }}
      .round-input__title {color: $success; display: inline-block;}
      .round-input__field-wrapper {border-color: $success; margin-top: 0;
        @include break-on(xl, min) {margin-top: .0625rem;}
      }
    }
    @include break-on(xl, min) {margin-top: -1.3125rem;}

    .mat-form-field{width:100%; display: block;
      border: solid .0625rem $gray;
      border-radius: 1.25rem;
      background: $white;
      height: 2.375rem;
      margin-top: 1.1875rem;
      .mat-input-underline{display: none;}
      .mat-form-field-infix{width:100%; margin:0.1875rem 0.9475rem; border:none;
        @include break-on(sm, max) {margin: 0.2875rem 0.9475rem; }
      }
      .mat-input-placeholder{font-size:0.875rem;
        @include break-on(sm, min) {font-size: .875rem;}
      }
      .mat-form-field-label{transition:none !important; transform:none !important;
        @include break-on(sm, min) {padding-top: .3rem;}
      }
      &.mat-form-field-should-float{
        .mat-form-field-label{left:0.4375rem; padding:0 0.625rem; width:auto; background:$white; color: $black; font-size:0.75rem; top: -1px;
          @include break-on(sm, min) {top:3px;}
        }
      }
      @include break-on(xl, min) {margin-top: 1.3125rem;} 
    }
    &.disabled .mat-form-field{background:#eee !important;}
  }
  &__field-wrapper {
    display: inline-flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    border: solid .0625rem $gray;
    border-radius: 1.25rem;
    background: $white;
    height: 2.375rem;
    margin-top: 1.1875rem;
    &.spacing {margin-top: 0;}
    @include break-on(xl, min) {margin-top: 1.3125rem;}
  }
  &__field {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    font-size: 0.875rem;
    height: 1.375rem;
    padding: $gutter 0 $gutter $small;
    border: none;
    border-radius: 1.25rem;
    width: 100%; 
    font-family: 'Rubik', sans-serif;
    &::placeholder{
      @include break-on(sm, max) {font-size:0.875rem;}  
    }
        &:focus {
          border-color: $blue;
        }
    @include break-on(sm, max) {font-size:0.875rem;}
  }
  &__clear {
    &.mat-icon-button, .mat-icon-button {
      .mat-datepicker-toggle-default-icon {fill:$red;width:$medium;height:$medium;}
      height: 2.375rem;
      width: 2.375rem;
      &:hover {
        .mat-button-focus-overlay {background-color: rgba(0,0,0,0);}
      }
    }
  }
  &__title {
    display: none;
    top: .5625rem;
    white-space: nowrap;
    padding: 0 $gutter 0 $gutter;
    position: relative;
    background: $white;
    font-size: $quarter;
    left: $medium;
    &.exists {display: inline-block;}
  }
  &__error {color: $red;line-height: $medium;
    &--text { padding-left: $small;font-size: 0.875rem; display: inline-block;
      ;white-space: pre-line; min-width: 100%; line-height: 1.2; padding-top: 2px; 
    }
  }
  &__area {width: 100%;padding-top: .125rem; font-weight: 300;
    &__elem {box-sizing: border-box; font-family: 'Rubik', sans-serif;
      min-height: 6.125rem;
      width: 100%;
      line-height: 1.71;
      font-size: .875rem;
      resize: none;
      border-radius: $half-gutter;;
      border: solid 0.0625rem $gray;
      padding: $gutter $small;
      appearance:none;
      @include break-on(sm, max) {font-size:1rem;}
      &:focus {border-color: $blue;}
    }
    &:focus-within {
      ::placeholder {color: transparent;}
    }
  }
}
.mat-input-placeholder-wrapper {
  @include break-on(sm, max) {
    top: -.625rem;
  }
}
.ng-select {
  border: solid .0625rem #c7c7c9;
  padding: 0;
  height: 2.5rem;
  border-radius: 1.25rem; 
  &.exists {height: auto;min-height: 2.5rem;}
  &.ng-select-opened {border: solid .0625rem $blue;}
  &.ng-select .ng-select-container {min-height: 1.875rem;
    .ng-value-container {border-top: none;padding: 0 $small;
      .ng-placeholder {display: none;}
      .ng-input>input {font-size: 0.875rem;height: 1.875rem;}
      .ng-value {margin: 0;margin-right: 0.5rem;border-radius: 0.8125rem;background-color: $light-gray;margin-bottom: .3125rem;margin-top: .3125rem;
        span {
          font-size: 0.875rem !important;
          font-weight: 300 !important;
          line-height: 1.43;
          letter-spacing: normal;
          text-align: left;
          color: rgba(51, 51, 51, 0.87) !important;
        }
        &-icon {padding-left:$half-gutter;padding-right:.125rem;}
      }
    }
    &:after { border: none; }
  }
  &__title {
    color: $dark-gray;
    display: inline-block;
    top: 1.75rem;
    white-space: nowrap;
    padding: $half-gutter $gutter 0 $gutter;
    position: relative;
    background: $white;
    z-index: 1000;
    font-weight: 300;
    font-size: 0.875rem;
    left: $gutter;
    &.exists {
      color: $black;
      margin-top: .125rem;
      top: .5625rem;
      font-size: $quarter;
      left: $medium;
      font-weight: 400;
    }
  }
}
.ng-select__wrapper, .ng-select__wrapper__mt {
  &:focus-within {
    color: red;
    .ng-select__title {
      color: $blue;
      margin-top: .125rem;
      top: .5625rem;
      font-size: $quarter;
      left: $medium;
    }
  }
}
.ng-select__wrapper__mt {margin-top: -1.25rem;
  @include break-on(xl, min) {margin-top: -1.3125rem;}
}
.ng-select.ng-select-multiple .ng-select-container.ng-has-value .ng-clear-wrapper {border: none;}
.ng-select.ng-select-multiple .ng-select-container.ng-has-value .ng-clear-wrapper .ng-clear {top: 0;color:$red;}
.ng-select .ng-clear-wrapper .ng-clear {color: rgba(0, 0, 0, .87);font-size: 1.75rem !important;position: relative;right: $gutter; top: 0.3125rem;}
.ng-select.ng-select-multiple .ng-select-container .ng-arrow-wrapper {display: none;}
.ng-dropdown-panel.ng-select-bottom {top: 105%;}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {border-bottom: 1px solid $white;}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {background: $light-gray; color: $blue;border-bottom: 1px solid $white;}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {background: $light-gray;border-bottom: 1px solid $white;}

.form-spacer-20{height:1.25rem;
  &+.custom-checkbox{margin-top:-6px;}
}
.custom-checkbox{color:$dark-gray;font-size:0.875rem;}
.mat-checkbox{color:$dark-gray; font-size:0.875rem;
  .mat-checkbox-frame{border:#c7c7c9 1px solid;}
  .mat-checkbox-background{background:transparent !important;}
  .mat-checkbox-checkmark-path{stroke:$blue !important;}
  .mat-checkbox-ripple{display:none !important;}
  .mat-checkbox-checkmark{left:5px !important;}
  input:focus~.mat-checkbox-frame{border-color:$blue !important;}
}

.mat-focused {
  border: solid .0625rem $blue!important;
}
.mat-focused label {
  color: $blue!important;
}

.round-input__area__elem {
  font-size: 0.875rem;
  font-weight: 300;
}

.mat-select-panel { margin-top: 2.5625rem; 
  .mat-option {border-bottom: 1px solid $white;}
}