@import "../../../assets/styles/typography.scss"; 
.block {border-top: $gutter solid $light-blue;background: $white;padding: $small $small $xxl $small;
  @include break-on(sm, min) {border-radius: $half-gutter;padding: $small $medium $xxl $medium;}
  &__content {
    &--header {
      h1 {text-align: center; color: $black;line-height: $large;}
      .intro {line-height: 1.375rem;font-size: $small; padding-top: $small;text-align: center;
        @include break-on(sm, min) {padding: $small $medium 0 $medium;}
      }
    }
    &--form {
      &__checklist {padding: $medium $small;display: flex;flex-flow: column;
        &__elem {margin-bottom: $quarter;
          &:last-child {margin-bottom: 0;}
          @include break-on(sm, min) {margin: $half-gutter;flex: 0 1 calc(25% - 8px);}
        }
        @include break-on(sm, min) {padding: $medium 0;flex-flow: row wrap;}
      }
      &__input {
        @include break-on(sm, min) {padding: 0 $medium;}
      }
    }
    &--message {display: flex;flex-direction: column;align-items: center;justify-content: center;min-height: 20vh;
      &__content {font-size: $small;line-height: 1.375rem;margin-bottom: $medium;font-weight: 500;}
      &__subcontent {text-align: center;line-height: 1.375rem;}
    }
  }
  button {width: stretch;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
}
.checkbox {
  &__container {display: block;position: relative;padding-left: 1.75rem;cursor: pointer;//margin-bottom: .75rem;
    .checkmark:after {content: "";position: absolute;display: none;}
    input {position: absolute;opacity: 0;cursor: pointer;}
    .checkmark:after {
      left: .3125rem;
      width: .375rem;
      height: .8125rem;
      border: solid $blue;
      border-width: 0 .125rem .125rem 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      width: 1.125rem;
      height: 1.125rem;
      border-radius: 0.125rem;
      border: solid .0625rem $gray;
      background-color:$white;
    }
    .label {font-size: .875rem;}
    input:checked ~ .checkmark:after {display: block;}
  }
}
