<div class="modal" [ngClass]="{ 'modal-open': opened }">
  <div class="modal__backdrop">
    <div class="modal__block">
      <div class="modal__header" *ngIf="titleExists || topAction" [ngClass]="{ 'justify-end': !titleExists }">
        <h2 *ngIf="titleExists">{{ title }}</h2>
        <button *ngIf="topAction" attr.aria-label="{{ 'button.close' | translate }}" htm-button theme="icon" (click)="stateChange(false)"><icon glyph="x" size="medium"></icon></button>
      </div>
      <ng-content select="modal-content"></ng-content>
      <div class="modal__footer" *ngIf="bottomAction">
        <button htm-button theme="plain" attr.aria-label="{{ 'button.close' | translate }}" (click)="stateChange(false)">{{ 'button.close' | translate }}</button>
      </div>
    </div>
  </div>
</div>
<!-- For story -->
<ng-container *ngIf="stateButton">
  <button style="margin-top: 1rem;" htm-button (click)="modalService.open(id)">Ava modaal {{id}}</button><br>
</ng-container>
<!-- / -->