<div class="modal" role="dialog" aria-modal="true">
  <div class="modal__backdrop">
    <div *ngIf="blockModal" class="modal__block" cdkTrapFocus #modalContent attr.id="modal-{{id}}">
      <ng-container *ngIf="opened">
        <div class="modal__header" *ngIf="titleExists || topAction" [ngClass]="{ 'justify-end': !titleExists }">
          <h2 tabindex="-1" aria-label='' *ngIf="titleExists">{{ modalTitle }}</h2>
          <button *ngIf="topAction" attr.aria-label="{{ 'button.close' | translate }}" htm-button theme="icon"
            (click)="modalService.close(id)">
            <icon glyph="x" size="medium"></icon>
          </button>
        </div>
        <!-- <ng-content select="modal-content"></ng-content> -->
        <div class="modal-content">
          <ng-template [ngTemplateOutlet]="templateRef"></ng-template>
        </div>
        <div class="modal__footer" *ngIf="bottomAction">
          <button (blur)="modalService.focusLock()" htm-button theme="plain"
            attr.aria-label="{{ 'button.close' | translate }}"
            (click)="modalService.close(id)">{{ 'button.close' | translate }}
          </button>
        </div>
      </ng-container>
    </div>
    <div *ngIf="!blockModal" class="modal__regular" cdkTrapFocus #modalContent attr.id="modal-{{id}}">
      <div class="modal__header" *ngIf="topAction" [ngClass]="{ 'justify-end': topAction }" >
        <button *ngIf="topAction" class="white" attr.aria-label="{{ 'button.close' | translate }}" htm-button theme="icon"
          (click)="modalService.close(id)">
          <icon glyph="x" size="medium"></icon>
        </button>
      </div>
      <ng-template [ngTemplateOutlet]="templateRef"></ng-template>
    </div>
  </div>
</div>