@import "typography.scss";

i {
	display:inline-block;
	font-size: 16px;
	&:before{
		display: inline-block;
		vertical-align: middle;
		line-height:100%;
	}
}

.medium {
	font-size: 24px;
}
.large {
	font-size: 32px;
}
