@import "typography.scss";
:host {
	i {
		line-height: 0;
		display:inline-block;
		font-size: 1rem;
		&:before{
			display: inline-block;
			vertical-align: middle;
			line-height:100%;
		}
	}
	&.medium i {
		font-size: 1.25rem;
	}
	&.large i {
		font-size: 2rem;
	}
	&.with-bg {
		display: flex;
    align-items: center;
    justify-content: center;
		background-color: $light-gray;
		border-radius: 50%;
		width: 2.5rem;
		min-width: 2.5rem;
		height: 2.5rem;
	}
}
