@import "typography.scss";
@import "breakpoints.scss";

.video {
	padding: 0;
	clear: both;

	&__entity{
		margin-bottom: 1rem;
		&:last-child{
			margin-bottom:0;
		}
	}
	&-container {
		position: relative;
		padding-bottom: 56.25%;
		/*16:9*/
		padding-top: 1.875rem;
		height: 0;
		overflow: hidden;
	}

	&-alt-text {
		font-size: .875rem;
		color: $black;
		font-style: italic;
		font-weight: 300;
		padding: 0.5rem 1.5rem 0 0;
		overflow: hidden;

		@include break-on(sm, min) {
			padding: 0.5rem 0 0 0;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	@include break-on(sm, max) {
		padding: 0 0 0 0;
	}
}

::ng-deep .video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.outdated {
	display: none;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
	.outdated {
		display: block;
	}
}
