@import "typography.scss";

:host {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 14px;
	position: relative;

	svg {
		box-sizing: content-box;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 50px;
		width: 50px;
		margin: 0 auto 24px auto;
		will-change: transforn;
		animation: loaderRotate 2.4s cubic-bezier(0.77, 0, 0.175, 1) 0s infinite normal forwards;
	}

	.loader--label {
		display: block;
		animation: labelShow 0.5s both;
		margin-top: -8px;
		text-align: center;
		color: $dark-gray;
	}
}

@keyframes loaderRotate {
	0% {
		transform: rotateZ(0deg);
	}

	100% {
		transform: rotateZ(360deg);
	}
}

@keyframes labelShow {
	from {
		transform: translateY(-10px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}
