@import "typography.scss";
@import "breakpoints.scss";

:host {
	box-sizing: border-box;
	padding: 0;
	width: 100%;
	background: $blue;
	height: 4rem;
	box-shadow: 0 0.1875rem 0.0625rem -0.125rem rgba(0,0,0,.2), 0 0.125rem 0.125rem 0 rgba(0,0,0,.14), 0 0.0625rem 0.3125rem 0 rgba(0,0,0,.12);
	grid-area: header;
	-ms-grid-row:1; 
	-ms-grid-column:1; 
	-ms-grid-column-span:3;
	display: flex;
	> .modal-open {
		position: static;
		width: auto;
		height: auto;
	}
	.header { 
		&__logo { 
			cursor: pointer;
			margin-top: 1.125rem;
		}
		&__actions {
			display: flex;
		}
		&__logout {
			background-color: $white;
			padding: 0.5rem 0;
			position: absolute;
			right: 0px;
			top: 90%;
			box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
			border-radius: 4px;
		}
		&__hamburger {
			min-height: 1.25rem;
			padding: 0;
			.toggle {
				width: 1.25rem;
				display: flex;
				flex-direction: column;
				margin: 0 auto;
				pointer-events: auto;
				.bar {
					margin: 0.125rem 0;
					height: 0.125rem;
					background: $white;
					transition: all .225s ease-in-out;
				}
				&.active {
					.middle {background: transparent;}
					.first {transform: translateY(0.375rem) rotate(-45deg)}
					.last {transform: translateY(-0.375rem) rotate(45deg)}
				}
			}
		}
		&__assets {	
			flex-grow: 1;
			position: relative;
			.inline{
				display: flex;
				flex-grow: 1;
				justify-content: flex-end;
				padding: 0 1.5rem;
			}
			.header__search {
				flex: 1 1 auto;
				&.hidden {
					display: none;
				}
			}
		}
		&__search formItem, &__search icon {
			display: none;
		}
	}

	::ng-deep .login__methods {
		display: flex;
		flex-direction: row;
	}
	::ng-deep .login__wrapper {
		display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
		flex-direction: column;
		padding-bottom: 2rem;
		.mobile-handshake {
			display: flex;
			flex-direction: column;
			align-items: center;
			line-height: 1.88;
			p:first-child {
				font-weight: 500;
			}
			h1 {
				color: $black;
				font-weight: 700;
			}
			.mb-0 {
				margin-bottom: 0;
				font-weight: 500;
			}
			.mt-0 {
				margin-top: 0;
			}
		}
		.login__method {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3,1fr);
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			width: 100%;
			button {
				padding-left: 0;
				padding-right: 0;
			}
			button:first-child {
				grid-row: 1/4;
			}
			:nth-child(1) {
				grid-row: 1;
			}
			:nth-child(2) {
				grid-row: 2;
			}
			:nth-child(3) {
				grid-row: 3;
			}
			button, formItem {
				width: 100%;
				white-space: nowrap;
			}
			.formItem + .formItem {
				margin-top: 0;
			}
			> div {
				padding: .5rem 0;
			}
			h2 {
				margin: 0;
				text-align: center;
			}
			@include break-on(md, min) {
				flex-shrink: 1;
			}
		}
		.login__method, labeled-separator {
			@include break-on(xs, min) {
				width: 18.75rem;
			}
		}
		@include break-on(md, min) {
			flex-direction: row;
			padding-top: 0;
			labeled-separator {
				width: auto;
				max-width: none;
			}
		}
	}
	modal-content#login {
		display: flex;
		flex-direction: column;
	}
	
	.header__hamburger, .header__assets {
		> button, .header__actions > button {
			height: 4rem;
			width: 4rem;
			padding: 0;
			color: $white;
			border: none;
			background: $blue;
			border-radius: 0;
			::ng-deep	{
				.button--label {
					display: block;
					span {
						display: none;
					}
					.label--logged {
						display: flex;
						align-items: center;
						justify-content: center;
						icon:after {
							content: "";
							display: block;
							height: 0.625rem;
							width: 0.625rem;
							background: $success;
							border-radius: 1rem;
							margin-right: 0.5rem;
							position: absolute;
							top: 0.9rem;
							left: 2.3rem;					
							z-index: 3;
							@include break-on(sm, min) {
								left: 1rem;
							}
						}
					}
				}
				.icon {
					height: 1.5rem;
					&:before {
						vertical-align: initial;
					}
				}
			}
			@include break-on(xxs, max) {
				&.active {
					background: $dark-orange;
				}
			}
		}
	}

	@include break-on(sm, min) {
		.header {
			&__logo { padding: 0 1.5rem; 
				width: 16.25rem;
			}
			&__search {
				position: relative;
				grid-area: search;
				-ms-grid-column: 1;
				align-items: center;
				display: flex;
				icon {
					display: block;
					position: absolute;
					left: 1rem;
					color: $white;
					::ng-deep i {
						font-size: 1.25rem;
					}
					@media all and (-ms-high-contrast:none) {
						bottom: 1.375rem;
					}
				}
				form {
					width: 100%;
				}
				formItem {
					display: block;
					width: 100%;
					::ng-deep {
						.formItem__wrapper input {
							padding-left: 2.5rem;
							color: $white;
							background-color: rgba(255,255,255,.1);
							border: .0625rem solid rgba(255,255,255,0);
							&::placeholder {
								color: $light-purple;
							}
							&:-moz-placeholder, &::-moz-placeholder {
								color: $light-purple;
								opacity: 1;
							}
						}
					}
				}
			}
			&__actions {
				grid-area: actions;
				-ms-grid-column: 3;
				display: flex;
				position: relative;
				justify-content: flex-end;
			}
			&__hamburger { display: none; }
			&__assets {
				margin-right: 0;
				&--grid {
					display: -ms-grid;
					display: grid;
					grid-template-areas: 'search actions';
					grid-template-columns: 2fr 1fr;
					-ms-grid-columns: 2fr 1fr;
					margin: 0;
					width: 100%;
					grid-gap: 1rem;
				}
				> button, .header__actions > button {
					width: auto;
					min-width: 4rem;
					text-decoration: none;
					&:first-of-type {
						display: none;
					}
					::ng-deep .button--label {
						display: flex;
						align-items: center;
						span {
							display: block;
						}
					}
					icon {
						margin-right: .5rem;
					}
				}
			}
		}
	}
}
