<div class="header__hamburger">
	<button
		htm-button
		theme="plain"
		attr.aria-label="{{ 'button.open' | translate }} {{
			'frontpage.main_menu' | translate
		}}"
		attr.aria-expanded="{{ active }}"
		(click)="toggleSidemenu()"
	>
		<div class="toggle" [class.active]="active">
			<div class="bar first"></div>
			<div class="bar middle"></div>
			<div class="bar last"></div>
		</div>
	</button>
</div>
<a
	href=""
	class="header__logo pointer"
	role="link"
	attr.aria-label="{{ 'frontpage.lead' | translate }}"
>
	<!-- <icon glyph="logo" size="medium"></icon> -->
	<img aria-hidden="true" src="/assets/img/logo.svg" />
</a>
<div class="header__assets">
	<div class="inline">
		<div class="header__assets--grid">
			<div class="header__search">
				<icon glyph="search" size="default"></icon>
				<formItem
					titleDisabled="true"
					type="text"
					placeholder="Sisesta märksõna ja vajuta Enter"
					[(ngModel)]="search"
				>
				</formItem>
			</div>
			<div class="header__actions">
				<button
					htm-button
					[class.active]="modalService.modalOpened['search']"
					(click)="modalService.toggle('search')"
					theme="plain"
					attr.aria-label="{{ 'button.search' | translate }}"
				>
					<icon aria-hidden="true" glyph="search" size="medium"></icon>
				</button>

				<button
					*ngIf="loginStatus; else other"
					theme="plain"
					(click)="logoutActive = true"
					htm-button
				>
					<div class="label--logged">
						<icon aria-hidden="true" glyph="user" size="medium"></icon>
						<span>
							<ng-container *ngIf="auth.user.firstname && auth.user.lastname">{{ auth.user.firstname }} {{ auth.user.lastname }}</ng-container>
							<ng-container *ngIf="!auth.user.firstname && !auth.user.lastname">{{ auth.user.username }}</ng-container>
						</span>
					</div>
				</button>
				<div *ngIf="logoutActive" class="header__logout">
					<button
						htm-button
						theme="logout"
						(mouseout)="logoutActive = false"
						(click)="auth.logout(); logoutActive = false;"
					>
						Logi välja
					</button>
				</div>
				<ng-template #other>
					<button
						htm-button
						[class.active]="modalService.modalOpened['login']"
						(click)="modalService.toggle('login'); loginForm.reset(); mobileIdForm.reset()"
						theme="plain"
						attr.aria-label="{{ 'button.login' | translate }}"
					>
						<icon aria-hidden="true" glyph="user" size="medium"></icon>
						<span>{{ "button.login" | translate }}</span>
					</button>
				</ng-template>
			</div>
		</div>
	</div>
	<!--/inline-->
</div>
<!--/header__assets-->

<htm-modal
	id="search"
	title="{{ 'button.search' | translate }}"
	[bottomAction]="false"
>
	<modal-content id="search" *ngIf="modalService.modalOpened['search']">
		<formItem type="text" [(ngModel)]="search" title="Märksõna"> </formItem>
		<button
			(blur)="modalService.focusLock()"
			htm-button
			style="margin: 1rem 0; width: 100%;"
		>
			Otsi
		</button>
	</modal-content>
</htm-modal>
<htm-modal
	id="login"
	title="{{ 'button.login' | translate }}"
	[bottomAction]="false"
>
	<modal-content id="login" *ngIf="modalService.modalOpened['login']">
		<alerts id="login-modal" small></alerts>
		<loader *ngIf="loading"></loader>
		<div class="login__wrapper" *ngIf="!loading">
			<ng-container *ngIf="!mobileId.challengeId; else mobileIdWrapper">
				<div class="login__method">
					<button (click)="harIdLogin()" htm-button>
						{{ "login_harid" | translate }}
					</button>
				</div>
				<labeled-separator type="login" label="või"></labeled-separator>
				<div class="login__method">
					<button (click)="taraLogin()" htm-button>
						{{ "login_tara" | translate }}
					</button>
				</div>
				<labeled-separator type="login" label="või"></labeled-separator>
				<div class="login__method">
					<div>
						<h2>{{ "login_mobile" | translate }}</h2>
					</div>
					<div>
						<form [formGroup]="mobileIdForm">
							<formItem
								type="text"
								formControlName="phoneNumber"
								title="{{ 'dashboard.contactPhone' | translate }}"
							>
							</formItem>
						</form>
					</div>
					<div>
						<button (click)="mobileIdLogin()" htm-button>
							{{ "button.login" | translate }}
						</button>
					</div>
				</div>
				<labeled-separator type="login" label="või"></labeled-separator>
				<div class="login__method" ngForm [formGroup]="loginForm">
						<div>
							<formItem
								type="text"
								formControlName="username"
								title="{{ 'login.username' | translate }}"
							>
							</formItem>
						</div>
						<div>
							<formItem
								type="password"
								formControlName="password"
								title="{{ 'login.password' | translate }}"
							>
							</formItem>
						</div>
						<div>
							<button
								(blur)="modalService.focusLock()"
								htm-button
								(click)="basicLogin()"
							>
								{{ "button.login" | translate }}
							</button>
						</div>
				</div>
			</ng-container>
			<ng-template #mobileIdWrapper>
				<div class="mobile-handshake">
					<p>
						Kontrolli, et näed mobiiltelefoni ekraanil täpselt sama numbrit:
					</p>
					<h1>{{this.mobileId.challengeId}}</h1>
					<p class="mb-0">Seejärel sisesta PIN1</p>
					<p class="mt-0">Ootame Mobiil-ID vastust…</p>
					<button (click)="mobileIdCancel()" htm-button theme="plain">{{"button.cancel" | translate}}</button>
				</div>
			</ng-template>
		</div>
	</modal-content>
</htm-modal>
