@import "typography.scss";
@import "breakpoints.scss";

:host {
	box-sizing: border-box;
	padding: 0;
	width: 100%;
	background: $theme-default;
	height: 4rem;
	display: flex;
	.hidden-label {
		opacity: 0;
		z-index: -10000;
		position: absolute;
	}
	> .modal-open {
		position: static;
		width: auto;
		height: auto;
	}
	&.header {
		&--learning {
			background: $theme-learning;
			.header__hamburger, .header__assets {
				> button, .header__actions > button {
					background: $theme-learning;
					.label--logged.enterprise {
						background-color: darken($theme-learning, 10%);
					}
				}
			}
		}
		&--career {
			background: $theme-career;
			.header__hamburger, .header__assets {
				> button, .header__actions > button {
					background: $theme-career;
					.label--logged.enterprise {
						background-color: darken($theme-career, 10%);
					}
				}
			}
		}
		&--teaching {
			background: $theme-teaching-dark;
			.header__hamburger, .header__assets {
				> button, .header__actions > button {
					background: $theme-teaching-dark;
					.label--logged.enterprise {
						background-color: darken($theme-teaching-dark, 10%);
					}
				}
			}
		}
		&--youth {
			background: $theme-young;
			.header__hamburger, .header__assets {
				> button, .header__actions > button {
					background: $theme-young;
					.label--logged.enterprise {
						background-color: darken($theme-young, 10%);
					}
				}
			}
		}
	}
	.header {
		&__logo {
			cursor: pointer;
			padding-top: 1.125rem;
			img {
				width: 7rem;
				display: block;
				margin-top: 0.1rem;
			}
		}
		&__actions {
			display: flex;
			#headerLogin {
				overflow: unset;
				.tooltip {
					z-index: 1;
					position: absolute;
					top: 2.5rem;
					right: 0;
					left: 0;
				}
			}
		}
		&__logout {
			background-color: $white;
			padding: 0.5rem 0;
			position: absolute;
			right: 0px;
			top: 90%;
			box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
			border-radius: 4px;
		}
		&__hamburger {
			min-height: 1.25rem;
			padding: 0;

			button:focus {
				outline: var(--border);
			}

			@include break-on(sm-edge, min) {
				&.active {
					display: none;
				}
			}
			button {
				// This "!important" is required here because the focus style doesn't work properly in Safari.
				// Possibly a Safari bug.
				text-decoration: initial !important;
			}
			.toggle {
				width: 1.25rem;
				display: flex;
				flex-direction: column;
				margin: 0 auto;
				pointer-events: auto;
				.bar {
					margin: 0.125rem 0;
					height: 0.125rem;
					background: $blue;
					transition: all .225s ease-in-out;
				}
			}
			&.active .toggle {
				.middle {background: transparent;}
				.first {transform: translateY(0.375rem) rotate(-45deg);}
				.last {transform: translateY(-0.375rem) rotate(45deg);}
			}
		}
		&__assets {
			flex-grow: 1;
			position: relative;
			.inline{
				display: flex;
				flex-grow: 1;
				justify-content: flex-end;
				padding: 0 1.5rem;
			}
			.header__search {
				flex: 1 1 auto;
				&.hidden {
					display: none;
				}
			}
		}
		&__search formItem, &__search icon {
			display: none;
		}
	}

	::ng-deep .login__methods {
		display: flex;
		flex-direction: row;
	}
	::ng-deep .login__wrapper {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-around;
		flex-direction: column;
		padding-bottom: 2rem;
		.mobile-handshake {
			display: flex;
			flex-direction: column;
			align-items: center;
			line-height: 1.88;
			p:first-child {
				font-weight: 500;
			}
			h1 {
				color: $black;
				font-weight: 700;
			}
			.mb-0 {
				margin-bottom: 0;
				font-weight: 500;
			}
			.mt-0 {
				margin-top: 0;
			}
		}
		.login__method {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3,1fr);
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			width: 100%;
			button {
				padding-left: 0;
				padding-right: 0;
			}
			button:first-child {
				grid-row: 1/4;
			}
			:nth-child(1) {
				grid-row: 1;
			}
			:nth-child(2) {
				grid-row: 2;
			}
			:nth-child(3) {
				grid-row: 3;
			}
			button, formItem {
				width: 100%;
				white-space: nowrap;
			}
			.formItem + .formItem {
				margin-top: 0;
			}
			> div {
				padding: .5rem 0;
			}
			h2 {
				margin: 0;
				text-align: center;
			}
			@include break-on(md, min) {
				flex-shrink: 1;
			}
		}
		.login__method, labeled-separator {
			@include break-on(xs, min) {
				width: 18.75rem;
			}
		}
		@include break-on(md, min) {
			flex-direction: row;
			padding-top: 0;
			labeled-separator {
				width: auto;
				max-width: none;
			}
		}
	}
	.modal-content#login {
		display: flex;
		flex-direction: column;
	}

	.header__hamburger, .header__assets {
		> button, .header__actions > button {
			height: 4rem;
			width: 4rem;
			padding: 0;
			color: $blue;
			border: none;
			background: $theme-default;
			transition: color 0.25s;
			border-radius: 0;
			/*&.separation-right:after {
				content: "";
				position: absolute;
				border-right: 0.05rem solid #2e3374;
				right: 0;
				top: 35%;
				bottom: 35%;
			}*/
			::ng-deep	{
				.button--label {
					display: block;
					span {
						display: none;
					}
					.label--logged {
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						.icon-user:after {
							content: "";
							display: block;
							height: 0.625rem;
							width: 0.625rem;
							background: $success;
							border-radius: 1rem;
							margin-right: 0.5rem;
							position: absolute;
							top: 0.9rem;
							left: 2.3rem;
							z-index: 3;
							@include break-on(sm, min) {
								left: 1rem;
							}
						}
						span {
							display: none;
							font-size: 0.8rem;
							flex-shrink: 1;
							flex-grow: 0;
							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;
							margin-right: auto;
							line-height: 2;
						}
						.icon-chevron {
							display: none;
							margin-top: 0.1rem;
							margin-right: 0;
						}
						&.enterprise {
							background-color: darken($theme-default, 10%);
						}
						@include break-on(xs, max) {
							background: none !important;
						}
					}
				}
				.icon {
					height: 1.5rem;
					&:before {
						vertical-align: initial;
					}
				}
			}
			@include break-on(xxs, max) {
				&.active {
					background: $dark-orange;
				}
			}
		}
	}

	@include break-on(xs, min) {
		.header {
			&__logo {
				padding: 1.125rem 1.5rem 0 1.5rem;
				margin-right: 6.25rem;
			}
			&__search {
				position: relative;
				grid-area: search;
				-ms-grid-column: 1;
				align-items: center;
				display: flex;
				icon {
					display: block;
					position: absolute;
					left: 1rem;
					color: $dark-gray;
					z-index: 20;
					cursor: pointer;
					::ng-deep i {
						font-size: 1.25rem;
					}
					@media all and (-ms-high-contrast:none) {
						bottom: 1.375rem;
					}
				}
				form {
					width: 100%;
				}
				formItem {
					display: block;
					width: 100%;
					::ng-deep {
						.formItem__wrapper input {
							padding-left: 2.5rem;
							color: $black !important;
							background-color:rgba(255, 255, 255, 0.5) !important;
							&::placeholder {
								color: $dark-gray;
							}
							&:-moz-placeholder, &::-moz-placeholder {
								color: $dark-gray;
								opacity: 1;
							}
						}
					}
				}
			}
			&__actions {
				grid-area: actions;
				-ms-grid-column: 3;
				display: flex;
				position: relative;
				justify-content: flex-end;

				::ng-deep {
					#headerLogin .button--label, .label--logged {
						border-radius: 99px;
						.icon-user {
							display: none;
						}
					}
					#headerLogin .button--label {
						border: 1px solid $blue;
						padding: 0.7rem 2rem;
					}
					.label--logged {
						padding: 0.5rem 1rem;
						width: 12rem;
						color: $black;
						background-color: $white;
						span {
							display: block !important;
						}
						.icon-chevron {
							display: block !important;
						}
					}
				}
			}
			&__assets {
				margin-right: 0;
				&--grid {
					display: -ms-grid;
					display: grid;
					grid-template-areas: 'search actions';
					grid-template-columns: 2fr 1fr;
					-ms-grid-columns: 2fr 1fr;
					margin: 0;
					width: 100%;
					grid-gap: 1rem;
				}
				> button, .header__actions > button {
					width: auto;
					min-width: 4rem;
					text-decoration: none;
					&:first-of-type {
						display: none;
					}
					::ng-deep .button--label {
						display: flex;
						align-items: center;
						span {
							display: block;
						}
					}
					icon {
						margin-right: .5rem;
					}
				}
			}
		}
	}
	@include break-on(sm, max) {
		.header {
			&__logo {
				padding: 1.125rem 0 0 0;
				margin-right: 0;
				width: initial;
			}
		}
	}
}
