@import "typography.scss";
@import "breakpoints.scss";

:host {

	box-sizing: border-box;
	padding: 0 1.5rem 0 0;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background: $blue;
	height: 4rem;
	box-shadow: 0 0.1875rem 0.0625rem -0.125rem rgba(0,0,0,.2), 0 0.125rem 0.125rem 0 rgba(0,0,0,.14), 0 0.0625rem 0.3125rem 0 rgba(0,0,0,.12);
	.header { 
		display: flex;
		&__logo { 
			cursor: pointer;
			margin-top: 1.125rem;
		}
		&__hamburger {
			min-height: 1.25rem;
			padding: 0;
			.toggle {
				width: 1.25rem;
				display: flex;
				flex-direction: column;
				margin: 0 auto;
				pointer-events: auto;
				.bar {
					margin: 0.125rem 0;
					height: 0.125rem;
					background: $white;
					transition: all .225s ease-in-out;
				}
				&.active {
					.middle {background: transparent;}
					.first {transform: translateY(0.375rem) rotate(-45deg)}
					.last {transform: translateY(-0.375rem) rotate(45deg)}
				}
			}
		}
		&__assets {
			display: flex;
			flex-grow: 1;
			.header__search {
				flex: 1 1 auto;
			}
		}
	}
	
	button {
		height: 4rem;
		width: 4rem;
		padding: 0;
		color: $white;
		border: none;
		background: $blue;
		border-radius: 0;
		::ng-deep	.icon {
			height: 1.5rem;
			&:before {
				vertical-align: initial;
			}
		}
	}

	@include break-on(sm, min) {
		.header {
			&__logo { padding: 0 1.5rem; }
			&__hamburger { display: none; }
			button.sm-show { display: none; }
		}
	}

}
