<div class="snackBar">
  <!-- sidebar indicators -->
  <div class="block border-orange padding-block sm-top" *ngIf="indicators && indicators.entities && indicators.entities.length">
    <h1 class="medium">{{ 'oskaProfessions.general_indicators' | translate }}</h1>
    <div class="padding-block--content">
      <div *ngFor="let indicator of indicators.entities">
        <span>{{ indicator.oskaIndicator }}: </span><strong>{{ indicator.value }}</strong>
      </div>
    </div>
  </div>
  <!-- / sidebar indicators / -->
  <!-- sidebar.fieldPros/Cons -->
  <div class="block border-orange padding-block sm-top" *ngIf="((sidebar.fieldPros && sidebar.fieldPros.length) || (sidebar.fieldCons && sidebar.fieldCons.length))">
    <h1 class="medium">{{ 'sidebar.pros_and_cons' | translate }}</h1>
    <div class="padding-block--content">
      <ng-container *ngIf="sidebar.fieldPros && sidebar.fieldPros.length">
        <div class="flex centered" [class.last]="last" *ngFor="let elem of sidebar.fieldPros; let last = last">
          <div class="icon-wrapper pos"><span class="htm-icon">thumb_up</span></div>
          <div class="flex-text">{{ elem }}</div>
        </div>
      </ng-container>
      <hr *ngIf="sidebar.fieldCons && sidebar.fieldCons.length && sidebar.fieldPros && sidebar.fieldPros.length">
      <ng-container *ngIf="sidebar.fieldCons && sidebar.fieldCons.length">
        <div class="flex centered" [class.last]="last" *ngFor="let elem of sidebar.fieldCons; let last = last">
          <div class="icon-wrapper neg"><span class="htm-icon">thumb_down</span></div>
          <div class="flex-text">{{ elem }}</div>
        </div>
      </ng-container>
    </div>
  </div>
  <!-- / sidebar.fieldPros/Cons / -->
  <!-- sidebar.fieldOskaField -->
  <div class="block border-orange padding-block sm-top" *ngIf="sidebar.fieldOskaField && sidebar.fieldOskaField.length">
    <h1 class="medium">{{ 'oskaProfessions.fields' | translate }}</h1>
    <div class="padding-block--content">
      <ul class="link-list mt-0 mb-0">
        <ng-container *ngFor="let item of sidebar.fieldOskaField; let ind = index;">
          <li *ngIf="ind < limits['fields']">
            <a href="javascript:void(0)" [routerLink]="item.entity.entityUrl.path" attr.aria-label="{{item.entity.entityLabel}}" class="link related">
              <div><span class="htm-icon">link</span></div>
              <div class="label">{{item.entity.entityLabel}}</div>
            </a>
          </li>
        </ng-container>
      </ul>
      <ng-container *ngIf="typeStatus['fields']">
        <hr>
        <div class="showMore">
          <a href="javascript:void(0)" (click)="showMore('fields', 'fieldOskaField')" attr.aria-label="{{'button.show_more' | translate}}">+ {{'button.show_more' | translate}} <span>({{sidebar.fieldOskaField.length - limits['fields']}})</span></a>
        </div>
      </ng-container>
      <ng-container *ngIf="!typeStatus['fields'] && sidebar.fieldOskaField.length > generalLimiter" >
        <hr>
        <div class="showMore">
          <a href="javascript:void(0)" (click)="hideExtra('fields', 'fieldOskaField')" attr.aria-label="{{'button.hide_extra' | translate}}">- {{'button.hide_extra' | translate}} <span>({{sidebar.fieldOskaField.length - generalLimiter}})</span></a>
        </div>
      </ng-container>
    </div>
  </div>
  <!-- / sidebar.fieldOskaMainProfession / -->
  <!-- sidebar learningOpportunities -->
  <div class="block border-orange padding-block sm-top" *ngIf="sidebar.fieldIscedfSearchLink && (sidebar.fieldIscedfSearchLink.entity.fieldIscedfSearchText || sidebar.fieldIscedfSearchLink.entity.iscedf_detailed)">
    <h1 class="medium">{{ 'oska.learningOpportunities' | translate }}</h1>
    <div class="padding-block--content">
      <div *ngIf="sidebar.fieldIscedfSearchLink.entity.fieldIscedfSearchText">{{ sidebar.fieldIscedfSearchLink.entity.fieldIscedfSearchText }}</div>
      <ul class="link-list mt-0 mb-0 extra" *ngIf="locationPerLang && learningQuery">
        <li>
          <a href="javascript:void(0)" [routerLink]="locationPerLang" [queryParams]="learningQuery" attr.aria-label="{{ sidebar.fieldIscedfSearchLink.entity.fieldIscedfSearchText }}" class="link related">
            <div><span class="htm-icon">link</span></div>
            <div class="label">{{ 'oska.programme_search' | translate }}</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- / sidebar learningOpportunities / -->
  <!-- sidebar.fieldJobOpportunities -->
  <div class="block border-orange padding-block sm-top" *ngIf="sidebar.fieldJobOpportunities && sidebar.fieldJobOpportunities.length">
    <h1 class="medium">{{ 'oska.jobOpportunities' | translate }}</h1>
    <div class="padding-block--content">
      <ul class="link-list mt-0 mb-0">
        <ng-container *ngFor="let item of sidebar.fieldJobOpportunities;let ind = index;">
          <li *ngIf="ind < limits['opportunities']">
            <a href="{{item.url.path}}" [attr.target]="!item.url.routed ? '_blank' : ''" attr.aria-label="{{item.title}}" class="link">
              <span>
                <ng-container *ngIf="item.url.routed"><span class="htm-icon">link</span><span class="label">{{item.title}}</span></ng-container>
                <ng-container *ngIf="!item.url.routed"><span class="htm-icon">launch</span><span class="label">{{item.title}}</span></ng-container>
              </span>
            </a>
          </li>
        </ng-container>
      </ul>
      <ng-container *ngIf="typeStatus['opportunities']">
        <hr>
        <div class="showMore">
          <a href="javascript:void(0)" (click)="showMore('opportunities', 'fieldJobOpportunities')" attr.aria-label="{{'button.show_more' | translate}}">+ {{'button.show_more' | translate}} <span>({{sidebar.fieldJobOpportunities.length - limits['opportunities']}})</span></a>
        </div>
      </ng-container>
      <ng-container *ngIf="!typeStatus['opportunities'] && sidebar.fieldJobOpportunities.length > generalLimiter">
        <hr>
        <div class="showMore">
          <a href="javascript:void(0)" (click)="hideExtra('opportunities', 'fieldJobOpportunities')" attr.aria-label="{{'button.hide_extra' | translate}}">- {{'button.hide_extra' | translate}} <span>({{sidebar.fieldJobOpportunities.length - generalLimiter}})</span></a>
        </div>
      </ng-container>
    </div>
  </div>
  <!-- / sidebar.fieldJobOpportunities / -->
  <!-- sidebar.fieldQualificationStandard -->
  <div class="block border-orange padding-block sm-top" *ngIf="sidebar.fieldQualificationStandard && sidebar.fieldQualificationStandard.length">
    <h1 class="medium">{{ 'oska.qualification_standard' | translate }}</h1>
    <div class="padding-block--content">
      <ul class="link-list mt-0 mb-0">
        <ng-container *ngFor="let item of sidebar.fieldQualificationStandard;let ind = index;">
          <li *ngIf="ind < limits['qualification']">
            <a href="{{item.url.path}}" [attr.target]="!item.url.routed ? '_blank' : ''" attr.aria-label="{{item.title}}" class="link">
              <span>
                <ng-container *ngIf="item.url.routed"><span class="htm-icon">link</span><span class="label">{{item.title}}</span></ng-container>
                <ng-container *ngIf="!item.url.routed"><span class="htm-icon">launch</span><span class="label">{{item.title}}</span></ng-container>
              </span>
            </a>
          </li>
        </ng-container>
      </ul>
      <ng-container *ngIf="typeStatus['qualification']">
        <hr>
        <div class="showMore">
          <a href="javascript:void(0)" (click)="showMore('qualification', 'fieldQualificationStandard')" attr.aria-label="{{'button.show_more' | translate}}">+ {{'button.show_more' | translate}} <span>({{sidebar.fieldQualificationStandard.length - limits['qualification']}})</span></a>
        </div>
      </ng-container>
      <ng-container *ngIf="!typeStatus['qualification'] && sidebar.fieldQualificationStandard.length > generalLimiter">
        <hr>
        <div class="showMore">
          <a href="javascript:void(0)" (click)="hideExtra('qualification', 'fieldQualificationStandard')" attr.aria-label="{{'button.hide_extra' | translate}}">- {{'button.hide_extra' | translate}} <span>({{sidebar.fieldQualificationStandard.length - generalLimiter}})</span></a>
        </div>
      </ng-container>
    </div>
  </div>
  <!-- / sidebar.fieldQualificationStandard / -->
  <!-- sidebar.fieldJobs -->
  <div class="block border-orange padding-block sm-top" *ngIf="sidebar.fieldJobs && sidebar.fieldJobs.length && (sidebar.fieldJobs[0].entity.fieldJobName || sidebar.fieldJobs[0].entity.fieldJobLink)">
    <h1 class="medium">{{ 'oska.sample_jobs' | translate }}</h1>
    <div class="padding-block--content">
      <ul class="link-list mt-0 mb-0">
        <ng-container *ngFor="let item of sidebar.fieldJobs;let ind = index;">
          <li *ngIf="ind < limits['jobs']">
            <a *ngIf="item.entity.fieldJobLink" href="{{item.entity.fieldJobLink.url.path}}" [attr.target]="!item.entity.fieldJobLink.url.routed ? '_blank' : ''" attr.aria-label="{{item.entity.fieldJobName}}" class="link">
              <span>
                <ng-container *ngIf="item.entity.fieldJobLink.url.routed"><span class="htm-icon">link</span><span class="label">{{item.entity.fieldJobName}}</span></ng-container>
                <ng-container *ngIf="!item.entity.fieldJobLink.url.routed"><span class="htm-icon">launch</span><span class="label">{{item.entity.fieldJobName}}</span></ng-container>
              </span>
            </a>
            <span *ngIf="!item.entity.fieldJobLink && item.entity.fieldJobName" class="link">
              <span class="htm-icon icon-filler"></span><span class="label">{{item.entity.fieldJobName}}</span>
            </span>
          </li>
        </ng-container>
      </ul>
      <ng-container *ngIf="typeStatus['jobs']">
        <hr>
        <div class="showMore">
          <a href="javascript:void(0)" (click)="showMore('jobs', 'fieldJobs')" attr.aria-label="{{'button.show_more' | translate}}">+ {{'button.show_more' | translate}} <span>({{sidebar.fieldJobs.length - limits['jobs']}})</span></a>
        </div>
      </ng-container>
      <ng-container *ngIf="!typeStatus['jobs'] && sidebar.fieldJobs.length > generalLimiter">
        <hr>
        <div class="showMore">
          <a href="javascript:void(0)" (click)="hideExtra('jobs', 'fieldJobs')" attr.aria-label="{{'button.hide_extra' | translate}}">- {{'button.hide_extra' | translate}} <span>({{sidebar.fieldJobs.length - generalLimiter}})</span></a>
        </div>
      </ng-container>
    </div>
  </div>
  <!-- / sidebar.fieldJobs / -->
  <!-- sidebar.fieldQuickFind -->
  <div class="block border-orange padding-block sm-top" *ngIf="sidebar.fieldQuickFind && sidebar.fieldQuickFind.length">
    <h1 class="medium">{{ 'sidebar.find_quick' | translate }}</h1>
    <div class="padding-block--content">
      <ul class="link-list mt-0 mb-0">
        <ng-container *ngFor="let item of sidebar.fieldQuickFind; let ind = index;">
          <li *ngIf="ind < limits['profQuickFind']">
            <a href="{{item.url.path}}" [attr.target]="!item.url.routed ? '_blank' : ''" attr.aria-label="{{'link.outer' | translate}}" class="link">
              <span>
                <ng-container *ngIf="item.url.routed"><span class="htm-icon">link</span><span class="label">{{item.title}}</span></ng-container>
                <ng-container *ngIf="!item.url.routed"><span class="htm-icon">launch</span><span class="label">{{item.title}}</span></ng-container>
              </span>
            </a>
          </li>
        </ng-container>
      </ul>
      <ng-container *ngIf="typeStatus['profQuickFind']">
        <hr>
        <div class="showMore">
          <a href="javascript:void(0)" (click)="showMore('profQuickFind', 'fieldQuickFind')" attr.aria-label="{{'button.show_more' | translate}}">+ {{'button.show_more' | translate}} <span>({{sidebar.fieldQuickFind.length - limits['profQuickFind']}})</span></a>
        </div>
      </ng-container>
      <ng-container *ngIf="!typeStatus['profQuickFind'] && sidebar.fieldQuickFind.length > generalLimiter" >
        <hr>
        <div class="showMore">
          <a href="javascript:void(0)" (click)="hideExtra('profQuickFind', 'fieldQuickFind')" attr.aria-label="{{'button.hide_extra' | translate}}">- {{'button.hide_extra' | translate}} <span>({{sidebar.fieldQuickFind.length - generalLimiter}})</span></a>
        </div>
      </ng-container>
    </div>
  </div>
  <!-- / sidebar.fieldQuickFind / -->
  <!-- sidebar.fieldNumberEmployed -->
  <div class="block border-orange padding-block sm-top" *ngIf="sidebar.fieldNumberEmployed || sidebar.fieldNumberEmployed == '0' || sidebar.fieldNumberEmployedText">
    <h1 class="medium">{{ 'oska.fieldNumberEmployed' | translate }}</h1>
    <div class="padding-block--content">
      <strong>{{ sidebar.fieldNumberEmployed }}</strong>
      <div>{{ sidebar.fieldNumberEmployedText }}</div>
    </div>
  </div>
  <!-- / sidebar.fieldNumberEmployed / -->
  <!-- sidebar.fieldOskaFieldPros/Cons -->
  <div class="block border-orange padding-block sm-top" *ngIf="sidebar.fieldOskaFieldPros || sidebar.fieldOskaFieldCons">
    <h1 class="medium">{{ 'sidebar.pros_and_cons' | translate }}</h1>
    <div class="padding-block--content">
      <ng-container *ngIf="sidebar.fieldOskaFieldPros && sidebar.fieldOskaFieldPros.length">
        <div class="flex centered" [class.last]="last" *ngFor="let elem of sidebar.fieldOskaFieldPros; let last = last">
          <div class="icon-wrapper pos"><span class="htm-icon">thumb_up</span></div>
          <div class="flex-text">{{ elem }}</div>
        </div>
      </ng-container>
      <hr *ngIf="sidebar.fieldOskaFieldCons && sidebar.fieldOskaFieldCons.length && sidebar.fieldOskaFieldPros && sidebar.fieldOskaFieldPros.length">
      <ng-container *ngIf="sidebar.fieldOskaFieldCons && sidebar.fieldOskaFieldCons.length">
        <div class="flex centered" [class.last]="last" *ngFor="let elem of sidebar.fieldOskaFieldCons; let last = last">
          <div class="icon-wrapper neg"><span class="htm-icon">thumb_down</span></div>
          <div class="flex-text">{{ elem }}</div>
        </div>
      </ng-container>
    </div>
  </div>
  <!-- / sidebar.fieldOskaFieldPros/Cons / -->
  <!-- sidebar.fieldOskaMainProfession -->
  <div class="block border-orange padding-block sm-top" *ngIf="sidebar.fieldOskaMainProfession">
    <h1 class="medium">{{ 'oskaProfessions.label' | translate }}</h1>
    <div class="padding-block--content">
      <ul class="link-list mt-0 mb-0">
        <ng-container *ngFor="let item of sidebar.fieldOskaMainProfession; let ind = index;">
          <li *ngIf="ind < limits['professions']">
            <a href="javascript:void(0)" [routerLink]="item.entity.entityUrl.path" attr.aria-label="{{item.entity.entityLabel}}" class="link related">
              <div><span class="htm-icon">link</span></div>
              <div class="label">{{item.entity.entityLabel}}</div>
            </a>
          </li>
        </ng-container>
      </ul>
      <ng-container *ngIf="typeStatus['professions']">
        <hr>
        <div class="showMore">
          <a href="javascript:void(0)" (click)="showMore('professions', 'fieldOskaMainProfession')" attr.aria-label="{{'button.show_more' | translate}}">+ {{'button.show_more' | translate}} <span>({{sidebar.fieldOskaMainProfession.length - limits['professions']}})</span></a>
        </div>
      </ng-container>
      <ng-container *ngIf="!typeStatus['professions'] && sidebar.fieldOskaMainProfession.length > generalLimiter" >
        <hr>
        <div class="showMore">
          <a href="javascript:void(0)" (click)="hideExtra('professions', 'fieldOskaMainProfession')" attr.aria-label="{{'button.hide_extra' | translate}}">- {{'button.hide_extra' | translate}} <span>({{sidebar.fieldOskaMainProfession.length - generalLimiter}})</span></a>
        </div>
      </ng-container>
    </div>
  </div>
  <!-- / sidebar.fieldOskaMainProfession / -->
  <!-- sidebar.fieldOskaFieldQuickFind -->
  <div class="block border-orange padding-block sm-top" *ngIf="sidebar.fieldOskaFieldQuickFind && sidebar.fieldOskaFieldQuickFind.length">
    <h1 class="medium">{{ 'sidebar.find_quick' | translate }}</h1>
    <div class="padding-block--content">
      <ul class="link-list mt-0 mb-0">
        <ng-container *ngFor="let item of sidebar.fieldOskaFieldQuickFind; let ind = index;">
          <li *ngIf="ind < limits['quickFind']">
            <a href="{{item.url.path}}" [attr.target]="!item.url.routed ? '_blank' : ''" attr.aria-label="{{'link.outer' | translate}}" class="link">
              <span>
                <ng-container *ngIf="item.url.routed"><span class="htm-icon">link</span><span class="label">{{item.title}}</span></ng-container>
                <ng-container *ngIf="!item.url.routed"><span class="htm-icon">launch</span><span class="label">{{item.title}}</span></ng-container>
              </span>
            </a>
          </li>
        </ng-container>
      </ul>
      <ng-container *ngIf="typeStatus['quickFind']">
        <hr>
        <div class="showMore">
          <a href="javascript:void(0)" (click)="showMore('quickFind', 'fieldOskaFieldQuickFind')" attr.aria-label="{{'button.show_more' | translate}}">+ {{'button.show_more' | translate}} <span>({{sidebar.fieldOskaFieldQuickFind.length - limits['quickFind']}})</span></a>
        </div>
      </ng-container>
      <ng-container *ngIf="!typeStatus['quickFind'] && sidebar.fieldOskaFieldQuickFind.length > generalLimiter" >
        <hr>
        <div class="showMore">
          <a href="javascript:void(0)" (click)="hideExtra('quickFind', 'fieldOskaFieldQuickFind')" attr.aria-label="{{'button.hide_extra' | translate}}">- {{'button.hide_extra' | translate}} <span>({{sidebar.fieldOskaFieldQuickFind.length - generalLimiter}})</span></a>
        </div>
      </ng-container>
    </div>
  </div>
  <!-- / sidebar.fieldOskaFieldQuickFind / -->
  <!-- sidebar.fieldRelatedPages -->
  <div class="block border-orange padding-block sm-top" *ngIf="sidebar.fieldRelatedPages && sidebar.fieldRelatedPages.length">
    <h1 class="medium">{{ 'sidebar.similar_topics' | translate }}</h1>
    <div class="padding-block--content">
      <ul class="link-list mt-0 mb-0">
        <ng-container *ngFor="let item of sidebar.fieldRelatedPages; let ind = index;">
          <li *ngIf="ind < limits['relatedPages']">
            <a href="{{item.url.path}}" [attr.target]="!item.url.routed ? '_blank' : ''" attr.aria-label="{{item.title}}" class="link">
              <span>
                <ng-container *ngIf="item.url.routed"><span class="htm-icon">link</span><span class="label">{{item.title}}</span></ng-container>
                <ng-container *ngIf="!item.url.routed"><span class="htm-icon">launch</span><span class="label">{{item.title}}</span></ng-container>
              </span>
            </a>
          </li>
        </ng-container>
      </ul>
      <ng-container *ngIf="typeStatus['relatedPages']">
        <hr>
        <div class="showMore">
          <a href="javascript:void(0)" (click)="showMore('relatedPages', 'fieldRelatedPages')" attr.aria-label="{{'button.show_more' | translate}}">+ {{'button.show_more' | translate}} <span>({{sidebar.fieldRelatedPages.length - limits['relatedPages']}})</span></a>
        </div>
      </ng-container>
      <ng-container *ngIf="!typeStatus['relatedPages'] && sidebar.fieldRelatedPages.length > generalLimiter">
        <hr>
        <div class="showMore">
          <a href="javascript:void(0)" (click)="hideExtra('relatedPages', 'fieldRelatedPages')" attr.aria-label="{{'button.hide_extra' | translate}}">- {{'button.hide_extra' | translate}} <span>({{sidebar.fieldRelatedPages.length - generalLimiter}})</span></a>
        </div>
      </ng-container>
    </div>
  </div>
  <!-- / sidebar.fieldRelatedPages / -->
  <!-- sidebar.fieldOskaFieldContact // sidebar.fieldContact -->
  <div class="block border-orange padding-block sm-top" *ngIf="(sidebar.fieldOskaFieldContact || sidebar.fieldContact) && isContactValid()">
    <h1 class="medium">{{ 'school.contact' | translate }}</h1>
    <div class="padding-block--content">
      <div role="text" attr.aria-label="{{'event.organizer' | translate}}">{{sidebar.fieldOskaFieldContact && sidebar.fieldOskaFieldContact.entity.fieldOrganization}}{{sidebar.fieldContact && sidebar.fieldContact.entity.fieldOrganization}}</div>
      <div role="text" attr.aria-label="{{'event.person' | translate}}">{{sidebar.fieldOskaFieldContact && sidebar.fieldOskaFieldContact.entity.fieldPerson}}{{sidebar.fieldContact && sidebar.fieldContact.entity.fieldPerson}}</div>
      <div class="sm-show">
        <a *ngIf="sidebar.fieldOskaFieldContact && sidebar.fieldOskaFieldContact.entity.fieldPhone" attr.aria-label="{{'event.phone | translate'}}" href="tel:{{sidebar.fieldOskaFieldContact.entity.fieldPhone}}" class="hoverLined">{{sidebar.fieldOskaFieldContact.entity.fieldPhone}}</a>
        <a *ngIf="sidebar.fieldContact && sidebar.fieldContact.entity.fieldPhone" attr.aria-label="{{'event.phone | translate'}}" href="tel:{{sidebar.fieldContact.entity.fieldPhone}}" class="hoverLined">{{sidebar.fieldContact.entity.fieldPhone}}</a>
      </div>
      <div class="sm-hide">
        <span *ngIf="sidebar.fieldOskaFieldContact && sidebar.fieldOskaFieldContact.entity.fieldPhone" role="text" attr.aria-label="{{'event.phone' | translate}}">{{sidebar.fieldOskaFieldContact.entity.fieldPhone}}</span>
        <span *ngIf="sidebar.fieldContact && sidebar.fieldContact.entity.fieldPhone" role="text" attr.aria-label="{{'event.phone' | translate}}">{{sidebar.fieldContact.entity.fieldPhone}}</span>
      </div>
      <div *ngIf="sidebar.fieldOskaFieldContact && sidebar.fieldOskaFieldContact.entity.fieldEmail"><a class="hoverLined" attr.aria-label="{{'event.participant_email' | translate}}" href="mailto:{{sidebar.fieldOskaFieldContact.entity.fieldEmail}}" alt="">{{sidebar.fieldOskaFieldContact.entity.fieldEmail}}</a></div>
      <div *ngIf="sidebar.fieldContact && sidebar.fieldContact.entity.fieldEmail"><a class="hoverLined" attr.aria-label="{{'event.participant_email' | translate}}" href="mailto:{{sidebar.fieldContact.entity.fieldEmail}}" alt="">{{sidebar.fieldContact.entity.fieldEmail}}</a></div>
    </div>
  </div>
  <!-- / sidebar.fieldOskaFieldContact // sidebar.fieldContact / -->
</div>