@import "../../../assets/styles/typography.scss";
.flex.centered {padding-bottom: .75rem;
  &.last {padding-bottom: 0;}
}
.flex-text {margin-left: 1rem;font-size: .875rem;line-height: 1.125rem;}
.link-list a {text-decoration: none;font-size: 1rem;}
.link.related {display: inline-flex;}
h1 {color: $black;}
.showMore {text-align: center;line-height: 1.5rem;}
.block {@include break-on(sm, max) {margin-bottom: 0;}}
a.hoverLined {text-decoration: none;
  &:hover {text-decoration: underline;}
}
a:hover {
  .label {text-decoration: underline;}
}