@import "../../../assets/styles/typography.scss";
.flex.centered {padding-bottom: .75rem;
  &.last {padding-bottom: 1.5rem;}
  &.final {padding-bottom: 0;}
}
.flex-text {margin-left: 1rem;font-size: .875rem;line-height: 1.125rem;}
.link-list {
  &.extra {padding-top: .25rem;}
  a {text-decoration: none;font-size: 1rem;}
  .icon-filler {vertical-align: top; margin-right: 0.5rem;color: #2e3374;}
}
.link.related {display: inline-flex;}
h1 {color: $black;}
.showMore {text-align: center;line-height: 1.5rem;}
.block {@include break-on(sm, max) {margin-bottom: 0;}}
a.hoverLined {text-decoration: none;
  &:hover {text-decoration: underline;}
}
a:hover {
  .label {text-decoration: underline;}
}
.snackBar {margin-bottom: 7.75rem;
  @include break-on(sm, min) {margin-bottom: 5.25rem;}
}