@import "../../../../assets/styles/typography.scss";
.cdk-overlay-container{
  .cdk-overlay-backdrop{  background-color: rgba(51, 51, 51, 0.9); }
}

:host{border-top:#f8b243 0.625rem solid; border-radius:4px; padding:0; display: block;

  .mat-dialog-title{line-height:2rem; font-size:1rem; color:#757575; padding:0.81rem 1.5rem 0 1.5rem; font-weight: normal; margin:0; position: relative;
    .mat-button{padding-left:0.875rem !important; padding-right:0.875rem !important; min-width: 0; position: absolute; top:0.63rem; right:0.312rem;}
  }

  .mat-dialog-content{padding:1rem 1.5rem 2.5rem 1.5rem; box-sizing: border-box; margin:0; line-height:1.875rem; font-size:1.5rem; color:#333333; text-align:center;
    *{box-sizing: border-box; }
    p{margin:2rem 0;}
    b{font-weight: 500;}
    .mat-dialog-inline{padding: 0 7rem;
    
    }
    @include break-on(md, max) {
      .mat-dialog-inline{padding-left:0; padding-right:0;}
    }
    .font-xs{font-size:1rem; line-height:1.5rem;}
  }

}