@import "../../../../assets/styles/typography.scss";
/* do as i say not as i do */
.dialog--login {
  max-width: unset;
  width: unset;
  @include break-on(xxs, max) {
    min-width: 100vh;
  }
  @include break-on(xs, max) {
    min-width: 80vw;
  }
  @include break-on(xs, min) {
    min-width: 50vw;
  }
  .dialog-content {
    display: flex;
    .login-methods {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      @include break-on(md, min) {
        flex-direction: row;
      }
      .login-method {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        @include break-on(xs, max) {
          width: 100%;
        }
        @include break-on(xs, min) {
          width: 300px;
        }
        @include break-on(md, min) {
          flex-shrink: 1;
        }
      }
      form.login-method {
        & > div, & > button {
          padding: 0.5rem;
        }
      }
      form input {
        width: 100%;
      }
    }
  }
  .mobile-handshake {
    width: 100%;
    color: #333333;
    p {
      font-weight: 500;
      line-height: 1.88;
      text-align: center;
      &.light {
        font-weight: normal;
      }
    }
    h1 {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.25;
    }
  }
  button.button--cancel{margin-left:2.25rem; margin-right:2.25rem; appearance:none; padding:0; background:none; border:none; text-decoration: underline; color:$blue; font-size:1rem; line-height:2.5rem; margin-bottom:1rem;
    &:hover{text-decoration: none;}
    span{display:inline-block; width:2.5rem !important; height:2.5rem !important; line-height:2.375rem !important; text-align: center; color:#008d53; border:#008d53 1px solid; background:#e6f5ef; margin-right:8px; vertical-align: middle; border-radius:4px;
      &.negative{color:#d0021b; border-color:#d0021b; background:#fdf3f4;}
    }
  }
}

