<div class="dialog dialog--login" cdkTrapFocus>
  <div class="row">
    <div class="col-12" style="position: relative;">
      <span class="dialog__text--medium">{{ 'button.login' | translate | uppercase }}</span>
      <div class="pull-right" attr.aria-label="{{'modal.info | translate'}}" role="close">
        <span class="htm-icon">close
          <button class="btn-hidden" (keyup.space)="closeModal()" (keyup.enter)="closeModal()" (click)="closeModal()" tabindex="0"></button>
        </span>
      </div>
    </div>
  </div>
  <div class="dialog-content">
    <div class="login-methods">
      <div class="login-method" *ngIf="authMethods.harid">
          <button type="button" role="button" mat-raised-button color="primary" (click)="openHarID()" attr.aria-label="{{ 'login_harid' | translate }}">{{ 'login_harid' | translate }}</button>
      </div>
      <labeled-separator *ngIf="authMethods.tara" vertical=true label="{{ 'label.or' | translate }}"></labeled-separator>
      <div *ngIf="authMethods.tara" class="login-method">
          <button type="button" role="button" mat-raised-button color="primary" (click)="openTara()" attr.aria-label="{{ 'login_tara' | translate }}">{{ 'login_tara' | translate }}</button>
      </div>
      <labeled-separator *ngIf="authMethods.mobile_id" vertical=true label="{{ 'label.or' | translate }}"></labeled-separator>
      <form (ngSubmit)="submit('mobile')" class="login-method" *ngIf="authMethods.mobile_id">
        <ng-container *ngIf="!mobileValidation.handshake">
          <div class="col-12">
            <h2 class="text-center">{{ 'login_mobile' | translate }}</h2>
          </div>
          <div class="col-12">
            <div class="round-input__wrapper" 
            [class.complete]="formModels.tel && !telFocus"
            [class.errors]="!formModels.tel && !telFocus && mobileValidation.errorState">
              <span class="round-input__title">{{ 'dashboard.contactPhone' | translate }}</span>
              <div class="round-input__field-wrapper">
                <input autocomplete="off" class="round-input__field" (focus)="telFocus = true" (blur)="telFocus = false" [class.focused]='telFocus' type="tel" name="tel" placeholder="{{ 'dashboard.contactPhone' | translate }}" [(ngModel)]="formModels.tel"/>
              </div>
            </div>
          </div>
          <div class="col-12 text-center">
            <button role="button" mat-raised-button color="primary">{{ 'button.login' | translate }}</button>
          </div><!--/col-12-->
        </ng-container>
        <div class="error" role="alert" tabindex="0" *ngIf="!mobileValidation.handshake && mobileValidation.errorState">{{ mobileValidation.errorText | translate }}</div>
        <div class="flex flex-notrows mobile-handshake" *ngIf="mobileValidation.handshake">
          <p>Kontrolli, et näed mobiiltelefoni ekraanil täpselt sama numbrit:</p>
          <h1>{{ mobileValidation.challengeID }}</h1>
          <p class="latter">Seejärel sisesta PIN1</p>
          <p class="latter light">Ootame Mobiil-ID vastust…</p>
        </div>
      </form>  
      <labeled-separator *ngIf="authMethods.basic" vertical=true label="{{ 'label.or' | translate }}"></labeled-separator>
      <form (ngSubmit)="submit()" class="login-method" *ngIf="authMethods.basic">
          <div class="col-12">
            <div class="round-input__wrapper" 
            [class.complete]="formModels.username && !usernameFocus"
            [class.errors]="!formModels.username && !usernameFocus && error">
              <span class="round-input__title">{{ 'login.username' | translate }}</span>
              <div class="round-input__field-wrapper">
                <input autocomplete="off" class="round-input__field" (focus)="usernameFocus = true" (blur)="usernameFocus = false" [class.focused]='usernameFocus' type="text" name="username" placeholder="{{ 'login.username' | translate }}" [(ngModel)]="formModels.username"/>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="round-input__wrapper" 
            [class.complete]="formModels.password && !passwordFocus"
            [class.errors]="!formModels.password && !passwordFocus && error">
              <span class="round-input__title">{{ 'login.password' | translate }}</span>
              <div class="round-input__field-wrapper">
                <input autocomplete="off" class="round-input__field" (focus)="passwordFocus = true" (blur)="passwordFocus = false" [class.focused]='passwordFocus' type="password" name="password" placeholder="{{ 'login.password' | translate }}" [(ngModel)]="formModels.password"/>
              </div>
            </div>
          </div>
          <div class="col-12 text-center">
            <button role="button" mat-raised-button color="primary">{{ 'button.login' | translate }}</button>
          </div><!--/col-12-->
      </form>
    </div>
  </div>
</div>