@import 'typography.scss';

$arrowsWidth: 50px;

::ng-deep {
	scrollableContent {
		// table[htm-table] {
			// width: auto;
    // }
    color: $black;
    .scrollable {
      &__wrapper {
        overflow-x: hidden;
        position: relative;
      }
    
      &__scroller {
        overflow-x: auto;
      }
    
      &__inline {
        display: inline-block;
      }
    }
    
    .arrow {
      position: absolute;
      z-index: 1;
      width: $arrowsWidth;
      bottom: 0;
      background: $aqua;
      top: 0;
      cursor: pointer;
      color: $blue;
      transform:translateX(0);
      transition:transform 0.25s, opacity 0.25s;
      &--left {
        left: 0;
        opacity:1;
        &.scrolling{
          icon{
            margin-left:-5px;
          }
        }
        &.disabled{
          transform:translateX(-10px);
        }
      }
    
      &--right {
        right: 0;
        opacity:1;
        &.scrolling{
          icon{
            margin-left:5px;
          }
        }
        &.disabled{
          transform:translateX(10px);
        }
      }

      &.disabled{
        opacity:0;
        pointer-events: none;
      }

      icon{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        text-align: center;
        line-height:40px;
        margin-top:-20px;
        transition: transform 0.25s, margin 0.25s;
        .icon{
          font-size:40px;
        }
      }
    }
	}
}
