@import 'colors.scss';
@import 'typography.scss';

:host {
	h2 {
		font-size: 24px;
		margin-bottom: 32px;
	}

	.certificate {
		font-family: 'Times New Roman', Times, serif;
		font-size: 12px;
    height: 1000px;
    width: 700px;
    border: 0.1rem solid $gray;
		display: flex;
		flex-direction: column;
		justify-content: center;
		line-height: normal;

		section {
			text-align: center;

			p {
				margin: 4px 0;
			}

			.big {
				font-size: 16px;
				font-weight: bold;
				margin-bottom: 0;
			}

			.small {
				font-size: 12px;
				margin-top: 0;
			}

			.mb-1 {
				margin-bottom: 16px;
			}

			&#government {
				img {
					width: 80px;
				}
			}

			&#results {
				margin-top: 32px;
				padding: 0 12%;

				p {
					text-align: left;
				}

				.grading {
					&__flex {
						display: flex;
						flex-direction: column;
						padding: 0 8px;
					}

					&__grade {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						line-height: 20px;

						span {
							text-align: left;
							width: 100%;
							display: block;

							&:last-child {
								max-width: 80px;
							}
						}
					}
				}
			}

			&#description {
				text-align: left;
				padding: 0 10%;

				.small-title {
					font-size: 10px;
					text-align: center;
					margin: 18px 0;
				}

				.description {
					font-size: 10px;
					line-height: 14px;
				}

				.slightly-bigger {
					margin-top: 18px;
				}
			}

			&#signature {
				text-align: right;
				margin-top: 30px;
				margin-right: 140px;
			}
		}
	}
}
