
@import 'typography.scss';
@import 'breakpoints.scss';

blockquote {
  position: relative;
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.33;
  color: $light-green;
  margin: 2rem 1rem 2rem 3.125rem;

  &:before{
    font-family: "iconfont";
    content: iconfont-item("iconfont/format-quote-outlined");
    font-size: 1.5rem;
    line-height: 1.125rem;
    position: absolute;
    left: -2.25rem;
    font-style: normal;
  }
}
