<breadcrumbs></breadcrumbs>
<div class="dashboard main-container">
  <div class="row">
    <div class="col-8 sm-12">
      <div class="block padding-block border-blue sm-top">
        <div class="block-title">{{ 'frontpage.dashboard_label' | translate | uppercase }}</div>

        <div class="dashboard__username"><a href="javascript:void(0)" attr.aria-label="{{'modal.modaler' | translate}}" (click)="dataModal()">{{ userData.username | titleCase }}</a></div>

        <div class="button-list">
          <ng-container *ngFor="let item of mainMenu[lang]">
              <a href="javascript:void(0)" class="view-item pointer text-center" [routerLink]="item.link" routerLinkActive="mat-menu-item-active" [routerLinkActiveOptions]="{exact: true}" attr.aria-label="{{ 'event.list' | translate }}: {{mainMenuCommonAttrs[item._id].label | translate}}">
                <span class="htm-icon">{{ mainMenuCommonAttrs[item._id].icon }}</span>
                <div class="title xxs-hide">{{ mainMenuCommonAttrs[item._id].label | translate }}</div>
              </a>
          </ng-container>
        </div><!--/button-list-->

        <router-outlet></router-outlet>
        
      </div>
    </div><!--/col-8-->
    <div class="col-4 sm-12">

     <favouritesList></favouritesList>

     <eventsList></eventsList>
      
    </div><!--/col-4-->
  </div><!--/row-->      
</div><!--/main-container-->