
<div class="main-container">
  <div class="row">
    <div class="col-8">
      <div class="block padding-block border-blue">
        <div class="block-title">Töölaud</div>
      </div>
    </div><!--/col-8-->
    <div class="col-4">

      <div class="block padding-block border-orange">
        <div class="block-title-big">Minu lemmikud</div>
        <p class="explain">Sul ei ole veel lemmikuid lisatud. Lemmikuid saad lisada teemalehtedel tähe ikoonil klikkides. </p>
      </div>

      <div class="block padding-block border-orange">
        <div class="block-title-big">Minu lemmikud</div>
        
        <ul>
          <li><a href=""><mat-icon>link</mat-icon>Siin on lehekülje pealkiri, mis võib olla ka väga pikk või isegi veel pikem</a></li>
          <li><a href=""><mat-icon>link</mat-icon>Mingi osav link</a></li>
          <li><a href=""><mat-icon>link</mat-icon>Vanaema moosi retsept</a></li>
          <li><a href=""><mat-icon>link</mat-icon>Siin on lehekülje pealkiri, mis võib olla ka väga pikk või isegi veel pikem</a></li>
          <li><a href=""><mat-icon>link</mat-icon>Mingi osav link</a></li>
          <li><a href=""><mat-icon>link</mat-icon>Vanaema moosi retsept</a></li>
          <li><a href=""><mat-icon>link</mat-icon>Siin on lehekülje pealkiri, mis võib olla ka väga pikk või isegi veel pikem</a></li>
          <li><a href=""><mat-icon>link</mat-icon>Mingi osav link</a></li>
          <li><a href=""><mat-icon>link</mat-icon>Vanaema moosi retsept</a></li>
          <li><a href=""><mat-icon>link</mat-icon>Siin on lehekülje pealkiri, mis võib olla ka väga pikk või isegi veel pikem</a></li>
        </ul>
      </div>

      
    </div><!--/col-4-->
  </div><!--/row-->      
</div><!--/main-container-->