<!--<breadcrumbs></breadcrumbs>-->
<div class="dashboard main-container">
  <div class="row">
    <div class="col-8">
      <div class="block padding-block border-blue">
        <div class="block-title">{{ 'frontpage.dashboard_label' | translate | uppercase }}</div>

        <div class="dashboard__username">{{ userData.username }}</div>

        <div class="button-list sm-hide">
          <ng-container *ngFor="let item of mainMenu[lang]">
              <div class="view-item pointer text-center" [routerLink]="item.link" routerLinkActive="mat-menu-item-active" [routerLinkActiveOptions]="{exact: true}" attr.aria-label="{{ 'event.list' | translate }}" tabindex="0" >
                <mat-icon>{{ mainMenuCommonAttrs[item._id].icon }}</mat-icon>
                <div class="title" >{{ mainMenuCommonAttrs[item._id].label | translate }}</div>
              </div>
          </ng-container>
         
        </div><!--/button-list-->

        <router-outlet></router-outlet>
      </div>
    </div><!--/col-8-->
    <div class="col-4">

     <favouritesList></favouritesList>
      
    </div><!--/col-4-->
  </div><!--/row-->      
</div><!--/main-container-->