@import "../../../assets/styles/typography.scss"; 
@import "../../../assets/styles/layout.scss"; 


.main-container{@include break-on(sm, min) {margin:0 1.5rem;}}
.dashboard{
  &__rolechange{white-space: nowrap;align-self: flex-start; line-height: 2;padding-left: .25rem;
    @include break-on(xxs, min) {align-self: center;line-height: 1.1875rem;}
  }
  &__username{width:100%; color:$blue; font-size:1.5rem; line-height:2rem; font-weight: 500;
    a {text-decoration: underline;
      &:hover, &:focus {text-decoration: none;}
    }
  }
  @include break-on(sm, min) {margin-top: .5rem;}
}
.button-list {display: flex;flex-basis: 100%;justify-content: center; margin-top: 1rem; 
  a {text-decoration: none;}
  @include break-on(sm, max) {margin-left: -1.5rem;margin-right: -1.5rem;}
  &.left-align {justify-content: flex-start;}
}
.view-item {width: 25%; margin: 0 auto;
  &.left-align {margin: 0;}
}

.htm-icon {margin: 1rem 0;
  @include break-on(xxs, min) {margin: 1rem 0 .5rem;}
}
.button-list .view-item.mat-menu-item-active { border-bottom: .1875rem solid $dark-orange;pointer-events: none;cursor: initial; 
  .htm-icon, .title {color: $black; }
}
.button-list .view-item.mat-menu-item-active:hover { border-bottom: .1875rem solid $dark-orange; 
  .htm-icon, .title {color: $black; }
}
.button-list .view-item .htm-icon { color: $blue; }
.button-list .view-item { border-bottom: .175rem solid $light-gray; 
	&:hover {border-bottom: 0.1875rem solid $light-gray;
		.htm-icon, .title {color: #0F7B8A;}
	}

}
.button-list .title { font-weight: 300; font-size: .875rem; line-height: 1.71; color: $blue; margin-bottom: .75rem; }

::ng-deep .mat-expansion-panel-body {overflow-y: auto;-ms-overflow-style: none;}

