@import "../../../assets/styles/typography.scss"; 
.frontpage {padding-bottom: 12rem;background-color: $light-gray;


  .main-container {
    @include break-on(sm, max) {
      @include break-on(xxs, min) {margin-left: auto!important;margin-right: auto!important;max-width: 590px;}
    }
  }
  @include break-on(sm, min) {margin-top: -$small;}
  .section {z-index: 1;
    .btn {@include break-on(xxs, max) {width: 100%;}z-index: 5;}
    .content {
      &--listItem {padding: $medium;border-radius: $half-gutter;background-color: #bee3e8;
        .title {line-height: 2;color: $black;padding-bottom: $half-gutter;}
        h1 {color: $blue;text-align: left;padding-bottom: $gutter;
        }
        .author {font-size: .875rem;line-height: 1.43;color: $black;}
        &--altered {background-color: $white;}
        .view-all a:hover {text-decoration: none;}
      }
      &--middle {margin: 0 auto;padding: $xxl 0;margin-bottom: -.125rem;
        @include break-on(sm, max) {position: relative;padding-top: $medium;
          @include break-on(xxs, min) {padding-top: 4rem;}
        }
        @include break-on(xxs, max) {padding-bottom: 0;}
        @include break-on(sm, min) {
          &.newsletter {position: relative;
            &:before {display:block;position: absolute;z-index: 3;top: -2.5rem;
              right: calc((100vw * 0.34 + 12rem) / 2);
              content: url(/assets/img/frontpage-satellite.svg);
              @include break-on (xl, min) {top: -2rem;right: calc((100vw * 0.58 + 12rem) / 2);}
              @include break-on (xxl, min) {top: -.75rem;}
            }
          }
        }
        @include break-on(sm, max) {
          &.newsletter {position: relative;
            &:before {display:block;position: absolute;z-index: 1;top: -1rem;
              left: calc((100vw - 590px + 2rem) / 2);
              content: url(/assets/img/frontpage-kuu.svg);
              @media (max-width: 720px) {top: -2rem;left: 2.5rem;}
              @include break-on(xxs, max) {top: -4rem;}
            }
            &:after {display: block;z-index: 3;position: absolute;bottom: -6rem;
              right: calc((100vw - 590px - 7rem) / 2);
              content: url(/assets/img/frontpage-rakett.svg);
              @media (max-width: 720px) {right: $medium;bottom: -7.25rem;}
            }
          }
        }
        @include break-on(xxs, min) {
          &.search {position: relative;
            &:before {display:block;position: absolute;z-index: 1;top: 2.75rem;
              right: calc((100vw - 590px - 7rem) / 2);
              content: url(/assets/img/frontpage-marss.svg);
              @media (max-width: 720px) {right: -$small;}
              @include break-on (sm, min) {top: 3.75rem;right: calc((100vw * 0.34) / 2 - 8.25rem);}
              @include break-on (xl, min) {top: 4.25rem;right: calc((100vw * 0.58) / 2 - 9.25rem);}
            }
          }
        }
      }
    }
    &--list {position: relative;margin: -8rem $medium -8rem;overflow:hidden;
      @include break-on(sm, max) {margin: -11rem 0 -10rem;}
      &:before {position: relative;z-index: -1;top: 5.75rem;left: $medium;
        content: url(/assets/img/frontpage-transparent-cloud.svg);
      }
      &:after {transform: rotate(180deg);display: block;z-index: -1;right: $medium;bottom: 9.25rem;position: relative;
        content: url(/assets/img/frontpage-transparent-cloud.svg);
      }
      &--item {@extend .section--list;margin: 0 $medium -2rem;
        @include break-on(sm, max) {margin: -3rem 0 -4.5rem;}
        &:before {content: url(/assets/img/frontpage-blue-cloud.svg);top: $small;left: $medium;
          @include break-on(sm, max) {left: -3rem;}
        }
        &:after {content: url(/assets/img/frontpage-blue-cloud.svg);bottom: $small;right: $medium;
          @include break-on(sm, max) {right: -3rem;}
        }
      }
      &.altered {@extend .section--list;margin: -2rem $medium -10rem;z-index: 0;
        &:before {content: url(/assets/img/frontpage-white-cloud.svg);top: $small;left: 4.5rem;
          @include break-on(sm, max) {left: -2rem;}
        }
        &:after {content: url(/assets/img/frontpage-white-cloud.svg);bottom: $small;right: 4.5rem;
          @include break-on(sm, max) {right: -2rem;}
        }
        @include break-on(sm, max) {margin: -2rem 0 -10rem;}
      }
    }
    &--news {padding: 0; margin-top: -5rem;
      @include break-on(sm, max) {padding: 4rem $medium $medium;}
      @include break-on(xxs, max) {padding: 0;padding-top: 4rem;}
    }
    &__link {color: $blue; font-size: $small; line-height: 1.375rem;text-align: center;margin-top: $gutter;}
    &__text {color: $black; font-size: $small; line-height: 1.375rem;text-align: center;max-width: 16rem;
      &--strong {color: $black;font-weight: 500;}
    }
    &--newsletter {position: relative;background-image: linear-gradient(#275489, #2E3374);margin-bottom: 9rem;margin-top: 9rem;
      &:before {display: block;z-index: 1;position: absolute;content: url(/assets/img/frontpage-upper-cloud.svg);top: -10.75rem;
        @include break-on(xl, min) {top: -7.75rem;}
      }
      &:after {display: block;z-index: 1;position: absolute;content: url(/assets/img/frontpage-lower-cloud.svg);}
    }
    &--search {position: relative;background-image: linear-gradient(#275489, #2E3374);margin-bottom: 10.5rem;margin-right: -.125rem;
      &:after {display: block;z-index: 1;position: absolute;left: -3rem;content: url(/assets/img/frontpage-lower-cloud.svg);}
    }
    &__content {width: 66%;box-sizing: border-box;
      @include break-on(sm, max) {width: 100%;
        @include break-on(xxs, min) {margin-left: auto!important;margin-right: auto!important;max-width: 590px;}
      }
      @include break-on(xl, min) {margin-left: auto!important;margin-right: auto!important;max-width: 1890px;width: 42%;}
      @include break-on(sm, min) {
        &.xl__additions {position: relative;
          &:before {display:block;position: absolute;z-index: 1;top: 3rem;left: -5rem;
            content: url(/assets/img/frontpage-kuu.svg);
            @include break-on(xxl, min) {left: -3.5rem;}
          }
          &:after {display:block;position: absolute;z-index: 3;bottom: -4.5rem;right: -8rem;
            content: url(/assets/img/frontpage-rakett.svg);
          }
        }
      }
      &.star__additions {position: relative;
        &:before {display:block;position: absolute;z-index: 1;top: -7rem;left: -7rem;
          content: url(/assets/img/frontpage-stars.svg);
          @include break-on(sm, max) {top: -5rem;left: -3rem;}
          @include break-on(xxs, max) {top: -9.5rem;left: -.5rem;transform: rotate(145deg);}
          @media (max-width: 370px) {top: -9.5rem;left: -2rem;transform: rotate(145deg);}
        }
        @include break-on(xxs, min) {
          &:after {display:block;position: absolute;z-index: 3;bottom: 0;right: -8rem;
            content: url(/assets/img/frontpage-stars.svg);
            @include break-on(sm, max) {bottom: -5rem;right: -4.5rem;}
            @media (max-width: 720px) {bottom: -6rem;right: -3.5rem;}
          }
        }
      }
    }
    &__form {border-radius: $half-gutter;padding: $medium;background: $white;
      @include break-on(sm, min) {&.focusedError {padding: $medium $medium $large $medium;}}
      @include break-on(xxs, max) {padding: $medium $small;}
      &.cloud__additions {position: relative;
        @include break-on(sm, min) {
          &:before {display:block;position: absolute;z-index: 3;top: 1rem;left: -8.5rem;
            content: url(/assets/img/frontpage-small-cloud-1.svg);
          }
        }
        &:after {display:block;position: absolute;z-index: 3;bottom: -6.75rem;right: -11rem;
          content: url(/assets/img/frontpage-small-cloud-2.svg);
        }
        @include break-on(sm, max) {
          @include break-on(xxs, min) {&:after {display: none;}}
        }
      }
    }
    &__block {display: flex;justify-content: center;align-items: center;box-sizing: border-box;flex-direction: column;
      &--newsletter {@extend .section__block;height: 100%;
        &.star__additions {position: relative;
          @include break-on(sm, min) {
            &:before {display:block;position: absolute;z-index: 1;top: -5.5rem;right: calc(100vw - 16.25rem - 28px - 17%);
              content: url(/assets/img/frontpage-stars.svg);
            }
            @include break-on(xl, min) {&:before{right: calc(100vw - 16.25rem - 28px - 29%);}}
          }
          &:after {display:block;position: absolute;z-index: 3;top: -4.5rem;left: calc(100vw - 13.25rem - 28px - 17%);
            content: url(/assets/img/frontpage-stars.svg);
          }
          @include break-on(xl, min) {&:after{left: calc(100vw - 13.25rem - 28px - 29%);}}
          @include break-on(sm, max) {
            &:after {
              @include break-on(xxs, min) {top: -7rem;left: auto;transform: rotate(-125deg);}
              @include break-on(xxs, max) {top: -7rem;left: calc(100vw - 1.5rem - 105px);transform: rotate(-125deg);}
            }
          }
        }
      }
      @include break-on(sm, max) {padding: 0 $medium;}
      &--search {@extend .section__block;height: 80%;position: relative;
        @include break-on(sm, max) {padding: 0 $medium;}
        @include break-on(xl, min) {height: 82%;}
        @include break-on(sm, min) {
          &:before {display:block;position: absolute;z-index: 1;top: 2.75rem;
            left: calc((100vw - 590px - 7rem) / 2);
            content: url(/assets/img/frontpage-astronaut.svg);
            @include break-on (sm, min) {top: -123px;left: calc((100vw * 0.34) / 2 - 2.25rem);}
            @include break-on (xl, min) {top: -123px;left: calc((100vw * 0.58) / 2 - 4.25rem);}
          }
        }
      }
    }
    img {margin-bottom: $gutter;}
    h1 {color: $black;text-align: center;padding-bottom: 1.75rem;
      @include break-on(sm, max) {padding-bottom: 0;}
    }
    h1.lead-title {text-align: center;width: 100%;box-sizing: border-box;padding-bottom: $xxl;color: $white;font-weight: 300;
      @include break-on(sm, max) {position: relative;padding-bottom: $medium;padding-top: 0;}
    }
    a.column-center {text-decoration: none;
      .section__link { text-decoration: underline; }
      &:hover .section__link { text-decoration: none; }
      &:visited .section__link { color: $visited; }
    }
    .column-center {display: flex;flex-direction: column;align-items: center;z-index: 2;
      img {width: 7.5rem;}
      @include break-on(sm, max) {
        @include break-on(xxs, min) {
          &.spaced {margin: $medium 0;}
        }
      }
    }
    .header h1 {padding-top: $medium;
      @include break-on(sm, max) {
        &.missing-content {margin-bottom: $large} 
      }
    } 
    .origin {
      @include break-on(sm, min) {
        &.extra-bottom {margin-bottom: $small;}
      }
      @include break-on(xxs, max) {
        .header {margin-bottom: $gutter;}
        .column-center {
          &:nth-child(n) {margin-bottom: $small;}
          &:last-child {margin-bottom: 0;}
        }
      }
    }
  }
  .altered {
    .section__form {padding: 0;}
    .content--listItem--altered .subtext {font-size: .875rem; line-height: 1.25rem;padding-top: 0;padding-bottom: $gutter;color: $dark-gray;
      &--bottom {font-size: .875rem; line-height: 1.25rem;margin-top: -$gutter; padding-bottom: 0;color: $dark-gray;}
    }
    .event__elem {margin-bottom: $large;}
  }
  .view-all {float: right;}
  .sm-show {
    &.sm {
      @include break-on(sm, max) {display: block !important;}
      @include break-on(xxs, max) {display: none !important;}
    }
    &.xxs {
      @include break-on(sm, max) {display: none !important;}
      @include break-on(xxs, max) {display: block !important;}
    }
  }
}

a h1 { text-decoration: none; }
a:hover h1 { text-decoration: underline; }
a.normal-text:visited h1, a.pointer:visited h1, a:visited h1 { color: $visited!important; }
a.pointer { text-decoration: none; }
::ng-deep .news-title { color: $black!important; }

