:host{
  display: block;
  ul, li {
    display: block;
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
    a {
      display: inline-block;
      margin-bottom:15px;
    }
    icon{
      display: inline-block;
      margin-top: -0.3125rem;
      margin-right: 0.4375rem;
      vertical-align: middle;
      .icon:before{
        font-size: 1.25rem;
      }
    }
  }
  li:last-child a {
    margin-bottom: 0;
  }
}
