<div class="events__list__recent">
  <div class="events__list__item register">
    <div *ngIf="content.entity.fieldEntryType == 'register' && content.entity.fieldRegistrationDate.entity && !content.entity.EventRegistrations">
      <div class="title"><h1>{{'event.entrance' | translate}}</h1></div>

      <div class="events__list__item__body">
        <span class="child" *ngIf="canRegister() == true" tabindex="0">
          {{'button.register' | translate}} {{'time.from' | translate | lowercase}} {{ content.entity.fieldRegistrationDate.entity.fieldRegistrationFirstDate.unix*1000 | date:'dd.MM.yyyy' }} {{'time.to' | translate | lowercase}} {{ content.entity.fieldRegistrationDate.entity.fieldRegistrationLastDate.unix*1000 | date:'dd.MM.yyyy' }}
        </span>
        <span class="error" *ngIf="canRegister() == 'ended'" role="alert">{{'event.registration_ended' | translate}}</span>
        <span class="error" *ngIf="canRegister() == 'not_started'" role="alert">{{'event.registration_not_started' | translate}}</span>
        <span class="error" *ngIf="canRegister() == 'full'" role="alert">{{'event.registration_full' | translate}}</span>
      </div>

      <ng-container *ngIf="content.entity.fieldEntryType == 'register' && canRegister() == true">
        <button mat-raised-button color="primary" (click)="openDialog()">{{'button.register' | translate}}</button>
        <div class="calendar__add"><a href="{{ iCalUrl }}{{ nid }}">{{'button.calendar_add' | translate}}</a></div>
      </ng-container>

    </div>
    <div *ngIf="content.entity.fieldEntryType && content.entity.fieldEntryType == 'free' && !content.entity.EventRegistrations">
      <div class="title"><h1>{{'event.entrance' | translate}}</h1></div>
      <div class="events__list__item__body">
        <span class="child" *ngIf="canRegister() !== 'ended'" >{{'event.free' | translate}}</span>
        <span class="error" *ngIf="canRegister() == 'ended'">{{'event.passed' | translate}}</span>
      </div>
    </div>
    <div *ngIf="content.entity.fieldEntryType && content.entity.fieldEntryType == 'invite'">
      <div class="title"><h1>{{'event.entrance' | translate}}</h1></div>
      <div class="events__list__item__body">
        <span class="child" *ngIf="canRegister() !== 'ended'">{{'event.invite' | translate}}</span>
        <span class="error" *ngIf="canRegister() == 'ended'" >{{'event.passed' | translate}}</span>
      </div>
    </div>
    <ng-container *ngIf="content.entity.EventRegistrations">
      <div class="title"><h1>{{'event.participant_list' | translate}}</h1></div>
      <button mat-raised-button color="primary" (click)="toggleParticipants(true)">{{'event.participants_list_view' | translate}}</button>
    </ng-container>
  </div>
</div>

<div class="events__list__recent">
  <map-wrapper [latitude]="parseFloat(map.lat)" [longitude]="parseFloat(map.lon)" zoom="11" *ngIf="map"></map-wrapper>
  <div class="events__list__item">
    <div class="title"><h1 aria-hidden="true">{{'event.place_and_time' | translate}}</h1></div>
    <div class="events__list__item__body">
      <div *ngIf="content.entity.fieldEventMainDate" class="child">
        <span>
          {{ 'time.'+ (content.entity.fieldEventMainDate.unix*1000 | weekday: "unix" | lowercase) | translate }}
          {{ content.entity.fieldEventMainDate.unix*1000 | date: "dd.MM yyy "}}
          {{ 'time.time_of_day' | translate }}
          {{ content.entity.fieldEventMainStartTime | unixToTime }} - {{ content.entity.fieldEventMainEndTime | unixToTime }}
        </span>
        <ng-container *ngIf="content.entity && content.entity.fieldEventDate">
          <div *ngFor="let item of content.entity.fieldEventDate">
            <ng-container *ngIf="item.entity.fieldEventDate">
              {{ 'time.'+ (item.entity.fieldEventDate.unix*1000 | weekday: "unix" | lowercase) | translate }}
              {{ item.entity.fieldEventDate.unix*1000 | date: "dd.MM yyy "}}
              {{ 'time.time_of_day' | translate }}
              {{ item.entity.fieldEventStartTime | unixToTime }} - {{ item.entity.fieldEventEndTime | unixToTime }}
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="events__list__item__footer" aria-hidden="true">
      {{ content.entity.fieldEventLocation ? content.entity.fieldEventLocation.name : '' }}
      <div *ngIf="content.entity.fieldEventLocationLink"><a [href]="content.entity.fieldEventLocationLink.uri" target="_blank" class="link-ellipsis">{{ content.entity.fieldEventLocationLink.uri | removeProtocol }}</a></div>
    </div> 
  </div>
</div>

<div class="events__list__recent" *ngIf="content.entity.fieldOrganizer ||
  content.entity.fieldContactPerson ||
  content.entity.fieldContactPhone ||
  content.entity.fieldContactEmail">
  <div class="events__list__item">
    <div class="title"><h1>{{'event.contact' | translate}}</h1></div>
    <div class="events__list__item__body">
      <div class="child" tabindex="0" role="text" attr.aria-label="{{'event.organizer' | translate}} {{ content.entity.fieldOrganizer ? content.entity.fieldOrganizer : '' }}">{{ content.entity.fieldOrganizer ? content.entity.fieldOrganizer : '' }}</div>
      <div class="child" tabindex="0" role="text" attr.aria-label="{{'event.person | translate'}} {{ content.entity.fieldContactPerson }}">{{ content.entity.fieldContactPerson }}</div>
      <div class="child" tabindex="0" role="text" attr.aria-label="{{'event.phone | translate'}} {{ content.entity.fieldContactPhone }}">{{ content.entity.fieldContactPhone }}</div>
      <a href="mailto:{{content.entity.fieldContactEmail}}" class="child" role="link"  attr.aria-label="{{'e-mail'}} {{ content.entity.fieldContactEmail }}">{{ content.entity.fieldContactEmail }}</a>
    </div>
  </div>
</div>

<div class="events__list__recent" *ngIf="content.entity.fieldPracticalInformation">
  <div class="events__list__item">
    <div class="title"><h1>{{'event.practical_info' | translate}}</h1></div>
    <div class="events__list__item__body" *ngIf="content.entity.fieldPracticalInformation" [innerHtml]="content.entity.fieldPracticalInformation.value"></div>
  </div>
</div>