<div class="events__list__recent">
  <div class="events__list__item register">
    <div class="title"><h1>{{'entrance' | translate}}</h1></div>
    <div class="events__list__item__body" *ngIf="content.entity.fieldEntryType == 'register' && content.entity.fieldRegistrationDate.entity">
      <span class="child" *ngIf="content.entity.fieldRegistrationDate.entity.fieldRegistrationLastDate.unix*1000 > unix">
        {{'register' | translate}} {{'from' | translate | lowercase}} {{ content.entity.fieldRegistrationDate.entity.fieldRegistrationFirstDate.unix*1000 | date:'dd.MM.yyyy' }} {{'to' | translate | lowercase}} {{ content.entity.fieldRegistrationDate.entity.fieldRegistrationLastDate.unix*1000 | date:'dd.MM.yyyy' }}
      </span>
      <span class="error" *ngIf="content.entity.fieldRegistrationDate.entity.fieldRegistrationLastDate.unix*1000 < unix">{{'register.ended' | translate}}</span>
    </div>
    <div class="events__list__item__body error" *ngIf="content.entity.fieldEntryType !== 'register'">
      <span class="error">{{'event.passed' | translate}}</span>
    </div>
    <ng-container *ngIf="content.entity.fieldEntryType == 'register' && content.entity.fieldRegistrationDate.entity && content.entity.fieldRegistrationDate.entity.fieldRegistrationLastDate.unix*1000 > unix">
      <button mat-raised-button color="primary" (click)="openDialog()">{{'register' | translate}}</button>
      <div class="calendar__add"><a href="javascript:void(0);">{{'calendar.add' | translate}}</a></div>
    </ng-container>
  </div>
</div>

<div class="events__list__recent">
  <div class="map-wrapper" *ngIf="map">
    <agm-map [latitude]="map.lat" [longitude]="map.lon" [zoom]="map.zoom"></agm-map>
    <a href="http://www.google.com/maps/place/{{ map.lat }},{{ map.lon }}" target="_blank"><mat-icon>launch</mat-icon><span>{{'map.closer' | translate}}</span></a>
  </div>
  <div class="events__list__item">
    <div class="title"><h1>{{'occurrence.location' | translate}}</h1></div>
    <div class="events__list__item__body">
      <div *ngFor="let item of content.entity.fieldEventDate" class="child">
        <span>
          {{ item.entity.fieldEventDate.unix*1000 | weekday: "unix"}}
          {{ item.entity.fieldEventDate.unix*1000 | date: "dd.MM yyy "}}
          Kell
          {{ item.entity.fieldEventStartTime | unixToTime }} - {{ item.entity.fieldEventEndTime | unixToTime }}
        </span>
      </div>
    </div>
    <div class="events__list__item__footer">{{ content.entity.fieldEventLocation ? content.entity.fieldEventLocation.name : '' }}</div>
  </div>
</div>

<div class="events__list__recent">
  <div class="events__list__item">
    <div class="title"><h1>{{'contact' | translate}}</h1></div>
    <div class="events__list__item__body">
      <div class="child">{{ content.entity.fieldEventLocation ? content.entity.fieldEventLocation.name : '' }}</div>
      <div class="child">{{ content.entity.fieldContactPerson }}</div>
      <div class="child">{{ content.entity.fieldContactPhone }}</div>
      <a href="javascript:void(0)" class="child">{{ content.entity.fieldContactEmail }}</a>
    </div>
  </div>
</div>

<div class="events__list__recent" *ngIf="content.entity.fieldPracticalInformation">
  <div class="events__list__item">
    <div class="title"><h1>{{'practical.info' | translate}}</h1></div>
    <div class="events__list__item__body" *ngIf="content.entity.fieldPracticalInformation" [innerHtml]="content.entity.fieldPracticalInformation.value"></div>
  </div>
</div>