<div class="events__list__recent">
  <div class="events__list__item register">
    <div *ngIf="content.entity.fieldEntryType == 'register' && content.entity.fieldRegistrationDate.entity && !content.entity.EventRegistrations">
      <div class="title"><h1>{{'event.entrance' | translate}}</h1></div>

      <div class="events__list__item__body">
        <span class="child" *ngIf="canRegister() == true">
          {{'button.register' | translate}} {{'time.from' | translate | lowercase}} {{ content.entity.fieldRegistrationDate.entity.fieldRegistrationFirstDate.unix*1000 | date:'dd.MM.yyyy' }} {{'time.to' | translate | lowercase}} {{ content.entity.fieldRegistrationDate.entity.fieldRegistrationLastDate.unix*1000 | date:'dd.MM.yyyy' }}
        </span>
        <span class="error" *ngIf="canRegister() == 'ended'">{{'event.registration_ended' | translate}}</span>
        <span class="error" *ngIf="canRegister() == 'not_started'">{{'event.registration_not_started' | translate}}</span>
        <span class="error" *ngIf="canRegister() == 'full'">{{'event.registration_full' | translate}}</span>
      </div>

      <ng-container *ngIf="content.entity.fieldEntryType == 'register' && canRegister() == true">
        <button mat-raised-button color="primary" (click)="openDialog()">{{'button.register' | translate}}</button>
        <div class="calendar__add"><a href="{{ iCalUrl }}{{ nid }}">{{'button.calendar_add' | translate}}</a></div>
      </ng-container>

    </div>
    <div *ngIf="content.entity.fieldEntryType && content.entity.fieldEntryType == 'free' && !content.entity.EventRegistrations">
      <div class="title"><h1>{{'event.entrance' | translate}}</h1></div>
      <div class="events__list__item__body">
        <span class="child" *ngIf="content.entity.fieldEventDate && content.entity.fieldEventDate[0].entity.fieldEventDate.unix*1000 > unix">{{'event.free' | translate}}</span>
        <span class="error" *ngIf="content.entity.fieldEventDate && content.entity.fieldEventDate[0].entity.fieldEventDate.unix*1000 < unix">{{'event.passed' | translate}}</span>
      </div>
    </div>
    <div *ngIf="content.entity.fieldEntryType && content.entity.fieldEntryType == 'invite' && !content.entity.EventRegistrations">
      <div class="title"><h1>{{'event.entrance' | translate}}</h1></div>
      <div class="events__list__item__body">
        <span class="child" *ngIf="content.entity.fieldEventDate && content.entity.fieldEventDate[0].entity.fieldEventDate.unix*1000 > unix">{{'event.invite' | translate}}</span>
        <span class="error" *ngIf="content.entity.fieldEventDate && content.entity.fieldEventDate[0].entity.fieldEventDate.unix*1000 < unix">{{'event.passed' | translate}}</span>
      </div>
    </div>
    <ng-container *ngIf="content.entity.EventRegistrations">
      <div class="title"><h1>{{'event.participant_list' | translate}}</h1></div>
      <button mat-raised-button color="primary" (click)="toggleParticipants(true)">{{'event.participants_list_view' | translate}}</button>
    </ng-container>
  </div>
</div>

<div class="events__list__recent">
  <map-wrapper [latitude]="parseFloat(map.lat)" [longitude]="parseFloat(map.lon)" zoom="11" *ngIf="map"></map-wrapper>
  <div class="events__list__item">
    <div class="title"><h1>{{'event.place_and_time' | translate}}</h1></div>
    <div class="events__list__item__body">
      <div *ngFor="let item of content.entity.fieldEventDate" class="child">
        <span>
          {{ 'time.'+ (item.entity.fieldEventDate.unix*1000 | weekday: "unix" | lowercase) | translate }}
          {{ item.entity.fieldEventDate.unix*1000 | date: "dd.MM yyy "}}
          {{ 'time.time_of_day' | translate }}
          {{ item.entity.fieldEventStartTime | unixToTime }} - {{ item.entity.fieldEventEndTime | unixToTime }}
        </span>
      </div>
    </div>
    <div class="events__list__item__footer">
      {{ content.entity.fieldEventLocation ? content.entity.fieldEventLocation.name : '' }}
      <div *ngIf="content.entity.fieldEventLocationLink"><a [href]="content.entity.fieldEventLocationLink.uri">{{ content.entity.fieldEventLocationLink.uri | removeProtocol }}</a></div>
    </div> 
  </div>
</div>

<div class="events__list__recent" *ngIf="content.entity.fieldOrganizer ||
  content.entity.fieldContactPerson ||
  content.entity.fieldContactPhone ||
  content.entity.fieldContactEmail">
  <div class="events__list__item">
    <div class="title"><h1>{{'event.contact' | translate}}</h1></div>
    <div class="events__list__item__body">
      <div class="child">{{ content.entity.fieldOrganizer ? content.entity.fieldOrganizer : '' }}</div>
      <div class="child">{{ content.entity.fieldContactPerson }}</div>
      <div class="child">{{ content.entity.fieldContactPhone }}</div>
      <a href="javascript:void(0)" class="child">{{ content.entity.fieldContactEmail }}</a>
    </div>
  </div>
</div>

<div class="events__list__recent" *ngIf="content.entity.fieldPracticalInformation">
  <div class="events__list__item">
    <div class="title"><h1>{{'event.practical_info' | translate}}</h1></div>
    <div class="events__list__item__body" *ngIf="content.entity.fieldPracticalInformation" [innerHtml]="content.entity.fieldPracticalInformation.value"></div>
  </div>
</div>