<div><breadcrumbs></breadcrumbs></div>
<div class="sm-show text-right filter-control">
  <a href="javascript:void(0);" (click)="showFilter = !showFilter">
    <span *ngIf="!showFilter">{{ 'button.filter' | translate }}</span>
    <span *ngIf="showFilter">{{ 'button.filter_close' | translate }}</span>
  </a> 
</div>
<form (submit)="filterSubmit($event)" class="filter-wrapper" *ngIf="showFilter">
  <div class="main-container">
    <div class="row form-first-row" [class.short-filter]="!filterFull">
      <div class="col-4 sm-12 form-col">
        <div class="round-input__wrapper" [class.complete]="filterFormItems.titleValue">
          <span class="round-input__title">{{ 'search.keyword' | translate }}</span>
          <div class="round-input__field-wrapper">
            <input class="round-input__field" placeholder="{{ 'search.keyword' | translate }}" [(ngModel)]='filterFormItems.titleValue' name="titleValue" />
          </div>
        </div><!--/round-inpuit__wrapper-->
      </div><!--/col-4-->

      <div class="col-5 sm-12 form-col">
        <div class="round-input__wrapper">
          <mat-form-field>
            <mat-select [multiple]="true" placeholder="{{ 'frontpage.dashboard_tabs_certificates_field' | translate }}" [(ngModel)]='filterFormItems.oskaFieldValue' name="type" (openedChange)="oskaFieldValueSort($event)">
              <!-- <mat-option>{{ 'button.all' | translate }}</mat-option> -->
              <mat-option *ngFor="let type of FilterOptions.oskaFieldValue" [value]="type.nid">
                {{type.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div><!--/col-4-->

      <div class="col-3 align-end text-right sm-12 inline-flex form-col" *ngIf="!filterFull">
        <div class="align-center filter-state sm-hide">       
          <a role="button" href="javascript:void(0);" (click)="filterFull = !filterFull" aria-expanded="false">
            <span>{{ 'button.search_detailed' | translate }}</span>
          </a>
        </div>
        <div class="button-row">
          <button role="button" mat-raised-button color="primary">{{ 'button.search' | translate }}</button>
        </div>
      </div><!--/col-3-->
    </div><!--/row-->
    <ng-container *ngIf="filterFull">
      <div class="row form-additional-row">
        <div class="col-4 sm-12 form-col">
          <div class="round-input__wrapper" [class.complete]="filterFormItems.fillingBarValue">
            <mat-form-field *ngIf="FilterOptions.fillingBarValues">
              <mat-select [multiple]="true" placeholder="{{ 'oska.competition' | translate }}" [(ngModel)]='filterFormItems.fillingBarValues' name="fillingBarValues" (openedChange)="fillingBarValuesSort($event)">
                <!-- <mat-option>{{ 'button.all' | translate }}</mat-option> -->
                <mat-option *ngFor="let fillingBarValue of FilterOptions.fillingBarValues" [value]="fillingBarValue">
                  {{getCompetitionLabel(fillingBarValue) | translate}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div><!--/round-inpuit__wrapper-->
        </div><!--/col-4-->
        <div class="col-5 sm-12 form-col">
          <div class="round-input__wrapper">
            <mat-form-field *ngIf="FilterOptions" >
              <mat-select placeholder="{{ 'button.sort' | translate }}" [(ngModel)]='filterFormItems.sortedBy' name="sortedBy">
                <mat-option>{{ 'button.all' | translate }}</mat-option>
                <mat-option  *ngFor="let sort of FilterOptions.sortedBy" [value]="sort.id">
                  {{sort.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div><!--/col-9-->
      </div>
      <div class="row form-additional-row" *ngIf="filterFull && FilterOptions.oskaFixedLabels">
        <div class="col-9 sm-12 form-col">
          <div class="round-input__wrapper">
            <mat-form-field *ngIf="FilterOptions" >
              <mat-select (openedChange)='oskaFixedLabelsSort($event)'[multiple]='true' placeholder="{{ 'oskaProfessions.tags' | translate }}" [(ngModel)]='filterFormItems.oskaFixedLabels' name="fixedLabels">
                <mat-option  *ngFor="let label of FilterOptions.oskaFixedLabels" [value]="label.entityId">
                  {{label.entityLabel}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-3 align-end text-right sm-12 inline-flex form-col">
            <div class="align-center filter-state sm-hide">       
              <a role="button" href="javascript:void(0);" (click)="filterFull = !filterFull" aria-expanded="true">
                <span>{{ 'button.search_brief' | translate }}</span>
              </a>
            </div>
            <div class="button-row">
              <button role="button" mat-raised-button color="primary">{{ 'button.search' | translate}}</button>
            </div>
          </div><!--/col-3-->
      </div>
    </ng-container>
  </div>
</form>
<div class="studyProgramme main-container">
  <div class="studyProgramme__list-head">
    <div class="studyProgramme__head" id="searchHead">
      <div class="studyProgramme__title text-left">{{ 'oskaProfessions.label' | translate | uppercase }}</div>
      <div *ngIf="hasComparisonPage" class="button-list">
        <div role="tab" class="view-item pointer active" attr.aria-label="{{ 'oskaProfessions.label' | translate }} {{ 'oska.view' | translate }}" tabindex="0">
          <span aria-hidden="true" class="htm-icon">apps</span>
          <div aria-hidden="true" class="title" >{{ 'oskaProfessions.label' | translate }}</div>
        </div>
        <div role="tab" class="view-item pointer" (keyup.enter)="changeView()" (click)="changeView()" attr.aria-label="{{ 'oska.data' | translate }} {{ 'oska.view' | translate }}" tabindex="0"> 
          <span aria-hidden="true" class="htm-icon">compare_arrows</span>
          <div aria-hidden="true" class="title">{{ 'oska.data' | translate }}</div>
        </div>
      </div>
    </div>
  </div><!--/studyProgramme__list-head-->

  <div class="spinner-wrapper" *ngIf="!data"><loader></loader></div>

  <div role="alert" *ngIf="data && data.length == 0" class="no-results">
    {{ errMessage ? errMessage : 'news.no_results' | translate }}
  </div>

  <div #content *ngIf="data && data.length > 0">
  
    <ng-container *ngFor="let item of data; let i = index">
      <ng-container *ngIf="item !== null">
      <div class="studyProgramme__item" *ngIf="i < listLimit">
        <div class="studyProgramme__item__titlebox">
          <div class="col-grow">
            <!-- <div class="studyProgramme__item__head sm-hide">{{ 'oskaProfessions.label' | uppercase }}</div> -->
            <span>
              <a id="{{i}}" href="javascript:void();" attr.aria-label="{{ item.title }}" [routerLink]="item.entityUrl.path" class="studyProgramme__item__title"><h1>{{ item.title }}</h1></a>
              <span role="term" attr.aria-label="{{item.fieldFixedLabel.entity.entityLabel}}" class="important-pill" *ngIf="item.fieldFixedLabel && item.fieldFixedLabel.entity">{{item.fieldFixedLabel.entity.entityLabel}}</span>
            </span>
          </div><!--col-9-->
          <div class="col sm-hide">
            <compare [id]="item.nid" sessionStorageKey="oskaProfessions.compare"></compare>
          </div>
        </div>
        <div class="inline__items sm-hide" *ngIf="item.fieldSidebar && item.fieldSidebar.entity && item.fieldSidebar.entity.fieldOskaField && item.fieldSidebar.entity.fieldOskaField[0] && item.fieldSidebar.entity.fieldOskaField[0].entity">
          <ng-container *ngFor="let elem of item.fieldSidebar.entity.fieldOskaField; let ind = index; let last = last;">
            <ng-container *ngIf="ind < 2 && elem.entity">
              <span aria-hidden="true" class="bar" *ngIf="elem.entity.title && ind !== 0">|</span>
              <div class="item item--inline">
                <a href="javascript:void(0)" tabindex="0" attr.aria-label="{{ 'oska.title_field' | translate }} {{ elem.entity.title }}" [routerLink]="elem.entity.entityUrl.path">{{ elem.entity.title }}</a>
              </div>
            </ng-container>
          </ng-container>
        </div>
        <div class="inline__items sm-hide"
          *ngIf="(item.reverseOskaMainProfessionOskaFillingBarEntity.entities && item.reverseOskaMainProfessionOskaFillingBarEntity.entities[0] && item.reverseOskaMainProfessionOskaFillingBarEntity.entities[0].value)
            || (item.reverseOskaMainProfessionOskaIndicatorEntity.entities && item.reverseOskaMainProfessionOskaIndicatorEntity.entities.length)">
          <ng-container *ngIf="item.reverseOskaMainProfessionOskaFillingBarEntity.entities && item.reverseOskaMainProfessionOskaFillingBarEntity.entities[0] && item.reverseOskaMainProfessionOskaFillingBarEntity.entities[0].value
            && item.reverseOskaMainProfessionOskaFillingBarEntity.entities[0].value > 0 && item.reverseOskaMainProfessionOskaFillingBarEntity.entities[0].value < 6">
            <span class="item">{{ 'oska.competition' | translate | titleCase }}: <span class="dark">{{ getCompetitionLabel(item.reverseOskaMainProfessionOskaFillingBarEntity.entities[0].value) | translate }}</span></span>
          </ng-container>
          <ng-container *ngIf="item.reverseOskaMainProfessionOskaIndicatorEntity.entities && item.reverseOskaMainProfessionOskaIndicatorEntity.entities.length">
            <ng-container *ngFor="let elem of indicatorValues(item.reverseOskaMainProfessionOskaIndicatorEntity.entities); let ind = index;">
              <ng-container *ngIf="elem.oskaId">
                <span class="bar" *ngIf="(item.reverseOskaMainProfessionOskaFillingBarEntity.entities && item.reverseOskaMainProfessionOskaFillingBarEntity.entities[0] && item.reverseOskaMainProfessionOskaFillingBarEntity.entities[0].value
                  && item.reverseOskaMainProfessionOskaFillingBarEntity.entities[0].value > 0 && item.reverseOskaMainProfessionOskaFillingBarEntity.entities[0].value < 6) || ind === 1">|</span>
                <span class="item">{{ elem.oskaIndicator | titleCase }}: <span *ngIf="elem.oskaId === 1" class="dark">{{ elem.value | localeNumber }} </span> <span *ngIf="elem.oskaId === 3" class="dark">{{ elem.value | currency:"EUR" }} </span></span>
                <!-- <span class="item">{{ elem.oskaIndicator | titleCase }}: 
                  <span *ngIf="elem.oskaId === 1" class="dark">{{ elem.value }}</span>
                  <span *ngIf="elem.oskaId === 3" class="dark">{{ formatNumber(elem.value, 'et') }} €</span>
                </span> -->
              </ng-container>
             
            </ng-container>
          </ng-container>
        </div>
      </div><!--/studyProgramme__item-->
      </ng-container>
    </ng-container><!--/list repeat-->
  </div><!--/list-->

</div><!--/studyProgramme-->
  
<div class="text-center actions snackBar">
  <ng-container *ngIf="!listEnd && data && data.length">
    <loader *ngIf="loading"></loader>
    <button role="button" mat-raised-button color="primary" (click)="loadMore()" *ngIf="!loading" attr.aria-label="{{'button.load_more' | translate}}">
      {{ "button.load_more" | translate }}
    </button>
  </ng-container>
</div>
<div class="search__alert" role="alert" *ngIf="!loading">
  <span class="search__alert--elem">{{data.length}} {{'search.suggestions_available' | translate}}</span>
</div>