@import "../../../assets/styles/typography.scss";

.schools {padding-bottom: $xxl;background: $white;border-top: $gutter solid $light-blue;
  @include break-on(sm, min) {border-radius: $half-gutter; margin-left: $medium; margin-right: $medium;margin-bottom: $medium;padding-bottom: 0;}
  .months {margin-top: $medium;
    @include break-on(sm, min) {margin-top:-$medium;}
  }
  &__head {display: flex; border-bottom: .0625rem solid $gray;}
  &__title {font-size: $small;line-height: 2;color: $dark-gray; padding: 0.9375rem 1.5rem; flex-basis: 50%;}
  .view-item {height: 100%;width: 5.75rem;text-align: center;border-left: .0625rem solid $gray;cursor:pointer;color:$blue;
    .htm-icon{margin-top: 0.5rem;}
    .title {font-size: .875rem;}
    &.active {color: $black;
      &:after {content: '';height: .1875rem;background-color: $dark-orange;display: block;position: relative;top: $gutter;}}
  }
  &__item {padding:$medium; border-bottom: solid 0.0625rem $gray; display:flex; flex-wrap: wrap;
    &__title{width:100%; font-size:1.5rem; line-height:2rem; text-decoration: none; font-weight: 500;
      &:hover{text-decoration: none;}
    }
    &__col{width:50%; box-sizing: border-box;
      &:first-child{padding-right:1.5rem;}
      &:last-child{padding-left:1.5rem;}
      p{color:$dark-gray; font-size:0.875rem; line-height:20px; margin:0.25rem 0;}
    }
    &__head {font-size: .875rem;line-height: 1.25rem;color: $dark-gray;padding-bottom: $half-gutter;}
    p:first-child{margin-top:0;}
    p:last-child{margin-bottom:0;}
    h1 {width: 100%;}
    @include break-on(sm, min) {padding:$small $medium $small $medium;}
  }
  .spinner-wrapper{padding-bottom:1.25rem;}
}
.button-list {display: flex;flex-basis: 50%;justify-content: flex-end;}
.actions{margin-bottom:$xxl; padding:0 1.5rem;margin-top: -$medium;
  @include break-on(sm, min) {margin-top: 0;}
}
.map--wrapper {padding: $medium 0 $xxl;
  @include break-on(sm, min) {padding: $small $medium $xxl;}
}

