<breadcrumbs></breadcrumbs>

<div class="sm-show text-right filter-control">
  <a href="javascript:void(0);" (click)="showFilter = !showFilter">
    <span *ngIf="!showFilter">{{ 'button.filter' |translate }}</span>
    <span *ngIf="showFilter">{{ 'button.filter_close' | translate }}</span>
  </a> 
</div>

<form (submit)="filterSubmit($event)" class="filter-wrapper" *ngIf="showFilter">
  <div class="main-container">
    <div class="row form-first-row" [class.short-filter]="!filterFull">
      <div class="col-4 sm-12 form-col">
        <div class="round-input__wrapper" [class.complete]="filterFormItems.title">
          <span class="round-input__title">{{ 'school.name' | translate }}</span>
          <div class="round-input__field-wrapper">
            <input class="round-input__field" placeholder="{{ 'school.name' | translate }} " [(ngModel)]='filterFormItems.title' name="title" />
          </div>
        </div><!--/round-inpuit__wrapper-->
      </div><!--/col-4-->
      <div class="col-5 sm-12 form-col">
        <div class="round-input__wrapper" [class.complete]="filterFormItems.location">
          <span class="round-input__title">{{ 'school.location' | translate }}</span>
          <div class="round-input__field-wrapper">
            <input class="round-input__field" placeholder="{{ 'school.location' | translate }} " [(ngModel)]='filterFormItems.location' name="location" />
          </div>
        </div><!--/round-inpuit__wrapper-->
      </div><!--/col-4-->
  
      <div class="col-3 align-end text-right sm-12 inline-flex form-col" *ngIf="!filterFull">
        <div class="align-center filter-state sm-hide">       
          <a role="button" tabindex="0"  href="javascript:void(0);"  (click)="filterFull = !filterFull" aria-expanded="false">
            <span>{{ 'button.search_detailed' | translate }}</span>
          </a>
        </div>
        <div class="button-row">
          <button role="button" mat-raised-button color="primary">{{ 'button.search' | translate }}</button>
        </div>
      </div><!--/col-3-->
    </div><!--/row-->
  
    <div class="row form-additional-row" *ngIf="filterFull">
      <div class="col-4 sm-12 form-col">
        <div class="round-input__wrapper">
          <mat-form-field>
            <mat-select placeholder="{{ 'school.institution_type' | translate }}" [(ngModel)]="filterFormItems.type" name="type">
              <mat-option>{{ 'button.all' | translate }}</mat-option>
              <ng-container *ngFor="let item of typeOptions">
                <mat-option *ngIf="item.parentId == null" [value]="item.entityId">
                  {{ item.entityLabel }}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div><!--/round-input__wrapper-->
        
      </div>

      <div class="col-5 sm-12 form-col">
        <div class="round-input__wrapper" [class.disabled]="getSubTypes('type').length == 0">
          <mat-form-field>
            <mat-select [placeholder]="getSubTypes('type').length !== 0 ? translate.get('school.institution_sublevel')['value'] : translate.get('school.institution_select_type')['value']" [(ngModel)]="filterFormItems.subtype" name="subtype">
              <mat-option *ngIf="getSubTypes('type').length !== 0">{{ 'button.all' | translate }}</mat-option>
              <mat-option *ngFor="let item of getSubTypes('type')" [value]="item.entityId">
                {{ item.entityLabel }}
              </mat-option>

            </mat-select>
          </mat-form-field>
        </div><!--/round-input__wrapper-->
      </div><!--/col-5-->
    </div>
    <div class="row form-additional-row" *ngIf="filterFull">
      <div class="col-4 sm-12 form-col">
        <div class="round-input__wrapper">
          <mat-form-field>
            <mat-select placeholder="{{ 'school.language' | translate }}" [(ngModel)]="filterFormItems.language" name="language">
              <mat-option>{{ 'button.all' | translate }}</mat-option>
              <mat-option *ngFor="let item of languageOptions" [value]="item.entityId">
                {{ item.entityLabel }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div><!--/round-input__wrapper-->
      </div><!--/col-4-->

      <div class="col-5 sm-12 form-col">
        <div class="round-input__wrapper">
          <mat-form-field>
            <mat-select placeholder="{{ 'school.ownership' | translate }}" [(ngModel)]="filterFormItems.ownership" name="ownership">
              <mat-option>{{ 'button.all' | translate }}</mat-option>
              <mat-option *ngFor="let item of ownershipOptions" [value]="item.entityId">
                {{ item.entityLabel }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div><!--/round-input__wrapper-->
      </div><!--/col-5-->
    </div>
    <div class="row form-additional-row" *ngIf="filterFull">
      <div class="col-9 form-col">
        <div class="custom-checkbox">
          <mat-checkbox [(ngModel)]="filterFormItems.specialClass" name="specialClass">{{ 'school.special_needs_short' | translate }}</mat-checkbox>
        </div><!--/custom-checkbox-->
        <div class="custom-checkbox">
          <mat-checkbox [(ngModel)]="filterFormItems.studentHome" name="studentHome">{{ 'school.dormitory' | translate}}</mat-checkbox>
        </div><!--/custom-checkbox-->
      </div><!--/col-9-->
      <div class="col-3 align-end text-right sm-12 inline-flex form-col">
        <div class="align-center filter-state sm-hide">       
          <a role="button" href="javascript:void(0);" (click)="filterFull = !filterFull" aria-expanded="true">
                       <span>{{ 'button.search_brief' | translate}}</span>
          </a>
        </div>
        <div class="button-row">
          <button role="button" mat-raised-button color="primary">{{ 'button.search' | translate }}</button>
        </div>
      </div><!--/col-3-->
    </div><!--/row-->
  </div>
</form>

<div class="schools main-container">
  <div class="schools__list-head">
    <div class="schools__head">
      <div class="schools__title text-left">{{ 'school.label' | translate | uppercase }}</div>      
      <div class="button-list text-right">
        <div tabindex="0" class="view-item" (click)="changeView('list')" [class.active]="view === 'list'">
          <span class="htm-icon">list</span>
          <div class="title">{{ 'school.list' | translate }}</div>
        </div>
        <div tabindex="0" class="view-item" (click)="changeView('map')" [class.active]="view === 'map'">
          <span class="htm-icon">location_on</span>
          <div class="title">{{ 'school.map' | translate }}</div>
        </div>
      </div><!--/button-list-->
    </div>
  </div><!--/schools__list-head-->

  
  <div class="spinner-wrapper" *ngIf="!list"><mat-spinner></mat-spinner></div>

  <div *ngIf="list && list.length == 0 && view == 'list'" role="alert" class="no-results">
    {{ 'school.no_results' | translate }}
  </div>

  <div *ngIf="list && list.length > 0 && view == 'list'">
    <ng-container *ngFor="let item of list">
      <div class="schools__item">
          <div class="schools__item__head sm-hide" *ngIf="item.FieldEducationalInstitutionTy">{{ item.FieldEducationalInstitutionTy }}</div>
          <a href="javascript:void();" [routerLink]="item.EntityPath" class="schools__item__title"><h1>{{ item.FieldSchoolName }}</h1></a>
          <div class="inline__items sm-hide">
            <span class="item" attr.aria-label="{{'event.address'}} {{ item.FieldAddress }}" *ngIf="item.FieldAddress">{{ item.FieldAddress }}</span>
            <span class="bar" *ngIf="item.FieldSchoolWebpageAddress">|</span>
            <span class="item" *ngIf="item.FieldSchoolWebpageAddress">
              <a attr.aria-label="{{'event.webpage'}} {{ item.FieldSchoolWebpageAddress | removeProtocol }}" href="{{ item.FieldSchoolWebpageAddress | url }}" target="_blank">{{ item.FieldSchoolWebpageAddress | removeProtocol }}</a>
            </span>
            <span class="bar" *ngIf="item.FieldSchoolContactPhone">|</span>
            <span attr.aria-label="{{'event.phone'}} {{ item.FieldSchoolContactPhone }}" class="item" *ngIf="item.FieldSchoolContactPhone">{{ item.FieldSchoolContactPhone }}</span>
            <span class="bar" *ngIf="item.FieldSchoolContactEmail">|</span>
            <span class="item" *ngIf="item.FieldSchoolContactEmail">
              <a  attr.aria-label="{{'E-mail'}} {{ item.FieldSchoolContactEmail}}" href="mailto:{{ item.FieldSchoolContactEmail}}">{{ item.FieldSchoolContactEmail}}</a>
            </span>
          </div>
      </div><!--/schools__item-->
    </ng-container><!--/list repeat-->
  </div><!--/list-->

  <ng-container *ngIf="view == 'map'">
    <div class="map--wrapper">
      <agm-map (mapReady)="mapReady($event)" style="height:525px" *ngIf="list" maxZoom="16" [styles]="mapOptions.styles">
        <agm-marker-cluster [styles]="mapOptions.clusterStyles" maxZoom="15">
          <agm-marker [iconUrl]="mapOptions.icon" *ngFor="let marker of list" [latitude]="parseFloat(marker.Lat)"  [longitude]="parseFloat(marker.Lon)" >
            <agm-snazzy-info-window [closeWhenOthersOpen]="true" maxHeight="9999">
              <ng-template>
                <p class="title">{{ marker.FieldSchoolName }}</p>
                <p *ngIf="marker.FieldAddress">{{ 'school.legal_address' | translate }}: <b>{{ marker.FieldAddress }}</b></p>
                
                <p *ngIf="marker.FieldEducationalInstitutionTy">{{ 'school.institution_type' | translate }}: <b>{{ marker.FieldEducationalInstitutionTy }}</b></p>
                <p *ngIf="marker.FieldSchoolContactPhone || marker.FieldSchoolContactEmail" >{{ 'school.contact_info' | translate }}: <b *ngIf="marker.FieldSchoolContactPhone">{{ marker.FieldSchoolContactPhone }}</b><span *ngIf="marker.FieldSchoolContactPhone && marker.FieldSchoolContactEmail">,</span> <a *ngIf="marker.FieldSchoolContactEmail" href="mailto:{{ marker.FieldSchoolContactEmail}}"><b>{{ marker.FieldSchoolContactEmail}}</b></a></p>

                <p *ngIf="marker.FieldSchoolWebpageAddress">{{ 'school.website' | translate }}: <a href="{{ marker.FieldSchoolWebpageAddress | url }}" target="_blank"><b>{{ marker.FieldSchoolWebpageAddress | removeProtocol }}</b></a></p>
                <a [routerLink]="marker.EntityPath" class="button">{{ 'button.view_more' | translate }}</a>
              </ng-template>
            </agm-snazzy-info-window>
          </agm-marker>
        </agm-marker-cluster>
      </agm-map>
    </div>
  </ng-container>

</div><!--/schools-->

<div class="text-center actions" *ngIf="!listEnd && view == 'list' && list">
  <mat-spinner *ngIf="loading" diameter="20" style="margin:0 auto;"></mat-spinner>
  <button role="button" mat-raised-button color="primary" (click)="loadMore()" *ngIf="!loading">
    {{ "button.load_more" | translate }}
  </button>
</div><!--/text-center-->
