<breadcrumbs></breadcrumbs>

<div class="sm-show text-right filter-control">
  <a href="javascript:void(0);" (click)="showFilter = !showFilter">
    <span *ngIf="!showFilter">Filtreeri</span>
    <span *ngIf="showFilter">Sulge filter</span>
  </a> 
</div>

<form (submit)="filterSubmit()" class="filter-wrapper" *ngIf="showFilter">
  <div class="main-container">
    <div class="row">
      <div class="col-4 sm-12">
        <div class="round-input__wrapper" [class.complete]="filterFormItems.title">
          <span class="round-input__title">{{ 'search.news.name' | translate }}</span>
          <div class="round-input__field-wrapper">
            <input class="round-input__field" placeholder="{{ 'search.news.name' | translate }} " [(ngModel)]='filterFormItems.title' name="title" />
          </div>
        </div><!--/round-inpuit__wrapper-->
      </div><!--/col-4-->
  
      <div class="col-3 align-end text-right sm-12 inline-flex sm-hide" *ngIf="!filterFull">
        <div class="align-center filter-state sm-hide">       
          <a href="javascript:void(0);"  (click)="filterFull = !filterFull">
            <span class="md-hide">Täpsem otsing</span>
            <span class="md-show">Täpne</span>
          </a>
        </div>
        <div class="button-row">
          <button mat-raised-button color="primary">Otsi</button>
        </div>
      </div><!--/col-3-->
    </div><!--/row-->
  
    <div class="row" *ngIf="filterFull">
      <div class="col-9 sm-12">
  
        <div class="ng-select__wrapper">
          <span class="ng-select__title" [class.exists]="filterFormItems.types && filterFormItems.types.length">{{ 'news.tag' | translate }}</span>
          <ng-select
          [class.exists]="filterFormItems.types && filterFormItems.types.length"
          [items]="tags | async"
          [multiple]="true"
          [loading]="loading"
          bindLabel="name"
  
          name="types"
          [(ngModel)]="filterFormItems.types"
          placeholder="{{ 'news.tag' | translate }}"
          (clear)="clearField('types')"
          [dropdownPosition]="'bottom'"></ng-select>      
        </div>
        
      </div>
      <div class="col-3 align-end text-right sm-12 inline-flex">
        <div class="align-center filter-state sm-hide">       
          <a href="javascript:void(0);" (click)="filterFull = !filterFull">
            <span class="md-hide">Kitsam otsing</span>
            <span class="md-show">Kitsas</span>
          </a>
        </div>
        <div class="button-row">
          <button mat-raised-button color="primary">Otsi</button>
        </div>
      </div><!--/col-3-->
    </div><!--/row-->
  </div>
</form>

<div class="schools main-container">
  <div class="schools__list-head">
    <div class="schools__head">
      <div class="schools__title text-left">{{ 'schools' | translate | uppercase }}</div>
      <div class="button-list text-right">
        <div class="view-item" (click)="changeView('list')" [class.active]="view === 'list'">
          <mat-icon>list</mat-icon>
          <div class="title">{{ 'list' | translate }}</div>
        </div>
        <div class="view-item" (click)="changeView('map')" [class.active]="view === 'map'">
          <mat-icon>location_on</mat-icon>
          <div class="title">{{ 'map' | translate }}</div>
        </div>
      </div><!--/button-list-->
    </div>
  </div><!--/schools__list-head-->

  
  <div class="spinner-wrapper" *ngIf="!list"><mat-spinner></mat-spinner></div>

  <div *ngIf="list && list.length > 0 && view == 'list'">
    <ng-container *ngFor="let item of list">
      <div class="schools__item">
          <a [routerLink]="item.entityUrl.path" class="schools__item__title">{{ item.entityLabel }}</a>
          <div class="schools__item__col sm-hide">
              <p *ngIf="item.fieldSchoolLocation[0]">Juriidiline aadress: <b>{{ item.fieldSchoolLocation[0].entity.fieldAddress }}</b></p>
              <p *ngIf="item.fieldSchoolWebpageAddress">Veebileht: <a href="{{ item.fieldSchoolWebpageAddress }}">{{ item.fieldSchoolWebpageAddress }}</a></p>
          </div><!--/scools__item__col-->
          <div class="schools__item__col sm-hide">
            <p *ngIf="item.fieldEducationalInstitutionTy.length > 0 ">
              Õppeasutuse tüüp:
              <b>
                <ng-container *ngFor="let type of item.fieldEducationalInstitutionTy">
                  {{ type.entity.entityLabel }}
                </ng-container>
              </b>
            </p>
            <p *ngIf="item.fieldSchoolContactPhone && item.fieldSchoolContactPhone" >Kontaktinfo: <b *ngIf="item.fieldSchoolContactPhone">{{ item.fieldSchoolContactPhone }}</b><span *ngIf="item.fieldSchoolContactPhone && item.fieldSchoolContactEmail">,</span> <a *ngIf="item.fieldSchoolContactEmail" href="mailto:{{ item.fieldSchoolContactEmail}}">{{ item.fieldSchoolContactEmail}}</a></p>
          </div><!--/scools__item__col-->
      </div><!--/schools__item-->
    </ng-container><!--/list repeat-->
  </div><!--/list-->

  <ng-container *ngIf="view == 'map'">
    <agm-map (mapReady)="mapReady($event)" style="height:525px" *ngIf="list" >
      <agm-marker-cluster [styles]="mapOptions.clusterStyles">>
        <agm-marker [iconUrl]="mapOptions.icon" *ngFor="let marker of list" [latitude]="parseFloat(marker.fieldSchoolLocation[0].entity.fieldCoordinates.lat)"  [longitude]="parseFloat(marker.fieldSchoolLocation[0].entity.fieldCoordinates.lon)">
          <agm-snazzy-info-window [closeWhenOthersOpen]="true">
            <ng-template>
              <p class="title">{{ marker.entityLabel }}</p>
              <p *ngIf="marker.fieldSchoolLocation[0]">Juriidiline aadress: <b>{{ marker.fieldSchoolLocation[0].entity.fieldAddress }}</b></p>
              <p *ngIf="marker.fieldSchoolWebpageAddress">Veebileht: <a href="{{ marker.fieldSchoolWebpageAddress }}">{{ marker.fieldSchoolWebpageAddress }}</a></p>
              <p *ngIf="marker.fieldEducationalInstitutionTy.length > 0 ">
                  Õppeasutuse tüüp:
                  <b>
                    <ng-container *ngFor="let type of marker.fieldEducationalInstitutionTy">
                      {{ type.entity.entityLabel }}
                    </ng-container>
                  </b>
                </p>
              <p *ngIf="marker.fieldSchoolContactPhone && marker.fieldSchoolContactPhone" >Kontaktinfo: <b *ngIf="marker.fieldSchoolContactPhone">{{ marker.fieldSchoolContactPhone }}</b><span *ngIf="marker.fieldSchoolContactPhone && marker.fieldSchoolContactEmail">,</span> <a *ngIf="marker.fieldSchoolContactEmail" href="mailto:{{ marker.fieldSchoolContactEmail}}">{{ marker.fieldSchoolContactEmail}}</a></p>
              <a [routerLink]="marker.entityUrl.path" class="button">Vaata lähemalt</a>
            </ng-template>
          </agm-snazzy-info-window>
        </agm-marker>
      </agm-marker-cluster>
    </agm-map>
  </ng-container>

</div><!--/schools-->

<div class="text-center actions" *ngIf="!listEnd && view == 'list' && list">
  <mat-spinner *ngIf="loading" diameter="20" style="margin:0 auto;"></mat-spinner>
  <button mat-raised-button color="primary" (click)="loadMore()"  *ngIf="!loading">
    {{ "load.more" | translate }}
  </button>
</div><!--/text-center-->

