@import "../../../assets/styles/typography.scss";

.schools {
  padding-bottom: $xxl;
  background: $white;
  @include break-on(sm, min) {border-radius: $half-gutter; margin-left: $medium; margin-right: $medium;margin-bottom: $medium;padding-bottom: 0;}
  border-top: $gutter solid $light-blue;
  .months {
    margin-top: $medium;
    @include break-on(sm, min) {
      margin-top:-$medium;
    }
  }

  &__head {display: flex; border-bottom: .0625rem solid $gray;
  }
  &__title {font-size: $small;line-height: 2;color: $dark-gray; padding: $small $medium $small $medium; flex-basis: 50%;}

  .view-item {height: 100%;width: 5.75rem;text-align: center;border-left: .0625rem solid $gray;cursor:pointer;color:$blue;
    .mat-icon{margin-top: $gutter;}
    .title {font-size: .875rem;}
    &.active {color: $black;
      &:after {content: '';height: .1875rem;background-color: $dark-orange;display: block;position: relative;top: $gutter;}}
  }

  &__item {padding:0.9rem 1.5rem 1.1rem 1.5rem; border-bottom: solid .0625rem $gray; display:flex; flex-wrap: wrap;
    &:last-child{border-bottom:0;}

    &__title{width:100%; font-size:1.5rem; line-height:2rem; text-decoration: none; font-weight: 500;
      @include break-on(sm, min) {margin-bottom:0.5rem; }
      &:hover{text-decoration: underline;}
    }

    &__col{width:50%; box-sizing: border-box;
      &:first-child{padding-right:1.5rem;}
      &:last-child{padding-left:1.5rem;}
      p{color:$dark-gray; font-size:0.875rem; line-height:20px; margin:0.25rem 0;}
    }

    p:first-child{margin-top:0;}
    p:last-child{margin-bottom:0;}

  }
  .spinner-wrapper{padding-bottom:1.25rem;}
}
.custom-checkbox{padding-left:1rem;}
.button-list {display: flex;flex-basis: 50%;justify-content: flex-end;}
.actions{margin-bottom:2rem; padding:0 1.5rem;}