<ul *ngIf="data && data.length">
  <li *ngFor="let item of data">
    <a *ngIf="icons" [href]="item.url.path">
      <div class="row">
        <div class="col-1 padding center-flex">
          <icon aria-hidden="true" size="medium" [glyph]="item.icon ? item.icon : 'file-text'"></icon>
        </div>
        <span class="col-11 padding text" role="text">{{ item.title | translate }}</span>
      </div>
    </a>
    <button *ngIf="!icons && item.url.routed && !item.login" role="link" theme="{{ item.color && item.color === 'white' ? 'outline' : 'default' }}" [routerLink]="[item.url.path]" htm-button>teresas {{ item.title | translate }}</button>
    <button *ngIf="!icons && item.url.routed && item.login && isLoggedIn" 
    htm-button role="link" theme="{{ item.color && item.color === 'white' ? 'outline' : 'default' }}" [routerLink]="[item.url.path]">
    tere{{ item.title | translate }}</button>
    <button *ngIf="!icons && item.url.routed && item.login && !isLoggedIn"
    htm-button role="link" theme="{{ item.color && item.color === 'white' ? 'outline' : 'default' }}" (click)="logIn(item.url.path)">tereses {{ item.title | translate }}</button>
    <a *ngIf="!icons && !item.url.routed" [href]="[item.url.path]"><button role="link" htm-button>{{ item.title | translate }}</button></a>
  </li>
</ul>
