<ul *ngIf="data.list.length > 0">
  <li *ngFor="let item of data.list | slice:0:3">
    <a [routerLink]="'/töölaud/teavitused/' + item.id" class="message" [class.unread]="!item.read">
      <span>{{item.subject}}</span>
      <p>{{item.sentAt | date:"dd.MM.yyyy"}} kell {{item.sentAt | date:"HH:mm"}}</p>
    </a>
  </li>
</ul>
<ul class="no-messages" *ngIf="data.list.length === 0">
  <li>
    Sulle ei ole ühtegi teavitust.
  </li>
</ul>
<div class="bottom" *ngIf="data.list.length > 0">
  <a routerLink="/töölaud/teavitused">Vaata kõiki teavitusi</a>
</div>