<ul *ngIf="parsedData && parsedData.length && !blocks">
  <ng-container *ngFor="let item of parsedData">
    <li *ngIf="item.url">

      <ng-container *ngIf="item.url && !item.url.url">
        <ng-container *ngIf="item.url.routed">
          <a [routerLink]="item.url.path" [queryParams]="item.url.params || false">
            <icon size="medium" ariaLabel="lehe sisene link" glyph="link-2"></icon>
            <span role="text">{{ item.title }}</span>
          </a>
        </ng-container>
        <ng-container *ngIf="!item.url.routed">
          <a [href]="item.url.path">
            <icon size="medium" ariaLabel="lehe väline link" glyph="external-link"></icon>
            <span role="text">{{ item.title }}</span>
          </a>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="item.url.url">
        <ng-container *ngIf="item.url.url.routed">
          <a [routerLink]="item.url.url.path" [queryParams]="item.url.url.params || false">
            <icon size="medium" glyph="link-2"></icon>
            <span role="text">{{ item.title }}</span>
          </a>
        </ng-container>
        <ng-container *ngIf="!item.url.url.routed">
          <a [href]="item.url.url.path">
            <icon size="medium" glyph="external-link"></icon>
            <span role="text">{{ item.title }}</span>
          </a>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="item.url.routed; externalLink">
        <a [routerLink]="item.url.path" [queryParams]="item.url.params || false">
          <icon size="medium" ariaLabel="lehe sisene link" glyph="link-2"></icon>
          <span role="text">{{ item.title }}</span>
        </a>
      </ng-container>
      <ng-template #externalLink>
        <a [href]="item.url.path">
          <icon size="medium" ariaLabel="lehe väline link" glyph="external-link"></icon>
          <span role="text">{{ item.title }}</span>
        </a>
      </ng-template>

    </li>
    <li *ngIf="!item.url && item.url !== ''" class="text-instance">
      {{ item }}
    </li>
    <li *ngIf="item.url == ''">
      <a class="no-link">
        <span role="text">{{ item.title }}</span>
      </a>
    </li>
  </ng-container>
</ul>

<ng-container *ngIf="blocks">
  <ng-container *ngFor="let block of blocks">
    <block theme="sidebar">
      <block-title>
        <ng-container>{{ block.title }}</ng-container>
      </block-title>
      <block-content>
        <sidebar-links [data]="block.links"></sidebar-links>
      </block-content>
    </block>
  </ng-container>
</ng-container>
