<div class="text-center"><button style="width: 100%" (click)="this.modal.toggle('finalDocument-addAccess'); addAccessForm.reset(); accessAction='add'" htm-button>Lisa ligipääs</button></div>
<div class="currentAccess">
  <block-title>Kehtivad ligipääsud</block-title>
  <ul>
    <li *ngIf="activeAccesses.length === 0">
      <div>
        <span>Puuduvad kehtivad ligipääsud</span>
      </div>
    </li>
    <li class="accesses" *ngFor="let activeAccess of activeAccesses">
      <ng-container *ngIf="activeAccess.type === 'ACCESS_TYPE:ACCESS_CODE'">
        <icon size="medium" glyph="key"></icon>
        <div>
          <button htm-button theme="link" (click)="openAccess(activeAccess)">Ligipääsukoodiga</button>
          <ng-container *ngIf="activeAccess.endDate">
            <span>Kehtiv kuni {{activeAccess.endDate}}</span>
          </ng-container>
          <ng-container *ngIf="!activeAccess.endDate">
            <span>Kehtib tähtajatult</span>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="activeAccess.type === 'ACCESS_TYPE:ID_CODE'">
        <icon size="medium" glyph="user-filled"></icon>
        <div>
          <button htm-button theme="link" (click)="openAccess(activeAccess)">Isikukood: {{activeAccess.accessorCode}}</button>
          <ng-container *ngIf="activeAccess.endDate">
            <span>Kehtiv kuni {{activeAccess.endDate | date:"dd.MM.yyyy"}}</span>
          </ng-container>
          <ng-container *ngIf="!activeAccess.endDate">
            <span>Kehtib tähtajatult</span>
          </ng-container>
        </div>
      </ng-container>
    </li>
  </ul>
</div>
<div class="text-center"><button (click)="modal.toggle('finalDocument-invalidAccesses')" htm-button theme="link">Näita kehtetuid ligipääse</button></div>

<htm-modal id="finalDocument-addAccess" [modalTitle]="accessAction === 'edit' ? 'Muuda ligipääsu' : 'Lisa ligipääs'" [bottomAction]="false" wide>
  <modal-content>
    <form [formGroup]="addAccessForm">
    <h2>{{(accessAction === 'add') ? 'Lisa ligipääs' : 'Muuda ligipääsu'}}</h2>
    <p>Vali kuidas soovid ligipääsu anda</p>
    <formItem
      type="radio"
      formControlName="receiver"
      [options]="addAccessOptions.receiver"
      name="receiver"
    ></formItem>
    <ng-container *ngIf="addAccessForm.controls.receiver.value">
      <ng-container *ngIf="addAccessForm.controls.receiver.value === 'ACCESS_TYPE:ACCESS_CODE'">
        <h3>E-postiga ligipääs</h3>
        <p>Sisesta e-posti aadress, kuhu saata ligipääs: *</p>
        <formItem formControlName="email" placeholder="E-posti aadress" type="text"></formItem>
      </ng-container>
      <ng-container *ngIf="addAccessForm.controls.receiver.value === 'ACCESS_TYPE:ID_CODE'">
        <h3>Isikukoodiga ligipääs</h3>
        <p>Sisesta isikukood: *</p>
        <formItem formControlName="idCode" type="text" placeholder="Isikukood"></formItem>
      </ng-container>
      <p>Vali ligipääsukoodi kehtivuse ulatus: *</p>
      <formItem name="withGradesheet" formControlName="withGradesheet" type="radio" [options]="addAccessOptions.withGradesheet"></formItem>
      <p>Vali ligipääsukoodi kehtivuse lõpp: *</p>
      <div class="split">
        <formItem type="date" formControlName="endDate" [disabled]="addAccessForm.controls.noEndDate.value" placeholder="pp.kk.aaaa"></formItem>
        <formItem type="checkbox" formControlName="noEndDate" label="Kehtib tähtajatult"></formItem>
      </div>
    </ng-container>
  </form>
  <div class="button-row">
    <button htm-button (click)="modal.toggle('finalDocument-addAccess')" theme="link">Tühista</button>
    <button htm-button *ngIf="accessAction === 'edit'" (click)="modifyAccess()">Muuda ligipääsu</button>
    <button htm-button *ngIf="accessAction === 'add'" (click)="addAccess()">Lisa ligipääs</button>
  </div>
  </modal-content>
</htm-modal>

<htm-modal id="finalDocument-access" modalTitle="Ligipääs" [bottomAction]="false">
  <modal-content *ngIf="openedAccess">
      <ng-container *ngTemplateOutlet="openedAccess.type === 'ACCESS_TYPE:ACCESS_CODE' ? accessCode : idCode"></ng-container>
  </modal-content>
</htm-modal>

<htm-modal id="finalDocument-invalidAccesses" modalTitle="Ligipääs" [bottomAction]="true">
  <modal-content>
    <table htm-table>
      <tr>
        <th>Liik</th>
        <th>Isikukood / ligipääsukood</th>
        <th>Kehtivuse algus</th>
        <th>Kehtivuse lõpp</th>
        <th>Ulatus</th>
        <th>E-post</th>
      </tr>
      <tr *ngFor="let access of inactiveAccesses">
        <td><icon [glyph]="access.type === 'ACCESS_TYPE:ID_CODE' ? 'user-filled' : 'key'" size="medium"></icon></td>
        <td>{{access.accessorCode}}</td>
        <td>{{access.issued | date:"dd.MM.yyyy"}}</td>
        <td>
          <ng-container *ngIf="access.endDate">{{access.endDate | date:"dd.MM.yyyy"}}</ng-container>
          <ng-container *ngIf="!access.endDate">-</ng-container>
        </td>
        <td>{{(access.scope === 'ACCESS_SCOPE:MAIN_DOCUMENT') ? 'Lõputunnistus' : 'Lõputunnistus koos hinnetelehega'}}</td>
        <td>{{access.emailAddress || '-'}}</td>
      </tr>
    </table>
  </modal-content>
</htm-modal>

<htm-modal modalTitle="Ligipääs" [bottomAction]="false" id="finalDocument-confirmInvalidation">
  <modal-content>
    <h1>Kas oled kindel, et soovid ligipääsu isikukoodile {{openedAccess.accessorCode}} kehtetuks muuta?</h1>
    <div class="button-row">
      <button htm-button (click)="modal.toggle('finalDocument-confirmInvalidation')" theme="link">Tühista</button>
      <button htm-button (click)="invalidateAccess()">Muuda kehtetuks</button>
    </div>
  </modal-content>
</htm-modal>

<ng-template #accessCode>
  <h1>Ligipääsukood: {{openedAccess.accessorCode}}</h1>
  <div class="line">
    <labels [type]="openedAccessLabelType" [data]="openedAccessLabel"></labels>
    <button *ngIf="openedAccess.status === 'ACCESS_STATUS:VALID'" (click)="modal.toggle('finalDocument-confirmInvalidation')" htm-button theme="link">Muuda kehtetuks</button>
  </div>
  <form [formGroup]="filledAccessForm">
    <p>E-posti aadress, kuhu on saadetud ligipääsukood:</p>
    <formItem formControlName="email" [disabled]="true" placeholder="E-posti aadress" type="text"></formItem>
    <p>Vali ligipääsukoodi kehtivuse ulatus: *</p>
    <formItem name="withGradesheet" [disabled]="true" formControlName="withGradesheet" type="radio" [options]="addAccessOptions.withGradesheet"></formItem>
    <p>Vali ligipääsukoodi kehtivuse lõpp: *</p>
    <div class="split">
      <formItem type="text" formControlName="endDate" [disabled]="true" placeholder="pp.kk.aaaa"></formItem>
      <formItem type="checkbox" formControlName="noEndDate" [disabled]="true" label="Kehtib tähtajatult"></formItem>
    </div>
    </form>
    <div class="button-row">
      <button htm-button (click)="modal.toggle('finalDocument-access')" theme="link">Tühista</button>
      <button htm-button (click)="changeAccess(openedAccess)">Muuda andmeid</button>
    </div>
</ng-template>

<ng-template #idCode>
  <h1>Isikukood: {{openedAccess.accessorCode}}</h1>
  <div class="line">
    <labels [type]="openedAccessLabelType" [data]="openedAccessLabel"></labels>
    <button *ngIf="openedAccess.status === 'ACCESS_STATUS:VALID'" (click)="modal.toggle('finalDocument-confirmInvalidation')" htm-button theme="link">Muuda kehtetuks</button>
  </div>
  <form [formGroup]="filledAccessForm">
    <h2>Tunnistuse väljastanud õppeasutus</h2>
    <p>{{data.issuerInstitution}}</p>
    <p>Isikukoodi kehtivuse ulatus: *</p>
    <formItem name="withGradesheet" [disabled]="true" formControlName="withGradesheet" type="radio" [options]="addAccessOptions.withGradesheet"></formItem>
    <p>Isikukoodi kehtivuse lõpp: *</p>
    <div class="split">
      <formItem type="text" formControlName="endDate" [disabled]="true" placeholder="pp.kk.aaaa"></formItem>
      <formItem type="checkbox" formControlName="noEndDate" [disabled]="true" label="Kehtib tähtajatult"></formItem>
    </div>
  </form>
  <div class="button-row">
    <button htm-button (click)="modal.toggle('finalDocument-access')" theme="link">Tühista</button>
    <button htm-button (click)="changeAccess(openedAccess)">Muuda andmeid</button>
  </div>
</ng-template>