<div attr.aria-label="{{'event.organizer' | translate}} {{ data.organizer || data.title }}">{{ data.organizer || data.title }}</div>
<div attr.aria-label="{{'event.person' | translate}} {{ data.person || data.fieldRegistrationCode }}">{{ data.person || data.fieldRegistrationCode }}</div>
<a href="tel:{{ data.phone }}" attr.aria-label="{{'event.phone' | translate}} {{ data.phone }}">{{ data.phone }}</a>
<a href="mailto:{{ data.email }}" attr.aria-label="{{'event.email' | translate}} {{ data.email }}">{{ data.email }}</a>