<div class="text-center">
	<button style="width: 100%" (click)="openNewAccessModal()" htm-button>
		{{'finaldocuments.add_access' | translate}}
	</button>
</div>
<div class="currentAccess">
	<block-title>{{'finaldocuments.valid_accesses' | translate}}</block-title>
	<ul>
		<li *ngIf="activeAccesses.length === 0">
			<div>
				<span>{{'finaldocuments.no_valid_accesses' | translate}}</span>
			</div>
		</li>
		<li class="accesses" *ngFor="let activeAccess of activeAccesses">
			<ng-container *ngIf="activeAccess.type === 'ACCESS_TYPE:ACCESS_CODE'">
				<icon size="medium" glyph="key"></icon>
				<div>
					<button htm-button theme="link" (click)="openAccess(activeAccess)">
						{{'finaldocuments.with_access_code' | translate}}
					</button>
					<ng-container *ngIf="activeAccess.endDate">
						<span>{{'finaldocuments.valid_until' | translate}} {{activeAccess.endDate | date:"dd.MM.yyyy"}}</span>
					</ng-container>
					<ng-container *ngIf="!activeAccess.endDate">
						<span>{{'finaldocuments.valid_indefinitely' | translate}}</span>
					</ng-container>
				</div>
			</ng-container>
			<ng-container *ngIf="activeAccess.type === 'ACCESS_TYPE:ID_CODE'">
				<icon size="medium" glyph="user-filled"></icon>
				<div>
					<button htm-button theme="link" (click)="openAccess(activeAccess)">
						{{'frontpage.isikukood' | translate}}: {{activeAccess.accessorCode | idCode}}
					</button>
					<ng-container *ngIf="activeAccess.endDate">
						<span>{{'finaldocuments.valid_until' | translate}} {{activeAccess.endDate | date:"dd.MM.yyyy"}}</span>
					</ng-container>
					<ng-container *ngIf="!activeAccess.endDate">
						<span>{{'finaldocuments.valid_indefinitely' | translate}}</span>
					</ng-container>
				</div>
			</ng-container>
		</li>
	</ul>
</div>
<div class="text-center">
	<button (click)="openInvalidAccesses()" htm-button theme="link">
		{{'finaldocuments.show_invalid_accesses' | translate}}
	</button>
</div>

<htm-modal id="finalDocument-addAccess"
	[modalTitle]="accessAction === 'edit' ? ('finaldocuments.modify_access' | translate) : ('finaldocuments.add_access' | translate)"
	[bottomAction]="false" wide>
	<ng-template>
		<form [formGroup]="addAccessForm">
			<h2>
				{{(accessAction === 'add') ? ('finaldocuments.add_access' | translate) : ('finaldocuments.modify_access' | translate)}}
			</h2>
			<p class="required-info">Tärniga (*) tähistatud väljad on kohustuslikud.<p>
			<p>{{'finaldocuments.choose_access_type' | translate}}:</p>
			<formItem type="radio" formControlName="type" [options]="addAccessOptions.type" name="type"></formItem>
			<div class="border-top" *ngIf="addAccessForm.value.type">
				<ng-container *ngIf="addAccessForm.value.type === 'ACCESS_TYPE:ACCESS_CODE'">
					<h3>{{'finaldocuments.access_with_email' | translate}}</h3>
					<p>{{'finaldocuments.insert_email' | translate}}</p>
					<formItem
					[error]="
					addAccessForm.errors?.emailMissing ||
					addAccessForm.controls.emailAddress.errors?.email
				" [errorMessage]="addAccessForm.errors && addAccessForm.errors[(addAccessForm.errors | keyvalue)[0].key] ? errors[(addAccessForm.errors | keyvalue)[0].key]: ''"
						formControlName="emailAddress"
						placeholder="E-posti aadress"
						type="text"
						[disabled]="accessAction === 'edit'">
					</formItem>
				</ng-container>
				<ng-container *ngIf="addAccessForm.value.type === 'ACCESS_TYPE:ID_CODE'">
					<h3>{{'finaldocuments.access_with_idcode' | translate}}</h3>
					<p>{{'finaldocuments.insert_id_code' | translate}}</p>

					<formItem
						*ngIf="accessAction === 'add'"
						[error]="
							addAccessForm.errors?.idCodeMissing ||
							addAccessForm.errors?.idCodeFormat
						" [errorMessage]="addAccessForm.errors
							&& addAccessForm.errors[(addAccessForm.errors | keyvalue)[0].key] ? errors[(addAccessForm.errors | keyvalue)[0].key]: ''"
						formControlName="accessorCode" type="text" placeholder="Isikukood">
					</formItem>
					<formItem
						*ngIf="accessAction === 'edit'"
						type="text"
						disabled="true"
						[value]="addAccessForm.value.accessorCode | idCode">
					</formItem>
				</ng-container>
				<p>{{'finaldocuments.choose_access_scope' | translate}}</p>
				<formItem
				 name="scope" formControlName="scope" type="radio" [options]="addAccessOptions.scope"></formItem>
				<p>{{'finaldocuments.choose_access_end_date' | translate}}</p>
				<div class="split">
					<formItem forcePlaceholder="true" type="date" [error]="
					addAccessForm.errors?.invalidDate
				" [errorMessage]="addAccessForm.errors && addAccessForm.errors.invalidDate ? errors.invalidDate : ''" formControlName="endDate"
						[disabled]="addAccessForm.value.noEndDate" placeholder="pp.kk.aaaa"></formItem>
					<formItem type="checkbox" formControlName="noEndDate"
						[label]="'finaldocuments.valid_indefinitely' | translate"></formItem>
				</div>
				<alerts small="true" id="addAccessErrors"></alerts>
				<div class="button-row">
					<button htm-button (click)="modal.toggle('finalDocument-addAccess')" theme="link">
						{{'generic.cancel' | translate}}
					</button>
					<button htm-button *ngIf="accessAction === 'edit'" type="submit" (click)="modifyAccess()">
						{{'button.save_changes' | translate}}
					</button>
					<button htm-button *ngIf="accessAction === 'add'" type="submit" (click)="addAccess()">
						{{'finaldocuments.add_access' | translate}}
					</button>
				</div>
				</div>
		</form>
	</ng-template>
</htm-modal>

<htm-modal id="finalDocument-access" modalTitle="Ligipääs" [bottomAction]="false">
	<ng-template>
		<ng-container *ngTemplateOutlet="addAccessForm.value.type === 'ACCESS_TYPE:ACCESS_CODE' ? accessCode : idCode">
		</ng-container>
	</ng-template>
</htm-modal>

<htm-modal id="finalDocument-invalidAccesses" modalTitle="Kehtetud ligipääsud" [bottomAction]="true">
	<ng-template>
		<scrollableContent *ngIf="inactiveAccesses.length > 0; else noResults">
			<table htm-table>
				<tr>
					<th>{{'finaldocuments.th.type' | translate}}</th>
					<th>{{'finaldocuments.th.idcode_accesscode' | translate}}</th>
					<th>{{'finaldocuments.th.valid_from' | translate}}</th>
					<th>{{'finaldocuments.th.valid_until' | translate}}</th>
					<th>{{'finaldocuments.th.scope' | translate}}</th>
					<th>{{'finaldocuments.th.email' | translate}}</th>
				</tr>
				<tr *ngFor="let access of inactiveAccesses">
					<td>
						<icon [glyph]="access.type === 'ACCESS_TYPE:ID_CODE' ? 'user-filled' : 'key'" size="medium"></icon>
					</td>
					<td>{{access.type === 'ACCESS_TYPE:ID_CODE' ? (access.accessorCode | idCode) : access.accessorCode}}</td>
					<td>{{access.issued | date:"dd.MM.yyyy"}}</td>
					<td>
						<ng-container *ngIf="access.endDate">{{access.endDate | date:"dd.MM.yyyy"}}</ng-container>
						<ng-container *ngIf="!access.endDate">-</ng-container>
					</td>
					<td>
						{{(access.scope === 'ACCESS_SCOPE:MAIN_DOCUMENT') ? ('finaldocuments.main_document' | translate)
						: ('finaldocuments.main_document_with_grades' | translate)}}
					</td>
					<td>{{access.emailAddress || '-'}}</td>
				</tr>
			</table>
		</scrollableContent>
	</ng-template>
</htm-modal>

<htm-modal modalTitle="Ligipääs" [bottomAction]="false" id="finalDocument-confirmInvalidation">
	<ng-template>
		<h1 *ngIf="addAccessForm.value.type === 'ACCESS_TYPE:ID_CODE'">
			{{('finaldocuments.confirm_invalidate_accessorcode' | translate).replace('%ACCESSORCODE%', addAccessForm.value.accessorCode | idCode)}}
		</h1>
		<h1 *ngIf="addAccessForm.value.type === 'ACCESS_TYPE:ACCESS_CODE'">
			{{('finaldocuments.confirm_invalidate_email' | translate).replace('%EMAIL%', addAccessForm.value.emailAddress)}}
		</h1>
		<div class="button-row">
			<button htm-button (click)="modal.toggle('finalDocument-access')" theme="link">
				{{'generic.cancel' | translate}}
			</button>
			<button htm-button (click)="invalidateAccess()">{{'finaldocuments.invalidate_access' | translate}}</button>
		</div>
	</ng-template>
</htm-modal>

<ng-template #accessCode>
	<h1 style="word-break: break-word">
		{{'finaldocuments.accessCode' | translate}}: <span
			style="font-weight: normal;">{{addAccessForm.value.accessorCode}}</span>
	</h1>
	<div class="line">
		<labels [type]="openedAccessLabelType" [data]="openedAccessLabel"></labels>
		<button (click)="modal.toggle('finalDocument-confirmInvalidation')" htm-button theme="link">
			{{'finaldocuments.invalidate_access' | translate}}
		</button>
	</div>
	<form [formGroup]="addAccessForm">
		<p>{{'finaldocuments.accessCode_recipient' | translate}}:</p>
		<formItem formControlName="emailAddress" [disabled]="true" placeholder="E-posti aadress" type="text"></formItem>
		<p>{{'finaldocuments.idcode_scope' | translate}}:</p>
		<formItem name="scope" [disabled]="true" formControlName="scope" type="radio" [options]="addAccessOptions.scope">
		</formItem>
		<p>{{'finaldocuments.idcode_end_date' | translate}}:</p>
		<div class="split">
			<formItem forcePlaceholder="true" type="date" formControlName="endDate" [disabled]="true"
				placeholder="pp.kk.aaaa"></formItem>
			<formItem forcePlaceholder="true" type="checkbox" formControlName="noEndDate" [disabled]="true"
				[label]="'finaldocuments.valid_indefinitely' | translate"></formItem>
		</div>
		<h2 *ngIf="addAccessForm.value.provider === 'ACCESS_PROVIDER:ISSUER'">Ligipääsu andis tunnistuse väljaandja</h2>
	</form>
	<div class="button-row">
		<button htm-button (click)="modal.toggle('finalDocument-access')" theme="link">
			{{'button.close' | translate}}
		</button>
		<button htm-button (click)="changeAccess(openedAccess)">
			{{'button.edit_data' | translate}}
		</button>
	</div>
</ng-template>

<ng-template #idCode>
	<h1>{{'finaldocument.idcode' | translate}}: <span
			style="font-weight: normal;">{{addAccessForm.value.accessorCode | idCode }}</span></h1>
	<div class="line">
		<labels [type]="openedAccessLabelType" [data]="openedAccessLabel"></labels>
		<button (click)="modal.toggle('finalDocument-confirmInvalidation')" htm-button theme="link">
			{{'finaldocuments.invalidate_access' | translate}}
		</button>
	</div>
	<form [formGroup]="addAccessForm">
		<!-- <p>{{'finaldocuments.issuer' | translate}}</p>
		<h2>{{data.issuerInstitution}}</h2> -->
		<p>{{'finaldocuments.idcode_scope' | translate}}</p>
		<formItem name="scope" [disabled]="true" formControlName="scope" type="radio" [options]="addAccessOptions.scope">
		</formItem>
		<p>{{'finaldocuments.idcode_end_date' | translate}}</p>
		<div class="split">
			<formItem forcePlaceholder="true" type="date" formControlName="endDate" [disabled]="true"
				placeholder="pp.kk.aaaa"></formItem>
			<formItem type="checkbox" formControlName="noEndDate" [disabled]="true"
				[label]="'finaldocuments.valid_indefinitely' | translate"></formItem>
		</div>
		<h2 *ngIf="addAccessForm.value.provider === 'ACCESS_PROVIDER:ISSUER'">Ligipääsu andis tunnistuse väljaandja</h2>
	</form>
	<div class="button-row">
		<button htm-button (click)="modal.toggle('finalDocument-access')" theme="link">
			{{'button.close' | translate}}
		</button>
		<button htm-button (click)="changeAccess(openedAccess)">
			{{'button.edit_data' | translate}}
		</button>
	</div>
</ng-template>

<ng-template #noResults>
	<alerts small="true" id="invalidAccessesAlerts"></alerts>
</ng-template>
