<ul *ngIf="parsedData && parsedData.length && !blocks">
  {{ parsedData | json }}
  <ng-container *ngFor="let item of parsedData">
    <li *ngIf="item.url">
      <a [href]="item.url.path">
        <icon *ngIf="!item.url.routed" size="medium" glyph="external-link"></icon>
        <icon *ngIf="item.url.routed" size="medium" glyph="link-2"></icon>
        <span role="text">{{ item.title }}</span>
      </a>
    </li>
    <li *ngIf="!item.url && item.url !== ''" class="text-instance">
      {{ item }}
    </li>
    <li *ngIf="item.url == ''">
      <a class="no-link">
        <span role="text">{{ item.title }}</span>
      </a>
    </li>
  </ng-container>
</ul>

<ng-container *ngIf="blocks">
  <ng-container *ngFor="let block of blocks">
    <block theme="sidebar">
      <block-title>
        <ng-container>{{ block.title }}</ng-container>
      </block-title>
      <block-content>
        <sidebar-links [data]="block.links"></sidebar-links>
      </block-content>
    </block>
  </ng-container>
</ng-container>
