<div class="notifications__list" *ngIf="notifications">
  <ng-container *ngFor="let notification of notifications">
      <div [ngClass]="'notification notification--' + notification.type" role="alert" aria-label="alert" (mouseenter)="mouseEnter(notification)"> 
        <div class="notification__icon">
            <span aria-hidden class="htm-icon">{{icon(notification.type)}}</span>
        </div>
        <p>{{notification.message | translate}}</p>
        <button *ngIf="notification.closeable" class="notification__close" (click)="remove(notification)">
          <span class="htm-icon">clear</span>
        </button>
      </div>
    </ng-container>
</div>