@import "../../../assets/styles/typography.scss"; 
:host{margin-top:-0.1875rem;margin-left: auto;margin-right: $xxl;
  @include break-on(sm, max) {margin-right: $large;}
}
.share {position: absolute;border-radius: 50%;top: -$gutter;line-height: 1;
  font-size: $medium;height: $xxl;width: $xxl;
  &__wrapper {position: relative;cursor:pointer; margin-right: 1.5rem;
    @include break-on(sm, max) {right: $small;}
  }
  &__component {position: absolute;height: $medium;top: $quarter;right: $quarter;z-index: 10;color: $blue;
  }
  &__component__buttons { display:none; transition: 0.25s opacity ease-out;will-change: opacity;opacity: 0;position: relative;z-index: 10;
    width: $large;height: $large;top: $xxl;left: $gutter;
    &--elem {width: $large;height: $large;padding-top: $gutter;
      &:last-child {padding-top: $half-gutter;}
    }
    a.fb-icn, a.tw-icn {width: $large;height: $large;background-color: $white;border-radius: 50%;
      &:hover {background-color: $white; }
    }
  }
  &:focus {background-color: $blue;transition: background-color 0.25s; display: block; 
    .share__component {
      &__buttons {opacity: 1;}
      .htm-icon.primary {color: $white;}
    }
  }
}


.fb-icn {
  background: url('/assets/img/fb-icn.svg') center center no-repeat; height: 2rem; width: 2rem; background-size: 2rem; display: block;
}
.fb-icn:hover {
  background: url('/assets/img/fb-icn-a.svg') center center no-repeat; height: 2rem; width: 2rem; background-size: 2rem; display: block;
}
.tw-icn {
  background: url('/assets/img/tw-icn.svg') center center no-repeat; height: 2rem; width: 2rem; background-size: 2rem; display: block;
}
.tw-icn:hover {
  background: url('/assets/img/tw-icn-a.svg') center center no-repeat; height: 2rem; width: 2rem; background-size: 2rem; display: block;
}