@import "../assets/styles/typography.scss";
.mat-sidenav {
  @include break-on(sm, max) {
    margin-left: 0;
  }
  .side-menu-wrapper { 
    min-height: 100%;
    border-right: solid .0625rem $gray;
  }
  .mat-menu-item {
    text-overflow: unset !important;
    white-space: normal !important;
    border-left: .3125rem solid transparent;
    line-height: 1.25rem;
    padding: 0 1.1875rem;
    span { font-size: $small !important }
    &:hover:not([disabled]) {
      border-left: .3125rem solid $dark-orange;
    }
  }


.mat-menu-item-active-parent + .submenu a {
     border-left: .3125rem solid $dark-orange;
    transition: border-left .3s cubic-bezier(.55,0,.55,.2); 
}
  .isActive {
    font-weight: 500 !important;
    border-left: .3125rem solid $dark-orange;
    transition: border-left .3s cubic-bezier(.55,0,.55,.2);
  }
  .mat-menu-item-active {
    font-weight: 500 !important;
    border-left: .3125rem solid $dark-orange;
    transition: border-left .3s cubic-bezier(.55,0,.55,.2);
  }
  .mat-menu-item-active-parent {
    transition: border-left .3s cubic-bezier(.55,0,.55,.2);
    font-weight: 500 !important;
    border-left: .3125rem solid $dark-orange;
  }
  .menu-category {
    color: #9b9b9b;
    padding: $medium $medium $small $medium;
    font-size: $small;
    font-weight: normal;
  }
  .ul-styleless.category {
    border-bottom: solid .0625rem $gray;
    &.empty-parent {border: none;}
  }
  a:visited {
    color: $black;
  }
}