<base-layout>
	<div class="inline">
		<breadcrumbs path="{{ '/valdkonnad' | translatePath }}"></breadcrumbs>
	</div><!--/inline-->
	<div class="inline">
		<block titleBorder="true" tabStyle="default">
			<block-title><h1>{{ 'oskaProfessions.fields' | translate }}</h1></block-title>
			<block-content class="block-content--no-padding" tabLabel="{{ 'oskaProfessions.fields' | translate }}" tabIcon="apps" tabLink="{{ '/valdkonnad' | translatePath }}">
				<loader *ngIf=!data></loader>
				<dropdown-list *ngIf="data" [data]="data"></dropdown-list>
			</block-content>
			<block-content tabLabel="{{ 'oska.data' | translate }}" tabIcon="compare"  tabLink="{{ '/valdkonnad/andmed' | translatePath }}">
			</block-content>
			<block-content tabLabel="{{ 'oskaProfessions.map' | translate }}" tabIcon="map-pin-alt" tabLink="{{ '/valdkonnad/kaart' | translatePath }}">
			</block-content>
		</block>
	</div><!--/inline-->
</base-layout>
