  @import "../../../assets/styles/typography.scss"; 
  article {padding-bottom: $xxl;
    a {color: $blue;
      .mat-icon {color: $blue;}
    }
  } 
  .share-btn .mat-icon {line-height: 1.3;
    @include break-on(sm, max) {right: $small;position: relative;}
  }
  .news-title {font-size: $small;line-height: 2;color: $dark-gray; padding: $quarter $medium $gutter $medium;
    a {float: right;}}
  .news-list {
    border-top: $gutter solid $light-blue;
    background: $white;
    @include break-on(sm, min) {border-radius: $half-gutter; margin-left: $medium;}
    &__recent {
      @extend .news-list;
      a:hover { text-decoration: underline; }
      .news-title { a:hover{text-decoration: none;}}
      border-top: $gutter solid $orange;
      @include break-on(sm, min) {border-radius: $half-gutter; margin-left: 0;}
      &__elem {padding-bottom: $xxl;}
      &.horizontal {border-top: none;
        .news-title {padding-top: $medium;}
        .news-list__recent__elem {flex: 1;padding: 0 0 $xxl 0;
          @include break-on(md, min) {padding: 0 $gutter $xxl $gutter;}
        }
        .news-list__recent__block {display: flex;flex: 3;flex-direction: column;padding: $gutter 0 0 0;overflow: hidden;
          @include break-on(md, min) {padding: $gutter $small 0 $small;flex-direction: row;}
        }
        .title__recent {
          @include break-on(md, min) {padding: 0;padding-top:$small;}
        }
        .author {
          @include break-on(md, min) {padding: 0; padding-top: $half-gutter;}
        }
      }
    }
  }
  .title {font-size: $small;line-height: 2;padding: 0 $medium;
    h1 {color:$black;}
    &__recent {
      padding: $small $medium 0 $medium;
    }
  }
  .author {padding: $half-gutter $medium 0 $medium;font-size: 0.875rem;line-height: 1.43;color: $dark-gray;}
  .description {padding: $small $medium; color: $black; line-height: 1.375rem; padding-bottom: 0;}
  .short {@extend .description; font-weight: 500; padding-bottom: $small;}
  .article-image {width:100%; max-width:100%; height: auto;
    @include break-on(sm, min) {
      width: stretch;
      max-width: 100%;
      margin: 0 1.5rem;
    }
    img { width: 100%; }
  }
  .image-alt-text {font-size: .875rem; color:$black; font-style: italic; font-weight: 300; padding: 0 $medium $small;
    @include break-on(sm, min) {padding: 0 0 $small 0;}
  }
  .news-single {
    @include break-on(sm, min) {padding-top: $gutter; padding-bottom: $medium; padding-right: $medium;}
  }
  .links {padding: 0 $medium;}
  .breadcrumb { padding-bottom: $gutter;}