@import "typography.scss";

::ng-deep{
  [htm-table]{
    width:100%;
    border: $gray 1px solid;
    border-collapse: collapse;
    caption {
      font-size: 1rem;
      color:#333;
      font-weight: 500;
      padding: 0 0 .5rem;
      text-align: left;
    }
    &.studyProgramme{
      th,td{
        font-size: 16px;
      }
      td:first-child{
        width: 37%;
        white-space: nowrap;
      }
    }
    th,td{
      border: $gray 1px solid;
      padding: .75rem 1rem;
      line-height: 138%;
    }
    th{
      background:$light-gray;
      font-weight: 500;
      text-align: left;
    }
  }
  school-table {
    td:first-child {
      width:40%;
    }

    td:last-child {
      font-weight: 500;
    }
  }
}
