@import "typography.scss";

::ng-deep{
  [htm-table]{
    width:100%;
    border: $gray 1px solid;
    border-collapse: collapse;
    th,td{
      border: $gray 1px solid;
      padding:12px 17px;
      line-height: 138%;
    }
    th{
      background:$light-gray;
      font-weight: bold;
      text-align: left;
    }
  }
}