:host {
  ::ng-deep block {
    .block__title {

      display: block;
      
      &__text a {
        text-transform: none;
      }

      block-title {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .button-row {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    button:first-child {
      margin-right: 1.5rem;
    }
  }
}