<h1>Isikukaart</h1>
<form (submit)="submit(form.value)" #form="ngForm">
<div class="row mb-20">
    <div class="col-4 sm-12">
        <mat-form-field class="w-100">
            <mat-placeholder>Sisesta isikukood</mat-placeholder>
            <input matInput name="personalCode" ngModel #personalCode type="text" />
            <mat-hint *ngIf="status == 'error'" class="mat-warn">{{ statusText }}</mat-hint>
            <mat-hint *ngIf="content.error && content.error.length > 0" class="mat-warn">{{ content.error[0].errorMessage }}</mat-hint>
        </mat-form-field>
    </div>
    <div class="col-4 sm-12">
        <button mat-raised-button color="primary">
            Kontrolli
        </button>
        <loader *ngIf="loading"></loader>
    </div>
</div>

<div class="row mb-20" *ngIf="content && content.dateOfBirth">
    <div class="col-12">
        <mat-card>
            <mat-card-content><b>Sünnikuupäev</b>: {{ content.dateOfBirth | date: "dd.MM.yyyy"}}</mat-card-content>
        </mat-card>
    </div>
</div>

<mat-card class="mb-20">
    <mat-card-content>
        <p><b>Toimiv</b>:</p>
        <mat-chip-list class="mat-chip-distance">
            
            <span class="mat-chip-wrapper">
                <mat-chip href="javascript:void(0);" (click)="changeValue(form.value, '37207318816'); personalCode.value = '37207318816';">37207318816</mat-chip>
            </span><!--/mat-chip-wrapper-->
            <span class="mat-chip-wrapper">
                <mat-chip href="javascript:void(0);" (click)="changeValue(form.value, '37808032478'); personalCode.value = '37808032478';">37808032478</mat-chip>
            </span><!--/mat-chip-wrapper-->
            <span class="mat-chip-wrapper">
                <mat-chip href="javascript:void(0);" (click)="changeValue(form.value, '37808303498'); personalCode.value = '37808303498';">37808303498</mat-chip>
            </span><!--/mat-chip-wrapper-->
            <span class="mat-chip-wrapper">
                <mat-chip href="javascript:void(0);" (click)="changeValue(form.value, '39806020012'); personalCode.value = '39806020012';">39806020012</mat-chip>
            </span><!--/mat-chip-wrapper-->
            <span class="mat-chip-wrapper">
                <mat-chip href="javascript:void(0);" (click)="changeValue(form.value, '37311186013'); personalCode.value = '37311186013';">37311186013</mat-chip>
            </span><!--/mat-chip-wrapper-->
            <span class="mat-chip-wrapper">
                <mat-chip href="javascript:void(0);" (click)="changeValue(form.value, '50710027023'); personalCode.value = '50710027023';">50710027023</mat-chip>
            </span><!--/mat-chip-wrapper-->
            <span class="mat-chip-wrapper">
                <mat-chip href="javascript:void(0);" (click)="changeValue(form.value, '49801127017'); personalCode.value = '49801127017';">49801127017</mat-chip>
            </span><!--/mat-chip-wrapper-->
            <span class="mat-chip-wrapper">
                <mat-chip href="javascript:void(0);" (click)="changeValue(form.value, '49612237011'); personalCode.value = '49612237011';">49612237011</mat-chip>
            </span><!--/mat-chip-wrapper-->
            <span class="mat-chip-wrapper">
                <mat-chip href="javascript:void(0);" (click)="changeValue(form.value, '39605017017'); personalCode.value = '39605017017';">39605017017</mat-chip>
            </span><!--/mat-chip-wrapper-->
            
        </mat-chip-list>

        <p><b>Tehniline viga</b>:</p>
        <mat-chip-list>
            <span class="mat-chip-wrapper">
                <mat-chip href="javascript:void(0);" (click)="changeValue(form.value, '12345678901'); personalCode.value = '12345678901';">12345678901</mat-chip>
            </span><!--/mat-chip-wrapper-->
        </mat-chip-list>
        
    </mat-card-content>
</mat-card>
</form>