<ng-container *ngFor="let alert of alerts">
  <div @transform [ngClass]="'alert alert--' + alert.type" role="alert" aria-label="alert"> 
    <div class="alert__icon">
      <icon glyph="{{alertIcons[alert.type]}}" [size]="small ? 'medium' : 'large'"></icon>
    </div>
      <p>
        {{ alert.message }}
        <button *ngIf="alert.closeable" class="alert__close" (click)="remove(alert)">
          <icon glyph="x" [size]="small ? 'medium' : 'medium'"></icon>
        </button>
      </p>
      <a *ngIf="alert.link" class="alert__close" [routerLink]="[alert.link.url]">{{ alert.link.label }}</a>
      <button htm-button (click)="cookies.agreeTerms()" *ngIf="alert.type === 'cookie'">{{ 'agree' | translate }}</button>
      <button *ngIf="alert.closeable" class="alert__close" (click)="remove(alert)">
        <icon glyph="x" [size]="small ? 'medium' : 'medium'"></icon>
      </button>
  </div>
</ng-container>