<ng-container *ngFor="let alert of alerts">
  <div [ngClass]="'alert alert--' + alert.type" role="alert" aria-label="alert"> 
    <div class="alert__icon">
      <icon glyph="{{alertIcons[alert.type]}}" [size]="small ? 'default' : 'large'"></icon>
    </div>
    <!-- <p>{{alert.message | translate}}</p> -->
    <p>{{alert.message}}</p>
    <button *ngIf="alert.closeable" class="alert__close" (click)="remove(alert)">
        <icon glyph="frown" [size]="small ? 'default' : 'large'"></icon>
    </button>
  </div>
</ng-container>