<div class="formItem__title" [class.formItem__title--top]="filledField" [class.focused]="focused">{{ title }}</div>
<ng-container [ngSwitch]="type">
  <ng-container *ngSwitchCase="'text'">
    <input
      [class.hideText]="!filledField"
      [attr.placeholder]="filledField ? placeholder : ''"
      [class.focused]="focused"
      #inputField
      type="text"
      (change)="update()"
      (focus)="update('focus')"
      (blur)="update('blur')"
      [(ngModel)]="field" />
  </ng-container>

  <ng-container *ngSwitchCase="'date'">
    <input
      [class.hideText]="!filledField"
      ngbDatepicker #d="ngbDatepicker"
      outsideDays="collapsed"
      [attr.placeholder]="filledField ? placeholder : ''"
      [class.focused]="focused"
      #inputField
      type="text"
      (dateSelect)="update('datepicker')"
      (closed)="update('datepicker'); focused = false;"
      (change)="update()"
      (focus)="update('focus')"
      (blur)="update('blur')"
      [(ngModel)]="dateField" />
    <button class="formItem__icon" (click)="focusField(); d.toggle()" type="button" ripple="dark">
      <icon glyph="calendar"></icon>
    </button>
  </ng-container>

  <ng-container *ngSwitchCase="'textarea'">
    <textarea
      [class.hideText]="!filledField"
      [attr.placeholder]="filledField ? placeholder : ''"
      [class.focused]="focused"
      #inputField
      type="text"
      (change)="update()"
      (focus)="update('focus')"
      (blur)="update('blur')"
      [(ngModel)]="field"></textarea>
  </ng-container>

  <ng-container *ngSwitchCase="'select'">
    <ng-select
      [items]="options"
      [multiple]="true"
      bindLabel="key"
      [closeOnSelect]="false"
      bindValue="value"
      (change)="update()"
      (open)="update('focus')"
      (close)="update('blur')"
      [(ngModel)]="field">
      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.key}}
      </ng-template>
    </ng-select>
  </ng-container>

  <ng-container *ngSwitchCase="'select2'">
    <select
      [class.hideText]="!filledField"
      [class.focused]="focused"
      #inputField
      type="text"
      (change)="update()"
      (focus)="update('focus')"
      (blur)="update('blur')"
      [(ngModel)]="field">
      <option value="" *ngIf="placeholder">{{ placeholder }}</option>
      <ng-container *ngFor="let item of options">
        <option [value]="item.value">{{ item.key }}</option>
      </ng-container>
    </select>
  </ng-container>
  
  <ng-container *ngSwitchDefault>
    <select
      [class.hideText]="!filledField"
      [class.focused]="focused"
      #inputField
      type="text"
      (change)="update()"
      (focus)="update('focus')"
      (blur)="update('blur')"
      [(ngModel)]="field">
      <option value="" *ngIf="placeholder">{{ placeholder }}</option>
      <option value="0">Yki</option>
      <option value="1">Kaki</option>
    </select>
  </ng-container>

</ng-container>
