<div class="formItem__title" [class.formItem__title--top]="filledField" [class.focused]="focused">{{ title }}</div>
<ng-container [ngSwitch]="type">
  <ng-container *ngSwitchCase="'text'">
    <input
      [attr.placeholder]="filledField ? placeholder : ''"
      [class.focused]="focused"
      #inputField
      type="text"
      (change)="update()"
      (focus)="update('focus')"
      (blur)="update('blur')"
      [(ngModel)]="field" />
  </ng-container>

  <ng-container *ngSwitchCase="'date'">
    <input
      ngbDatepicker #d="ngbDatepicker"
      [attr.placeholder]="filledField ? placeholder : ''"
      [class.focused]="focused"
      #inputField
      type="text"
      (dateSelect)="update('datepicker')"
      (closed)="update('datepicker')"
      (change)="update()"
      (focus)="update('focus')"
      (blur)="update('blur')"
      [(ngModel)]="dateField" />
    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">Toggle datepicker</button>
  </ng-container>

  <ng-container *ngSwitchCase="'textarea'">
    <textarea
      [class.focused]="focused"
      #inputField
      type="text"
      (change)="update()"
      (focus)="update('focus')"
      (blur)="update('blur')"
      [(ngModel)]="field"></textarea>
  </ng-container>

  <ng-container *ngSwitchCase="'select'">
    <select
      [class.hideOption]="!filledField"
      [class.focused]="focused"
      #inputField
      type="text"
      (change)="update()"
      (focus)="update('focus')"
      (blur)="update('blur')"
      [(ngModel)]="field">
      <option value="" *ngIf="placeholder">{{ placeholder }}</option>
      <ng-container *ngFor="let item of options">
        <option [value]="item.value">{{ item.key }}</option>
      </ng-container>
    </select>
  </ng-container>
  
  <ng-container *ngSwitchDefault>
    <select
      [class.focused]="focused"
      #inputField
      type="text"
      (change)="update()"
      (focus)="update('focus')"
      (blur)="update('blur')"
      [(ngModel)]="field">
      <option value="" *ngIf="placeholder">{{ placeholder }}</option>
      <option value="0">Yki</option>
      <option value="1">Kaki</option>
    </select>
  </ng-container>

</ng-container>