@import "typography.scss";

::ng-deep {
	.formItem {
    display: block;
    position: relative;
    z-index: 1;
    &+.formItem{
      margin-top:20px;
    }
    &--focused{
      z-index: 10;
    }
   
    &--checkbox{
      .formItem__title{display:none;}
    }
    &__wrapper{
      position: relative;
      & > input[type="text"], & > textarea, & > select {
        display: block;
        width: 100%;
        appearance: none;
        border: $gray 1px solid;
        padding: 0 16px;
        font-family: Rubik, Arial, Helvetica, sans-serif;
        border-radius: 20px;
        height: 40px;
        line-height: 40px;
        color: $black;
        font-size: 14px;
        z-index: 0;
        transition:border-color 0.25s, color 0.25s;
        will-change:border-clor, color;
        outline: none;
        &.focused{
          border-color: $blue;
        }
        &.hideText{
          color:white;
        }
      }
    }
    &__staticTitle{
      padding:0 0 10px 0;
    }
    &__error{
      color: $error;
      font-size:14px;
      line-height:120%;
      padding:5px 16px;
    }
    
    &--error{
      &>.formItem__wrapper{
        & > input[type="text"], & > textarea, & > select, & > .formItem__check .formItem__check__indicator, & > .formItem__radio .formItem__radio__indicator, .ng-select .ng-select-container{
          border-color:$error;
        }
        .ng-select .ng-select-container{
          border-color: $error !important;
        }
      }
      .formItem__title span{
        color: $error !important;
      }
    }

    &--success{
      &>.formItem__wrapper{
        & > input[type="text"], & > textarea, & > select, & > .formItem__check .formItem__check__indicator, & > .formItem__radio .formItem__radio__indicator, .ng-select .ng-select-container{
          border-color:$success;
        }
        .ng-select .ng-select-container{
          border-color: $success !important;
        }
      }
      .formItem__title span{
        color: $success !important;
      }
    }

    &--checkbox, &--radio{
      .formItem__error{
        padding-left:0;
      }
    }
    textarea{
      height: 200px;
      border-radius: 4px;
      line-height: 150%;
      padding-top:8px;
      padding-bottom:8px;
    }
    &__check{
      cursor: pointer;
      display: flex;
      padding-right:20px;
      &.noPadding{
        padding-right:0;
      }
      &__wrapper{
        position: relative;
        width: 18px;
        height: 18px;
        display: inline-block;
        line-height:18px;
        background: $white;
        input{
          position:absolute;
          top:0;
          left:0;
          width: 100%;
          height:100%;
          cursor:pointer;
          appearance: none;
          border:none;
          padding: 0;
          margin:0;
          z-index: 2;
        }
        input:checked + .formItem__check__indicator{
          border-color: $blue;
          icon {
            opacity:1;
            transform: translateY(0);
          }
        }
        input:focus + .formItem__check__indicator{
          border-color: $blue !important;
        }
      }
      &__indicator{
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:100%;
        border: $gray 1px solid;
        border-radius:2px;
        icon{
          color: $blue;
          margin-top:-1px;
          display:block;
          opacity:0;
          transform: translateY(-2px);
          transition:opacity 0.25s, transform 0.25s;
        }
      }
      &__title{
        display: inline-block;
        font-size:14px;
        padding-left: 10px;
        line-height:18px;
        vertical-align: top;
      }
    }

    &__radio{
      &+.formItem__radio{
        margin-top:10px;
      }
      cursor: pointer;
      display: flex;
      padding-right:20px;
      &.noPadding{
        padding-right:0;
      }
      &__wrapper{
        position: relative;
        width: 20px;
        height: 20px;
        display: inline-block;
        line-height:20px;
        background: $white;
        input{
          position:absolute;
          top:0;
          left:0;
          width: 100%;
          height:100%;
          cursor:pointer;
          appearance: none;
          border:none;
          padding: 0;
          margin:0;
          z-index: 2;
        }
        input:checked + .formItem__radio__indicator{
          border-color: $blue !important;
          &:before{
            opacity: 1;
            transform: scale(1);
          }
        }
        input:focus + .formItem__radio__indicator{
          border-color: $blue !important;
        }
      }
      &__indicator{
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:100%;
        border: $gray 1px solid;
        border-radius:20px;
        &:before{
          display: block;
          content: ' ';
          position: absolute;
          width: 14px;
          height: 14px;
          border-radius: 14px;
          top:50%;
          left: 50%;
          margin:-7px 0 0 -7px;
          background:$blue;
          opacity: 0;
          transform: scale(0.5);
          transition:opacity 0.25s, transform 0.25s;
          will-change: opacity, transform;
        }
      }
      &__title{
        display: inline-block;
        font-size:14px;
        padding-left: 10px;
        line-height:18px;
        vertical-align: top;
      }
    }

    &__title{
      position: absolute;
      top: 9px;
      left: 0;
      padding-left:8px;
      z-index: 10;
      pointer-events: none;
      transition: all 0.25s;
      will-change: top, left, color, font-size;
      span{
        padding:0 8px;
        color: $dark-gray;
        font-size: 14px;
        line-height: 14px;
        transition: all 0.25s;
        background: transparent;
        will-change: top, left, color, font-size;
        white-space: nowrap;
        line-height:100%;
        display: inline-block;
      }

      &--top{
        top:-12px;
        left: 16px;
        span{
          color: $black;
          font-size: 12px;
          background: $white;
        }
      }
      &.focused{
        span{
          color: $blue;
        }
      }
    }

    &__icon{
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      appearance: none;
      padding: 0;
      margin: 0;
      display: flex;
      border:none;
      background:none;
      cursor: pointer;
      color: $error;
      align-items: center;
      justify-content: center;
      width:2.5rem;
      overflow: hidden;
      border-radius:2.5rem;
      .icon{
        margin-top:-2px;
        font-size:22px;
      }
    }
    &__icon *{
      pointer-events: none;
    }

  }
  
  ngb-datepicker{
    box-shadow:0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
    z-index: 2;
    background: $white;
    border-radius:4px;
    width:340px;
    .ngb-dp-header{
      background: none;
      padding:20px 0 10px 0;
    }
    .ngb-dp-month{
      width: 100%;
    }
    .ngb-dp-week{
      margin: 0 0 10px 0;
    }
    .ngb-dp-weekday{
      font-style: normal;
      font-size:12px;
      color: $dark-gray;
    }
    .ngb-dp-day, .ngb-dp-week-number, .ngb-dp-weekday{
      flex-grow: 1;
    }
    .ngb-dp-arrow{
      flex-grow: 0;
      width:40px;
      .btn{
        width: 40px;
        height:40px;
        cursor: pointer;
        margin-top:-2px;
      }
    }
    .ngb-dp-day{
      text-align: center;
      font-size:13px;
      &:hover{
        .btn-light{
          background:rgba(0,0,0,.04);
        }
      }
      .btn-light{
        width:36px;
        height:36px;
        line-height:34px;
        border-radius: 36px;
        border:transparent 1px solid;
        display: inline-block;
      }
      .bg-primary{
        background: $blue;
        color: $white;
      }
    }
    .ngb-dp-today{
      .btn-light{
        border-color:rgba(0,0,0,.38);
      }
    }
    select{
      display: block;
      width: 100%;
			appearance: none;
			border: $gray 1px solid;
			padding: 0 16px !important;
			font-family: Rubik, Arial, Helvetica, sans-serif;
			border-radius: 20px;
			height: 40px !important;
			line-height: 38px;
      color: $black;
      font-size: 14px;
      transition:border-color 0.25s, color 0.25s;
      will-change:border-clor, color;
      text-transform: capitalize;
      background:url(assets/img/chevron-down.svg);
      background-size:24px;
      background-position: right 10px center;
      background-repeat: no-repeat;
      flex-grow: 0;
      width:90px;
      &:first-of-type{
        width: 140px;
      }
      &:after{
        content: '';
        display:block;
        width: 10px;
        height:10px;
        background:red;
      }
      &+select{
        margin-left: 16px;
      }
    }
  }
}
