<!-- [eventTracker]="getGoogleAnalyticsObject()" -->
<max-width-wrapper>
  <form class="filter-wrapper" filters *ngIf="options">
    <block-title>OTSI UURINGUID</block-title>
    <div class="row">
      <div class="col-4 sm-12">
        <formItem
          type="text"
          title="Tekstiotsing (pealkiri, autor, sisukokkuvõte)"
          ariaLabel="Tekstiotsing (pealkiri, autor, sisukokkuvõte)"
          name="tekstiOtsing">
        </formItem>
      </div>
      <div class="col-4 sm-12">						
        <formItem
          type="multi-select"
          title="Teema"
          ariaLabel="Teema"
          name="teema"
          [options]="options.studyTopicsOptions">
        </formItem>
      </div>
      <div class="col-4 align-end text-right sm-12" *ngIf="!expanded">
        <div class="button-row">
          <button htm-button theme="plain" type="button" (click)="toggleExpanded()">{{ 'button.search_detailed' | translate }}</button>
          <button htm-button>{{ 'button.search' | translate }}</button>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="expanded">
      <div class="col-4 sm-12">
        <formItem
          type="multi-select"
          title="Publikatsiooni liik"
          ariaLabel="Publikatsiooni liik"
          name="publikatsiooniLiik"
          [options]="options.publicationTypeOptions">
        </formItem>
      </div>
      <div class="col-4 sm-12">						
        <formItem
          type="text"
          title="Väljaandja"
          ariaLabel="Väljaandja"
          name="valjaandja">
        </formItem>
      </div>
    </div>
    <div class="row" *ngIf="expanded">
      <div class="col-4 sm-12">
        <formItem
          type="multi-select"
          title="Publikatsiooni keel"
          ariaLabel="Publikatsiooni keel"
          name="publikatsiooniKeel"
          [options]="options.publicationLanguageOptions">
        </formItem>
      </div>
      <div class="col-4 sm-12">						
        <formItem
          type="multi-select"
          title="Sildid"
          ariaLabel="Sildid"
          name="sildid"
          [options]="options.studyLabelOptions">
        </formItem>
      </div>
    </div>
    <div class="row" *ngIf="expanded">
      <div class="col-4 sm-12">
        <formItem
          type="select"
          [options]="options.yearRange"
          ariaLabel="Aasta alates"
          title="Aasta alates"
          name="alates">
        </formItem>
      </div>
      <div class="col-4 sm-12">						
        <formItem
          type="select"
          [options]="options.yearRange"
          ariaLabel="Aasta kuni"
          title="Aasta kuni"
          name="kuni">
        </formItem>
      </div>
      <div class="col-4 align-end text-right sm-12" *ngIf="expanded">
        <div class="button-row">
          <button htm-button theme="plain" type="button" (click)="toggleExpanded()">{{ 'button.search_brief' | translate }}</button>
          <button htm-button>{{ 'button.search' | translate }}</button>
        </div>
      </div>
    </div>
  </form>
</max-width-wrapper>