
<homepage-navblock
  [data]="topics"
  [theme]="theme"
  [title]="'home.youngth_slogan' | translate"
  [image]="'/assets/img/homePage-navBlock-youth.svg'"></homepage-navblock>
<homepage-articles
  *ngIf="articles && articles.length"
  [data]="articles | slice:0:1"
  [theme]="theme"></homepage-articles>
<homepage-slides
  [data]="services"
  [title]="'home.youngth_path_title' | translate"
  [theme]="theme"></homepage-slides>
<homepage-articles
  *ngIf="articles && articles.length > 1"
  [line]="2"
  [data]="articles | slice:1"
  [theme]="theme"></homepage-articles>
<homepage-topical
  [article]="news"
  [category]="'home.topical_default' | translate"
  [image]="'/assets/img/homepage-topical-youth.svg'"
  [theme]="theme"></homepage-topical>
<homepage-slogan
  [data]="slogan"
  [image]="'/assets/img/homepage-slogan-youth.svg'"
  [line]="3"
  [theme]="theme"></homepage-slogan>
<homepage-footer
  [data]="contact"
  [theme]="theme"></homepage-footer>
