<loader *ngIf="loading"></loader>
<ng-container *ngIf="!loading">
  <homepage-navblock
    [data]="topics"
    [theme]="theme"
    [title]="'home.career_slogan' | translate"
    [description]="'home.career_slogan_description' | translate"
    [image]="'/assets/img/homePage-navBlock-career.svg'"></homepage-navblock>
  <homepage-articles
    *ngIf="articles && articles.length"
    [data]="articles"
    [category]="'home.future_career' | translate"
    [theme]="theme"></homepage-articles>
  <homepage-careerDevelopment
    *ngIf="careerDevelopment"
    [url]="careerDevelopment"
    [title]="'home.careerDevelopment_title' | translate"
    [description]="'home.careerDevelopment_description' | translate"></homepage-careerDevelopment>
  <homepage-topical
    [category]="'home.topical_career' | translate"
    [article]="news"
    [line]="4"
    [image]="'/assets/img/homepage-topical-career.svg'"
    [theme]="theme"></homepage-topical>
  <homepage-slogan
    [data]="slogan"
    [image]="'/assets/img/homepage-slogan-career.svg'"
    [line]="3"
    [theme]="theme"></homepage-slogan>
  <homepage-footer
    [data]="contact"
    [theme]="theme"></homepage-footer>  
</ng-container>
