<div class="unpadded">
	<more-block id="1" content="abitekst.taotlused"></more-block>
</div>
<loader *ngIf="loading.initial === true"></loader>
<ng-container
	*ngIf="loading.initial === false && currentRole === 'natural_person'"
>
	<div class="acceptable-forms">
		<h4>
			{{ 'frontpage.dashboard_tabs_applications_acceptable_forms_label' |
			translate }}
		</h4>
		<div class="text-center" *ngIf="!acceptableFormsList.length">
			{{ 'frontpage.dashboard_tabs_applications_acceptable_forms_notfound' |
			translate }}
		</div>

		<ng-container *ngIf="acceptableFormsList.length">
			<div class="row">
				<ng-container *ngFor="let form of acceptableFormsList">
					<div class="col-6 form-item">
						<a [routerLink]="form.form_path" class="grid-item">
							<span *ngIf="form.title" class="grid-link"
								>{{ selectLanguage(form.title) }}</span
							>
						</a>
					</div>
				</ng-container>
			</div>

			<div
				class="grid-load"
				*ngIf="data.acceptable_forms.length > 4 && acceptableFormsList.length == 4 && acceptableFormsListRestricted == true"
			>
				<a href="javascript:void(0);" (click)="toggleAcceptableFormsList()"
					>+ {{ 'button.show_more' | translate }} ({{
					data.acceptable_forms.length - 4 }})</a
				>
			</div>

			<div class="grid-load" *ngIf="acceptableFormsListRestricted == false">
				<a href="javascript:void(0);" (click)="toggleAcceptableFormsList()"
					>- {{ 'button.show_less' | translate }}</a
				>
			</div>
		</ng-container>
	</div>
	<ng-container *ngIf="data.drafts.length">
		<h4>
			{{ 'frontpage.dashboard_tabs_applications_drafts_label' | translate }}
		</h4>
		<scrollableContent>
			<table htm-table style="min-width: 25rem">
				<thead>
					<tr>
						<th>
							{{ 'frontpage.dashboard_tabs_applications_document_name' |
							translate }}
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let form of data.drafts">
						<td>
							<ng-container *ngIf="form.title"
								>{{ selectLanguage(form.title) }}</ng-container
							>
						</td>
						<td class="text-center">
							<a
								class="rowspan-btn"
								*ngIf="form.form_path"
								[routerLink]="form.form_path"
								[queryParams]="{draft:'true', identifier: form.identifier}"
							>
								{{ 'button.continue_filling' | translate }}
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</scrollableContent>
	</ng-container>

	<ng-container>
		<h4>
			{{ 'frontpage.dashboard_tabs_applications_documents_label' | translate }}
		</h4>
		<scrollableContent
			*ngIf="!data.documents.length"
			[changed]="data.documents.length"
		>
			<table htm-table>
				<thead>
					<tr>
						<th>
							{{ 'frontpage.dashboard_tabs_applications_document_name' |
							translate }}
						</th>
						<th>
							{{ 'frontpage.dashboard_tabs_applications_document_date' |
							translate }}
						</th>
						<th>
							{{ 'frontpage.dashboard_tabs_applications_document_status' |
							translate }}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-center font-normal" colspan="3">
							{{ 'frontpage.dashboard_tabs_applications_documents_notfound' |
							translate }}
						</td>
					</tr>
				</tbody>
			</table>
		</scrollableContent>
		<scrollableContent *ngIf="data.documents.length">
			<table htm-table>
				<thead>
					<tr>
						<th>
							{{ 'frontpage.dashboard_tabs_applications_document_name' |
							translate }}
						</th>
						<th>
							{{ 'frontpage.dashboard_tabs_applications_document_date' |
							translate }}
						</th>
						<th>
							{{ 'frontpage.dashboard_tabs_applications_document_status' |
							translate }}
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngFor="let form of data.documents">
						<tr [class.description]="form.description">
							<td>
								<ng-container *ngIf="form.title"
									>{{ selectLanguage(form.title) }}</ng-container
								>
							</td>
							<td>
								<span *ngIf="form.document_date">{{ form.document_date }}</span>
							</td>
							<td><span *ngIf="form.status">{{ form.status }}</span></td>
							<td class="text-center">
								<a
									class="rowspan-btn"
									*ngIf="form.form_path"
									[routerLink]="form.form_path"
									[queryParams]="{existing:'true', identifier: form.identifier}"
								>
									{{ 'button.open' | translate }}
								</a>
							</td>
						</tr>
						<tr class="description-bottom" *ngIf="form.description">
							<td colspan="4">
								<p>{{ form. description }}</p>
							</td>
						</tr>
					</ng-container>
				</tbody>
			</table>
		</scrollableContent>
	</ng-container>
</ng-container>
<div *ngIf="loading.initial === false && currentRole === 'juridical_person'">
	<div *ngIf="false" class="lg-top">
		<alerts small="true" id="general"></alerts>
	</div>
	<!-- *ngIf="(data.educationalInstitutions && !data.educationalInstitutions.length) || !data.educationalInstitutions" -->
	<div *ngIf="data.educationalInstitutions && data.educationalInstitutions.length < 1" class="block-btn--holder">
		<button
			class="block-btn"
			role="button"
			(click)="loadInstitutionModal()"
			attr.aria-label="{{'dashboard.add_new_educational_institution' | translate}}"
		>
			+ {{'dashboard.add_new_educational_institution' | translate}}
		</button>
	</div>
	<ng-container
		*ngIf="data.educationalInstitutions && data.educationalInstitutions.length"
	>
		<accordion>
			<accordion-item
				[active]="data.educationalInstitutions.length === 1 && first"
				*ngFor="let school of data.educationalInstitutions; let first = first; let ind = index;"
				[title]="school.institutionInfo.generalData.name"
			>
				<!-- general data -->
				<ng-container *ngIf="school.institutionInfo">
					<scrollableContent>
						<table
							htm-table
							class="dashboard-table highCells scrollableTable small-text"
						>
							<tbody>
								<tr
									*ngIf="school.institutionInfo.contacts && school.institutionInfo.contacts.contactPhone"
								>
									<td>{{ 'event.participant_phone' | translate }}</td>
									<td class="light underlineHover">
										<a
											class="sm-show"
											href="tel:{{school.institutionInfo.contacts.contactPhone}}"
											role="link"
											attr.aria-label="{{'event.participant_phone' | translate}}: {{school.institutionInfo.contacts.contactPhone}}"
											>{{ school.institutionInfo.contacts.contactPhone }}</a
										>
										<span class="sm-hide"
											>{{ school.institutionInfo.contacts.contactPhone }}</span
										>
									</td>
									<td
										attr.rowspan="{{institutionInfoFieldSum(school)}}"
										class="text-center"
									>
										<a
											class="rowspan-btn"
											role="button"
											href="javascript:void(0)"
											(click)="loadInstitutionModal(school.institutionInfo)"
											attr.aria-label="{{ 'button.edit' | translate }}"
											>{{ 'button.edit' | translate }}</a
										>
									</td>
								</tr>
								<tr
									*ngIf="school.institutionInfo.contacts && school.institutionInfo.contacts.contactEmail"
								>
									<td>{{ 'event.participant_email' | translate }}</td>
									<td class="light underlineHover first-small">
										<a
											href="mailto:{{school.institutionInfo.contacts.contactEmail}}"
											attr.aria-label="{{'event.participant_email' | translate}}: {{school.institutionInfo.contacts.contactEmail}}"
											>{{ school.institutionInfo.contacts.contactEmail }}</a
										>
									</td>
									<td
										*ngIf="!school.institutionInfo.contacts.contactPhone"
										attr.rowspan="{{institutionInfoFieldSum(school)}}"
										class="text-center"
									>
										<a
											class="rowspan-btn"
											role="button"
											href="javascript:void(0)"
											(click)="openDialog(school.id, school.institutionInfo)"
											attr.aria-label="{{ 'button.edit' | translate }}"
											>{{ 'button.edit' | translate }}</a
										>
									</td>
								</tr>
								<tr
									*ngIf="school.institutionInfo.contacts && school.institutionInfo.contacts.webpageAddress"
								>
									<td>{{ 'school.website' | translate }}</td>
									<td class="light underlineHover first-small">
										<a
											href="{{ getWebPage(school.institutionInfo.contacts.webpageAddress) }}"
											target="_blank"
											attr.aria-label="{{'school.website' | translate}}: {{school.institutionInfo.contacts.webpageAddress}}"
											>{{ school.institutionInfo.contacts.webpageAddress }}</a
										>
									</td>
									<td
										*ngIf="!school.institutionInfo.contacts.contactPhone && !school.institutionInfo.contacts.contactEmail"
										attr.rowspan="{{institutionInfoFieldSum(school)}}"
										class="text-center"
									>
										<a
											class="rowspan-btn"
											role="button"
											href="javascript:void(0)"
											(click)="openDialog(school.id, school.institutionInfo)"
											attr.aria-label="{{ 'button.edit' | translate }}"
											>{{ 'button.edit' | translate }}</a
										>
									</td>
								</tr>
								<tr
									*ngIf="school.institutionInfo.address && school.institutionInfo.address.adsOid"
								>
									<td>{{ 'event.aadress' | translate }}</td>
									<td class="light">
										{{ school.institutionInfo.address.addressFull !== null ? school.institutionInfo.address.addressFull : getInAds(school.institutionInfo.address.adsOid, ind) }}
									</td>
									<td
										*ngIf="!school.institutionInfo.contacts.contactPhone && !school.institutionInfo.contacts.contactEmail && !school.institutionInfo.contacts.webpageAddress"
										attr.rowspan="{{institutionInfoFieldSum(school)}}"
										class="text-center"
									>
										<a
											class="rowspan-btn"
											role="button"
											href="javascript:void(0)"
											(click)="openDialog(school.id, school.institutionInfo)"
											attr.aria-label="{{ 'button.edit' | translate }}"
											>{{ 'button.edit' | translate }}</a
										>
									</td>
								</tr>
								<tr
									*ngIf="school.institutionInfo.generalData && school.institutionInfo.generalData.studyInstitutionTypeType"
								>
									<td>{{ 'dashboard.studyInstitutionType' | translate }}</td>
									<td colspan="2" class="light">
										{{
										selectLanguage(school.institutionInfo.generalData.studyInstitutionTypeType)
										}}
									</td>
								</tr>
								<tr
									*ngIf="school.institutionInfo.generalData && school.institutionInfo.generalData.ownershipTypeType"
								>
									<td>{{ 'school.ownership' | translate }}</td>
									<td colspan="2" class="light">
										{{
										selectLanguage(school.institutionInfo.generalData.ownershipTypeType)
										}}
									</td>
								</tr>
								<tr
									*ngIf="school.institutionInfo.generalData && school.institutionInfo.generalData.ownerTypeType"
								>
									<td>{{ 'dashboard.ownerType' | translate }}</td>
									<td colspan="2" class="light">
										{{
										selectLanguage(school.institutionInfo.generalData.ownerTypeType)
										}}
									</td>
								</tr>
							</tbody>
						</table>
					</scrollableContent>
				</ng-container>
				<!-- /general data -->

				<alerts
					small="true"
					[id]="school.acceptable_forms.length ? school.id : ''"
				></alerts>

				<!-- acceptable_forms -->
				<ng-container *ngIf="school.acceptable_forms">
					<h4 class="title-lg-padding">
						{{ 'frontpage.dashboard_tabs_applications_acceptable_forms_label' |
						translate }}
					</h4>
					<div class="text-center" *ngIf="!school.acceptable_forms.length">
						{{ 'frontpage.dashboard_tabs_applications_acceptable_forms_notfound'
						| translate }}
					</div>

					<ng-container *ngIf="school.acceptable_forms.length">
						<div class="row">
							<ng-container
								*ngFor="let form of school.acceptable_forms; let i = index;"
							>
								<ng-container
									*ngIf="(acceptableFormsListRestricted && i < acceptableFormsLimiter) || !acceptableFormsListRestricted"
								>
									<div class="col-6 form-item">
										<a
											[routerLink]="form.form_path"
											[queryParams]="{ identifier: form.id, educationalInstitutions_id: school.id, year: isNumber(form.description) ? form.description : undefined, existing: form.status === 'Registreeritud' || form.status === 'Esitatud' ? true : undefined }"
											class="grid-item"
										>
											<span *ngIf="form.title" class="grid-link"
												>{{ selectLanguage(form.title) }} {{ form.description
												}}</span
											>
										</a>
									</div>
								</ng-container>
							</ng-container>
						</div>

						<div
							class="grid-load"
							*ngIf="school.acceptable_forms.length > 4 && acceptableFormsListRestricted"
						>
							<a
								href="javascript:void(0);"
								(click)="toggleAcceptableFormsList()"
								>+ {{ 'button.show_more' | translate }} ({{
								school.acceptable_forms.length - 4 }})</a
							>
						</div>

						<div class="grid-load" *ngIf="school.acceptable_forms.length > 4 && !acceptableFormsListRestricted">
							<a
								href="javascript:void(0);"
								(click)="toggleAcceptableFormsList()"
								>- {{ 'button.show_less' | translate }}</a
							>
						</div>
					</ng-container>
				</ng-container>
				<!-- /acceptable_forms -->

				<!-- drafts -->
				<ng-container>
					<h4>
						{{ 'frontpage.dashboard_tabs_applications_drafts_label' | translate
						}}
					</h4>

					<table
						htm-table
						class="dashboard-table highCells small-text"
						*ngIf="!school.drafts.length"
					>
						<thead>
							<tr>
								<th>
									{{ 'frontpage.dashboard_tabs_applications_document_name' |
									translate }}
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center font-normal" colspan="2">
									{{ 'frontpage.dashboard_tabs_applications_drafts_notfound' |
									translate }}
								</td>
							</tr>
						</tbody>
					</table>
					<scrollableContent *ngIf="school.drafts.length">
						<table
							htm-table
							class="dashboard-table highCells scrollableTable small-text"
						>
							<thead>
								<tr>
									<th>
										{{ 'frontpage.dashboard_tabs_applications_document_name' |
										translate }}
									</th>
									<th>
										{{ 'frontpage.dashboard_tabs_applications_document_date' |
										translate }}
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<ng-container *ngFor="let form of school.drafts">
									<tr [class.description]="form.description">
										<td>
											<ng-container *ngIf="form.title"
												>{{ selectLanguage(form.title) }}</ng-container
											>
										</td>
										<td>
											<ng-container *ngIf="form.document_date"
												>{{ form.document_date }}</ng-container
											>
										</td>
										<td class="text-center">
											<a
												class="rowspan-btn"
												*ngIf="form.form_path"
												attr.aria-label="{{'frontpage.dokument' | translate}}: {{'button.continue_filling' | translate}}"
												[routerLink]="form.form_path"
												[queryParams]="{draft:'true', identifier: form.id, educationalInstitutions_id: school.id, year: isNumber(form.description) ? form.description : undefined}"
											>
												{{ 'button.continue_filling' | translate }}
											</a>
										</td>
									</tr>
									<tr class="description-bottom" *ngIf="form.description">
										<td colspan="3"><p>{{ form. description }}</p></td>
									</tr>
								</ng-container>
							</tbody>
						</table>
					</scrollableContent>
				</ng-container>
				<!-- drafts -->

				<!-- documents -->
				<ng-container>
					<h4>
						{{ 'frontpage.dashboard_tabs_applications_documents_label' |
						translate }}
					</h4>

					<scrollableContent *ngIf="!school.documents.length">
						<table
							htm-table
							class="dashboard-table highCells scrollableTable small-text"
						>
							<thead>
								<tr>
									<th>
										{{ 'frontpage.dashboard_tabs_applications_document_name' |
										translate }}
									</th>
									<th>
										{{ 'frontpage.dashboard_tabs_applications_document_date' |
										translate }}
									</th>
									<th>
										{{ 'frontpage.dashboard_tabs_applications_document_status' |
										translate }}
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-center font-normal" colspan="3">
										{{
										'frontpage.dashboard_tabs_applications_documents_notfound' |
										translate }}
									</td>
								</tr>
							</tbody>
						</table>
					</scrollableContent>

					<scrollableContent *ngIf="school.documents.length">
						<table
							htm-table
							class="dashboard-table highCells scrollableTable small-text"
						>
							<thead>
								<tr>
									<th>
										{{ 'frontpage.dashboard_tabs_applications_document_name' |
										translate }}
									</th>
									<th>
										{{ 'frontpage.dashboard_tabs_applications_document_date' |
										translate }}
									</th>
									<th>
										{{ 'frontpage.dashboard_tabs_applications_document_status' |
										translate }}
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<ng-container *ngFor="let form of school.documents">
									<tr [class.description]="form.description">
										<td>
											<ng-container *ngIf="form.title"
												>{{ selectLanguage(form.title) }}</ng-container
											>
										</td>
										<td>
											<span *ngIf="form.document_date"
												>{{ form.document_date }}</span
											>
										</td>
										<td>
											<span *ngIf="form.status">{{ form.status }}</span>
										</td>
										<td class="text-center">
											<a
												class="rowspan-btn"
												*ngIf="form.form_path"
												attr.aria-label="{{'button.open' | translate}} {{'frontpage.dokument' | translate}}"
												[routerLink]="form.form_path"
												[queryParams]="{existing:'true', identifier: form.id, educationalInstitutions_id: school.id, year: isNumber(form.description) ? form.description : undefined }"
											>
												{{ 'button.open' | translate }}
											</a>
										</td>
									</tr>
									<tr class="description-bottom" *ngIf="form.description">
										<td colspan="4"><p>{{ form.description }}</p></td>
									</tr>
								</ng-container>
							</tbody>
						</table>
					</scrollableContent>
				</ng-container>
			</accordion-item>
		</accordion> </ng-container
	><!-- /ngFor -->
</div>

<htm-modal
	id="institutionModal"
	modalTitle="{{ 'dashboard.adding_educational_institution' | translate }}"
	[titleExists]="modalTitleExists"
	[topAction]="modalTopAction"
	[bottomAction]="modalBottomAction"
>
	<modal-content [loading]="modalLoading">
		<alerts small="true" id="institution"></alerts>
		<ng-container *ngIf="!modalLoading && !error && formOptions">
			<h1>{{ 'dashboard.add_new_educational_institution' | translate }}</h1>
			<p>{{ 'xjson.required_fields_infotext' | translate }}</p>
			<div ngForm [formGroup]="formGroup" class="row margin">
				<ng-container *ngFor="let item of institutionModalFields">
					<div class="col-{{ item.col }} sm-12">
						<formItem
							[type]="item.type"
							[query]="item.query ? item.query : false"
							[error]="item.error"
							[formControlName]="item.modelName"
							title="{{ item.title | translate }} {{ item.required ? ' *' : '' }}"
							[options]="formOptions[item.modelName]"
						></formItem>
					</div>
				</ng-container>
				<div class="button-container">
					<button
						htm-button
						theme="plain"
						(click)="modalService.close('institutionModal')"
						(keyup.enter)="modalService.close('institutionModal')"
					>
						{{ 'event.registration_form_cancel' | translate }}
					</button>
					<button
						htm-button
						theme="default"
						(click)="createInstitution()"
						(keyup.enter)="createInstitution()"
					>
						{{ 'button.save' | translate }}
					</button>
				</div>
			</div>
		</ng-container>
	</modal-content>
</htm-modal>

<htm-modal
	id="editInstitutionModal"
	modalTitle="{{ 'button.edit' | translate }}"
	[titleExists]="modalTitleExists"
	[topAction]="modalTopAction"
	[bottomAction]="modalBottomAction"
>
	<modal-content [loading]="modalLoading">
		<alerts small="true" id="institution"></alerts>
		<ng-container *ngIf="!modalLoading && !error && formOptions && editableInstitution">
			<h1>{{ 'xjson.edit' | translate }}</h1>
			<p>{{ 'xjson.required_fields_infotext' | translate }}</p>
			<div ngForm [formGroup]="formGroup" class="row margin">
				<ng-container *ngFor="let item of institutionModalFields">
					<div class="col-{{ item.col }} sm-12">
						<formItem
							[(ngModel)]="item.modelCategory ? editableInstitution[item.modelCategory][item.modelName] : editableInstitution[item.modelName]"
							[type]="item.type"
							[query]="item.query ? item.query : false"
							[error]="item.error"
							[formControlName]="item.modelName"
							title="{{ item.title | translate }} {{ item.required ? ' *' : '' }}"
							[options]="formOptions[item.modelName]"
						></formItem>
					</div>
				</ng-container>
				<div class="button-container">
					<button
						htm-button
						theme="plain"
						(click)="modalService.close('editInstitutionModal')"
						(keyup.enter)="modalService.close('editInstitutionModal')"
					>
						{{ 'event.registration_form_cancel' | translate }}
					</button>
					<button
						htm-button
						theme="default"
						(click)="createInstitution()"
						(keyup.enter)="createInstitution()"
					>
						{{ 'button.save' | translate }}
					</button>
				</div>
			</div>
		</ng-container>
	</modal-content>
</htm-modal>