@import "typography.scss";
@import "breakpoints.scss";

:host {
  ::ng-deep #modal-institutionModal {
    overflow: visible;
  }

  h4 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.38;
    text-align: left;
    color: #333;
    margin: 2rem 0 1rem;
  }

  .scrollable_table {
    td {
      padding: .75rem 1rem;
      font-size: .875rem;
    }
  }
  
  .unpadded {
    margin-bottom: 2rem;
  }
  
  more-block {
    padding: 0 !important;
  }
  
  .acceptable-forms {
    margin-bottom: 2rem;
  }
  
  .text-center {
    text-align: center;
  }
  
  .rowspan-btn {
    word-break: keep-all;
  }
  
  .form-item {
    text-decoration: none;
    text-align: center;
    padding: 1rem 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #c7c7c9;
    background-color: #fff;
    color: #2e3374;
    font-weight: 500;
    font-size: 0.875rem;
    flex: 0;
    margin: .25rem .25rem;
    display: flex;
    flex-basis: calc(50% - 0.5rem);
    justify-content: center;
    flex-direction: column;
  }

  .grid-load {
    margin-top: 1rem;
  }
  
  .block-btn {
    width: 100%;
    height: 5rem;
    box-sizing: border-box;
    border-radius: 0.125rem;
    border: none;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    background-color: $aqua;
    font-size: 1rem;
    text-decoration: underline;
    color: $blue;
    line-height: 1.5rem;
    &:hover {
      text-decoration: none;
    }
    &--holder {
      @include break-on(sm, max) {
        margin: 0 -1.5rem;
      }
    }
  }
  
  .button-container {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
  }

  [htm-table] {
    font-size: .875rem;
  }
  
}
