@import "typography.scss";

h4 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.38;
    text-align: left;
    color: #333;
    margin: 2rem 0 1rem;
}

.acceptable-forms {
    margin-bottom: 2rem;
}

.text-center {
    text-align: center;
}

.row {
    margin: 0 !important;
    justify-content: space-between;
}

.form-item {
    text-decoration: none;
    text-align: center;
    padding: 1rem .5rem;
    border-radius: .25rem;
    border: 1px solid #c7c7c9;
    background-color: #fff;
    color: #2e3374;
    font-weight: 500;
    font-size: .875rem;
    flex: 0;
    margin-bottom: 1rem;
    display: flex;
    flex-basis: calc(50% - .5rem);
    justify-content: center;
    flex-direction: column;
}