<div class="notFound">
  <div class="flex" *ngIf="content">
    <div class="error__head">Oi-oi!</div>
    <div class="error__explanation" [innerHtml]="viewTranslations['notFound.explanation']"></div>
    <div class="error__button"><button [attr.aria-label]="viewTranslations['frontpage.navigate']" mat-raised-button routerLink="{{toFrontpage()}}" color="primary">{{viewTranslations['frontpage.navigate']}}</button></div>
    <div class="error__links">
      <a routerLink="{{constructUrl('school')}}" [attr.aria-label]="viewTranslations['school.label']" ><span>{{viewTranslations['school.label']}}</span></a>
      <a routerLink="{{constructUrl('events')}}" [attr.aria-label]="viewTranslations['event.label']"><span>{{viewTranslations['event.label']}}</span></a>
      <a routerLink="{{constructUrl('news')}}" [attr.aria-label]="viewTranslations['news.label']"><span>{{viewTranslations['news.label']}}</span></a>
    </div>
  </div>
</div>