<div class="notFound">
  <div class="flex" *ngIf="loaded">
    <div class="error__head">{{'frontpage.message' | translate}}</div>
    <div class="error__explanation" innerHtml="{{getLang() !== 'en' ? 'Tundub, et otsitud lehte ei leitud. <br>Veakood: <b>404</b>' : 'It looks like the page you were looking for was not found. <br> Error code: <b> 404 </b>'}}"></div>
    <div class="error__button">
      <button role="link" attr.aria-label="{{'frontpage.navigate' | translate}}" mat-raised-button routerLink="{{toFrontpage()}}" color="primary" tabindex="0">{{'frontpage.navigate' | translate}}</button>
    </div>
    <div class="error__links">
      <a routerLink="{{constructUrl('school')}}" role="link" attr.aria-label="{{'school.label' | translate}}" tabindex="0"><span>{{'school.label' | translate}}</span></a>
      <a routerLink="{{constructUrl('events')}}" role="link" attr.aria-label="{{'event.label' | translate}}" tabindex="0"><span>{{'event.label' | translate}}</span></a>
      <a routerLink="{{constructUrl('news')}}" role="link" attr.aria-label="{{'news.label' | translate}}" tabindex="0"><span>{{'news.label' | translate}}</span></a>
    </div>
  </div>
</div>