<div class="row sm-hide" attr.aria-label="{{'breadcrumbs' | translate}}">
  <div class="col-12">
    <ul class="main-container breadcrumb mt-0 mb-0">
      <li *ngFor="let breadcrumbEl of breadcrumb; let last = last">
        <a [routerLink]="[breadcrumbEl.url.path]" *ngIf="!last">
          <span attr.aria-label="{{'breadcrumbs navigation link'}}{{ breadcrumbEl.text }}{{'clickable'}}">{{ breadcrumbEl.text }}</span>
        </a>
        <span attr.aria-label="{{'breadcrumbs navigation link'}}{{ breadcrumbEl.text }}" tabindex="0" *ngIf="last">{{ breadcrumbEl.text | ellipsis:30 }}</span>
      </li>
    </ul>
  </div>
</div>