<base-layout>
  <div class="inline">
    <breadcrumbs path="{{ '/noorteseire' | translatePath }}"></breadcrumbs>
  </div>
  <!--/inline-->
  <div class="inline">
    <block>
      <block-title
        ><h1>{{ "youthMonitoring.title" | translate }}</h1></block-title
      >
      <block-content>
        <loader *ngIf="loading"></loader>
        <ng-container *ngIf="data$ | async as data">
          <youth-monitoring-banner
            [title]="'youthMonitoring.list.introTitle' | translate"
            [body]="'youthMonitoring.list.introText' | translate"
          ></youth-monitoring-banner>
          <dropdown-list [data]="data" [reducedColumnSet]="true"></dropdown-list>
        </ng-container>
      </block-content>
    </block>
  </div>
  <!--/inline-->
</base-layout>
