<div #content *ngIf="list && list.length > 0">
    <ng-container *ngFor="let item of list; let i = index">
        <div class="list__item">
            <div class="list__item__titlebox">
                <div class="col-grow">
                    <div class="list__item__head" *ngIf="item.head">
                        {{ item.head.entity ? item.head.entity.entityLabel : item.head }}</div>
                    <div class="flex flex-center flex-wrap">
                        <a href="javascript:void();" class="list__item__title">
                            <h1>{{ item.title }}</h1>
                        </a>
                        <div href="javascript:void();" class="nonActive--blue"
                            *ngIf="item.admissionStatus && item.fieldAdmissionStatus !== 'avatud' && item.fieldAdmissionStatus !== 'Avatud'">
                            {{'studyProgramme.non_active' | translate}}</div>
                    </div>

                    <div class="author" *ngIf="item.fieldAuthor || item.created">{{ item.fieldAuthor }}
                        {{ item.created*1000 | date:"dd.MM.yyyy" }}</div>
                    <div class="tags" *ngIf="item.tags">
                        <labels [data]="item.tags" type="plain"></labels>
                    </div>
                    <div class="description" *ngIf="item.shortDescription">{{ item.shortDescription }}</div>

                </div>
                <!--col-9-->
                <div class="col-4 xs-12 pointer" *ngIf="item.image">
                    <img [class.lastImg]="last" src="{{ item.image.derivative.url }}" alt="{{ item.image.alt }}"
                        width="100%" />
                </div>
            </div>

            <div class="inline__items sm-hide">
                <ng-container *ngFor="let fieldName of footerFields[type]; let i = index">
                    <ng-container *ngIf="item[fieldName]">
                        <span role="separator" class="bar" *ngIf="i>0">|</span>
                        <span class="item" *ngIf="fieldName === 'duration'">{{ item.duration | monthsToYears }}</span>
                        <span class="item"
                            *ngIf="fieldName === 'educationalInstitution' || fieldName === 'phone'">{{ item[fieldName].entity ? item[fieldName].entity.entityLabel : item[fieldName] }}</span>
                        <span class="item" *ngIf="fieldName === 'teachingLanguage' && item[fieldName].length">
                            <ng-container *ngFor="let item of item[fieldName]; let i = index;">
                                <span><span *ngIf="i > 0">, </span>{{ item.entity.entityLabel | ucfirst }}</span>
                            </ng-container>
                        </span>
                        <span class="item" *ngIf="fieldName === 'address'">{{ item[fieldName] }}</span>
                        <span class="item" *ngIf="fieldName === 'webpage' && item[fieldName]">
                            <a attr.aria-label="{{'event.webpage'}} {{ item[fieldName] | removeProtocol }}"
                                href="{{ item[fieldName] | url }}"
                                target="_blank">{{ item[fieldName] | removeProtocol }}</a>
                        </span>
                        <span class="item" *ngIf="fieldName === 'email'">
                            <a attr.aria-label="{{'E-mail'}} {{ item[fieldName]}}"
                                href="mailto:{{ item[fieldName]}}">{{ item[fieldName]}}</a>
                        </span>
                    </ng-container>
                </ng-container>
            </div>
        </div>
        <!--/studyProgramme__item-->
    </ng-container>
    <!--/list repeat-->
</div>