@import "../../../assets/styles/typography.scss"; 
@import "../../../assets/styles/layout.scss"; 

.logo {
  margin-bottom: 1.5rem;
  img {
    width: 100%;
  }
}
.intro, .description {
  margin-bottom: 1rem;
}
 .accordion__body a[target="_blank"]:after, ::ng-deep .description a[target="_blank"]:after, ::ng-deep .short a[target="_blank"]:after {
  font-feature-settings: 'liga';-ms-font-feature-settings: 'liga';font-family: 'htm-icon';content: 'launch' !important;position: relative;top: .125rem;left:.125rem;display: inline-block;
}

.button-list {display: flex;flex-basis: 100%;justify-content: flex-start; margin-top: 1rem; border-bottom: 0.1875rem solid $light-gray;margin-bottom: 1.5rem;
  a {text-decoration: none;}
  @include break-on(sm, max) {margin-left: -1.5rem;margin-right: -1.5rem;}
  &.left-align {justify-content: flex-start;}
  .view-item {width: 25%; margin: 0;
    .title { font-weight: 300; font-size: .875rem; line-height: 1.71; color: $blue; margin-bottom: .75rem; }
    &:hover {
      .htm-icon, .title  { color: #0F7B8A;}
    }
    .htm-icon {margin: 1rem 0; color: $blue;
      @include break-on(xxs, min) {margin: 1rem 0 .5rem;}
    }
    &.mat-menu-item-active { border-bottom: .1875rem solid $dark-orange;pointer-events: none;cursor: initial; margin-bottom: -0.1875rem; 
      .htm-icon, .title {color: $black; }
      &:hover { 
        .htm-icon, .title {color: $black; }
      }
    }
    &.left-align {margin: 0;}
  }
}

.mat-expansion-panel {margin-bottom: .25rem;border: .0625rem solid #bee3e8;border-left: .1875rem solid #bee3e8;
  mat-panel-title { white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
    @include break-on(sm, max) {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
    @include break-on(sm, min) {span {overflow: hidden;text-overflow: ellipsis;}}
  }
  &.mat-expanded { border: .0625rem solid $gray; border-left: .1875rem solid #15adc2; 
    mat-panel-title {white-space: normal; color: $black; font-weight: 500;
      @include break-on(sm, min) {text-overflow: initial;overflow: auto;white-space: normal;}
    }
  }
  &-body { padding: 0 $medium !important;}
  &-spacing {margin: 0 0 $half-gutter 0;}
  &-header {height: 2.5rem !important;padding-right:1.25rem; padding-left:1.25rem;background: #bee3e8!important; border-radius: 0;
    &.mat-expanded {height: auto !important;padding-top: .5rem; padding-bottom: .5rem;margin-top: 0;font-weight: 500;white-space: normal;background:#8ad6e0 !important;
      .text--substrong--head {
        font-weight: 500;
      }
    }
  }
  &:hover {
    border-left: .1875rem solid #15adc2;
    ::ng-deep .mat-expansion-indicator{ background: $blue;
      &:after {
        color: $white;
      }
    }
  }
  @include break-on(lg, min) {
    border-left: .3125rem solid #bee3e8;
    &.mat-expanded {border-left: .3125rem solid #15adc2;}
    &:hover {border-left: .3125rem solid #15adc2;}
  }
}

::ng-deep .mat-expansion-indicator::after {font-feature-settings: 'liga';-ms-font-feature-settings: 'liga';font-family: 'htm-icon';
  content: 'keyboard_arrow_down' !important;border: none !important;transform: none !important;padding: 0 !important;
  position: relative;text-align: center;width: $medium;color: $blue;
  height: $medium;-webkit-animation: rotating 2s linear infinite;animation: rotating 2s linear infinite; 
}
::ng-deep .mat-expansion-panel-content {padding: 0 $half-gutter; background: $white!important; }
::ng-deep .mat-expansion-indicator {background: $white; font-size: 1.25rem;border-radius: 50%;width: $medium;height: $medium;border: 0rem solid $gray;}
::ng-deep .mat-expanded .mat-expansion-indicator::after {color: $white;-webkit-animation: rotating .25s linear infinite; animation: rotating .25s linear infinite; }
::ng-deep .mat-expanded .mat-expansion-indicator {background: $blue; border: 0rem solid $blue;}
.accordion {padding: 0; padding-top: $large;   
  @include break-on(sm, max) { margin: 0 -1.5rem; }
}