@import "typography.scss";

:host {
	color: $white;
	border-radius: 99px;
	appearance: none;
	border: none;
	font-size: 1rem;
	line-height: 100%;
	padding: 12px 45px;
	cursor: pointer;
	transition: color 0.25s, background 0.25s;
	position: relative;
	overflow: hidden;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
	font-family: Rubik, sans-serif;

	&.button--default {
		background: $blue;
		&:hover {
			background: lighten($blue, 10);
		}
	}

	&.button--plain {
		background: none;
		color: $blue;
		text-decoration: underline;
		box-shadow: none;
		&:hover {
			background: darken($white, 5);
			text-decoration: none;
		}
		&-link {
			padding: 0;
			border-radius: 0;
		}
	}

	&.button--link {
		background: none;
		color: $blue;
		text-decoration: underline;
		box-shadow: none;
		padding: 0;
		border-radius: 0;
		&:hover {
			text-decoration: none;
		}
	}
	&.button--logout {
		background: none;
		color: $black;
		box-shadow: none;
		padding: 1rem 1.5rem;
		border-radius: 0;
		text-decoration: none;
		font-size: 0.875rem;
		&:hover {
			background: $light-gray;
		}
	}

	&.button--icon {
		padding: 0;
		background: none;
		border-radius: 0;
		color: $blue;
		text-decoration: none;
		box-shadow: none;
	}

	&.button--inverted {
		background: $white;
		color: $black;
		&:hover {
			background: $aqua;
		}
	}

	.button--label {
		position: relative;
		z-index: 2;
		pointer-events: none;
	}
}
