<homepage-line [type]="line"></homepage-line>
<div class="inner">
  <div class="instance">
    <div class="instance__image">
      <img src="{{ image }}" alt=""/>
    </div><!--/instance__image-->
    <div class="instance__content">
      <h3 [innerHTML]="data.title"></h3>
      <p class="author" *ngIf="data.person || data.company">
        - <b *ngIf="data.person">{{ data.person }}<span *ngIf="data.company">,</span></b>
        <ng-container *ngIf="data.company">
          {{ data.company }}
        </ng-container>
      </p>
    </div><!--/instance__content-->
  </div><!--/instance-->
</div><!--/inner-->
