<homepage-line type="4"></homepage-line>
<div class="inner">
  <form [formGroup]="formGroup" (submit)="submit()">
  <div class="footer">
    <div class="contact" *ngIf="data">
      <h2 class="contact__title">{{ 'home.contact' | translate }}</h2>
      <p>
        {{ data.name }}<br />
        <a [href]="'mailto:'+data.email">{{ data.email }}</a><br />
        {{ data.phone }}
      </p>
    </div><!--/contact-->
    <div class="newsletter">
      <h3 class="newsletter__title">{{ 'home.newsletter_subscribe' | translate }}</h3>
      <ng-container *ngIf="loading">
        <loader></loader>
      </ng-container>
      <ng-container *ngIf="!loading">
        <div class="newsletter__cols" *ngIf="!subscribedStatus && !subscribedError">
          <div class="newsletter__col">
            <formItem
              [placeholder]="'home.newsletter_email' | translate"
              domID="e-mail"
              browserAutocomplete="email"
              [ariaLabel]="'home.newsletter_email' | translate"
              formControlName="email"></formItem>
          </div><!--/newsletter_col-->
          <div class="newsletter__col">
            <button htm-button theme="outline-dark">{{ 'home.newsletter_join' | translate }}</button>
          </div><!--/newsletter_col-->
          <div class="newsletter__col">
            <a [href]="settings.url + '/custom/rss'" target="_blank">{{ 'home.newsletter_rss' | translate }}</a>
          </div><!--/newsletter_col-->
        </div><!--/newsletter__cols-->
  
        <alerts id="newsletter-order" small="true"></alerts>
  
        <div *ngIf="subscribedStatus">
          <div>{{ 'newsletter.subscription_thanks_content' | translate }}</div>
          <div>{{ 'newsletter.subscription_thanks_subcontent' | translate }} <b>{{ formGroup.controls.email.value }}</b>.</div>
        </div><!--/subscribedStatus-->  

        <div *ngIf="subscribedError">
          <div>{{ 'newsletter.subscription_failed' | translate }}</div>
          <button class="mt" theme="outline-dark" (click)="resetView()" attr.aria-label="{{'button.try_again' | translate}}" htm-button>{{ 'button.try_again' | translate }} </button>
        </div>
      </ng-container>
      
    </div><!--/newsletter-->
  </div><!--/footer-->
  </form>
</div><!--/inner-->

<htm-modal id="unsubscribe" modalTitle="{{'newsletter.unsubscribe_title' | translate}}" size="medium">
  <ng-template>
    <br /><br />
    <div [innerHTML]="'newsletter.unsubscribe_content' | translate"></div>
    <br /><br />
  </ng-template>
</htm-modal>
  
<htm-modal id="subscribe" modalTitle="{{'newsletter.modal_title' | translate}}" size="medium">
  <ng-template>
    <br /><br />
    <div [innerHTML]="'newsletter.modal_content' | translate"></div>
    <br /><br />
  </ng-template>
</htm-modal>