<div class="navBlock">
  <div class="emblem" id="emblem" tabindex="-1" role="img" *ngIf="theme === 'career'" attr.aria-label="Struktuurifondide logod"></div>
  <div class="inner">
    <div class="navBlock__title">
      <div class="navBlock__title__inner">
        <h1 [innerHTML]="title"></h1>
        <ng-container *ngIf="description">
          <p>{{ description }}</p>
        </ng-container>
      </div><!--/navBlock__title__inner-->
      <img src="/assets/img/homePage-navBlock.svg" alt="" *ngIf="theme === 'default'" />
      <img src="/assets/img/homePage-navBlock-teachers.svg" alt="" *ngIf="theme === 'teachers'" />
      <img src="/assets/img/homePage-navBlock-career.svg" alt="" *ngIf="theme === 'career'" />
    </div><!--/navBlock__title-->
    
    <ng-container *ngIf="theme === 'default'">
      <div class="navBlock__buttons" *ngIf="data.length" >
        <ul>
          <ng-container *ngFor="let item of data">
            <li *ngIf="!item.scrollTo">
              <button [scrollTo]="item.button | slugify">{{ item.button }} <icon glyph="chevrons-down"></icon></button>
            </li>
            <li *ngIf="item.scrollTo">
              <button [scrollTo]="item.scrollTo">{{ 'home.services' | translate }} <icon glyph="chevrons-down"></icon></button>
            </li>
          </ng-container>
        </ul>
      </div><!--/navBlock__buttons-->
    </ng-container>

    <ng-container *ngIf="theme === 'teachers' || theme === 'career'">
      <div class="navBlock__buttons" *ngIf="data.length">
        <ul>
          <li *ngFor="let item of data">
            <button *ngIf="item.link.url.routed" [routerLink]="item.link.url.path">{{ item.title }} <span class="label">{{ item.link.title }}</span></button>
            <a *ngIf="!item.link.url.routed" target="_blank" [href]="item.link.url.path">{{ item.title }}  <span class="label">{{ item.link.title }}</span></a>
          </li>
        </ul>
      </div><!--/navBlock__buttons-->
    </ng-container>
  </div><!--/inner-->
</div><!--/navBlock-->