<homepage-line [type]="line"></homepage-line>
<div class="inner">
  <div class="instance">
    <div class="instance__image">
      <img src="{{ image }}" alt=""/>
    </div><!--/instance__image-->
    <div class="instance__content">
      <h3 [innerHTML]="title" ></h3>
      <p class="author" *ngIf="person || company">
        - <b *ngIf="person">{{ person }}<span *ngIf="company">,</span></b>
        <ng-container *ngIf="company">
          {{ company }}
        </ng-container>
      </p>
    </div><!--/instance__content-->
  </div><!--/instance-->
</div><!--/inner-->
