<div class="navBlock">
  <div class="inner">
    <div class="navBlock__title">
      <h1 [innerHTML]="'home.slogan' | translate"></h1>
      <img src="/assets/img/homePage-navBlock.svg" />
    </div><!--/navBlock__title-->
    
    <div class="navBlock__buttons" *ngIf="data.length">
      <ul>
        <li *ngFor="let item of data">
          <a [scrollTo]="item.button">{{ item.button }} <icon glyph="chevrons-down"></icon></a>
        </li>
        <li>
          <a scrollTo="teenused">{{ 'home.services' | translate }} <icon glyph="chevrons-down"></icon></a>
        </li>
      </ul>
    </div><!--/navBlock__buttons-->
  </div><!--/inner-->
</div><!--/navBlock-->