<homepage-line type="1"></homepage-line>
<div class="inner">
  <ng-container *ngFor="let item of data; let i = index;">

    <div class="instance" [id]="'scrollTo-' + (item.button | slugify)">
      <div class="instance__image" *ngIf="i % 2 === 1">
        <img [src]="item.image" />
      </div><!--/instance__image-->
      
      <div class="instance__content">
        <h2 class="instance__category" [attr.aria-label]="'home.what_to_find' | translate" >{{ 'home.what_to_find' | translate }}</h2>
        <h3 class="instance__title" [attr.aria-label]="item.title" >{{ item.title }}</h3>
        <div class="instance__body">
          <p [innerHTML]="item.content" ></p>
        </div><!--/instance__body-->
        <button class="instance__link" [routerLink]="item.link.url.path" *ngIf="item.link.url.routed" >{{ item.link.title }}</button>
        <a class="instance__link" [href]="item.link.url.path" *ngIf="!item.link.url.routed" >{{ item.link.title }}</a>
      </div><!--/instance__content-->
      
      <div class="instance__image" *ngIf="i % 2 === 0">
        <img [src]="item.image" />
      </div><!--/instance__image-->
    </div><!--/instance-->
  </ng-container>
  
</div><!--/inner-->