<div class="favourites__wrapper" attr.aria-label="{{'fave.dropdown' | translate}}">
    
    <div *ngIf="state" matTooltip="{{  'tooltip.favourites_remove' | translate}}" matTooltipPosition="after" tabindex="0" class="primary htm-icon" role="button" (click)="toggleFavouritesButton()">
      {{  'star'  }}
    </div>
    <div *ngIf="!state" matTooltip="{{ 'tooltip.favourites' | translate}}" matTooltipPosition="after" tabindex="0" class="primary htm-icon" role="button" (click)="toggleFavouritesButton()">
      {{ 'star_border' }}
    </div>
  
</div>