<div class="favourites__wrapper" attr.aria-label="{{'Favourites dropdown, clickable'}}" *ngIf="!userLoggedOut">
  <mat-icon tabindex="0" class="primary" role="button" (click)="toggleFavouritesPanel()">star_rate</mat-icon>


  <div class="favourites__dropdown" *ngIf="favouritesDropdown">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <ng-container *ngIf="!loading">

      <ng-container *ngIf="!existing">
        <form (submit)="submitFavouriteItem()">
                <div class="row">
          <div class="col-12 header" tabindex="0">LEMMIKUKS LISAMINE</div>
                  <div class="col-12">
          <div class="round-input__field-wrapper mb-20 mt-0">
            <input class="round-input__field" placeholder="title" [(ngModel)]='title' name="title" />
          </div>



          <button role="button" mat-raised-button color="primary">Lisa lemmikutesse</button>
        </div>
      </div>
        </form>
      </ng-container>

      <ng-container *ngIf="existing">
        <form (submit)="removeFavouriteItem(existingTargetId)">
          <button role="button" mat-raised-button color="primary">Eemalda lemmikutest</button>
        </form>
      </ng-container>
    </ng-container>

  </div>
</div>
