@import "typography.scss";
@import "breakpoints.scss";
@import "grid.scss";
:host {
  .filter-wrapper {
    padding: 1.5rem;
    background: #fff;
    @include break-on(sm, min) {
      margin: 0rem 0 1.5rem;
      padding: 0.75rem 1.5rem;
    }
    @include break-on(sm, max) {
      margin-bottom: 0;
      .filter-control{
          padding: 0 !important;
          span {
              margin-right: 1rem;
          }
      }
      &.filtersActive {
        display: block;
      }
      .button-row{
        width: 100%;
        button {
          width: 100%;
        }
      }
    }
    .filter-control {
      padding: 1.5rem 0rem 0.5rem;
    }
    .text-right {
      text-align: right;
    }
    .align-center{
      align-self: center;
      margin: 0 auto;
      position: relative;
      right: .5rem;
      text-align: center;
      a {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .row {
    margin: 0 -0.5rem;
    @include break-on(sm, max) {
      padding-top:0.75rem;
    }
    .align-end {
      align-self: flex-end;
      margin-bottom: auto;
    }
    .inline-flex {
      display: inline-flex;
      justify-content: flex-end;
    }
    .text-right {
      text-align: right;
    }
    .align-center {
      align-self: center;
    }
    .filter-state {
      margin: 0 auto;
      position: relative;
      right: 0.5rem;
      text-align: center;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  div[class*="col-"] {
    padding: 0.5rem !important;
  }
  .col-25 {
    width: 20.83%;
  }
  // .filters {
  //   background:#fff;
  //   [class*='col-'] {
  //     padding: 0 14px 0 0 !important;
  //   }
  //   .col-25{
  //     width: 20.83%;
  //   }

  //   .brief{
  //     align-items: flex-end;
  //     padding-top: 19px !important;
  //   }
  // }
}