
<div class="main-container">
  <div class="row">
    <div class="col-8">
      <div class="block padding-block border-blue">
        <mat-spinner *ngIf="!data"></mat-spinner>
        <ng-container *ngIf="data">
          <div class="block-title" *ngIf="data.header.form_name">{{data.header.form_name}}</div>

          <div class="xjson__title" *ngIf="data.body.title">{{ selectLanguage(data.body.title) }}</div>    
          <p *ngIf="data.body.introduction">{{ selectLanguage(data.body.introduction) }}</p>

          <ul class="xjson__navigation">
            <li class="xjson__navigation__step" [class.active]="opened_step === step" *ngFor="let step of objectKeys(data.body.steps)">
              <a [class.disabled]="isStepDisabled(step)" (click)="selectStep(step)">
                <span class="xjson__navigation__stepname"><ng-container *ngIf="data.body.steps[step].title"> {{ selectLanguage(data.body.steps[step].title) }}</ng-container></span>
                <span class="xjson__navigation__stepname"><ng-container *ngIf="!data.body.steps[step].title"> {{ selectLanguage(data.body.steps[step]) }}</ng-container></span>
              </a>
            </li>
          </ul>
          <!-- STEP BODY -->
          <div class="xjson__step-title" *ngIf="data.body.steps[opened_step].title"> {{ selectLanguage(data.body.steps[opened_step].title) }} </div>
          <div class="xjson__step-introduction" *ngIf="data.body.steps[opened_step].introduction"> {{ selectLanguage(data.body.steps[opened_step].introduction) }} </div>

          <form (submit)="submitForm()" *ngIf="objectKeys(data_elements).length > 0">

            <ng-container *ngFor="let element of objectKeys(data_elements); let index = index;">
              
              <div class="row" *ngIf="!data_elements[element].hidden"><!-- Form elements -->
                
                <div class="col-12">

                  <ng-container *ngIf="data_elements[element].helpertext">
                      {{ selectLanguage(data_elements[element].helpertext) }}
                  </ng-container> <!-- /HELPERTEXT QUESTIONMARK (?) -->

                  <ng-container *ngIf="data_elements[element].type == 'helpertext'">
                    <div class="xjson__heading" *ngIf="data_elements[element].title">
                      {{ selectLanguage(data_elements[element].title) }}
                    </div>
                  </ng-container> <!-- /HELPERTEXT (heading) -->

                  <ng-container *ngIf="data_elements[element].type == 'heading'">
                    <div class="xjson__heading" *ngIf="data_elements[element].title">
                      {{ selectLanguage(data_elements[element].title) }}
                    </div>
                  </ng-container> <!-- /HEADING -->

                  <ng-container *ngIf="data_elements[element].type == 'text'">
                    <div class="round-input__wrapper" [class.complete]="data_elements[element].value">
                      <span class="round-input__title">{{ selectLanguage(data_elements[element].title) }}{{data_elements[element].required ? '*': ''}}</span>
                      <div class="round-input__field-wrapper">
                        <input class="round-input__field" type="text" 
                        placeholder="{{selectLanguage(data_elements[element].title)}}{{data_elements[element].required ? '*': ''}}" 
                        [readonly]="data_elements[element].readonly" 
                        [(ngModel)]='data_elements[element].value' 
                        [name]="element" 
                        [attr.required]="data_elements[element].required"/>
                      </div>
                    </div><!--/round-input__wrapper-->
                  </ng-container> <!-- /TEXT -->

                  <ng-container *ngIf="data_elements[element].type == 'textarea'">
                    <span>{{ selectLanguage(data_elements[element].title)}}{{data_elements[element].required ? '*': ''}}</span>
                    <div class="round-input__area">
                      <textarea class="round-input__area__elem" 
                      [readonly]="data_elements[element].readonly" 
                      [(ngModel)]='data_elements[element].value' 
                      placeholder="{{selectLanguage(data_elements[element].title)}}{{data_elements[element].required ? '*': ''}}"  
                      [name]="element" ></textarea>
                    </div>
                  </ng-container> <!-- /TEXTAREA -->

                  <ng-container *ngIf="data_elements[element].type == 'selectlist'">
                    <span>{{ selectLanguage(data_elements[element].title)}}{{data_elements[element].required ? '*': ''}}</span>
                    <mat-select placeholder="{{selectLanguage(data_elements[element].title)}}{{data_elements[element].required ? '*': ''}}"
                    [(ngModel)]='data_elements[element].value'
                    [name]="element"
                    [compareWith]="compareFn"
                    [multiple]="data_elements[element].multiple">
                      <mat-option *ngIf="!data_elements[element].multiple">-- None --</mat-option>
                      <ng-container *ngFor="let option of objectKeys(data_elements[element].options)">
                        <ng-container *ngIf="!data_elements[element].options[option]['options']">
                          <mat-option
                          [value]="option">
                            {{ selectLanguage(data_elements[element].options[option]) }}
                          </mat-option>
                        </ng-container>

                        <ng-container *ngIf="data_elements[element].options[option]['options']">
                          <mat-optgroup [label]="selectLanguage(data_elements[element].options[option])">
                            <mat-option *ngFor="let sub_key of objectKeys(data_elements[element].options[option]['options'])"
                            [value]="sub_key">
                              {{ selectLanguage(data_elements[element].options[option]['options'][sub_key]) }}
                            </mat-option>
                          </mat-optgroup>
                        </ng-container>
                      </ng-container>
                    </mat-select>
                  </ng-container> <!-- /SELECTLIST -->

                  <ng-container *ngIf="data_elements[element].type == 'email'">
                    <div class="round-input__wrapper" [class.complete]="data_elements[element].value">
                      <span class="round-input__title">{{ selectLanguage(data_elements[element].title) }}{{data_elements[element].required ? '*': ''}}</span>
                      <div class="round-input__field-wrapper">
                          <input class="round-input__field" type="email" 
                          placeholder="{{selectLanguage(data_elements[element].title)}}{{data_elements[element].required ? '*': ''}}" 
                          [readonly]="data_elements[element].readonly" 
                          [(ngModel)]='data_elements[element].value' 
                          [name]="element" 
                          [attr.required]="data_elements[element].required"/>
                      </div>
                    </div><!--/round-inpuit__wrapper-->
                  </ng-container> <!-- /EMAIL -->

                  <ng-container *ngIf="data_elements[element].type == 'checkbox'">
                    <div class="custom-checkbox">
                      <mat-checkbox [(ngModel)]="data_elements[element].value" 
                      [name]="element" 
                      [disabled]="data_elements[element].readonly" 
                      [required]="data_elements[element].required"> 
                      {{ selectLanguage(data_elements[element].title) }}{{data_elements[element].required ? '*': ''}}
                      </mat-checkbox>
                    </div>            
                  </ng-container> <!-- /CHECKBOX -->

                  <ng-container *ngIf="data_elements[element].type == 'number'">
                    <div class="round-input__wrapper" [class.complete]="data_elements[element].value != undefined">
                      <span class="round-input__title">{{ selectLanguage(data_elements[element].title) }}{{data_elements[element].required ? '*': ''}}</span>
                      <div class="round-input__field-wrapper">
                        <input class="round-input__field" type="number" 
                        [min]="data_elements[element].min" 
                        [max]="data_elements[element].max" 
                        [(ngModel)]="data_elements[element].value" 
                        [readonly]="data_elements[element].readonly" 
                        [name]="element" 
                        [attr.required]="data_elements[element].required"/>
                      </div>
                    </div><!--/round-inpuit__wrapper-->
                  </ng-container> <!-- /NUMBER -->

                  <ng-container *ngIf="data_elements[element].type == 'date'">
                    <input matInput 
                    [matDatepicker]="picker" 
                    placeholder="{{selectLanguage(data_elements[element].title)}}{{ data_elements[element].required ? '*' : ''}}"
                    [(ngModel)]="data_elements[element].value"
                    dateFormatter
                    [name]="element">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </ng-container> <!-- /DATE -->

                  <ng-container *ngIf="data_elements[element].type == 'file'">
                    <div class="round-input__wrapper" [class.complete]="data_elements[element].value != undefined">
                      <span class="round-input__title">{{ selectLanguage(data_elements[element].title) }}{{data_elements[element].required ? '*': ''}}</span>
                      <div class="round-input__field-wrapper">
                        <input class="round-input__field" type="file" 
                        (change)="fileChange($event, data_elements[element])" 
                        placeholder="{{selectLanguage(data_elements[element].title)}}{{data_elements[element].required ? '*': ''}}" 
                        accept=".pdf,.doc,.docx"
                        [attr.multiple]="data_elements[element].multiple">
                      </div>
                    </div><!--/round-inpuit__wrapper-->
                  </ng-container> <!-- /FILE -->

                  <ng-container *ngIf="data_elements[element].type == 'table'">
                    <div class="xjson__heading" *ngIf="data_elements[element].title">
                      {{ selectLanguage(data_elements[element].title) }}
                    </div>
                  
                      <div class="scrollable">
                        <div class="scrollable__rectangle scrollable__rectangle--left pointer" *ngIf="!elemAtStart" 
                          (touchstart)="tableService.scrollStart('tableRef')" 
                          (mousedown)="tableService.scrollStart('tableRef')" 
                          (touchend)="tableService.scrollEnd()" 
                          (mouseup)="tableService.scrollEnd()">
                          <span class="htm-icon">keyboard_arrow_left</span>
                        </div>
                        <div class="scrollable__rectangle scrollable__rectangle--right pointer" *ngIf="tableOverflown" 
                          (touchstart)="tableService.scrollStart('tableRef', true)"
                          (mousedown)="tableService.scrollStart('tableRef', true)"
                          (touchend)="tableService.scrollEnd(true)"
                          (mouseup)="tableService.scrollEnd(true)">
                          <span class="htm-icon">keyboard_arrow_right</span>
                        </div>
                        <div class="scrollable__table" id="tableRef" (scroll)="tableOverflown = tableService.isOverflownWhileScrolling($event); elemAtStart = tableService.isElemAtStart('tableRef')">
                      
                          <table class="scrollableTable">
                            <tr>
                              <ng-container *ngFor="let col of objectKeys(data_elements[element].table_columns); let index = index">
                                <ng-container *ngIf="!tableColumnAttribute(element, index, 'hidden')">
                                  <th>
                                    {{selectLanguage(data_elements[element].table_columns[col].title)}}
                                    {{data_elements[element].table_columns[col].required ? '*' : ''}}
                                    ({{data_elements[element].table_columns[col].type}})
                                  </th>
                                </ng-container>
                                
                              </ng-container>
                            </tr>
                            <tr *ngFor="let row of data_elements[element].value; let rowIndex = index;">
                              <ng-container *ngFor="let col of objectKeys(row); let colIndex = index;">
                                
                                <td *ngIf="!tableColumnAttribute(element, colIndex, 'hidden')">
                                  
                                  <ng-container [ngSwitch]="tableColumnAttribute(element, colIndex, 'type')">
                                    
                                    <ng-container *ngSwitchCase="'text'">  
                                      <input type="text" 
                                        placeholder="{{selectLanguage(tableColumnAttribute(element, colIndex, 'title'))}}{{ tableColumnAttribute(element, colIndex, 'required') ? '*' : ''}}" 
                                        [readonly]="tableColumnAttribute(element, colIndex, 'readonly')"
                                        [(ngModel)]='row[col]' [name]="row[col]"/>
                                    </ng-container> <!-- /TEXT --> 

                                    <ng-container *ngSwitchCase="'email'">  
                                      <input type="email" 
                                        placeholder="{{selectLanguage(tableColumnAttribute(element, colIndex, 'title'))}}{{ tableColumnAttribute(element, colIndex, 'required') ? '*' : ''}}" 
                                        [readonly]="tableColumnAttribute(element, colIndex, 'readonly')"
                                        [(ngModel)]='row[col]' [name]="row[col]"/>
                                    </ng-container> <!-- /EMAIL -->
                                    
                                    <ng-container *ngSwitchCase="'number'">  
                                      <input type="number" 
                                        [min]="tableColumnAttribute(element, colIndex, 'min')" 
                                        [max]="tableColumnAttribute(element, colIndex, 'max')"  
                                        placeholder="{{selectLanguage(tableColumnAttribute(element, colIndex, 'title'))}}{{ tableColumnAttribute(element, colIndex, 'required') ? '*' : ''}}" 
                                        [readonly]="tableColumnAttribute(element, colIndex, 'readonly')"
                                        [(ngModel)]='row[col]' [name]="row[col]"/>
                                    </ng-container> <!-- /NUMBER -->

                                    <ng-container *ngSwitchCase="'date'">
                                        <input matInput 
                                        [matDatepicker]="picker" 
                                        placeholder="{{selectLanguage(tableColumnAttribute(element, colIndex, 'title'))}}{{ tableColumnAttribute(element, colIndex, 'required') ? '*' : ''}}"
                                        [(ngModel)]="row[col]"
                                        dateFormatter
                                        [name]="col">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </ng-container> <!-- /DATE -->

                                    <ng-container *ngSwitchCase="'checkbox'">
                                      <div class="custom-checkbox">
                                        <mat-checkbox [(ngModel)]="row[col]" 
                                        [name]="element" 
                                        [disabled]="tableColumnAttribute(element, colIndex, 'readonly')">
                                        {{ selectLanguage(tableColumnAttribute(element, colIndex, 'title')) }}
                                        {{ tableColumnAttribute(element, colIndex, 'required') ? '*' : ''}}
                                        </mat-checkbox>
                                      </div>
                                    </ng-container> <!-- /CHECKBOX -->

                                    <ng-container *ngSwitchCase="'selectlist'">
                                      <mat-select placeholder="{{selectLanguage(tableColumnAttribute(element, colIndex, 'title')) }}">
                                        <mat-option *ngFor="let option of objectKeys(tableColumnAttribute(element, colIndex, 'options'))" 
                                        [value]="option">
                                          {{ selectLanguage(tableColumnAttribute(element, colIndex, 'options')[option]) }}
                                        </mat-option>
                                      </mat-select>
                                    </ng-container> <!-- /SELECTLIST -->

                                    <ng-container *ngSwitchDefault>
                                      {{ row[col] }}
                                    </ng-container>

                                  </ng-container><!-- END OF NG SWITCH CASE-->

                                  <ng-container *ngIf="error[element]"><!-- START OF TABLE COLUMN VALIDATION ERROR MESSAGE -->
                                    <ng-container *ngIf="error[element].row == rowIndex && error[element].column == col">
                                      <div class="error">
                                        {{ error[element].message }}
                                      </div>
                                    </ng-container>
                                  </ng-container> <!-- END OF TABLE COLUMN VALIDATION ERROR MESSAGE -->
                                </td>
                              </ng-container> <!-- END OF *NGFOR COLUMNS-->
                            </tr>  <!-- END OF *NGFOR COLUMNS-->
                          </table>
                        </div>
                      </div>
                  </ng-container> <!-- /TABLE -->

                  <ng-container *ngIf="error[element] && error[element].row == undefined">
                    <div class="error">
                      {{ error[element].message }}
                      <ng-container *ngIf="error[element].row != undefined"> | row: {{ error[element].row }}</ng-container>
                      <ng-container *ngIf="error[element].column != undefined"> | column: {{ error[element].column }}</ng-container>
                    
                    </div>
                  </ng-container> <!-- FIELD VALIDATION ERROR MESSAGE -->
                </div><!--/col-12-->
              </div> <!-- row -->
             
            </ng-container>
          </form>
         
          <div class="row button-list">
            
            <ng-container *ngFor="let link of navigationLinks">
              <a href="javascript:void(0);" (click)="selectStep(link.step)" >{{ link.label | translate }}</a>
            </ng-container>

            <ng-container *ngFor="let activity of activityButtons">
              <button type="submit" role="button" mat-raised-button [color]="[activity.style]" (click)="submitForm(activity.action)">{{ activity.label | translate }}</button>
            </ng-container>
   
          </div>
          
          <!-- /STEP BODY -->
        </ng-container>
      </div> <!--/block border-blue-->
    </div><!--/col-8-->
    
  </div><!--/row-->      
</div><!--/main-container-->