@import "../../../assets/styles/typography.scss"; 
@import "../../../assets/styles/layout.scss"; 

.main-container{margin:0 1.5rem;}
.xjson{
  &__title{width:100%; color:$blue; font-size:1.5rem; line-height:2rem; text-decoration: none; font-weight: 500;}
  &__step-title{width:100%; color:$black; font-size:1rem; line-height:1.5rem; text-decoration: none; font-weight: 500;}
  &__step-introduction{width:100%; font-size:1rem; line-height:1.5rem; text-decoration: none;}
  &__heading{width:100%; color:$blue; font-size:1rem; line-height:1.5rem; text-decoration: none; font-weight: 500;}
  &__navigation{
    .active {
      font-weight: bold;
      a{
        text-decoration: none;
      }
    }
    a {
      cursor: pointer;
      &.disabled{ color: gray; text-decoration: none; cursor: not-allowed;}
    }
  }
}

.error {color: $dark-red; line-height: 1.38; font-size: $small; font-weight: 500;}
.button-list {display: flex;flex-basis: 100%;justify-content: flex-end; padding-top: 30px;}

table {width: 100%;border-collapse: collapse; margin: 0;
  thead {background: $light-gray;
    .sortable {&:hover { color: $dark-gray;}}
    .htm-icon {position: relative; top: $half-gutter; font-size: 1.12rem;&:hover { color: $dark-gray;}}
  }
  th {white-space: normal; font-weight: normal;}
  th, td {line-height: 1.38rem;font-size: 1rem;padding: $gutter 1rem;text-align:left;border: .0625rem solid $gray;
    &.highlighted {font-weight: 500;}
  }
  td.hidden, th.hidden {min-width:1.5rem;width: 1.5rem; background: $light-gray;padding:$gutter;}
  th.hidden {text-align: center;border-bottom: none;}
  td {font-weight: 400;
    &.hidden {border-top: none;border-bottom: none;
      &.last {border-bottom: .0625rem solid $gray;}
      &.vertical {position: relative;}
      .vertical__text {position: absolute;writing-mode: tb-rl;white-space: nowrap;font-weight: 500;font-size: .875rem;left: $gutter;top: $half-gutter;}
    }
  }
  .separator {padding: 0;min-width: .125rem;width: .125rem;background: #fff;border:none;}
}