
<div class="block padding-block sm-top gutter-bottom border-orange">
  <div class="block-title-big" role="list">{{ 'frontpage.favourites_list_label' | translate }}</div>

  <mat-spinner *ngIf="loading" ></mat-spinner>
  <ng-container *ngIf="!loading">
    <p *ngIf="!existingFavouriteItems.length" class="explain">{{ 'frontpage.favourites_list_none_message' | translate }}</p>

    <ul class="list" *ngIf="existingFavouriteItems.length">

      <li *ngFor="let item of existingFavouriteItems">
       
        <a attr.aria-label="{{ 'frontpage.favourites_list_label' | translate }}: {{item.entity.entityLabel}}" role="link" [routerLink]="[item.entity.entityUrl.path]"> <span class="htm-icon htm-icon-insert_link"></span> {{item.entity.entityLabel}} </a>
       
      </li>

    </ul>
  </ng-container>
</div>
