.image {padding: 1.5rem;
  .mat-icon {float: right;position: relative;bottom: .75rem;}
  img {max-height: 90vh;}
  .image-alt-text {position: relative;top: .5rem;}
}

.btn-hidden {
	visibiliy: hidden;
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	border: 0px solid transparent;
	background: transparent;
	width: 24px;
}