{#
/**
 * @file oska_indicator_entity.html.twig
 * Default theme implementation to present Oska indicator entity data.
 *
 * This template is used when viewing Oska indicator entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_oska_indicator_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('oska_indicator_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
