body{
  margin: 0;
  background: #f4f4f4;
  padding-top:5.25rem;
  font-family: Roboto, Arial, Verdana, sans-serif;
  color: #333;  
}
.header{
  position:fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 4rem;
  z-index: 10;
  background:#2e3374;
  display:flex;
}

.header .logo {
  display: inline-flex;
  height: 100%;
  align-items: center;
}
.header .logo img {
  height: 1.5rem;
}

.header .right {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 1.5rem;
}
.header .icon {
  display: inline-flex;
  height: 100%;
  vertical-align: top;
  align-items: center;
  justify-content: center;
  width: 4rem;
  flex-shrink: 0;
}
.header .icon img {
  height: 1.25rem;
}

.mediaTitle{
  font-size: 0.875rem;
  color:#333333;
  font-style: italic;
  font-weight: 300;
  padding:0.5rem 0 0 0;
}
.block {
  display: block;
  border-top:#15adc2 0.625rem solid;
  background: #ffffff;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  padding: 1.5rem;
  line-height: 1.375rem;
}

b{
  font-weight: 500;
}

.block a{
  color: #2e3374;
}

.block__title{
  display: flex;
  color: #757575;
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
  border-bottom:#c7c7c9 0.0625rem solid;
  padding: 1.2rem 1.5rem;
  margin: -1.5rem -1.5rem 0 -1.5rem;
  text-transform: uppercase;
}

.author{
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.43;
  color: #757575;
  margin-top: -0.9rem;
  font-weight: 300;
}

table{
  width:100%;
  border: #c7c7c9 1px solid;
  border-collapse: collapse;
}
table caption {
  font-size: 1rem;
  color:#333;
  font-weight: 500;
  padding: 0 0 .5rem;
  text-align: left;
}
table th, table td{
  border: #c7c7c9 1px solid;
  padding: .75rem 1rem;
  line-height: 138%;
}
table th{
  background:#eeeeee;
  font-weight: 500;
  text-align: left;
}

.block img{
  width: 100%;
  display: block;
}

h1{
  font-weight: 600;
  font-size: 1.5rem;
  margin:1.3125rem 0;
}