<!doctype html>
<html amp lang="et">
<head>
  <meta charset="utf-8">
  <script async src = "https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
  <title>Haridusportaal</title>
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
  <noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <base href="/">
  <link rel="canonical" href="{{ fullPath }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <style amp-custom>
    {{{ styles }}}
  </style>
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "NewsArticle",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ fullPath }}"
    },
    "headline": "{{ title }}",
    {{#image}}
    "image": [
      "{{ image.derivative.url }}"
    ],
    {{/image}}
    {{#author}}
    "author": {
      "@type": "Person",
      "name": "{{ author }}"
    },
    {{/author}}
    "publisher": {
      "@type": "Organization",
      "name": "Haridusportaal",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ server }}/assets/img/logo.svg"
      }
    },
    "description": "{{ shortDescription }}"
  }
  </script>
</head>
<body>
  <div class="header">
    <a href="{{ fullPath }}" class="icon"><amp-img width="20" height="20" src="/assets/img/menu.svg" ></amp-img></a>
    <a href="{{ fullPath }}" class="logo">
      <amp-img width="93" height="24" src="/assets/img/logo.svg"></amp-img>
    </a>
    <div class="right">
      <a href="{{ fullPath }}" class="icon"><amp-img width="20" height="20" src="/assets/img/search.svg" ></amp-img></a>
      <a href="{{ fullPath }}" class="icon"><amp-img width="20" height="20" src="/assets/img/user.svg" ></amp-img></a>
    </div><!--/right-->
  </div><!--/header-->

  <div class="block">

    <div class="block__title">
      {{ pageTitle }}
    </div><!--/block__title-->

    <h1>{{ title }}</h1>

    {{#author}}
      <div class="author">{{{ author }}}</div>
    {{/author}}

    {{#shortDescription}}
      <p><b>{{{ shortDescription }}}</b></p>
    {{/shortDescription}}

    {{#video.0}}
    <amp-youtube
      data-videoid="{{video.0.videoId}}"
      layout="responsive"
      width="480"
      height="270"
    ></amp-youtube>
    <div class="mediaTitle">{{ video.0.videoDescription }}</div>
    {{/video.0}}
    {{^video.0}}
      {{#image}}
        <amp-img
        layout="responsive"
        height="680"
        width="1208"
        src="{{ image.derivative.url }}"
        alt="{{ image.alt }}"
        title="{{ image.title }}"
        ></amp-img>
        <div class="mediaTitle">{{ image.title }}</div>
      {{/image}}
    {{/video.0}}

    {{#description}}
      {{{ description.value }}}
    {{/description}}
  </div><!--/block-->
</body>
</html>