<base-layout>
  <div class="inline">
    <breadcrumbs path="/valdkonnad/kaart"></breadcrumbs>
  </div>
  <form class="filter-wrapper" filters>
    <div class="inline">
      <div class="row">
        <div class="col-4 sm-12">
          <formItem type="select" title="{{ 'oskaProfessions.indicator' | translate }}" name="mapIndicator"
            [(ngModel)]="filterFormItems.mapIndicator" [options]="filterData.mapIndicator"
            (onChange)="setRelatedFilter('mapIndicator', 'OSKAField')"></formItem>
        </div>
        <div class="col-6 sm-12">

          <formItem type="select" title="{{ 'oska.title_field' | translate }}" [(ngModel)]="filterFormItems.OSKAField"
            [options]="filterData.OSKAField" name="OSKAField"
            (onChange)="setRelatedFilter('mapIndicator', 'OSKAField')"></formItem>
        </div>

        <div class="col-2 sm-12 align-end flex-end">
          <div class="button-row">
            <button htm-button role="button" theme="default">{{ 'button.filter' | translate }}</button>
          </div>
        </div>

      </div>
      <!--/row-->
    </div>
    <!--/inline-->
  </form>
  <!--/inline-->
  <div class="inline">
    <block titleBorder="true" tabStyle="default">
      <block-title>{{ 'oska.fields_data_on_map' | translate }}</block-title>
      <block-content tabLabel="{{ 'oskaProfessions.fields' | translate }}" tabIcon="grid" tabLink="/valdkonnad">
      </block-content>
      <block-content tabLabel="{{ 'oska.data' | translate }}" tabIcon="info" tabLink="/valdkonnad/andmed">
      </block-content>
      <block-content tabLabel="{{ 'oskaProfessions.map' | translate }}" tabIcon="map-pin" tabLink="/valdkonnad/kaart"
        [tabActive]="true">
        <h2>{{ 'oska.field_map_introduction' | translate }}</h2>
        <loader *ngIf="loading"></loader>
        <map *ngIf="!loading" type="polygons" [options]="mapOptions" [polygonData]="polygonData" [parameters]="parameters">
        </map>
        <!--/map-wrapper-->
      </block-content>
    </block>
  </div>
</base-layout>