<base-layout>
  <div class="inline">
    <breadcrumbs path="/valdkonnad/kaart"></breadcrumbs>
  </div>
  <!--/inline-->
  <div class="inline">
    <block titleBorder="true" tabStyle="default">
      <block-title>{{ 'oska.fields_data_on_map' | translate }}</block-title>
      <block-content tabLabel="{{ 'oskaProfessions.fields' | translate }}" tabIcon="grid" tabLink="/valdkonnad">
      </block-content>
      <block-content tabLabel="{{ 'oska.data' | translate }}" tabIcon="info" tabLink="/valdkonnad/andmed">
      </block-content>
      <block-content tabLabel="{{ 'oskaProfessions.map' | translate }}" tabIcon="map-pin" tabLink="/valdkonnad/kaart"
        [tabActive]="true">
        <h2>{{ 'oska.field_map_introduction' | translate }}</h2>
        <form class="filter-wrapper row" filters>
          <div class="col-4 sm-12">
            <formItem type="select" title="{{ 'oskaProfessions.indicator' | translate }}" name="mapIndicator"
              [(ngModel)]="filterFormItems.mapIndicator" [options]="filterData.mapIndicator"
              (onChange)="setRelatedFilter('mapIndicator', 'OSKAField')"></formItem>
          </div>
          <div class="col-6 sm-12">
            <formItem type="select" title="{{ 'oska.title_field' | translate }}" [(ngModel)]="filterFormItems.OSKAField"
              [options]="filterData.OSKAField" name="OSKAField"></formItem>
          </div>
          <div class="col-2 sm-12 align-end flex-end">
            <button htm-button role="button" theme="default">{{ 'button.filter' | translate }}</button>
          </div>
        </form>
        <loader *ngIf="loading"></loader>
        <table class="sr-only" *ngIf="this.polygonData">
          <caption>
            <span *ngIf="filterFormItems.OSKAField">{{this.polygonData.county[0].OSKAField}} </span>
            <span>{{this.polygonData.county[0].mapIndicator}}</span>
          </caption>
          <tbody>
            <tr>
              <th scope="col">{{ 'oska.county' | translate }}</th>
              <th scope="col">{{ 'oska.occupied' | translate }}</th>
            </tr>
            <tr *ngFor="let item of this.polygonData.county">
              <td>{{item.county}}</td>
              <td>{{item.value}}</td>
            </tr>
          </tbody>
        </table>
        <map *ngIf="!loading" type="polygons" [options]="mapOptions" [polygonData]="polygonData" [parameters]="parameters" [legendLabels]="indicatorLegendLabels" legendKey="mapIndicator" aria-hidden="true" (mapLoaded)="mapLoaded()">
        </map>
        <!--/map-wrapper-->
      </block-content>
    </block>
  </div>
</base-layout>
