@import "typography.scss";
@import "breakpoints.scss";

.filter-wrapper {
  padding: 1rem 0;
  background: #fff;
  button {
    width: 100%;
    box-sizing: border-box;
  }
  .text-right {
    text-align: right;
  }
}
