<div class="row" cdkTrapFocus>
  <div class="col-12" style="position: relative;">
    <p>{{ 'form.registration' | translate | uppercase }}</p>
    <h2>{{ data.eventTitle }}</h2>
    <p> {{ 'start.from' | translate }} : 
      {{ data.eventStartDate.fieldEventDate.unix*1000 | weekday: "unix"}}
      {{ data.eventStartDate.fieldEventDate.unix*1000 | date: "dd.MM yyy "}}
      {{ 'at' | translate }}
      {{ data.eventStartDate.fieldEventStartTime | unixToTime }}
    </p>
    <p>* {{ 'require.fields' | translate }}</p>
    <button style="position: absolute; top: 0; right: 0;" mat-icon-button aria-label="Close" (click)="close()" tabindex="0"> <!-- need to add some absolute class-->
      <mat-icon>close</mat-icon>
    </button>
    <br>
    <form [formGroup]="form">
      <mat-dialog-content>
        
        <div class="col-12">
          
          <div class="row">
            <div class="col-6 sm-12">
              <div class="round-input__wrapper w-100">
                <span class="round-input__title">{{ 'participant.firstname' | translate }} *</span>
                <div class="round-input__field-wrapper">
                  <input class="round-input__field" placeholder="{{ 'add.participant.firstname' | translate }}" formControlName="firstName"/>
                </div>
              </div>
              <div *ngIf="isInvalidFirstname()" style="color: red;">
                <div *ngIf="form.controls.firstName.errors.required">
                  {{ 'participant.firstname.required' | translate }}
                </div>
              </div>
            </div>
            
            <div class="col-6 sm-12">
              <div class="round-input__wrapper w-100">
                <span class="round-input__title">{{ 'participant.lastname' | translate }} *</span>
                <div class="round-input__field-wrapper">
                  <input class="round-input__field" placeholder="{{ 'add.participant.lastname' | translate }}" formControlName="lastName"/>
                </div>
              </div>
              <div *ngIf="isInvalidLastname()" style="color: red;">
                <div *ngIf="form.controls.lastName.errors.required">
                  {{ 'participant.lastname.required' | translate }}
                </div>
              </div>
            </div>
          </div>
          
          <br>
          
          <div class="row">
            <div class="col-12 sm-12">
              <div class="round-input__wrapper w-100">
                <span class="round-input__title">{{ 'company.name' | translate }}</span>
                <div class="round-input__field-wrapper">
                  <input class="round-input__field" placeholder="{{ 'add.company.name' | translate }}" formControlName="companyName"/>
                </div>
              </div>
            </div>
          </div>
          
          <br>
          
          <div class="row">
            <div class="col-6 sm-12">
              <div class="round-input__wrapper w-100">
                <span class="round-input__title">{{ 'email' | translate }} *</span>
                <div class="round-input__field-wrapper">
                  <input class="round-input__field" placeholder="{{ 'add.email' | translate }}" formControlName="email"/>
                </div>
                <div *ngIf="isInvalidEmail()" style="color: red;">
                  <div *ngIf="form.controls.email.errors.required">
                    {{ 'participant.firstname.required' | translate }}
                  </div>
                  <div *ngIf="form.controls.email.errors.email">
                    {{ 'participant.firstname.email' | translate }}
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-6 sm-12">
              <div class="round-input__wrapper w-100">
                <span class="round-input__title">{{ 'telephone' | translate }}</span>
                <div class="round-input__field-wrapper">
                  <input class="round-input__field" placeholder="{{ 'add.telephone' | translate }}" formControlName="telephone"/>
                </div>
              </div>
            </div>
          </div>
          
          <br>
          
          <div class="row">
            <div class="col-12 sm-12">
              <div class="round-input__wrapper w-100">
                <span class="round-input__title">{{ 'marked' | translate }}</span>
                <div class="round-input__field-wrapper">
                  <input class="round-input__field" placeholder="{{ 'add.marked' | translate }}" formControlName="marked"/>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
      </mat-dialog-content>
      
      <mat-dialog-actions>
        <div class="row w-100">
          <div class="col-12 text-right">
            <a [routerLink]="" (click)="clear()">{{ 'clear' | translate }}</a>
            <button class="mat-raised-button mat-primary" (click)="save()" [disabled]="form.invalid">{{ 'send' | translate }}</button>
          </div>
        </div>
      </mat-dialog-actions>
      
    </form>
  </div>
</div>