<block theme="sidebar">
	<block-title>
    <h2>{{ data.entity.fieldTitle }}</h2>
  </block-title>
  <block-content>
    <div class="youth-sidebar__content">
      <div class="youth-sidebar__icon" [ngClass]="icon" *ngIf="icon && data.entity.fieldBlockType !== 'PeopleBlock'">
        <icon aria-hidden="true" size="medium" bg="true" [glyph]="icon"></icon>
      </div>

			<!-- TODO this is NOT ready -->
			<div class="youth-sidebar__icon" [ngClass]="icon" *ngIf="icon && data.entity.fieldBlockType === 'PeopleBlock'">
				<icon aria-hidden="true" size="medium" bg="true" [glyph]="'people-green'"></icon>
			</div>
			<div class="youth-sidebar__icon" [ngClass]="icon" *ngIf="icon && data.entity.fieldBlockType === 'PeopleBlock'">
				<icon aria-hidden="true" size="medium" bg="true" [glyph]="'people-green'"></icon>
			</div>
			<div class="youth-sidebar__icon" [ngClass]="icon" *ngIf="icon && data.entity.fieldBlockType === 'PeopleBlock'">
				<icon aria-hidden="true" size="medium" bg="true" [glyph]="'people-gray'"></icon>
			</div>
      {{ data.entity.fieldBlockText }}
    </div>

    <a
      *ngIf="data.entity.fieldWebpageLink"
      [href]="data.entity.fieldWebpageLink.uri"
      class="youth-sidebar__link"
      target="_blank"
    ><icon ariaLabel="{{ 'link.external' | translate }}" glyph="external-link"></icon>
      {{ data.entity.fieldWebpageLink.title }}
    </a>
  </block-content>
</block>

<!-- TODO delete this comment
{
    "entity": {
        "fieldBlockType": "PeopleBlock",
        "fieldTitle": "kaheksa inimestega plokk",
        "fieldBlockText": "kaheksa inimestega plokk",
        "fieldGreenMenAmount": 8,
        "fieldWebpageLink": null
    }
}
-->
