<div><breadcrumbs *ngIf="!inputData"></breadcrumbs></div>
<div class="main-container">
  <loader *ngIf="!data && !error"></loader>
  <div class="row wrapper__row" *ngIf="data">
    <div class="col-8 sm-12">
      <div class="block border-blue padding-block">
        <div class="block__head no-border">
          <div class="block__head__title" *ngIf="viewType == 'surveyPage'">{{ 'oska.workforcePrognosis' | translate | uppercase }}</div>
          <div class="block__head__title" *ngIf="viewType == 'field'">{{ 'oska.title_field' | translate | uppercase }}</div>
          <div class="block__head__title" *ngIf="viewType == 'mainProfession'">{{ 'oska.title_main_profession' | translate | uppercase }}</div>
        </div><!--/block__head-->

        <h1>{{ data['entityLabel'] }}</h1>
        <div class="mininav flex text-right">
          <favourites *ngIf="!userLoggedOut" [state]="data.isFavorite" [title]="data['entityLabel']" [id]="data['nid']"></favourites>
          <share></share>
          <compare *ngIf="compareButton" [id]="data.nid" sessionStorageKey="oskaProfessions.compare"></compare>
          <span class="important-pill xxs-hide" *ngIf="data.fieldFixedLabel && data.fieldFixedLabel.entity">{{data.fieldFixedLabel.entity.entityLabel}}</span> 
        </div>  
        <div class="important-pill xxs-show" *ngIf="data.fieldFixedLabel && data.fieldFixedLabel.entity">{{data.fieldFixedLabel.entity.entityLabel}}</div>
        <div class="short" [attr.aria-label]="'description.short' | translate">
          {{ data['fieldIntroduction'] || data['fieldSurveyPageIntroduction'] }}
        </div>
        
        <!-- profession image-->
        <ng-container *ngIf="data.fieldMainProfessionPicture">
          <div *ngIf="data.fieldMainProfessionPicture" class="article-image pull-right">
            <img src="{{ data.fieldMainProfessionPicture.derivative.url }}" alt="{{ data.fieldMainProfessionPicture.alt }}" title="{{ data.fieldMainProfessionPicture.title }}" style="max-width:100%;" />
            <div aria-hidden="true" class="image-alt-text" *ngIf="data.fieldMainProfessionPicture.title">{{ data.fieldMainProfessionPicture.title }}</div>
          </div>
        </ng-container>

        <!-- field image-->
        <ng-container *ngIf="data.fieldOskaFieldPicture">
          <div *ngIf="data.fieldOskaFieldPicture && data.fieldOskaFieldPicture.derivative && data.fieldOskaFieldPicture.derivative.url && !data.fieldOskaVideo" class="article-image pull-right">
            <img src="{{ data.fieldOskaFieldPicture.derivative.url }}" alt="{{ data.fieldOskaFieldPicture.alt }}" title="{{ data.fieldOskaFieldPicture.title }}" style="max-width:100%;" />
            <div aria-hidden="true" class="image-alt-text" *ngIf="data.fieldOskaFieldPicture.title">{{ data.fieldOskaFieldPicture.title }}</div>
          </div><!--/fieldOskaFieldPicture-->
        </ng-container>

        <!-- fieldSurveyPagePicture -->
        <ng-container *ngIf="data.fieldSurveyPageVideo && data.fieldSurveyPageVideo.length">
          <video-component [videos]="[data.fieldSurveyPageVideo[0]]"></video-component>
        </ng-container>
        <ng-container *ngIf="data.fieldSurveyPagePicture && data.fieldSurveyPageVideo && !data.fieldSurveyPageVideo.length">
          <div *ngIf="data.fieldSurveyPagePicture && data.fieldSurveyPagePicture.length > 0" class="article-image pull-right">
            <img src="{{ data.fieldSurveyPagePicture[0].derivative.url }}" alt="{{ data.fieldSurveyPagePicture[0].alt }}" title="{{ data.fieldSurveyPagePicture[0].title }}" style="max-width:100%;" />
            <div aria-hidden="true" class="image-alt-text" *ngIf="data.fieldSurveyPagePicture[0].title">{{ data.fieldSurveyPagePicture[0].title }}</div>
          </div><!--/fieldOskaFieldPicture-->
        </ng-container>

        <ng-container *ngIf="data.fieldOskaVideo">
          <video-component [videos]="[data.fieldOskaVideo]"></video-component>
        </ng-container>

        <div [innerHTML]="data['body']['value']" attr.aria-label="{{'description' | translate}}" class="description" ></div>

        <ng-container *ngIf="data.fieldOskaWebPage || data.fieldOskaAttachmentFile">
          <ng-container *ngIf="data.fieldOskaWebPage.length > 0 || data.fieldOskaAttachmentFile.length > 0" class="external-links">
              <ul class="external-links">
                <li *ngFor="let item of data.fieldOskaWebPage">
                  <a href="{{ item.url.path }}" target="_blank" attr.aria-label="{{ item.title }}" ><span class="htm-icon">launch</span>{{ item.title }}</a>
                </li>
                <li *ngFor="let item of data.fieldOskaAttachmentFile">
                  <a href="{{ item.entity.url }}" target="_blank" attr.aria-label="{{ item.description || item.entity.entityLabel }}" ><span class="htm-icon">file_copy</span>{{ item.description || item.entity.entityLabel }}</a>
                </li>
              </ul>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="data.fieldSurveyPageLink || data.fieldSurveyPageAttachment">
          <ng-container *ngIf="data.fieldSurveyPageLink.length > 0 || data.fieldSurveyPageAttachment.length > 0" class="external-links">
              <ul class="external-links">
                <li *ngFor="let item of data.fieldSurveyPageLink">
                  <a href="{{ item.url.path }}" target="_blank" attr.aria-label="{{ item.title }}" ><span class="htm-icon">launch</span>{{ item.title }}</a>
                </li>
                <li *ngFor="let item of data.fieldSurveyPageAttachment">
                  <a href="{{ item.entity.url }}" target="_blank" attr.aria-label="{{ item.description || item.entity.entityLabel }}" ><span class="htm-icon">file_copy</span>{{ item.description || item.entity.entityLabel }}</a>
                </li>
              </ul>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="data.fieldOskaMainProfessionLinks || data.fieldOskaMainProfessionFile">
          <ng-container *ngIf="data.fieldOskaMainProfessionLinks.length > 0 || data.fieldOskaMainProfessionFile.length > 0" class="external-links">
            <ul class="external-links">
              <li *ngFor="let item of data.fieldOskaMainProfessionLinks">
                <a href="{{ item.url.path }}" target="_blank" attr.aria-label="{{ item.title }}{" ><span class="htm-icon">launch</span>{{ item.title }}</a>
              </li>
              <li *ngFor="let item of data.fieldOskaMainProfessionFile">
                <a href="{{ item.entity.url }}" target="_blank" attr.aria-label="{{ item.description || item.entity.entityLabel }}" ><span class="htm-icon">file_copy</span>{{ item.description || item.entity.entityLabel }}</a>
              </li>
            </ul>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="data.fieldSurveyPagePicture && data.fieldSurveyPageVideo && data.fieldSurveyPageVideo.length">
          <div *ngIf="data.fieldSurveyPagePicture && data.fieldSurveyPagePicture.length > 0" class="article-image">
            <img src="{{ data.fieldSurveyPagePicture[0].derivative.url }}" alt="{{ data.fieldSurveyPagePicture[0].alt }}" title="{{ data.fieldSurveyPagePicture[0].title }}" style="max-width:100%;" />
            <div aria-hidden="true" class="image-alt-text" *ngIf="data.fieldSurveyPagePicture[0].title">{{ data.fieldSurveyPagePicture[0].title }}</div>
          </div><!--/fieldOskaFieldPicture-->
        </ng-container>

        <ng-container *ngIf="data.fieldOskaMainProfessionVideo">
          <video-component *ngIf="data.fieldOskaMainProfessionVideo.length > 0" [videos]="data.fieldOskaMainProfessionVideo"></video-component>
        </ng-container>

        <ng-container *ngIf="data.fieldSurveyPageVideo && data.fieldSurveyPageVideo.length === 2">
          <video-component [videos]="[data.fieldSurveyPageVideo[1]]"></video-component>
        </ng-container>

        <ng-container *ngIf="data.reverseFieldOskaFieldParagraph && data.reverseFieldOskaFieldParagraph.entities && data.reverseFieldOskaFieldParagraph.entities.length">
          <div class="accordion accordion--list">
            <mat-accordion>
              <mat-expansion-panel expanded="false">
                <mat-expansion-panel-header [expandedHeight]="'2.5rem'" [collapsedHeight]="'2.5rem'">
                  <mat-panel-title>{{ 'oskaProfessions.label' | translate }}</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="studyProgramme__item" *ngFor="let item of data.reverseFieldOskaFieldParagraph.entities; let first = first; let i = index;">
                  <ng-container *ngIf="item">
                      <div class="studyProgramme__item__titlebox">
                          <div class="col-grow">
                            <a id="{{i}}" href="javascript:void();" attr.aria-label="{{ item.paragraphReference[0].entityLabel }}" [routerLink]="item.paragraphReference[0].entityUrl.path" class="studyProgramme__item__title"><h1>{{ item.paragraphReference[0].entityLabel }}</h1></a>
                          </div><!--col-grow-->
                          <div class="col sm-hide">
                            <compare [id]="item.paragraphReference[0].entityId" sessionStorageKey="oskaProfessions.compare"></compare>
                          </div>
                        </div>
                        <div class="studyProgramme__item__contentbox">
                          <div class="studyProgramme__item__contentbox--elem" *ngIf="item.paragraphReference[0].reverseOskaMainProfessionOskaFillingBarEntity.entities && item.paragraphReference[0].reverseOskaMainProfessionOskaFillingBarEntity.entities[0] && item.paragraphReference[0].reverseOskaMainProfessionOskaFillingBarEntity.entities[0].value
                            && item.paragraphReference[0].reverseOskaMainProfessionOskaFillingBarEntity.entities[0].value > 0 && item.paragraphReference[0].reverseOskaMainProfessionOskaFillingBarEntity.entities[0].value < 6">
                            <div class="inline__items sm-hide">
                              <span class="item">{{ 'oska.competition' | translate | titleCase }}: <span class="dark">{{ getCompetitionLabel(item.paragraphReference[0].reverseOskaMainProfessionOskaFillingBarEntity.entities[0].value) | translate }}</span></span>
                            </div>
                          </div>
                          <ng-container *ngIf="item.paragraphReference[0].reverseOskaMainProfessionOskaIndicatorEntity.entities && item.paragraphReference[0].reverseOskaMainProfessionOskaIndicatorEntity.entities.length">
                            <ng-container *ngFor="let elem of indicatorValues(item.paragraphReference[0].reverseOskaMainProfessionOskaIndicatorEntity.entities); let ind = index;">
                              <ng-container *ngIf="elem && elem.oskaId">
                                <div class="studyProgramme__item__contentbox--elem">
                                  <div class="inline__items sm-hide">
                                    <span class="item">{{ elem.oskaIndicator | titleCase }}: 
                                      <span *ngIf="elem.oskaId === 1" class="dark">{{ formatNumber(elem.value, 'et') }}</span>
                                      <span *ngIf="elem.oskaId === 3" class="dark">{{ formatNumber(elem.value, 'et') }} €</span>
                                    </span>
                                  </div>
                                </div>
                              </ng-container>
                            </ng-container>
                          </ng-container>
                        </div>
                  </ng-container>
                </div><!--/studyProgramme__item-->

              </mat-expansion-panel>
            </mat-accordion>
          </div><!--/accordion-->
        </ng-container>

        <ng-container *ngIf="data.fieldOskaFieldAccordion">
          <div class="accordion" *ngIf="data['fieldOskaFieldAccordion'].length > 0">
            <mat-accordion multi>
              <mat-expansion-panel [expanded]="(first && data.reverseFieldOskaFieldParagraph && data.reverseFieldOskaFieldParagraph.entities && !data.reverseFieldOskaFieldParagraph.entities.length) ? true : false" *ngFor="let accordionItem of data['fieldOskaFieldAccordion']; let first = first;">
                <mat-expansion-panel-header [expandedHeight]="'2.5rem'" [collapsedHeight]="'2.5rem'">
                  <mat-panel-title>

                    {{accordionItem.entity.fieldTitle}}

                  </mat-panel-title>
                  <!-- <mat-panel-description></mat-panel-description> -->
                </mat-expansion-panel-header>
                <div class="accordion__body">
                  <div [innerHTML]="accordionItem.entity.fieldBody.value"></div>
                  <ul class="link-list mt-2 mb-0">
                    <li *ngFor="let articleLink of accordionItem.entity.fieldLinks"><a href="{{articleLink.url.path}}" [attr.target]="articleLink.url.__typename === 'ExternalUrl' ? '_blank' : ''" attr.aria-label="{{articleLink.title}}" class="link"><span><span class="htm-icon">launch</span></span>{{articleLink.title}}</a></li>
                  </ul>
                </div><!--/accordion__body-->
                
              </mat-expansion-panel>
            </mat-accordion>
          </div><!--/accordion-->
        </ng-container>

        <ng-container *ngIf="data.fieldMainProfessionAccordion">
          <div class="accordion" *ngIf="data['fieldMainProfessionAccordion'].length > 0">
            <mat-accordion multi>
              <mat-expansion-panel [expanded]="first ? true : false" *ngFor="let accordionItem of data['fieldMainProfessionAccordion']; let first = first;">
                <mat-expansion-panel-header [expandedHeight]="'2.5rem'" [collapsedHeight]="'2.5rem'">
                  <mat-panel-title>

                    {{accordionItem.entity.fieldTitle}}

                  </mat-panel-title>
                  <!-- <mat-panel-description></mat-panel-description> -->
                </mat-expansion-panel-header>
                <div class="accordion__body">
                  <div [innerHTML]="accordionItem.entity.fieldBody.value"></div>
                  <ul class="link-list mt-2 mb-0">
                    <li *ngFor="let articleLink of accordionItem.entity.fieldLinks"><a href="{{articleLink.url.path}}" [attr.target]="articleLink.url.__typename === 'ExternalUrl' ? '_blank' : ''" attr.aria-label="{{articleLink.title}}" class="link"><span><span class="htm-icon">launch</span></span>{{articleLink.title}}</a></li>
                  </ul>
                </div><!--/accordion__body-->
                
              </mat-expansion-panel>
            </mat-accordion>
          </div><!--/accordion-->
        </ng-container>

        <ng-container *ngIf="data.fieldSurveyPageAccordion">
          <div class="accordion" *ngIf="data['fieldSurveyPageAccordion'].length > 0">
            <mat-accordion multi>
              <mat-expansion-panel [expanded]="first ? true : false" *ngFor="let accordionItem of data['fieldSurveyPageAccordion']; let first = first;">
                <mat-expansion-panel-header [expandedHeight]="'2.5rem'" [collapsedHeight]="'2.5rem'">
                  <mat-panel-title>

                    {{accordionItem.entity.fieldSurveyAccordionTitle}}

                  </mat-panel-title>
                  <!-- <mat-panel-description></mat-panel-description> -->
                </mat-expansion-panel-header>
                <div class="accordion__body">
                  <div [innerHTML]="accordionItem.entity.fieldSurveyAccordionContent.value"></div>
                  <ul class="link-list mt-2 mb-0">
                    <li *ngFor="let articleLink of accordionItem.entity.fieldSurveyAccordionLink"><a href="{{articleLink.url.path}}" [attr.target]="articleLink.url.__typename === 'ExternalUrl' ? '_blank' : ''" attr.aria-label="{{articleLink.title}}" class="link"><span><span class="htm-icon">launch</span></span>{{articleLink.title}}</a></li>
                  </ul>
                </div><!--/accordion__body-->
                
              </mat-expansion-panel>
            </mat-accordion>
          </div><!--/accordion-->
        </ng-container>

        <ng-container *ngIf="data.fieldMainProfessionGraph || data.fieldSurveyPageGraph	|| data.fieldFieldPageGraph">
          <chart [data]="data.fieldMainProfessionGraph || data.fieldSurveyPageGraph	|| data.fieldFieldPageGraph"></chart>
        </ng-container>

        <ng-container *ngIf="data.fieldDynamicGraph && data.fieldDynamicGraph.length > 0">
          <chart [data]="data.fieldDynamicGraph"  type="filter"></chart>
        </ng-container>

        <ng-container *ngIf="data.fieldMainProfessionTag">
          <div class="tags" *ngIf="data.fieldMainProfessionTag && data.fieldMainProfessionTag.length > 0">
            <mat-chip-list>
              <span *ngFor="let tag of data.fieldMainProfessionTag" class="mat-chip-list-wrapper">
                <mat-chip *ngIf="tag.entity" tabindex="0">{{ tag.entity.entityLabel }}</mat-chip>
              </span>
            </mat-chip-list>
          </div><!--/tags-->
        </ng-container>
        
        <feedback class="sm-hide" [nid]="data.nid"></feedback>

      </div><!--/block-->
    </div><!--/col-8-->

    <div class="col-4 sm-12" *ngIf="sidebarData || (data.reverseOskaMainProfessionOskaFillingBarEntity && data.reverseOskaMainProfessionOskaFillingBarEntity.entities)  || viewType === 'field'">
      <oska-areas-sidebar
        [fieldName]="viewType === 'field' ? data['entityLabel'] : false"
        [sidebar]="sidebarData" [indicators]="data.reverseOskaMainProfessionOskaIndicatorEntity || oskaAreaIndicators"
        [fillingbar]="data.reverseOskaMainProfessionOskaFillingBarEntity && data.reverseOskaMainProfessionOskaFillingBarEntity.entities"
        [viewType]="viewType">
      </oska-areas-sidebar>
    </div><!--/col-4-->
    <div class="sm-12 sm-show">
      <feedback class="feedback--sm" [nid]="data.nid"></feedback>
    </div>
  </div><!--/row-->
</div><!--/main-container-->