<div class="main-container">
  <div class="row wrapper__row">
    <div class="col-8">
      <div class="block border-blue padding-block">
        <div class="block__head no-border">
          <div class="block__head__title">VALDKOND</div>
        </div><!--/block__head-->

        <h1>{{ data['entityLabel'] }}</h1>

        <share></share>

        <div class="short" [attr.aria-label]="'description.short' | translate">
          {{ data['fieldIntroduction'] }}
        </div>

        <div *ngIf="data.fieldOskaFieldPicture && data.fieldOskaFieldPicture.length > 0" class="article-image pull-right">
          <img src="{{ data.fieldOskaFieldPicture[0].derivative.url }}" alt="{{ data.fieldOskaFieldPicture[0].alt }}" title="{{ data.fieldOskaFieldPicture[0].title }}" style="max-width:100%;" />
          <div aria-hidden="true" class="image-alt-text" *ngIf="data.fieldOskaFieldPicture[0].alt">{{ data.fieldOskaFieldPicture[0].alt }}</div>
        </div>

        <video-component *ngIf="video" [videos]="video"></video-component>

        <div [innerHTML]="data['body']['value']" attr.aria-label="{{'description' | translate}}" ></div>

        <div class="accordion" *ngIf="data['fieldOskaFieldAccordion'].length > 0">
          <mat-accordion multi>
            <mat-expansion-panel [expanded]="first ? true : false" *ngFor="let accordionItem of data['fieldOskaFieldAccordion']; let first = first;">
              <mat-expansion-panel-header [expandedHeight]="'2.5rem'" [collapsedHeight]="'2.5rem'">
                <mat-panel-title>

                  {{accordionItem.entity.fieldTitle}}

                </mat-panel-title>
                <!-- <mat-panel-description></mat-panel-description> -->
              </mat-expansion-panel-header>
              <div class="accordion__body">
                <div [innerHTML]="accordionItem.entity.fieldBody.value"></div>
                <ul class="link-list mt-2 mb-0">
                  <li *ngFor="let articleLink of accordionItem.entity.fieldLinks"><a href="{{articleLink.url.path}}" [attr.target]="articleLink.url.__typename === 'ExternalUrl' ? '_blank' : ''" attr.aria-label="{{'link.outer' | translate}}"class="link"><span><span class="htm-icon">launch</span></span>{{articleLink.title}}</a></li>
                </ul>
              </div><!--/accordion__body-->
              
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div><!--/col-8-->

    <div class="col-4">
      <div class="block border-orange padding-block">
        Block content
      </div>
    </div><!--/col-4-->
  </div><!--/row-->
</div><!--/main-container-->