@import 'colors.scss';
@import 'breakpoints.scss';

:host {
  display: grid;
  display: -ms-grid;
  overflow-y: auto;
  background-color: $light-gray;
  position: relative;
  grid-template-areas: 'content content .'
                       'content content .';
  grid-template-columns: 0 1fr;
  -ms-grid-columns: 0 1fr 1fr;
  min-height: 100vh;
  @include break-on(sm, min) {
    grid-template-columns: 16.25rem 1fr;
    -ms-grid-columns: 16.25rem 1fr;
  }
  grid-template-rows: 4rem 1fr;
  main {
    box-sizing: border-box;
    grid-area: content;
    display: block;
    -ms-grid-row: 2; 
    -ms-grid-row-span: 2; 
    -ms-grid-column: 1; 
    -ms-grid-column-span:2;
    padding: 0;
    min-height: 100%;
    @include break-on(sm, min) {
      padding: 1rem;
    }
  }
}