@import "typography.scss";

:host {
  color: $black;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  font-size: $medium;
  line-height: 1.33;
}

links {
  margin-bottom: 1rem;
}

labels {
  display: block;
  margin-bottom: 1rem;
}

.bold {
  font-weight: 500;
}

.author {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.43;
  color: #757575;
  margin-top: -0.9rem;
  font-weight: 300;
}
