@import "typography.scss";

:host {
  color: $black;
}

h1 {
  margin-bottom: 1rem;
}

links {
  margin-bottom: 1rem;
}

labels {
  display: block;
  margin-bottom: 1rem;
}

.bold {
  font-weight: 500;
}
