@import "breakpoints.scss";

:host {
  ::ng-deep accordion-item {
    button {
      margin: 0 auto;
      display: block;
    }

    [htm-button][type="submit"] {
      margin-top: 1.5rem;
      font-weight: 300;
    }
    
    .formItem {
      width: 50%;
      margin: 0 auto;
    } 
    
    th {
      white-space: nowrap;
    }

    alerts#certificatesByAccessCode {
      margin-top: 1rem;
    }

    scrollableContent {
      th {
        @include break-on(xs, max) {
          white-space: nowrap;
        }
      }
    }
  }
}