@import "../../../assets/styles/typography.scss";

.button-row{
	margin-left: 1rem;   
	@include break-on(sm, max) { margin-left: 0; margin-top: 1.5rem; }
  button{ text-align:center; }
}

.flex-end {
	display: flex; 
		@include break-on(sm, max) { display: block; }
	.round-input__wrapper {
		width: 100%;
	}
}

.mat-form-field-wrapper {
		@include break-on(sm, max) { padding-bottom: 0px; }
}
.round-input__wrapper .mat-form-field {
	@include break-on(sm, max){ margin-top: 1.5rem; }
}
.filter-wrapper {
	@include break-on(sm, max) { display:none; 
		&.filtersActive{display:block;}
	}
}
.block{border-top-color:$light-blue;}

.row-wrapper{ padding:0 1rem;
	@include break-on(sm, max){padding:0;}
}
.block__head{flex-wrap: wrap; margin-bottom:1.5625rem;
	@include break-on(sm, max){text-align:center;
		&__buttons{border-top:$gray 1px solid; border-bottom:$gray 1px solid; width:100%;
			.view-item{width:50%; padding-top:0.56rem; padding-bottom:0.56rem;}
		}
	}
	
}


.block__head__buttons .view-item:first-of-type {
	@include break-on(sm, max){ border-left: 0px solid transparent; }
}


.map-wrapper{position: relative;
	@include break-on(sm, max){text-align:center;
		margin:0 -1.5rem;
	}
  .map-loader{position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(255,255,255,0.7); z-index: 2; display:flex; flex-direction: column; justify-content: center;}
}

.polygons-toggle{position:absolute; top:1rem; left:1rem; background:$white; border-radius:10rem;
  button{appearance:none; display:inline-block; border:none; background:$white; color:$black; padding:0 0.75rem; height:25px; line-height:25px; border-radius:10rem; font-size:0.875rem; font-family:Rubik;
    &.active{background:$light-blue;}
	}
	@include break-on(sm, max) {right:1rem; font-size:0;
		button{width:50%;}

	}
}

.mapLegend{display:flex; width:100%; font-size:0.875rem; margin-top:1rem;
	@include break-on(sm, max){text-align:center; margin:1rem -1.5rem 0 -1.5rem; width:auto; display:block; overflow:auto; white-space: nowrap;
		&__block{display:inline-block; width:8.25rem;}
	}
  &__block{flex-grow:1; text-align: center;}
  &__color{height:1.875rem; margin-bottom:0.5625rem; display:block;}
}

.schools {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
		padding: 0;
		@include break-on(sm, max) { 
		margin: 0px;
		}
}