{#
/**
 * @file oska_map_entity.html.twig
 * Default theme implementation to present Oska map entity data.
 *
 * This template is used when viewing Oska map entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_oska_map_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('oska_map_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
