<article-layout>
    <breadcrumbs [data]="breadcrumbs"></breadcrumbs>
    <block tabStyle="middle">
        <block-title>
            {{ 'frontpage.dashboard_label' | translate }}
        </block-title>
        <block-sub-title>
            <div class="block__sub__title">
                <div class="identification">
                    <a *ngIf="currentRole === 'natural_person'" href="javascript:void(0)"
                        attr.aria-label="{{ 'modal.modaler' | translate }}" (click)="loadUserModal()">
                        <h1>{{ userData.username | titlecase }}</h1>
                    </a>
                    <h1 *ngIf="currentRole === 'juridical_person'">{{ userData.role.current_role.data.nimi }}</h1>
                </div>
                <div class="change-role">
                    <a href="javascript:void(0)" attr.aria-label="{{ 'modal.change_role' | translate }}"
                        (click)="loadRoleChangeModal()">
                        {{ 'modal.change_role' | translate }}
                    </a>
                </div>
            </div>
        </block-sub-title>
        <block-content *ngIf="currentRole === 'juridical_person' || currentRole === 'natural_person'" tabLabel="Taotlused" tabIcon="file-text">
            <applications [jwt]="jwt"></applications>
        </block-content>
        <block-content *ngIf="currentRole === 'natural_person'" tabLabel="Tunnistused" tabIcon="file-text">
            <certificates [jwt]="jwt"></certificates>
        </block-content>
        <block-content *ngIf="currentRole === 'natural_person'" tabLabel="Õpingud" tabIcon="file-text">
            <studies [jwt]="jwt"></studies>
        </block-content>
        <block-content *ngIf="currentRole === 'natural_person'" tabLabel="Õpetan" tabIcon="file-text">
            <teachings [jwt]="jwt"></teachings>
        </block-content>
    </block>
</article-layout>

<htm-modal id="userModal" title="{{ 'frontpage.dashboard_tabs_personal_label' | translate }}"
    [titleExists]="titleExists" [topAction]="topAction" [bottomAction]="bottomAction">
    <modal-content [loading]="loading">
        <alerts class="notifications notifications--small" id="personalData"></alerts>
        <ng-container *ngIf="!loading && !error && personalData">
            <h1>{{ userData.username }}</h1>
            <table htm-table class="personal-data">
                <ng-container *ngFor="let field of personalDataFields">
                    <tr *ngIf="personalData[field]">
                        <th>{{ 'frontpage.' + field  | translate | titlecase }}</th>
                        <td>
                            {{ personalData[field] }}
                        </td>
                    </tr>
                </ng-container>
            </table>
        </ng-container>
    </modal-content>
</htm-modal>

<htm-modal id="roleModal" title="{{ 'modal.changing_role' | translate }}" [titleExists]="titleExists"
    [topAction]="topAction" [bottomAction]="roleBottomAction">
    <modal-content [loading]="loading">
        <alerts class="notifications notifications--small" id="roles"></alerts>
        <ng-container *ngIf="!loading && !error">
            <h1 class="role-title">{{ 'modal.choose_role' | translate }}</h1>
            <table htm-table class="natural-roles">
                <thead>
                    <tr>
                        <th>{{ 'modal.me' | translate }}:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <formItem type="radio" [(ngModel)]="roleSelection" [options]="roleNaturalOptions">
                            </formItem>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table htm-table>
                <thead>
                    <tr>
                        <th>{{ 'modal.organizations' | translate }}:</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="roleJuridicalOptions && roleJuridicalOptions.length">
                        <tr *ngFor="let item of roleJuridicalOptions">
                            <td>
                                <formItem type="radio" [(ngModel)]="roleSelection"
                                    (click)="codeSelection = item.ariregistri_kood"
                                    (keyup.space)="codeSelection = item.ariregistri_kood"
                                    [options]="[{ key: item.arinimi, value:'juridical-' + item.ariregistri_kood }]">
                                </formItem>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="roleJuridicalOptions && !roleJuridicalOptions.length">
                        <tr>
                            <td class="text-center">{{ 'modal.no_organizations' | translate }}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </ng-container>
        <div class="button-container">
            <button htm-button theme="plain" (click)="closeRoleChangeModal()"
                attr.aria-label="{{ 'event.registration_form_cancel' | translate }}">{{ 'event.registration_form_cancel' | translate }}</button>
            <button htm-button theme="default" (click)="roleChange()"
                attr.aria-label="{{ 'modal.confirm' | translate }}">{{ 'modal.confirm' | translate }}</button>
        </div>
    </modal-content>
</htm-modal>