

<div class="main-container">
  <mat-spinner *ngIf="!list && error"></mat-spinner>

  <div class="row">
    <div class="col-8 sm-12">
      <div class="block padding-block">

        <div class="block-title">{{ 'studyProgramme.label' | translate }}</div>
        <article>
          <div class="row">
            <div class="col-12">
              <table>
                <thead>
                  <tr *ngIf="list">
                    <th></th>
                    <th *ngFor="let item of list">
                      <a [routerLink]="item.entityUrl.path">{{item.name}}</a>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Õppeasutuse nimi</td>
                    <td *ngFor="let item of list">{{ item.EducationalInstitution.entity.name }}</td>
                  </tr>

                  <tr>
                    <td>Õppekava tase</td>
                    <td *ngFor="let item of list">
                      <ng-container *ngIf="item.level">
                          {{ item.level.entity.name }}
                      </ng-container>
                      <ng-container *ngIf="!item.level"> - </ng-container>
                    </td>
                  </tr>

                  <tr>
                    <td>Omistatav kraad või diplom</td>
                    <td *ngFor="let item of list">
                      <ng-container *ngIf="item.degreeOrDiplomaAwarded">
                        {{ item.degreeOrDiplomaAwarded.entity.name }}
                      </ng-container>
                      <ng-container *ngIf="!item.degreeOrDiplomaAwarded"> - </ng-container>
                    </td>
                  </tr>

                  <tr>
                    <td>Spetsialiseerumine</td>
                    <td *ngFor="let item of list">
                      <ng-container *ngIf="item.specialization">
                          {{ item.specialization }}
                      </ng-container>
                      <ng-container *ngIf="!item.specialization"> - </ng-container>
                    </td>
                  </tr>
                  
                  <tr >
                    <td>Õppekeel(ed)</td>
                    <td *ngFor="let item of list">
                      <ng-container *ngFor="let lang of item.teachingLanguage; let last">
                        <ng-container *ngIf="!last">{{ lang.entity.name }}, </ng-container>
                        <ng-container *ngIf="last">{{ lang.entity.name }}</ng-container>
                      </ng-container>
                    </td>
                  </tr>

                  <tr>
                    <td>Õppekava maht</td>
                    <td *ngFor="let item of list">
                      <ng-container *ngIf="item.amount">
                        {{ item.amount }}
                      </ng-container>
                      <ng-container *ngIf="!item.amount"> - </ng-container>
                    </td>
                  </tr>

                  <tr>
                    <td>Praktika maht</td>
                    <td *ngFor="let item of list">
                      <ng-container *ngIf="item.practicalTrainingAmount">
                        {{ item.practicalTrainingAmount }}
                      </ng-container>
                      <ng-container *ngIf="!item.practicalTrainingAmount"> - </ng-container>
                    </td>
                  </tr>

                  <tr>
                    <td>Nominaalkestus</td>
                    <td *ngFor="let item of list">
                      {{ item.durationYears }} aastat 

                      <ng-container *ngIf="item.durationMonths && item.durationMonths !== 0">
                        {{ item.durationMonths }} kuud
                      </ng-container>
                    </td>
                  </tr>
                  
                  <tr>
                    <td>Vastuvõtu olek</td>
                    <td *ngFor="let item of list">{{ item.admissionStatus }}</td>
                  </tr>

                  <tr>
                    <td>Akrediteerimise otsus</td>
                    <td *ngFor="let item of list">
                      <ng-container *ngIf="item.accreditationStatus">{{ item.accreditationStatus }}</ng-container>
                      <ng-container *ngIf="!item.accreditationStatus"> - </ng-container>
                    </td>
                  </tr>

                  <tr>
                    <td>Akrediteerimise otsuse kehtivuse lõpp</td>
                    <td *ngFor="let item of list">
                      <ng-container *ngIf="item.accreditationValidUntil">{{ item.accreditationValidUntil.unix * 1000 | date:"dd.MM.yyyy" }}</ng-container>
                      <ng-container *ngIf="!item.accreditationValidUntil"> - </ng-container>
                    </td>
                  </tr>
                  <tr>
                      <td></td>
                      <td *ngFor="let item of list">
                        <a href="javascript:void(0);" (click)="removeItemFromList(item.nid)">Eemalda võrdlusest</a>
                      </td>
                    </tr>

                </tbody>
              </table>
            </div>
          </div>
        </article>
      </div><!--/block-->
    </div><!--/col-8-->
  </div><!--/row-->
</div>