
<breadcrumbs></breadcrumbs>
<div class="main-container">
  <mat-spinner *ngIf="!list && error"></mat-spinner>
  <div class="row" *ngIf="list">
    <div class="col-12 sm-12">
      <div class="block">
        <div class="block-title">{{ 'studyProgramme.label' | translate }}</div>
        <div class="row">
          <div class="col-10 flex">
            <h1 class="block-heading">{{ 'studyProgramme.compare_modal_title' | translate | titleCase }}</h1>
          </div>
          <div class="col-2 flex action--back">
            <a href="javascript:void(0)" [routerLink]="back()">{{ 'button.back' | translate }}</a>
          </div>
        </div>
        <div class="scrollable">
          <div class="scrollable__rectangle scrollable__rectangle--left pointer" *ngIf="!elemAtStart" 
            (touchstart)="tableService.scrollStart('tableRef')" 
            (mousedown)="tableService.scrollStart('tableRef')" 
            (touchend)="tableService.scrollEnd()" 
            (mouseup)="tableService.scrollEnd()">
            <span class="htm-icon">keyboard_arrow_left</span>
          </div>
          <div class="scrollable__rectangle scrollable__rectangle--right pointer" *ngIf="tableOverflown" 
            (touchstart)="tableService.scrollStart('tableRef', true)"
            (mousedown)="tableService.scrollStart('tableRef', true)"
            (touchend)="tableService.scrollEnd(true)"
            (mouseup)="tableService.scrollEnd(true)">
            <span class="htm-icon">keyboard_arrow_right</span>
          </div>
          <div class="scrollable__table" id="tableRef" (scroll)="tableOverflown = tableService.isOverflownWhileScrolling($event); elemAtStart = tableService.isElemAtStart('tableRef')">
            <table class="scrollableTable">
              <thead>
                <tr *ngIf="list">
                  <th></th>
                  <th *ngFor="let item of list">
                    <a [routerLink]="item.entityUrl.path" role="link">{{item.name | titleCase }}</a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ 'studyProgramme.school' | translate }}</td>
                  <td class="highlighted" *ngFor="let item of list">{{ item.EducationalInstitution.entity.name | titleCase }}</td>
                </tr>

                <tr>
                  <td>{{ 'studyProgramme.level' | translate }}</td>
                  <td class="highlighted" *ngFor="let item of list">
                    <ng-container *ngIf="item.level">
                        {{ item.level.entity.name | titleCase }}
                    </ng-container>
                    <ng-container *ngIf="!item.level"> - </ng-container>
                  </td>
                </tr>

                <tr>
                  <td>{{ 'studyProgramme.degree_or_diploma' | translate }}</td>
                  <td class="highlighted" *ngFor="let item of list">
                    <ng-container *ngIf="item.degreeOrDiplomaAwarded">
                      {{ item.degreeOrDiplomaAwarded.entity.name | titleCase }}
                    </ng-container>
                    <ng-container *ngIf="!item.degreeOrDiplomaAwarded"> - </ng-container>
                  </td>
                </tr>

                <tr>
                  <td>{{ 'studyProgramme.specialization' | translate }}</td>
                  <td class="highlighted" *ngFor="let item of list">
                    <ng-container *ngIf="item.specialization">
                        {{ item.specialization | titleCase }}
                    </ng-container>
                    <ng-container *ngIf="!item.specialization"> - </ng-container>
                  </td>
                </tr>
                
                <tr >
                  <td>{{ 'studyProgramme.languages' | translate }}</td>
                  <td class="highlighted" *ngFor="let item of list">
                    <ng-container *ngFor="let lang of item.teachingLanguage; let last">
                      <ng-container *ngIf="!last">{{ lang.entity.name | titleCase }}, </ng-container>
                      <ng-container *ngIf="last">{{ lang.entity.name | titleCase }}</ng-container>
                    </ng-container>
                  </td>
                </tr>

                <tr>
                  <td>{{ 'studyProgramme.study_capacity' | translate }}</td>
                  <td class="highlighted" *ngFor="let item of list">
                    <ng-container *ngIf="item.fieldAmount">
                      {{ item.fieldAmount }}
                      <ng-container *ngIf="item.fieldAmountUnit">{{ item.fieldAmountUnit }}</ng-container>
                    </ng-container>
                    <ng-container *ngIf="!item.fieldAmount"> - </ng-container>
                  </td>
                </tr>

                <tr>
                  <td>{{ 'studyProgramme.internship_capacity' | translate }}</td>
                  <td class="highlighted" *ngFor="let item of list">
                    <ng-container *ngIf="item.practicalTrainingAmount">
                      {{ item.practicalTrainingAmount }}
                      <ng-container *ngIf="item.fieldAmountUnit">{{ item.fieldAmountUnit }}</ng-container>
                    </ng-container>
                    <ng-container *ngIf="!item.practicalTrainingAmount"> - </ng-container>
                  </td>
                </tr>

                <tr>
                  <td>{{ 'studyProgramme.nominal_time' | translate }}</td>
                  <td class="highlighted" *ngFor="let item of list">
                    {{ item.durationYears }} aastat 

                    <ng-container *ngIf="item.durationMonths && item.durationMonths !== 0">
                      {{ item.durationMonths }} kuud
                    </ng-container>
                  </td>
                </tr>
                
                <tr>
                  <td>{{ 'studyProgramme.admission_status' | translate }}</td>
                  <td class="highlighted" *ngFor="let item of list">{{ item.admissionStatus }}</td>
                </tr>

                <tr>
                  <td>{{ 'studyProgramme.accreditation_decision' | translate }}</td>
                  <td class="highlighted" *ngFor="let item of list">
                    <ng-container *ngIf="item.accreditationStatus">{{ item.accreditationStatus | titleCase }}</ng-container>
                    <ng-container *ngIf="!item.accreditationStatus"> - </ng-container>
                  </td>
                </tr>

                <tr>
                  <td>{{ 'studyProgramme.accreditation_decision_till' | translate }}</td>
                  <td class="highlighted" *ngFor="let item of list">
                    <ng-container *ngIf="item.accreditationValidUntil">{{ item.accreditationValidUntil.unix * 1000 | date:"dd.MM.yyyy" }}</ng-container>
                    <ng-container *ngIf="!item.accreditationValidUntil"> - </ng-container>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td *ngFor="let item of list">
                    <a attr.aria-label="{{'button.remove_from_comparison' | translate}}" href="javascript:void(0);" (click)="removeItemFromList(item.nid, 'studyProgramme.compare')">{{ 'button.remove_from_comparison' | translate}}</a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div><!--/block-->
    </div><!--/col-8-->
  </div><!--/row-->
</div>