@import "typography.scss";
@import "breakpoints.scss";
:host {
  .flex {
    display: flex;
  }
  
  .block {
    &__title__middle-tabs {
      button {
        color: $blue !important;
      }
    }
    &__sub__title{
      display: flex;
      justify-content: space-between;
      padding: 0 1.5rem;
      a {
        h1 {
          color: $blue;
        }
      }
      .change-role {
        align-self: center;
      }
    }
  }
  
  .identification h1 {
    color: $blue;
  }
  
  .personal-data {
    margin-top: 1rem;
  }
  
  .text-center {
    text-align: center;
  }
  
  #roleModal {
    .button-container {
      margin-top: 1.5rem;
      display: flex;
      justify-content: flex-end;
    }
    .natural-roles {
      margin-bottom: .5rem;
    }
    .role-title {
      margin-bottom: 1rem;
    }
  }
}
