<ng-template #origin>
  <article class="flex flex-justify-center origin">
    <ng-container *ngFor="let item of generalData[0].fieldContentPageLinks; let i = index;">
      <a href="javascript:void(0)" class="flex flex-notrows pointer text-center " *ngIf="item.url && item.url.routed" [routerLink]="item.url.path">
        <div class="img__wrapper">
          <img aria-hidden="true" src="/assets/img/frontpage-button-default.svg">
        </div>
        <div attr.aria-label="{{ item.title }}" class="section__text--strong">{{item.title}}</div>
      </a> 
      <a *ngIf="item.url && !item.url.routed" class="flex flex-notrows pointer text-center" href="{{item.url.path}}" target="_blank">
        <div class="img__wrapper">
          <img aria-hidden="true" src="/assets/img/frontpage-button-default.svg">
        </div>
        <div attr.aria-label="{{ item.title }}" class="section__text--strong">{{item.title}}</div>
      </a>
    </ng-container>
  </article>
</ng-template>

<ng-container>
  <breadcrumbs></breadcrumbs>

  <mat-spinner *ngIf="!generalData" ></mat-spinner>
  
  <div class="frontpage" *ngIf="generalData">
    <h1 class="lead-title">
      <span class="sm-show xxs text-center" innerHtml="{{'frontpage.lead_title_xxs' | translate}}"></span>
      <span class="sm-show sm text-center" innerHtml="{{ 'frontpage.lead_title' | translate }}"></span>
      <span class="sm-hide text-center" innerHtml="{{ 'frontpage.lead_title' | translate }}"></span>
    </h1>
    <div class="section section--origin main-container" *ngIf="generalData && generalData.length">
      <div class="content">
        <ng-container *ngTemplateOutlet="origin"></ng-container>
      </div>
    </div>
    <articles-single></articles-single>
  
    <!-- <div class="frontpage__triangle--wrapper">
      <div class="frontpage__triangle--bottom"></div>
    </div> -->
  </div><!--/frontpage-->
</ng-container>

