<aside role="navigation" attr.aria-label="{{'frontpage.main_menu' | translate}}" *ngIf="data" class="side-menu-wrapper">
  
  <!-- FOR MENU CLASSES INCLUSION-->
  <mat-menu style="display:none;">
    <button mat-menu-item></button>
  </mat-menu>

  <ul *ngFor="let item of data" class="ul-styleless category" [class.empty-parent]="item.links.length == 0 && item.url.path === '#nolink'">
    <li class="subcategory" *ngIf="item.url.path && item.url.path !== '#category' && item.url.path !== '#nocategory'" [class.has-children]="item.links.length > 0">
      <a href="javascript:void(0);"  mat-menu-item *ngIf="item.links && item.links.length > 0" (keyup.esc)="closeParentNode($event)" appToggleClass="menu-open">
        <span>{{ item.label }}</span>
        <span class="htm-icon" aria-hidden="true" *ngIf="item.links && item.links.length > 0">chevron_right</span>
      </a>
      
      <a href="javascript:void(0);" [routerLink]="[item.url.path]" (click)="(isMobile && (item.url.path === router.url)) && sidemenuService.sendMessage()" [class.isActive]="routeIncludes(item.url.path)" routerLinkActive="mat-menu-item-active" [routerLinkActiveOptions]="{exact: true}" mat-menu-item *ngIf="item.links.length == 0 && item.url.path !== '#nolink'">
        <span>{{ item.label }}</span>
      </a>
      <ul class="ul-styleless submenu deep" *ngIf="item.links">
        <li class="subcategory" *ngFor="let item2 of item.links">
          <!-- Dropdown link -->
          <a href="javascript:void(0);"  mat-menu-item *ngIf="item2.links && item2.links.length > 0" (keyup.esc)="closeParentNode($event)" appToggleClass="menu-open">
            <span>{{ item2.label }}</span>
            <span class="htm-icon" aria-hidden="true" *ngIf="item2.links && item2.links.length > 0">chevron_right</span>
          </a>

          <!-- Internal link -->
          <a href="javascript:void(0);" [routerLink]="[item2.url.path]" (click)="(isMobile && (item2.url.path === router.url)) && sidemenuService.sendMessage()" [class.isActive]="routeIncludes(item2.url.path)" routerLinkActive="mat-menu-item-active" [routerLinkActiveOptions]="{exact: true}" mat-menu-item *ngIf="item2.links.length == 0 && item2.url.path !== '#nolink'">
            <span>{{ item2.label }}</span>
          </a>
        </li>
      </ul>
    </li>
    <li *ngIf="item.url.path && item.url.path === '#category'" class="menu-category">{{ item.label | uppercase }}</li>
    <li class="menu-open" *ngIf="item.url.path && (item.url.path === '#category' || item.url.path === '#nocategory')">
      <ul class="ul-styleless submenu" *ngIf="item.links">
        <li class="subcategory" *ngFor="let item2 of item.links" [class.has-children]="item2.links.length > 0">
          <!-- Dropdown link -->
          <a href="javascript:void(0);"  mat-menu-item *ngIf="item2.links && item2.links.length > 0" (keyup.esc)="closeParentNode($event)" appToggleClass="menu-open"  role="link">
            <span>{{ item2.label }}</span>
            <span class="htm-icon" aria-hidden="true" *ngIf="item2.links && item2.links.length > 0">chevron_right</span>
          </a>

          <!-- Internal link -->
          <a href="javascript:void(0);" [routerLink]="[item2.url.path]" (click)="(isMobile && (item2.url.path === router.url)) && sidemenuService.sendMessage()" [class.isActive]="routeIncludes(item2.url.path)" routerLinkActive="mat-menu-item-active" [routerLinkActiveOptions]="{exact: true}" mat-menu-item *ngIf="item2.links.length == 0 && item2.url.path !== '#nolink'">
            <span>{{ item2.label }}</span>
          </a>
          <ul class="ul-styleless submenu deep" *ngIf="item2.links">
            <li *ngFor="let item3 of item2.links">
              
              <!-- Internal link -->
              <a href="javascript:void(0);" [routerLink]="[item3.url.path]" (click)="(isMobile && (item3.url.path === router.url)) && sidemenuService.sendMessage()" [class.isActive]="routeIncludes(item3.url.path)" routerLinkActive="mat-menu-item-active" [routerLinkActiveOptions]="{exact: true}" mat-menu-item *ngIf="item3.url.internal">
                <span>{{ item3.label }}</span>
              </a>

              <!-- External link-->
              <a href="{{ item3.url.path }}" mat-menu-item *ngIf="!item3.url.internal" target="_blank">
                <span>{{ item3.label }}</span>
                <span class="htm-icon" aria-hidden="true">launch</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <div style="padding: 1.5rem;" *ngIf="version">Version {{version}}</div>
</aside>