$white: #ffffff;
$light-gray: #eeeeee;
$gray: #c7c7c9;
$dark-gray: #757575;
$darker-gray: #333;
$orange: #f8b243;
$dark-orange: #fd8208;
$light-orange: #ffe7c1;
$red: #d5401a;
$dark-red: rgba(208, 2, 27, 0.87);
$light-red: #fbece8;
$light-blue: #15adc2;
$bright-blue: #8ad6e0;
$aqua: #bee3e8;
$blue: #2e3374;
$blue-light: #454b92;
$light-purple: #bcbcd2;
$light-green: #0F7B8A;
$black: #333333;
$visited: #623258;
$youtube-red: #FF0000;
$youtube-black: #212121;

$success: #00854d;
$success-light: #E6F5EF;
$info: #1565c0;
$info-light: #f1f7fe;
$error: #d0021b;
$error-light: #fdf3f4;
$warning: #f5a623;
$warning-light: #fff7eb;

.color-white{color:$white;}
.color-light-gray{color:$light-gray;}
.color-gray{color:$gray;}
.color-dark-gray{color:$dark-gray;}
.color-orange{color:$orange;}
.color-dark-orange{color:$dark-orange;}
.color-light-orange{color:$light-orange;}
.color-red{color:$red;}
.color-dark-red{color:$dark-red;}
.color-light-blue{color:$light-blue;}
.color-bright-blue{color:$bright-blue;}
.color-aqua{color:$aqua;}
.color-blue{color:$blue;}
.color-blue-light{color:$blue-light;}
.color-light-purple{color:$light-purple;}
.color-light-green{color:$light-green;}
.color-black{color:$black;}
.color-visited{color:$visited;}
.color-success{color:$success;}
.color-success-light{color:$success-light;}
.color-info{color:$info;}
.color-info-light{color:$info-light;}
.color-error{color:$error;}
.color-error-light{color:$error-light;}
.color-warning{color:$warning;}
.color-warning-light{color:$warning-light;}
