$rand: random();
$min: 100000000;
$max: 999999999;
$randomNum: $min + floor($rand * (($max - $min) + 1));

@font-face {
font-family: "iconfont";
src: url('assets/fonts/iconfont.eot?timestamp=#{$randomNum}'); /* IE9 Compat Modes */
src: url('assets/fonts/iconfont.eot?timestamp=#{$randomNum}#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('assets/fonts/iconfont.woff?timestamp=#{$randomNum}') format('woff'), /* Pretty Modern Browsers */
    url('assets/fonts/iconfont.ttf?timestamp=#{$randomNum}')  format('truetype'), /* Safari, Android, iOS */
    url('assets/fonts/iconfont.svg?timestamp=#{$randomNum}') format('svg'); /* Legacy iOS */
}

@import "https://fonts.googleapis.com/css?family=Rubik:100,300,400,500,700";

@font-face {
  font-family: 'roboto';
  src: url('assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('assets/fonts/roboto-bold-webfont.woff') format('woff'),
       url('assets/fonts/roboto-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'roboto';
  src: url('assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('assets/fonts/roboto-regular-webfont.woff') format('woff'),
       url('assets/fonts/roboto-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}