@import "./colors.scss";
@import 'breakpoints.scss';

// Examples: 
// @include break-on(sm, min)
// @include break-on(lg, max)

$gutter: 0.5rem;
$half-gutter: $gutter / 2;
$quarter: $gutter + $half-gutter;
$small: $gutter * 2;
$medium: $gutter * 3;
$large: $gutter * 4;
$xxl: $gutter * 6;

html {
  font-size: 100%;
	height: 100%;
	@include break-on(lg, min) {
		font-size: 16px;
	}
	@include break-on(xl, min) {
		font-size: 18px;
	}
	@include break-on(xxl, min) {
		font-size: 22px;
	}
}

::ng-deep{
  h1 {
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: $black;
    margin-top: 0;
    margin-bottom: 0;
  }
  h2, h3 {
    font-size: 1rem;
    font-weight: 500;
  }
}

@mixin multiLineEllipsis($lineHeight: 1.2rem, $lineCount: 1, $bgColor: $white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: justify;
  margin-right: -1rem;
  padding-right: 2rem;
  &:before {
    content: '...';
    position: absolute;
    right: 1.1875rem;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 1.1875rem;
    width: 1rem;
    height: 1rem;
    margin-top: 0.2rem;
    background: $bgColor;
  }
}

.text-center{text-align:center;}
.text-right{text-align: right;}
.pointer{cursor: pointer;}
.capitalize {text-transform: capitalize;}
