@import "typography.scss"; 
@import "breakpoints.scss"; 
.triangles {position: relative;width: 100%; box-sizing: border-box;z-index: 0;
  &__child {position: absolute;}
  &--smallTop {right: 10.5rem;border-left: 4.25rem solid transparent;border-right: 4.25rem solid transparent;border-top: 4.5rem solid;}
  &--smallTopLeft {left: 10.5rem; border-left: 4.25rem solid transparent;border-right: 4.25rem solid transparent;border-top: 4.5rem solid;}
  &--smallRight {right: 0;top: -6rem;border-top: 4.25rem solid transparent;border-bottom: 4.25rem solid transparent;border-right: 4.5rem solid;}
  &--smallRightLower {right: 0;top: -6rem;border-top: 4.25rem solid transparent;border-bottom: 4.25rem solid transparent;border-right: 4.5rem solid;
    @include break-on(sm, max) {top: -11rem;}
  }
  &--smallLeft {bottom: 6rem;border-top: 4.25rem solid transparent;border-bottom: 4.25rem solid transparent;border-left: 4.5rem solid;
    &--swapped {@extend .triangles--smallLeft;top: 2rem;}
  }
  &--largeTop {right: 0rem;border-left: 7rem solid transparent;border-right: 7rem solid transparent;border-top: 8rem solid;}
  &--largeTopLeft {border-left: 7rem solid transparent;border-right: 7rem solid transparent;border-top: 8rem solid;}
  &--largeRight {right: 0;top: -1rem;border-top: 7rem solid transparent;border-bottom: 7rem solid transparent;border-right: 8rem solid;}
  &--largeRightLower {right: 0;top: -1rem;border-top: 7rem solid transparent;border-bottom: 7rem solid transparent;border-right: 8rem solid;
    @include break-on(sm, max) {top: -6rem;}
  }
  &--largeLeft {bottom: -5rem;border-top: 7rem solid transparent;border-bottom: 7rem solid transparent;border-left: 8rem solid;}
  &__bottommost {z-index: 3;}
  &__topmost {
    @include break-on(sm, min) {top: -.5rem;}
    @include break-on(lg, max) {
      @include break-on(xxs, min) {right: 3rem;}
    }
    &--left {
      @include break-on(sm, min) {top: 0;}
      @include break-on(sm, max) {
        @include break-on(xs, min) {top: 0;left: 1rem;}
        @include break-on(xxs, min) {top: 0;left: 3rem;}
      }
    }
  }
}