@import 'typography.scss';
@import 'breakpoints.scss';
h1 {
  color: $black;
}
.introduction {
  font-size: 1rem;
  line-height: 1.375rem;
  color: $black;
  padding-top: 1.5rem;
  font-weight: 500;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  re-captcha {
    margin: 1rem auto 0;
  }
  input {
    -webkit-appearance: none;
  }
  button {
    margin-top: 1.5rem;
    width: auto;
    align-self: center;
  }
  @include break-on(xs, min) {
    .formItem {
      width: 66%;
      margin: 0 auto;
    }
  }
  .formItem + .formItem {
    margin-top: 1rem;
  }
}
.footer {
  margin-top: 1.5rem;
  table {
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    b {
      font-weight: 500;
    }
    td {
      &.separated {
        border-bottom: 1px solid $dark-gray;
      }
      &.centered {
        text-align: center;
      }
    }
  }
}