<div class="navBlock-wrapper">
  <div class="navBlock">
    <div class="inner">
      <div class="navBlock__title">
        <div class="navBlock__title__inner">
          <h1 [innerHTML]="'home.slogan' | translate"></h1>
        </div><!--/navBlock__title__inner-->
        <img src="/assets/img/homePage-navBlock.svg" alt="" />
      </div><!--/navBlock__title-->
      <div class="navBlock__buttons" *ngIf="topics.length" >
        <ul>
          <ng-container *ngFor="let item of topics">
            <li *ngIf="!item.scrollTo">
              <button [scrollTo]="item.button | slugify">{{ item.button }} <icon glyph="chevrons-down"></icon></button>
            </li>
            <li *ngIf="item.scrollTo">
              <button [scrollTo]="item.scrollTo">{{ 'home.services' | translate }} <icon glyph="chevrons-down"></icon></button>
            </li>
          </ng-container>
        </ul>
      </div><!--/navBlock__buttons-->
    </div><!--/inner-->
  </div><!--/navBlock-->
</div><!--/navBlock-wrapper-->
<homepage-articles
  *ngIf="articles && articles.length"
  [data]="articles"
  [category]="'home.what_to_find' | translate"
  [theme]="theme"></homepage-articles>
<homepage-slides
  [data]="services"
  [title]="'home.services_title' | translate"
  [theme]="theme"></homepage-slides>
<homepage-topical
  [article]="news"
  [category]="'home.topical_default' | translate"
  [image]="'/assets/img/homepage-topical-1.svg'"
  [theme]="theme"></homepage-topical>
<homepage-study
  [title]="study.title"
  [intro]="study.intro"
  [data]="study.data"
  [theme]="theme"></homepage-study>
<homepage-slogan
  [data]="slogan"
  [image]="'/assets/img/homepage-slogan-1.svg'"
  [theme]="theme"></homepage-slogan>
<homepage-footer
  [data]="contact"
  [theme]="theme"></homepage-footer>
