@import "../../../assets/styles/typography.scss"; 

a:visited {
  color: $visited!important;
}

.main-container{padding-top:$small; clear:both; margin:0 $medium;
  @include break-on(sm, max) {padding-top: 0;margin:0;padding-top:0;}
}
.forTable {overflow: scroll;}
article {
  @include break-on(sm, min) {padding-bottom: $medium;}
}
table {width: 100%;border-collapse: collapse; margin:$small 0 0 0;
  thead {background: $light-gray;
    .sortable {&:hover { color: $dark-gray;}}
    .htm-icon {position: relative; top: $half-gutter; font-size: 1.12rem;&:hover { color: $dark-gray;}}
  }
  th {white-space: nowrap; font-weight: normal;}
  th, td {line-height: 1.38rem;font-size: 1rem;padding: $gutter 1rem;text-align:left;border: .0625rem solid $gray;
    &:first-child{width:37%;}
    &:last-child{font-weight: 500;}
  }
  td.hidden, th.hidden {min-width:1.5rem;width: 1.5rem; background: $light-gray;padding:$gutter;}
  th.hidden {text-align: center;border-bottom: none;}
  td {font-weight: 400;
    &.hidden {border-top: none;border-bottom: none;
      &.last {border-bottom: .0625rem solid $gray;}
      &.vertical {position: relative;}
      .vertical__text {position: absolute;writing-mode: tb-rl;white-space: nowrap;font-weight: 500;font-size: .875rem;left: $gutter;top: $half-gutter;}
    }
  }
  .separator {padding: 0;min-width: .125rem;width: .125rem;background: #fff;border:none;}
}
.block{border-top-color:$light-blue;
  p{line-height:1.375rem; font-size:1rem;}
  p:last-child{margin-bottom:0;}
  h2{font-size:1.25rem; line-height:100%; margin:0 0 -7px 0;}
  
  &.border-orange{border-top-color:$orange;}
  .flex{display:flex;
  }

  map-wrapper { margin:-1.5rem -1.5rem 1.5rem -1.5rem; display: block;}

}

.actions{margin-bottom:3rem;
  @include break-on(sm, max) {margin-left: 1.5rem;margin-right: 1.5rem;}
  &.snackBar {margin-bottom: 3rem;
    @include break-on(sm, min) {margin-bottom: 5.25rem;}
  }
}
.table-wrapper{overflow: auto;}

.title {font-size: $small;line-height: 2;
  h1 {color:$black;}
  &__recent {padding: $small $medium 0 $medium;}
}
.fill{flex-grow: 1;}

.mat-raised-button.mat-primary{width:auto;
  @include break-on(sm, max) {width: 100%;}
}
.border-orange{
  a {text-decoration: none;
    &:hover {text-decoration: underline;}}
  }
  @include break-on(sm, max) {.block {margin-bottom: 0;}
}

feedback{margin-left:0; margin-right:0; margin-bottom:-2rem;}