@import "../../../assets/styles/typography.scss"; 
.main-container{padding-top:1rem; clear:both;}
.block {
  border-top: $gutter solid $light-blue;
  background: $white;
  padding:0 $medium $medium $medium;
  @include break-on(sm, min) {border-radius: $half-gutter; margin-left: $medium;}
  @include break-on(lg, min) {margin-left: 0;}
  &__recent {
    @extend .block;
    a {text-decoration: none;
      &:hover { text-decoration: underline; }
    }
    border-top: $gutter solid $orange;
    margin-bottom: $small;
    .map-wrapper {position: relative;
      a {position:absolute;bottom:0;width:stretch;background-color: rgba(0, 0, 0, 0.6);color:$white;align-items: center;justify-content: center;
        font-weight: normal;line-height: 1.25;font-size: $small;display: flex; padding: $small;text-decoration:none;
        .mat-icon {font-size: 1.25rem;height: 1.25rem !important;}
      }  
    }
    @include break-on(sm, min) {border-radius: $half-gutter; margin-left: 0;}
  }
  &.second {margin-top:$small;}
  &__item {
    
    padding: $medium;padding-top: $small;padding-bottom:$gutter;;
    .title {padding: 0;padding-bottom: $gutter;}
    .child {line-height: 1.375rem;}
    button {width: stretch; margin-top: $small;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
    &__body {overflow: hidden;text-overflow: ellipsis;
      &.error {padding-bottom: $medium;}
      .error {color: $dark-red; line-height: 1.38; font-size: $small; font-weight: 500;}
    }
    &__footer {padding-top:$gutter;line-height: 1.375rem;}
    @include break-on(sm, min) {padding-bottom: $medium;
      &.register {padding-bottom:$medium;}
    }
  }
  &__title {font-size: $small;line-height: 2;color: $dark-gray; padding: $quarter 0 $gutter 0;
    a {float: right;}
  }
}
.title {font-size: $small;line-height: 2;
  h1 {color:$black;}
  &__recent {
    padding: $small $medium 0 $medium;
  }
}