<breadcrumbs></breadcrumbs>

<div class="main-container">
  <mat-spinner *ngIf="!data && !error"></mat-spinner>

  <div class="row" *ngIf="data">
    <div class="col-8 sm-12">
      <div class="block padding-block">

        <div class="block-title">{{ 'studyProgramme.label' | translate }}</div>
        <article>
          <div class="row title">
            <div class="col-7 sm-10">
              <h1 *ngIf="data.entityLabel">{{ data.entityLabel }}</h1>
            </div><!--/col-8-->

            <div class="col-3 flex sm-hide">
              <div class="fill"></div>
              <div class="custom-checkbox">
                <mat-checkbox [checked]="compare[data.nid]" (change)="compareChange(data.nid, $event)"> {{ 'button.add_to_comparison' | translate }}</mat-checkbox>
              </div>
            </div>

            <div class="col-2 sm-2 flex text-right">
              <share></share>
            </div>
          </div><!--/row-->

          <div class="row sm-show">
            <div class="col-12 flex">
              <div class="custom-checkbox">
                <mat-checkbox [checked]="compare[data.nid]" (change)="compareChange(data.nid, $event)"> {{ 'button.add_to_comparison' | translate }}</mat-checkbox>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 forTable">
              <table>
                <thead>
                  <tr *ngIf="data.fieldEducationalInstitution">
                    <th>Õppeasutuse nimi</th>
                    <th>{{ data.fieldEducationalInstitution.entity.entityLabel }}</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngIf="data.fieldEducationalInstitution">
                    <td>Registrikood</td>
                    <td>{{ data.fieldEducationalInstitution.entity.fieldRegistrationCode }}</td>
                  </tr>

                  <tr *ngIf="data.fieldStudyProgrammeLevel">
                    <td>Õppekava tase</td>
                    <td>{{ data.fieldStudyProgrammeLevel.entity.entityLabel }}</td>
                  </tr>

                  <tr *ngIf="data.fieldDegreeOrDiplomaAwarded">
                    <td>Omistatav kraad või diplom</td>
                    <td>{{ data.fieldDegreeOrDiplomaAwarded.entity.entityLabel }}</td>
                  </tr>

                  <tr *ngIf="data.fieldSpecialization">
                    <td>Spetsialiseerumine</td>
                    <td>{{ data.fieldSpecialization }}</td>
                  </tr>

                  <tr *ngIf="data.fieldIscedfBoard">
                    <td>Õppevaldkond</td>
                    <td>{{ data.fieldIscedfBoard.entity.entityLabel }}</td>
                  </tr>

                  <tr *ngIf="data.fieldIscedfNarrow">
                    <td>Õppesuund</td>
                    <td>{{ data.fieldIscedfNarrow.entity.entityLabel }}</td>
                  </tr>

                  <tr *ngIf="data.fieldIscedfDetailed">
                    <td>Õppekavarühm</td>
                    <td>{{ data.fieldIscedfDetailed.entity.entityLabel }}</td>
                  </tr>

                  <tr *ngIf="data.fieldShortDescription">
                    <td>Lühikirjeldus</td>
                    <td>{{ data.fieldShortDescription }}</td>
                  </tr>

                  <tr *ngIf="data.fieldTeachingLanguage">
                    <td>Õppekeel(ed)</td>
                    <td>
                      <ng-container *ngFor="let item of data.fieldTeachingLanguage">
                        {{ item.entity.entityLabel }}
                      </ng-container>
                    </td>
                  </tr>

                  <tr *ngIf="data.fieldAmount">
                    <td>Õppekava maht</td>
                    <td>{{ data.fieldAmount }}</td>
                  </tr>

                  <tr *ngIf="data.fieldPracticalTrainingAmount">
                    <td>Praktika maht</td>
                    <td>{{ data.fieldPracticalTrainingAmount }}</td>
                  </tr>

                  <tr *ngIf="data.fieldDurationYears">
                    <td>Nominaalkestus</td>
                    <td>{{ data.fieldDurationYears }} aastat <ng-container *ngIf="data.fieldDurationMonths && data.fieldDurationMonths !== 0">{{ data.fieldDurationMonths }} kuud</ng-container></td>
                  </tr>

                  <tr *ngIf="data.fieldAdmissionStatus">
                    <td>Vastuvõtu olek</td>
                    <td>{{ data.fieldAdmissionStatus }}</td>
                  </tr>

                  <tr *ngIf="data.fieldAccreditationStatus">
                    <td>Akrediteerimise otsus</td>
                    <td>{{ data.fieldAccreditationStatus }}</td>
                  </tr>

                  <tr *ngIf="data.fieldAccreditationValidUntil">
                    <td>Akrediteerimise otsuse kehtivuse lõpp</td>
                    <td>{{ data.fieldAccreditationValidUntil.unix }}</td>
                  </tr>

                  <tr *ngIf="data.fieldWebPageAddress">
                    <td>Õppekava kirjeldava veebilehe aadress</td>
                    <td><a href="{{ data.fieldWebPageAddress.url }}" target="_blank">Vaata õppekava kirjeldust õppeasutuse veebilehel</a></td>
                  </tr>

                  <tr *ngIf="data.fieldQualificationStandardId && data.fieldStudyProgrammeLevel">
                    <td>Kutsestandard(id)</td>
                    <td><a href="{{ data.fieldStudyProgrammeLevel.entity.entityLabel }}">Vaata kutsestandardit</a></td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </article>
      </div><!--/block-->

      <div class="text-center actions sm-hide">
        <button mat-raised-button color="primary" >Vaata kutsestandardit</button>
      </div><!--/text-center-->
      
    </div><!--/col-8-->
    <div class="col-4 sm-12">
      <div class="block padding-block border-orange">
        <h2>Kontakt</h2>
        <p>
          Eesti Maaülikool<br />
          +372 5555 5555<br />
          <a href="mailto:klm@htm.ee">klm@htm.ee</a><br />
          <a href="">www.koolinimi.ee</a>
        </p>
      </div><!--/block-->

      <div class="block padding-block border-orange">
        <div class="map-wrapper">
          <agm-map (mapReady)="mapReady($event)" style="height:173px" >
          </agm-map>
          <a href="http://www.google.com/maps/place/{{ map.lat }},{{ map.lon }}" target="_blank"><mat-icon>launch</mat-icon><span>{{'map.closer' | translate}}</span></a>
        </div><!--/map-wrapper-->
        <h2>Juriidiline aadress</h2>
        <p>Pargi 32, Räpina, 64505, Põlva maakond</p>
      </div><!--/block-->
      
      <div class="block padding-block border-orange">
        <div class="map-wrapper">
          <agm-map (mapReady)="mapReady($event)" style="height:173px" >
          </agm-map>
          <a href="http://www.google.com/maps/place/{{ map.lat }},{{ map.lon }}" target="_blank"><mat-icon>launch</mat-icon><span>{{'map.closer' | translate}}</span></a>
        </div><!--/map-wrapper-->
        <h2>Juriidiline aadress</h2>
        <p>Pargi 32, Räpina, 64505, Põlva maakond</p>
      </div><!--/block-->
      
      <div class="block padding-block border-orange">
        <div class="map-wrapper">
          <agm-map (mapReady)="mapReady($event)" style="height:173px" >
          </agm-map>
          <a href="http://www.google.com/maps/place/{{ map.lat }},{{ map.lon }}" target="_blank"><mat-icon>launch</mat-icon><span>{{'map.closer' | translate}}</span></a>
        </div><!--/map-wrapper-->
        <h2>Juriidiline aadress</h2>
        <p>Pargi 32, Räpina, 64505, Põlva maakond</p>
      </div><!--/block-->
      
      
    </div><!--/col-4-->
  </div><!--/row-->
</div>