<div class="block snackBar" *ngIf="list">
  
  <div class="block-title">{{ 'studyProgramme.related_label' | translate | uppercase }}</div>

  <form class="block-form" (submit)="filterSubmit($event)">
    <div class="flex wrap">
      <div class="grow full">
        <div class="round-input__wrapper" [class.complete]="filterFormItems.location">
          <span class="round-input__title">{{ 'studyProgramme.related_filter_location' | translate }}</span>
          <div class="round-input__field-wrapper">
            <input class="round-input__field" placeholder="{{ 'studyProgramme.related_filter_location' | translate }} " [(ngModel)]='filterFormItems.location' name="location" />
          </div>
        </div><!--/round-inpuit__wrapper-->
      </div>
      <div class="btn sm-12">
        <button mat-raised-button color="primary">{{ 'button.search' | translate}}</button>
      </div><!--/col-3-->
    </div><!--/row-->
  </form>

  <div *ngIf="list && list.length == 0 && !loading" class="no-results">
      {{ 'studyProgramme.related_no_results' | translate }}
  </div>

  <div #content *ngIf="list && list.length > 0">
    <ng-container *ngFor="let item of list; let i = index">
      <div class="studyProgramme__item">
        <div class="studyProgramme__item__titlebox">
          <div class="col-grow">
            <div class="studyProgramme__item__head sm-hide" *ngIf="item.FieldStudyProgrammeLevel">{{ item.FieldStudyProgrammeLevel }}</div>
            <h1><a [routerLink]="item.EntityPath" class="studyProgramme__item__title">{{ item.Name }}</a></h1>
          </div>
          <!--col-9-->
          <div class="col xxs-hide">
            <compare [id]="item.Nid" sessionStorageKey="studyProgramme.compare"></compare>
          </div>
          <!--/col-3-->
        </div>
        <div class="inline__items">
          <span class="item" *ngIf="item.FieldSchoolName">{{ item.FieldSchoolName }}</span>
          <span role="separator" class="bar" *ngIf="item.FieldSchoolName && item.FieldDuration">|</span>
          <span class="item" *ngIf="item.FieldDuration">{{item.FieldDuration | monthsToYears}}</span>
          <span role="separator" class="bar" *ngIf="item.FieldTeachingLanguage && (item.FieldSchoolName || item.FieldDuration)">|</span>
          <span class="item" *ngIf="item.FieldTeachingLanguage">{{item.FieldTeachingLanguage.toString() | titleCase}}</span>
        </div>
      </div>
      <!--/studyProgramme__item-->
    </ng-container>
    <!--/list repeat-->
  </div>
  <!--/list-->
</div>

<loader *ngIf="loading"></loader>
<div class="button-wrapper">
  <button mat-raised-button color="primary" (click)="getData()"  *ngIf="!listEnd && !loading">{{ 'button.load_more' | translate }}</button>
</div><!--/button-wrapper-->