
@import "../../../assets/styles/typography.scss";

.block{border-top-color:#15adc2;
  &-title {line-height: 2rem;padding: $small $medium;margin: 0;}
  &-form {padding: 0 $medium $medium $medium;}
  &.snackBar {margin-bottom: 4.5rem;
    @include break-on(sm, min) {margin-bottom: 5.25rem;}
  }
}
.studyProgramme {padding-bottom: $xxl;background: $white;border-top: $gutter solid $light-blue;
  @include break-on(sm, min) {border-radius: $half-gutter; margin-left: $medium; margin-right: $medium;margin-bottom: $medium;padding-bottom: 0; padding-bottom: $medium;}
  .months {margin-top: $medium;
    @include break-on(sm, min) {
      margin-top:-$medium;
    }
  }
  &__title {font-size: $small;line-height: 2;color: $dark-gray; padding: $small $medium $small $medium; flex-basis: 50%;}
  &__head {display: flex;}
  .view-item {height: 100%;width: 5.75rem;text-align: center;border-left: .0625rem solid $gray;cursor:pointer;color:$blue;
    .htm-icon{margin-top: $gutter;}
    .title {font-size: .875rem;}
    &.active {color: $black;pointer-events: none;cursor: initial;
      &:after {content: '';height: .1875rem;background-color: $dark-orange;display: block;position: relative;top: .625rem;}}
  }

  &__item {padding: $medium; border-bottom: solid 0.0625rem $gray; display:flex; flex-wrap: wrap;
    &:first-child{padding-top:0;}
    &:last-child{border-bottom:0;padding-bottom: $xxl;}
    &__title{width:100%; font-size:1.5rem; line-height:2rem; text-decoration: none; font-weight: 500; color:$blue;margin-right: $small;
      @include break-on(sm, min) {margin-bottom:0.23rem; }
      &:hover{text-decoration: underline;}
    }
    &__head {font-size: .875rem;line-height: 2;color: $dark-gray;padding-bottom: $half-gutter;}
    &__col{width:33%; box-sizing: border-box;
      &:first-child{padding-right:1.5rem;}
      &:last-child{padding-left:1.5rem;}
      &.first {padding-left: 0;}
      &.last {padding-right: 0;}
      p{color:$dark-gray; font-size:0.875rem; line-height:1.25rem; margin:0.25rem 0;}
    }
    &__subtitle {font-size: $small;line-height: 1; font-size:0.88rem; color:$dark-gray; line-height:143%; display:block; font-weight: 500; margin-bottom:$medium; margin-top: $half-gutter;}
    &__titlebox {width:100%; display:flex;
      .col-grow{flex-grow: 1; padding: 0;}
      .col{display: flex; align-items: baseline; flex-shrink: 0;padding: 0;justify-content: flex-end;}
    }
    p:first-child{margin-top:0;}
    p:last-child{margin-bottom:0;}
  }
  .spinner-wrapper{padding-bottom:1.25rem;}
}
.button-list {display: flex;flex-basis: 50%;justify-content: flex-end;}
.actions{margin-bottom:$xxl; padding:0 $medium;margin-top: -$medium;
  @include break-on(sm, min) {margin-top: 0;}
}
@include break-on(sm, max) {
  .filter-wrapper .row {padding-top: $gutter;
    &:first-child {padding-top: 0;}
  }
  .button-row {padding-top: 0;}
}

.flex.wrap {
  @include break-on(sm, max) {
    .round-input__field-wrapper { margin-bottom: 1rem; }
  .full { padding-right: 0px; }
  }    
}