<div class="inline">
    <article-layout>
      <breadcrumbs [data]="breadcrumbs"></breadcrumbs>
      <block>
        <block-title>{{ 'frontpage.dashboard_label' | translate | uppercase }}</block-title>
        <block-content>
          <alerts [id]="'certificates'" small></alerts>
          <ng-container *ngIf="certificate">
            <h1 *ngIf="certificate.nimi">{{ certificate.nimi }}</h1>
            <labels [data]="labels" type="aqua" *ngIf="labels.length"></labels>
            <div class="table-holder">
              <table class="dashboard-table">
                <tbody>
                  <tr *ngIf="certificate.registrinumber">
                    <td>
                      {{ 'frontpage.dashboard_tabs_certificates_number' |
                              translate }}
                    </td>
                    <td>{{certificate.registrinumber}}</td>
                  </tr>
                  <tr *ngIf="certificate.nimi">
                    <td>
                      {{ 'frontpage.dashboard_tabs_certificates_name' |
                              translate }}
                    </td>
                    <td>{{certificate.nimi}}</td>
                  </tr>
                  <tr *ngIf="certificate.tyyp">
                    <td>
                      {{ 'frontpage.dashboard_tabs_certificates_type' |
                              translate }}
                    </td>
                    <td>{{certificate.tyyp}}</td>
                  </tr>
                  <tr *ngIf="certificate.standard">
                    <td>
                      {{ 'frontpage.dashboard_tabs_certificates_standard' |
                              translate }}
                    </td>
                    <td>{{certificate.standard}}</td>
                  </tr>
                  <tr *ngIf="certificate.ekrtase">
                    <td>
                      {{ 'frontpage.dashboard_tabs_certificates_ekr' |
                              translate }}
                    </td>
                    <td>{{certificate.ekrtase}}</td>
                  </tr>
                  <tr *ngIf="certificate.eqftase">
                    <td>
                      {{ 'frontpage.dashboard_tabs_certificates_eqf' |
                              translate }}
                    </td>
                    <td>{{certificate.eqftase}}</td>
                  </tr>
                  <tr *ngIf="certificate.spetsialiseerumine">
                    <td>
                      {{
                              'frontpage.dashboard_tabs_certificates_specialization'
                              | translate }}
                    </td>
                    <td>{{certificate.spetsialiseerumine}}</td>
                  </tr>
                  <tr *ngIf="certificate.osakutse">
                    <td>
                      {{ 'frontpage.dashboard_tabs_certificates_part' |
                              translate }}
                    </td>
                    <td>{{certificate.osakutse}}</td>
                  </tr>
                  <tr *ngIf="certificate.kompetentsid">
                    <td>
                      {{ 'frontpage.dashboard_tabs_certificates_competence'
                              | translate }}
                    </td>
                    <td>{{certificate.kompetentsid}}</td>
                  </tr>
                  <tr *ngIf="certificate.valdkond">
                    <td>
                      {{ 'frontpage.dashboard_tabs_certificates_field' |
                              translate }}
                    </td>
                    <td>{{certificate.valdkond}}</td>
                  </tr>
                  <tr *ngIf="certificate.kutseala">
                    <td>
                      {{ 'frontpage.dashboard_tabs_certificates_field_topic'
                              | translate }}
                    </td>
                    <td>{{certificate.kutseala}}</td>
                  </tr>
                  <tr *ngIf="certificate.hariduslikkval">
                    <td>
                      {{
                              'frontpage.dashboard_tabs_certificates_qualification'
                              | translate }}
                    </td>
                    <td>{{certificate.hariduslikkval}}</td>
                  </tr>
                  <tr *ngIf="certificate.keel">
                    <td>
                      {{ 'frontpage.dashboard_tabs_certificates_language' |
                              translate }}
                    </td>
                    <td>{{certificate.keel}}</td>
                  </tr>
                  <tr *ngIf="certificate.valjastaja">
                    <td>
                      {{ 'frontpage.dashboard_tabs_certificates_issuer' |
                              translate }}
                    </td>
                    <td>{{certificate.valjastaja}}</td>
                  </tr>
                  <tr *ngIf="certificate.valjaantud">
                    <td>
                      {{ 'frontpage.dashboard_tabs_certificates_issued_at' |
                              translate }}
                    </td>
                    <td>{{certificate.valjaantud}}</td>
                  </tr>
                  <tr *ngIf="certificate.kehtibalates">
                    <td>
                      {{ 'frontpage.dashboard_tabs_certificates_valid_from'
                              | translate }}
                    </td>
                    <td>{{certificate.kehtibalates}}</td>
                  </tr>
                  <tr *ngIf="certificate.kehtibkuni">
                    <td>
                      {{ 'frontpage.dashboard_tabs_certificates_valid_to' |
                              translate }}
                    </td>
                    <td>{{certificate.kehtibkuni}}</td>
                  </tr>
                  <tr *ngIf="certificate.isco">
                    <td>
                      {{ 'frontpage.dashboard_tabs_certificates_isco' |
                              translate }}
                    </td>
                    <td style="white-space: pre-line;">
                      {{certificate.isco}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-container>
    
          <ng-container *ngIf="examResults">
            <h1 id="heading" tabindex="0" *ngIf="examResults">
              {{ 'frontpage.eksamiTulemused' | translate }}
              {{route.snapshot.queryParams['exams']}}
            </h1>
            <a href="javascript:void(0)" id="backToDashboard" class="sm-hide pull-right top-link"
              [routerLink]="[dashboardLink]">{{ 'button.back_to_dashboard' | translate }}</a>
            <a href="javascript:void(0)" id="backToDashboard" class="sm-show top-link"
              [routerLink]="[dashboardLink]">{{ 'button.back_to_dashboard' | translate }}</a>
            <accordion>
              <ng-container *ngFor="let item of examResults; let first = first; let ind = index;">
                <accordion-item [title]="createAccordionTitle(item)">
                  <ng-container *ngIf="item.osad && item.osad.length">
                    <div class="exam-block">
                      <ng-container *ngFor="let elem of item.osad; let last = last">
                        <ul>
                          <li>
                            <dl>
                              <dt>{{'frontpage.osa_nimi' | translate}}:</dt>
                              <dd>
                                {{ elem.osa_nimi ? elem.osa_nimi : '-' }}
                              </dd>
                            </dl>
                          </li>
                          <li>
                            <dl>
                              <dt>{{'frontpage.tulemus' | translate}}:</dt>
                              <dd>{{ elem.tulemus ? elem.tulemus : '-' }}</dd>
                            </dl>
                          </li>
                          <li>
                            <dl>
                              <dt>{{'frontpage.staatus' | translate}}:</dt>
                              <dd>{{ elem.staatus ? elem.staatus : '-' }}</dd>
                            </dl>
                          </li>
                          <li>
                            <dl>
                              <dt>
                                {{'frontpage.osa_kuupaev' | translate}}:
                              </dt>
                              <dd>
                                {{ elem.osa_kuupaev ? elem.osa_kuupaev : '-'
                                            }}
                              </dd>
                            </dl>
                          </li>
                          <li>
                            <dl>
                              <dt>{{'frontpage.osa_koht' | translate}}:</dt>
                              <dd>
                                {{ elem.osa_koht ? elem.osa_koht : '-' }}
                              </dd>
                            </dl>
                          </li>
                          <li>
                            <dl>
                              <dt>
                                {{'frontpage.osa_aadress' | translate}}:
                              </dt>
                              <dd>
                                {{ elem.osa_aadress ? elem.osa_aadress : '-'
                                            }}
                              </dd>
                            </dl>
                          </li>
                        </ul>
                        <hr *ngIf="!last" />
                      </ng-container>
                    </div>
                  </ng-container>
                </accordion-item>
              </ng-container>
            </accordion>
          </ng-container>
          <!-- <div class="col-4 sm-12" *ngIf="examResults && !loading">
            <aside class="sidebar">
              <div class="sidebar__item">
                <h1 class="sidebar__title">
                  {{ 'frontpage.certificate_download' | translate }}
                </h1>
                <div class="sidebar__paragraph">
                  <div class="explain" *ngIf="!downloadId" class="explain">
                    {{ 'errors.certificate_file_missing' | translate }}
                  </div>
                  <a *ngIf="downloadId"
                    attr.aria-label="{{ 'frontpage.dashboard_tabs_certificate' | translate }}: {{ 'button.download' | translate }}"
                    [href]="downloadCertificate()" target="_blank" mat-raised-button
                    color="primary">{{ 'button.download' | translate }}</a>
                </div>
              </div>
            </aside> -->
        </block-content>
      </block>
    </article-layout></div>