<homepage-line [type]="line"></homepage-line>
<div class="inner">
  <div class="study">
    <h2 class="study__category" [attr.aria-label]="title" >{{ title | translate }} </h2>
    <div class="study__intro">{{ intro | translate }}</div>	<!-- [innerHTML]="intro" -->
    <div class="study__blocks">

      <ng-container *ngFor="let btn of data">
        <div class="study__instance">
          <a class="study__elem" [attr.aria-label]="btn.title" href="{{ btn.url.path }}" target="_blank" *ngIf="!btn.url.routed">
            <div class="study__elem__image">
              <img src="{{ btn.image }}" alt="" />
            </div><!--/study__elem__image-->
            <div class="study__elem__body">
              <h3 class="study__elem__title">{{ btn.title }}</h3>
            </div><!--/study__elem__body-->
          </a><!--/study__elem-->
          <a class="study__elem" [attr.aria-label]="btn.title" routerLink="{{ btn.url.path }}" *ngIf="btn.url.routed">
            <div class="study__elem__image">
              <img src="{{ btn.image }}" alt="" />
            </div><!--/study__elem__image-->
            <div class="study__elem__body">
              <h3 class="study__elem__title">{{ btn.title | translate }}</h3>
            </div><!--/study__elem__body-->
          </a><!--/study__elem-->
        </div><!--/study__instance-->
      </ng-container><!--/ng-container-->
    </div><!--/study__blocks-->
  </div><!--/study-->
</div><!--/inner-->
