

.entry {
  cursor: pointer;
  &:hover {
    .entry__title {
      text-decoration: underline;
    }
  }
  &__title {
    font-size: 1.25rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color:
    #2e3374;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__date, &__author {
    padding-bottom: .5rem;
    font-size: .875rem;
    line-height: 1.43;
    color:#757575;
  }
}

.text-center {
  text-align: center;
  padding: 1rem 0;
}