<max-width-wrapper>
  <article-layout>
    <breadcrumbs [path]="detailPath"></breadcrumbs>

    <block
      [titleBorder]="false"
      tabStyle="middle"
      [loading]="loading"
      (tabChange)="setSideBar($event)"
    >
      <block-title
        ><h1>{{ "youthMonitoring.title" | translate }}</h1></block-title
      >

      <block-content
        *ngFor="let tab of tabs; let first = first; let index = index; let last = last"
        [tabActive]="(activeTab | async) === index"
        [tabLabel]="tab?.fieldAccordionTitle || ''"
        [tabIcon]="tab?.fieldAccordionIcon && tabIcons[tab.fieldAccordionIcon]"
        [tabVisible]="!(first && last)"
        [noPaddingTop]="first && last"
      >
        <youth-monitoring-detail-data
          [detail]="tab.fieldYouthMonitorTabPage"
        ></youth-monitoring-detail-data>
      </block-content>
    </block>

    <youth-monitoring-sidebar
      *ngIf="sidebar$ | async as sidebar"
      sidebar
      [data]="sidebar"
    ></youth-monitoring-sidebar>
  </article-layout>
</max-width-wrapper>
