<base-layout>
	<div class="inline">
		<breadcrumbs *ngIf="breadcrumbs" [data]="breadcrumbs" [ellipsis]="false"></breadcrumbs>
	</div><!--/inline-->
	<form (submit)="updateQueryParams('marksona', searchGroup.get('parameter').value)" [formGroup]="searchGroup" class="filter-wrapper">
		<div class="inline">
			<div class="main-container">
				<div class="row">
					<div class="col-10 sm-12">
            <formItem type="autocomplete" query="testAutocomplete" formControlName="parameter"
              (autoCompleteChanged)="autoCompleteChanged($event)"
							title="{{'search.keyword' | translate}}" name="title"></formItem>
					</div>
					<div class="col-2 sm-12">
						<button htm-button>{{ 'button.search' | translate }}</button>
					</div>
				</div>
			</div>
		</div>
  </form>
  <div class="inline">
		<block titleBorder="true">
			<block-title>{{ 'search.results' | translate }}</block-title>
			<block-content>
				<div #content *ngIf="entities?.length" class="search__title--filter">
					{{ 'search.filter_results' | translate }}:</div>
				<ng-container *ngIf="entities?.length && activeContentTypes?.length">
					<div class="search__chips" role="group" attr.aria-label="Search filter">
						<!-- <a role="alert" id="initial" (keyup.enter)="filterAll()" (click)="filterAll()"
							*ngIf="results && results.length" href="javascript:void(0)"
							attr.aria-label="{{'button.all' | translate}} {{'search.results' | translate}}, status: {{allFilters ? 'On': 'Off'}}, count: {{ results.length }}"
							class="search__chips--chip pointer" [class.selected]="allFilters">
							<span aria-label="">{{'button.all' | translate}} <span>({{results.length}})</span></span>
						</a> -->
						<ng-container *ngFor="let filter of activeContentTypes; let i = index;">
              <button tag
                (click)="filterView(i)"
                [active]="filter[1].active"
                *ngIf="filter[1].sum"
                [class.selected]="filter[1].value"
                attr.aria-label="Filter: {{filter[1].name | translate}}, status: {{filter[1].value ? 'On': 'Off'}}, count: {{ filter[1].sum }}">
                {{ filter[1].name | translate }} <span>({{filter[1].sum}})</span>
              </button>
						</ng-container>
					</div>
				</ng-container>
				<!-- <loader *ngIf="loading"></loader> -->
				<!-- <ng-container *ngIf="filteredResults && filteredResults.length">
					<ng-container *ngFor="let item of filteredResults;let i = index;">
						<a tabindex="0" id="{{i}}" *ngIf="i < listLimit"
							class="search__sub pointer" [routerLink]="item.EntityPath">
							<div class="search__sub--category" aria-hidden="true">{{ item.ContentType }}</div>
							<div class="search__sub--title"
								attr.aria-label="{{ item.ContentType }}{{ item.ContentType !== 'Õppekava' ? ':' : '' }} {{ item.Title }}{{ item.ContentType === 'Õppekava' ? ':' : '' }}">
								<h1>{{ item.Title }}</h1>
							</div>
							<div class="inline__items" *ngIf="item.ContentType === 'Õppekava'"
								attr.aria-label="{{ item.FieldSchoolName }} {{ item.FieldStudyProgrammeLevel }} {{ item.FieldDuration | monthsToYears }}">
								<span class="item" *ngIf="item.FieldSchoolName"
									aria-hidden="true">{{ item.FieldSchoolName }}</span>
								<span class="bar" *ngIf="item.FieldSchoolName && item.FieldStudyProgrammeLevel"
									aria-hidden="true">|</span>
								<span class="item" *ngIf="item.FieldStudyProgrammeLevel"
									aria-hidden="true">{{ item.FieldStudyProgrammeLevel }}</span>
								<span class="bar"
									*ngIf="(item.FieldStudyProgrammeLevel || item.FieldSchoolName) && item.FieldDuration"
									aria-hidden="true">|</span>
								<span class="item" *ngIf="item.FieldDuration"
									aria-hidden="true">{{ item.FieldDuration | monthsToYears }}</span>
							</div>
						</a>
					</ng-container>
				</ng-container> -->
				<!-- <div class="text-center actions__error"
					*ngIf="!loading && filteredResults !== null && filteredResults.length === 0">
					<div class="alert text-center" role="alert">{{'search.no_results_start' | translate}} <span
							*ngIf="route.snapshot.queryParams['term']">"{{route.snapshot.queryParams['term']}}" </span><span
							innerHtml="{{'search.no_results_end' | translate}}"></span></div>
				</div> -->
				<!-- <div class="text-center actions__error" *ngIf="!loading && !filteredResults">
					<div class="alert text-center" role="alert">{{ 'news.no_results' | translate }}</div>
				</div> -->
			</block-content>
		</block>
		<div class="text-center actions"
			*ngIf="listLength > listLimit && filteredResults && filteredResults.length">
			<button htm-button (click)="loadMore()">
				<span>{{ 'button.load_more' | translate }}</span>
				<span> ({{ filteredResults.length - listLimit }})</span>
			</button>
		</div>
	</div><!--/inline-->
</base-layout>