@import "../../../assets/styles/typography.scss"; 

a:visited {
  color: $visited!important;
}

iframe {
  width: 100%;
  height: 550px;
}

.article-wrapper {
  @include break-on(sm, min) {padding: $gutter $medium $medium $medium;}
  @include break-on(lg, min) {padding-left: 0;padding-right: 0;}
}
article {padding-bottom: $small;
  a {color: $blue;font-weight:500;
    .htm-icon {color: $blue;}
  }
  &.extraBottom {
    @include break-on(sm, max) {padding-bottom: 4.5rem;}
  }
}
.article-spacer{height:1.5rem;}
.share-btn {
  .mat-button {min-width: $medium;width: $medium;padding: 0;position: relative;bottom: 0.3125rem;}
  .htm-icon {line-height: 1.3;
    @include break-on(sm, max) {right: $small;position: relative;}
  }
}
.sidebar {background: $light-gray;
  &__item {border-top: $gutter solid $orange;background: $white;padding: $small $medium $medium $medium; margin-bottom: 0;
    @include break-on(sm, min) {border-radius: $half-gutter; margin-bottom: $small;}}
    &__title {font-size: 1.25rem; color: $black; padding-bottom: $small;}
    &__paragraph {font-size: $small; color: $black; line-height: 1.375rem;}
    .mat-card-content:last-child{margin-bottom: 0}
    a:hover { text-decoration: underline; }
  }
  .link-list li { margin-bottom: $half-gutter;
    &:last-child {margin-bottom: 0;}
  }
  .link.related {display: inline-flex;}
  .article {border-top: $gutter solid $light-blue;background: $white;
    @include break-on(sm, min) {border-radius: $half-gutter;height:100%;}
    &-title {font-size: $small;line-height: 2;color: $dark-gray; padding: $quarter $medium $gutter $medium;}
    &-image {max-width:100%; height: auto;
      @include break-on(sm, min) {width: stretch;max-width: 100%;margin: 0 1.5rem;}
      img { width: 100%; }
    }
  }
  .image-alt-text {font-size: 0.875rem; color:$black; font-style: italic; font-weight: 300; padding: 0 $medium $small;
    @include break-on(sm, min) {padding: 0 0 $small 0;}
  }
  _:-ms-lang(x), .image-alt-text {padding-left: $medium;}

  .title {font-size: $small;line-height: 2;padding: 0 $medium;
    h1 {color:$black;}
  }
  .description {padding: $small $medium; color: $black; line-height: 1.375rem; padding-bottom: 0;
     ::ng-deep ul{ padding-left: 1.125rem!important; }
     ::ng-deep ol { list-style-position: inside; padding-left: 0}
     &.sm-top {padding-top: 0;}
  }
  ::ng-deep .description > *:last-child {margin-bottom: 0;}

  .short {@extend .description; font-weight: 500; padding-bottom: $small;}

  .mat-expansion-panel { box-shadow: none !important;border: .0625rem solid #bee3e8; border-radius: .125rem; border-left: .1875rem solid #bee3e8; margin-bottom: $half-gutter;
    &.mat-expanded { border: .0625rem solid $gray; border-left: .1875rem solid #15adc2;
      mat-panel-title {white-space: normal; color: $black; font-weight: $medium;
        @include break-on(sm, min) {text-overflow: initial;overflow: auto;white-space: normal;}
      }
    }
    &-body { padding: 0 1rem 1rem }
    &-spacing {margin: 0 0 $half-gutter 0;}
    &-header { height: 2.5rem !important;padding: 0 1.25rem;
      &:focus { outline: rgb(59, 153, 252) 0.3125rem auto!important; }
      &.mat-expanded { height: 2.5rem!important;margin-top: 0;font-weight: 500;white-space: normal; padding: 0 1.25rem;  background:#8ad6e0 !important; border-radius:0;}
    }
      &:hover {
        border-left: .1875rem solid #15adc2;
        ::ng-deep .mat-expansion-indicator{ background: $blue;
          &:after {
            color: $white;
          }
        }
      }
    }
    mat-panel-title {font-size: $small; text-decoration: none; color: $black;
    }
    .accordion {padding: 0; padding-top: $large; padding: 0 1.5rem 1.5rem 1.5rem; 
      @include break-on(xs, max) {padding: 0 0rem 1.5rem 0rem;}
    }
    ::ng-deep .accordion__body {line-height: 1.375rem;font-size: $small;padding-top: $gutter;
      p {margin:1rem 0;
        &:first-child{margin-top:0;}
        &:last-child{margin-top:0;}
      }
    }
    ::ng-deep .accordion__links {line-height: 1.375rem;font-size: $small;padding-top: $small;
    }
    ::ng-deep .mat-expansion-indicator::after {font-feature-settings: 'liga';-ms-font-feature-settings: 'liga';font-family: 'htm-icon';
    content: 'keyboard_arrow_down' !important;border: none !important;transform: none !important;padding: 0 !important;
    position: relative;text-align: center;width: $medium;color: $blue;
    height: $medium;-webkit-animation: rotating 2s linear infinite;animation: rotating 2s linear infinite; 
  }
  ::ng-deep .mat-expansion-panel-content {padding: 0 $half-gutter;}
  ::ng-deep .mat-expansion-indicator {background: $white; font-size: 1.25rem;border-radius: 50%;width: $medium;height: $medium;border: 0rem solid $gray;}
  ::ng-deep .mat-expanded .mat-expansion-indicator::after {color: $white;-webkit-animation: rotating .25s linear infinite; animation: rotating .25s linear infinite; }
  ::ng-deep .mat-expanded .mat-expansion-indicator {background: $blue; border: 0rem solid $blue;}
  ::ng-deep .accordion__body a, ::ng-deep .description a, ::ng-deep .short a {
    text-decoration: underline;
    &:hover {text-decoration: none;}
  }
  ::ng-deep .accordion__body a[target="_blank"], ::ng-deep .description a[target="_blank"], ::ng-deep .short a[target="_blank"] {
    text-decoration: none;
    &:hover {text-decoration: underline;}
  }
  ::ng-deep .accordion__body a[target="_blank"]:after, ::ng-deep .description a[target="_blank"]:after, ::ng-deep .short a[target="_blank"]:after {
    font-feature-settings: 'liga';-ms-font-feature-settings: 'liga';font-family: 'htm-icon';content: 'launch' !important;position: relative;top: .125rem;left:.125rem;display: inline-block;
  }
  

.mat-expansion-panel-header {
  background: #bee3e8 !important;
}

.dashboard-table td {
 color: $black;
}
.mat-expansion-panel-content { background: $white; }
