<mat-spinner *ngIf="!content && !error"></mat-spinner>

<div *ngIf="error" class="text-center">
  <h1>404: Page not found</h1>
  <button mat-raised-button>Go back</button>
</div><!--/error-->

<div *ngIf="content">
  
  <div class="row">
    
    <div class="col-8 sm-12" >
      
      <ul class="breadcrumb mt-0">
        <li *ngFor="let breadcrumbEl of breadcrumb; let last = last">
          <a [routerLink]="[breadcrumbEl.url.path]" *ngIf="!last">
            <span>{{ breadcrumbEl.text }}</span>
          </a>
          <span *ngIf="last">{{ content.title | ellipsis:30 }}</span>
        </li>
      </ul>
      
      <article>
        <h1>{{ content.title }}</h1>
        <p><b *ngIf="content.fieldBody != null">{{ content.fieldBodySummary }}</b></p>
        
        <mat-card *ngIf="content.fieldImage" class="article-image">
          <mat-card-content>
            <img  src="{{ content.fieldImage.url }}" alt="{{ content.fieldImage.alt }}" title="{{ content.fieldImage.title }}" style="max-width:100%;" />
            <p>{{ content.fieldImage.alt }}</p>
          </mat-card-content>
        </mat-card>
        
        <div *ngIf="content.fieldBody != null" [innerHTML]="content.fieldBody.value"></div>
      </article>
      
      <div *ngIf="accordionSection.length > 0">
        <h2>Alamosa pealkiri</h2>
        <mat-accordion multi>
          <mat-expansion-panel *ngFor="let accordionItem of accordionSection">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{accordionItem.entity.fieldAccordionTitle}}
              </mat-panel-title>
              <!-- <mat-panel-description></mat-panel-description> -->
            </mat-expansion-panel-header>
            <div [innerHTML]="accordionItem.entity.fieldBody.value"></div>
            <div *ngFor="let articleLink of accordionItem.entity.fieldRelatedArticle">
              <a href="{{articleLink.url.path}}">{{ articleLink.title }}</a>              
            </div>
          </mat-expansion-panel>
          <!-- <mat-expansion-panel (opened)="accordionOpenState = true" (closed)="accordionOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Self aware panel
              </mat-panel-title> -->
              <!-- <mat-panel-description></mat-panel-description> -->
              <!-- </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
              </mat-expansion-panel> -->
            </mat-accordion>
          </div>
          
        </div>
        
        <div class="col-4 sm-12" *ngIf="fieldRightSidebar !== null">
          
          <mat-card class="mb-20" *ngIf="fieldAdditional !== null">
            <mat-card-title>
              <h2 class="mt-0"><mat-icon>info</mat-icon> {{ fieldAdditionalTitle }}</h2>
            </mat-card-title>
            <mat-card-content>
              <div [innerHTML]="fieldAdditionalBody"></div>
            </mat-card-content>
          </mat-card>
          
          <mat-card class="mb-20" *ngIf="fieldContactSection !== null">
            <mat-card-title>
              <h2 class="mt-0"><mat-icon>mail</mat-icon> Kontakt</h2>
            </mat-card-title>
            <address>
              <mat-card-content>
                <div>{{fieldContactOrganization}}</div>
              </mat-card-content>
              <mat-card-content>
                <div>{{fieldContactPerson}}</div>
              </mat-card-content>
              <mat-card-content>
                <div><a href="tel:{{fieldContactPhone}}" alt="" class="sm-show">{{fieldContactPhone}}</a></div>
                <div class="sm-hide">{{fieldContactPhone}}</div>
              </mat-card-content>
              <mat-card-content>
                <div><a href="mailto:{{fieldContactEmail}}" alt="">{{fieldContactEmail}}</a></div>
              </mat-card-content>
            </address>
          </mat-card>
          
          <mat-card class="mb-20" *ngIf="articleLinks.length > 0">
            <mat-card-title>
              <h2 class="mt-0"><mat-icon>links</mat-icon> Leia kiiresti</h2>
            </mat-card-title>
            <mat-card-content *ngFor="let articleLink of articleLinks">
              <a href="{{articleLink.url.path}}">{{articleLink.title}}</a>
            </mat-card-content>
          </mat-card>
          
          <mat-card class="mb-20" *ngIf="relatedArticles.length > 0">
            <mat-card-title>
              <h2 class="mt-0"><mat-icon>outlined_flag</mat-icon> Sarnased teemad</h2>
            </mat-card-title>
            <mat-card-content *ngFor="let relatedArticle of relatedArticles">
              <a href="{{relatedArticle.url.path}}">{{relatedArticle.title}}</a>
            </mat-card-content>
          </mat-card>
          
        </div>
      </div>
    </div><!--/content-->