@import "../../../assets/styles/typography.scss"; 
.article-wrapper {
  // padding-bottom: $xxl;
  @media (min-width: 900px) {padding: $gutter $medium $medium $medium;}
}
article {
  // padding-bottom: $xxl;
  a {color: $blue;
    .mat-icon {color: $blue;}
  }
}
.sidebar {background: $light-gray;
  &__item {border-top: $gutter solid $orange;background: $white;padding: $small $medium $medium $medium;margin-bottom: 0;
    @media (min-width: 900px) {border-radius: $half-gutter; margin-bottom: $small;}}
  &__title {font-size: 1.25rem; color: $black; padding-bottom: $small;}
  &__paragraph {font-size: $small; color: $black; line-height: 22px;}
  .mat-card-content:last-child{margin-bottom: 0}
}
.link-list li { margin-bottom: $half-gutter;
  &:last-child {margin-bottom: 0;}
}
.article {
  border-top: $gutter solid $light-blue;
  background: $white;
  @media (min-width: 900px) {border-radius: $half-gutter;height:100%;
    // margin-left: $medium; margin-right: $medium;
  }
  &-title {font-size: $small;line-height: 2;color: $dark-gray; padding: $quarter $medium $gutter $medium;}
  &-image {width:100%; max-width:100%; height: auto;
    @media (min-width: 900px) {
      width: stretch;
      max-width: 100%;
      margin: 0 1.5rem;
    }
    img { width: 100%; }
  }
}
.title {font-size: $small;line-height: 2;padding: 0 $medium;
  h2 {color:$black;}
}
.description {padding: $small $medium; color: $black; line-height: 22px; padding-bottom: 0;}
.short {@extend .description; font-weight: 500; padding-bottom: $small;}
.image-alt-text {font-size: 14px; color:$black; font-style: italic; font-weight: 300; padding: 0 $medium $small;
  @media (min-width: 900px) {padding: 0 0 $small 0;}
}
.mat-expansion-panel {box-shadow: none !important;border: 1px solid $gray;
  mat-panel-title {
    @media (max-width: 900px) {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
  }
  &.mat-expanded {border-left: 3px solid $dark-orange;
    mat-panel-title {
      @media (min-width: 900px) {text-overflow: initial;overflow: auto;white-space: normal;}
    }
  }
  border-radius: 2px;margin-bottom: $half-gutter;
  &-spacing {margin: 0 0 $half-gutter 0;}
  &-header {margin: -$half-gutter 0;
    &.mat-expanded {margin-top: 0;font-weight: 500;}}
}
mat-panel-title {font-size: $small;}
.accordion {padding: $medium;}
::ng-deep .accordion__body {
  font-size: $small;
  padding-top: $gutter;
  p {margin: 0;}
}
::ng-deep .mat-expansion-indicator::after {
  font-family: 'Material Icons';
  content: 'expand_more' !important;
  border: none !important;
  transform: none !important;
  padding: 0 !important;
  position: relative;
  top: 5px;
  text-align: center;
  width: 24px;
  color: $red;
  height: 24px;
  -webkit-animation: rotating 2s linear infinite; 
  animation: rotating 2s linear infinite; 
}
::ng-deep .mat-expansion-indicator {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid rgb(199, 199, 201);
}
::ng-deep .mat-expanded .mat-expansion-indicator::after {color: $white;
  -webkit-animation: rotating 2s linear infinite; 
  animation: rotating 2s linear infinite; 
}
::ng-deep .mat-expanded .mat-expansion-indicator {background: $red; border: none;}