<mat-spinner *ngIf="!content && !error"></mat-spinner>

<div *ngIf="error" class="text-center">
  <h1>404: Page not found</h1>
  <button mat-raised-button>Go back</button>
</div><!--/error-->

<div *ngIf="content">
  
  <!--   
    <ul class="breadcrumb mt-0">
      <li *ngFor="let breadcrumbEl of breadcrumb">
        <a [routerLink]="[breadcrumbEl.url.path]">
          <span>{{ breadcrumbEl.text }}</span>
        </a>
      </li>
      <li>
        <span>{{ content.title | ellipsis:30 }}</span>
      </li>
    </ul>
  -->
  
  <div class="row">
    <div class="col-8">
      <!-- {{article.bodyValue}} -->
      <!-- article = {{article.bodyValue}} -->
    </div>
  </div>
  
  
  <div class="row">
    <div class="col-8 sm-12" [ngClass]="{'col-12': !toggleRightSidebar}">
      
      <article>
        <h1>{{ content.title }}</h1>
        <p><b>{{ content.body.summary }}</b></p>
        
        <mat-card *ngIf="content.fieldImage" class="article-image">
          <mat-card-content>
            <img  src="{{ content.fieldImage.url }}" alt="{{ content.fieldImage.alt }}" title="{{ content.fieldImage.title }}" style="max-width:100%;" />
            <p>{{ content.fieldImage.alt }}</p>
          </mat-card-content>
        </mat-card>
        
        <div [innerHTML]="content.body.value"></div>
      </article>
    </div>
    
    <div class="col-4 sm-hide" *ngIf="fieldRightSidebar !== null">
      
      <mat-card class="mb-20" *ngIf="fieldAdditional !== null">
        <mat-card-title>
          <h2 class="mt-0"><mat-icon>info</mat-icon> {{ fieldAdditionalTitle }}</h2>
        </mat-card-title>
        <mat-card-content>
          <div [innerHTML]="fieldAdditionalBody"></div>
        </mat-card-content>
      </mat-card>
      
      <mat-card class="mb-20" *ngIf="fieldContactSection !== null">
        <mat-card-title>
          <h2 class="mt-0"><mat-icon>mail</mat-icon> Kontakt</h2>
        </mat-card-title>
        <mat-card-content>
          <div>{{fieldContactPerson}}</div>
        </mat-card-content>
        <mat-card-content>
          <div>{{fieldContactPhone}}</div>
        </mat-card-content>
        <mat-card-content>
          <div>{{fieldContactEmail}}</div>
        </mat-card-content>
        <mat-card-content>
          <div>{{fieldContactOrganization}}</div>
        </mat-card-content>
      </mat-card>
      
      <mat-card class="mb-20" *ngIf="articleLinks.length > 0">
        <mat-card-title>
          <h2 class="mt-0"><mat-icon>links</mat-icon> Leia kiiresti</h2>
        </mat-card-title>
        <mat-card-content *ngFor="let articleLink of articleLinks">
          <a href="{{articleLink.url.path}}">{{articleLink.title}}</a>
        </mat-card-content>
      </mat-card>
      
      <mat-card class="mb-20" *ngIf="relatedArticles.length > 0">
        <mat-card-title>
          <h2 class="mt-0"><mat-icon>outlined_flag</mat-icon> Sarnased teemad</h2>
        </mat-card-title>
        <mat-card-content *ngFor="let relatedArticle of relatedArticles">
          <a href="{{relatedArticle.url.path}}">{{relatedArticle.title}}</a>
        </mat-card-content>
      </mat-card>
      
    </div>
  </div>
</div><!--/content-->