<mat-spinner *ngIf="!content && !error"></mat-spinner>

<div *ngIf="error" class="text-center">
  <h1>404: Page not found</h1>
  <button mat-raised-button>Go back</button>
</div><!--/error-->

<div *ngIf="content">
  <div class="row sm-hide">
    <div class="col-12">
      <ul class="breadcrumb mb-0 mt-0">
        <li *ngFor="let breadcrumbEl of breadcrumb; let last = last">
          <a [routerLink]="[breadcrumbEl.url.path]" *ngIf="!last">
            <span>{{ breadcrumbEl.text }}</span>
          </a>
          <span *ngIf="last">{{ content.title | ellipsis:30 }}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="row article-wrapper">
    <div class="col-8 sm-12">
      <div class="article">
        <div class="article-title">KÕRGHARIDUS</div>
        <article>
          <div class="row title">
              <div class="col-11">
                <h2 class="mt-0 mb-0">{{ content.title }}</h2>
              </div><!--/col-10-->
              <div class="col-1 text-right share">
                <a href="javascript:void(0)" class="share-btn"><mat-icon>share</mat-icon></a>
              </div><!--/col-10-->
          </div><!--/row-->
          <div class="short" *ngIf="content.fieldBody != null" [innerHtml]="content.fieldBodySummary"></div>

          <div *ngIf="content.fieldImage" class="article-image pull-right">
            <img  src="{{ content.fieldImage.url }}" alt="{{ content.fieldImage.alt }}" title="{{ content.fieldImage.title }}" style="max-width:100%;" />
            <div class="image-alt-text" *ngIf="content.fieldImage.alt">{{ content.fieldImage.alt }}</div>
          </div>
          
          <div class="description" *ngIf="content.fieldBody != null" [innerHTML]="content.fieldBody.value"></div>
        </article>
        
        <div class="accordion" *ngIf="accordionSection.length > 0">
          <mat-accordion multi>
            <mat-expansion-panel *ngFor="let accordionItem of accordionSection">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{accordionItem.entity.fieldAccordionTitle}}
                </mat-panel-title>
                <!-- <mat-panel-description></mat-panel-description> -->
              </mat-expansion-panel-header>
              <div class="accordion__body" [innerHTML]="accordionItem.entity.fieldBody.value"></div>
            </mat-expansion-panel>
            <!-- <mat-expansion-panel (opened)="accordionOpenState = true" (closed)="accordionOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Self aware panel
                </mat-panel-title> -->
                <!-- <mat-panel-description></mat-panel-description> -->
                <!-- </mat-expansion-panel-header>
                  <p>I'm visible because I am open</p>
                </mat-expansion-panel> -->
              </mat-accordion>
            </div>
            
          </div>
        </div>
        
        <div class="col-4 sm-12" *ngIf="fieldRightSidebar !== null">
          <div class="sidebar">
            <div class="sidebar__item" *ngIf="fieldAdditional !== null">
              <h2 class="mt-0 sidebar__title"> {{ fieldAdditionalTitle }}</h2>
              <div class="sidebar__paragraph" [innerHTML]="fieldAdditionalBody"></div>
            </div>
            
            <div class="sidebar__item" *ngIf="fieldContactSection !== null">
              <h2 class="mt-0 sidebar__title">Kontakt</h2>
              <div class="sidebar__paragraph">
                <div>{{fieldContactOrganization}}</div>
                <div>{{fieldContactPerson}}</div>
                <div><a href="tel:{{fieldContactPhone}}" alt="" class="sm-show">{{fieldContactPhone}}</a></div>
                <div class="sm-hide">{{fieldContactPhone}}</div>
                <div><a href="mailto:{{fieldContactEmail}}" alt="">{{fieldContactEmail}}</a></div>
              </div>
            </div>
            
            <div class="sidebar__item" *ngIf="articleLinks.length > 0">
              <h2 class="mt-0 sidebar__title">Leia kiiresti</h2>
              <div class="sidebar__paragraph">
                <ul class="link-list mt-0 mb-0">
                    <li *ngFor="let articleLink of articleLinks"><a href="{{articleLink.url.path}}" class="link"><mat-icon>launch</mat-icon>{{articleLink.title}}</a></li>
                </ul>
              </div>
            </div>
            
            <div class="sidebar__item" *ngIf="relatedArticles.length > 0">
              <h2 class="mt-0 sidebar__title">Sarnased teemad</h2>
              <div class="sidebar__paragraph">
                <ul class="link-list mt-0 mb-0">
                    <li *ngFor="let relatedArticle of relatedArticles"><a href="{{relatedArticle.url.path}}" class="link"><mat-icon>link</mat-icon>{{relatedArticle.title}}</a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div><!--/content-->