@import "typography.scss";

::ng-deep{
  detail-view{
    color: $black;
    line-height: 1.375rem;

    .author {
      padding: .5rem 0;
      font-size: .875rem;
      line-height: 1.43;
      color: #757575;
      margin-top:0.5rem;
      &+.toolbar{
        margin-top: -0.625rem;
      }
    }
    .toolbar{
      display: block;
      margin-bottom: 1.4375rem;
    }

    h1{
      color: $black;
    }
    b{
      font-weight: 500;
    }
    image, htm-video, labels, links{
      margin: 1.5rem 0;
      display: block;
    }
    [htm-table]{
      margin: 1.5rem 0;
      &.studyProgramme{
        th,td{
          font-style: 16px;
        }
        td:first-child{
          width: 37%;
          white-space: nowrap;
        }
      }
    }
  }
}