<article-layout [sidebar]="sidebar" [feedbackNid]="feedbackNid">

	<breadcrumbs [path]="path"></breadcrumbs>

	<block [loading]="true" *ngIf="!data">
	</block>

	<block [loading]="loading" [titleBorder]="true" *ngIf="data">

		<block-title>
			{{ title | translate }}
		</block-title>
		<block-secondary-title>
			{{ data.title }}
		</block-secondary-title>

		<block-content>
      <ng-container>
				<div class="author" *ngIf="data.author">
					{{ data.author }} {{ data.created*1000 | date:'dd.MM.yyyy' }}
				</div><!--/author-->

				<div class="toolbar">
					<share [title]="title"></share>
				</div><!--/toolbar-->

        <p *ngIf="data.shortDescription"><b>{{ data.shortDescription }}</b></p>

				<ng-container *ngIf="data.video">
					<htm-video *ngIf="data.video" [videos]="data.video"></htm-video>
				</ng-container>

				<ng-container *ngIf="!data.video">
					<image *ngIf="data.image" [image]="data.image"></image>
				</ng-container>
				
				<div class="description" *ngIf="data.description && data.description.value" [innerHtml]="data.description.value"></div>

				<links *ngIf="data.links" [data]="data.links"></links>

				<links *ngIf="data.attachmentFile" type="document" [data]="data.attachmentFile"></links>

				<ng-container *ngIf="data.video">
					<image *ngIf="data.image" [image]="data.image"></image>
				</ng-container>
			
				<htm-video *ngIf="data.additionalVideos" [videos]="data.additionalVideos"></htm-video>

				<accordion *ngIf="data.accordion">
					<accordion-item *ngFor="let item of data.accordion" [title]="item.entity.fieldTitle || item.entity.fieldSurveyAccordionTitle">
						<div [innerHTML]="item.entity.fieldBody ? item.entity.fieldBody.value : item.entity.fieldSurveyAccordionContent.value"></div>
					</accordion-item>
				</accordion>
 
				<chart
					*ngIf="data.graph"
					[data]='data.graph'
					type='filter'>
				</chart>

				<table htm-table *ngIf="table" class="studyProgramme">
					<thead>
						<tr>
							<th>{{ table[0].label }}</th>
							<th>{{ table[0].value }}</th>
						</tr>
					</thead>
					<tbody>
						<ng-container *ngFor="let item of table; let i = index;" >
							<tr *ngIf="i > 0">
								<td>{{ table[i].label }}</td>
								<td><b>{{ table[i].value }}</b></td>
							</tr>
						</ng-container>
					</tbody>
				</table>

				<labels [data]="data.tags" *ngIf="data.tags"></labels>

				<feedback [nid]="data.nid"></feedback>

      </ng-container>
		</block-content>
	</block>
</article-layout>
