<ng-template #contacts>
  <div class="block padding-block sm-top" id="school-contact-block">
    <h2>{{ 'school.contact' | translate }}</h2>
    <ul>
      <li *ngIf="data.fieldSchoolContactPhone" ><a href="tel:{{ data.fieldSchoolContactPhone }}" tabindex="0" attr.aria-label="{{'event.phone' | translate}} {{ data.fieldSchoolContactPhone }}" class="tel">{{ data.fieldSchoolContactPhone }}</a></li>
      <li *ngIf="data.fieldSchoolContactEmail"><a href="mailto:{{ data.fieldSchoolContactEmail }}" tabindex="0" attr.aria-label="{{' E-mail '}} {{ data.fieldSchoolContactEmail }}">{{ data.fieldSchoolContactEmail }}</a></li>
      <li *ngIf="data.fieldSchoolWebpageAddress"><a href="{{ data.fieldSchoolWebpageAddress | url }}" tabindex="0" attr.aria-label="{{'event.address' | translate }} {{ data.fieldSchoolWebpageAddress | removeProtocol }}" target="_blank">{{ data.fieldSchoolWebpageAddress | removeProtocol }}</a></li>
    </ul>
  </div>
  <ng-container *ngFor="let location of data.fieldSchoolLocation" tabindex="-1">
    <div *ngIf="location.entity.fieldLocationType == 'L'" class="block location-block">

      <map-wrapper aria-hidden="true" [latitude]="location.entity.fieldCoordinates.lat" [longitude]="location.entity.fieldCoordinates.lon" [zoom]="location.entity.fieldCoordinates.zoom"></map-wrapper>

      <div class="padding-block">
        <h2>{{ 'school.legal_address' | translate }}</h2>
        <div class="address">{{ location.entity.fieldAddress | titleCase }}</div>
      </div>
    </div>
  </ng-container>
</ng-template>

<breadcrumbs *ngIf="!inputData"></breadcrumbs>
<div class="main-container">

  <mat-spinner *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading" class="row" id="schools-single">
    <div class="col-8 sm-12 left-col">
      <div class="block padding-block lg-bottom--extra sm-top">
        <div class="block-title">{{ 'school.label' | translate }}</div>
        <div class="row title">
          <div class="col-12">
            <h1>{{ data.title }}</h1>
          </div><!--/col-8-->
          <div class="mininav col-12 flex text-right">        
            <favourites *ngIf="!userLoggedOut" [state]="data.isFavorite" [id]="data.nid" [title]="data.title"></favourites>
            <share [title]="data.entityLabel"></share>
          </div>
        </div>
        <div class="scrollable padded">
          <div class="scrollable__rectangle scrollable__rectangle--left pointer" *ngIf="!elemAtStart"
            (touchstart)="tableService.scrollStart('tableRef')"
            (mousedown)="tableService.scrollStart('tableRef')"
            (touchend)="tableService.scrollEnd()"
            (mouseup)="tableService.scrollEnd()">
            <span class="htm-icon">keyboard_arrow_left</span>
          </div>
          <div class="scrollable__rectangle scrollable__rectangle--right pointer" *ngIf="tableOverflown"
            (touchstart)="tableService.scrollStart('tableRef', true)"
            (mousedown)="tableService.scrollStart('tableRef', true)"
            (touchend)="tableService.scrollEnd(true)"
            (mouseup)="tableService.scrollEnd(true)">
            <span class="htm-icon">keyboard_arrow_right</span>
          </div>
          <div class="scrollable__table" id="tableRef" (scroll)="tableOverflown = tableService.isOverflownWhileScrolling($event); elemAtStart = tableService.isElemAtStart('tableRef')">
            <table id="school-data" class="scrollableTable">
              <tr>
                <td>{{ 'school.register_code_short' | translate }}</td>
                <td>{{ data.fieldRegistrationCode }}</td>
              </tr>
              <tr *ngIf="types && types.length">
                <td>{{ 'school.institution_type' | translate }}</td>
                <td>
                  <div *ngFor="let type of types">
                    <span>{{ type.entityLabel }}</span>
                    <span *ngIf="type.children.length">(</span><span *ngFor="let child of type.children">{{child.entityLabel | titleCase}}</span><span *ngIf="type.children.length">)</span>
                  </div>
                </td>
              </tr>
              <tr *ngIf="data.fieldOwnershipType">
                <td>{{ 'school.ownership' | translate }}</td>
                <td>{{ data.fieldOwnershipType.entity.name | titleCase }}</td>
              </tr>
              <tr *ngIf="data.fieldTeachingLanguage.length">
                <td>{{ 'school.language' | translate }}</td>
                <td>
                  <div *ngFor="let language of data.fieldTeachingLanguage">
                    {{ language.entity.name | titleCase }}
                  </div>
                </td>
              </tr>
              <tr *ngIf="data.fieldSpecialClass">
                <td>{{ 'school.special_needs_long' | translate }}</td>
                <td>
                  <span>{{ 'school.available' | translate | titleCase }}</span>
                </td>
              </tr>
              <tr *ngIf="data.fieldStudentHome">
                <td>{{ 'school.dormitory' | translate }}</td>
                <td>
                  <span>{{ 'school.available' | translate | titleCase }}</span>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <feedback [nid]="data.nid"></feedback>
        
      </div>
      <div class="orange-container" id="contacts-mobile">
        <ng-container *ngTemplateOutlet="contacts"></ng-container>
      </div>
      <school-study-programmes [schoolName]="data.title" [schoolId]="data.nid"></school-study-programmes>

      
    </div>
    <!-- /col-8 -->
    <div class="col-4 right-col" id="contacts">
      <ng-container *ngTemplateOutlet="contacts"></ng-container>
    </div>
    <!-- /col-4 -->
  </div>
  <!-- /row -->

</div>
