@import "../../../assets/styles/typography.scss";

a:visited {
  color: $red!important;
}


#schools-single {
  @include break-on(sm, min) {margin-top: $gutter;margin-left: $small;margin-right: $small;}
  @include break-on(lg, min) {margin-left: -$gutter;margin-right: -$gutter;}
  h1 {color: #333333;font-size: $medium;}
  #school-data {
    border-collapse: collapse;
    width: 100%;
    tr {
      td {padding: $small;
        &:first-child {
          width: 40%;
        }
        &:last-child {
          font-weight: 500;
        }
      }
    }
  }
  #school-data, #school-data th, #school-data td {border: 1px solid #c7c7c9;}
  #school-contact-block {
    h2 {font-size: 1.25rem;}
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      word-wrap: break-word;
      li {line-height: 1.375rem;
        .tel {text-decoration: none;color: #333333;cursor: default;}
      }
    }
    a {text-decoration: none;
      &:hover {text-decoration: underline;}}
  }
  .location-block {
    h2 {font-size: 1.25rem;}
    .address {line-height: 1.375rem;}
  }

  #contacts {
    @include break-on(sm, max) {display: none;}
  }
  #contacts-mobile {margin-bottom: $xxl;
    @include break-on(sm, min) {display: none;}
  }
  @include break-on(sm, max) {.block {margin-bottom: 0;}}
}

