@import "../../../assets/styles/typography.scss";
#schools-single {
    @include break-on(sm, min) {
        margin-top: $gutter;
        margin-left: $small;
        margin-right: $small;
    }
    @include break-on(lg, min) {
        margin-left: -$gutter;
        margin-right: -$gutter;
    }

    h1 {
        color: #333333;
        margin-bottom: 0.8em;
        font-size: 1.3em;
    }
    #school-data {
        border-collapse: collapse;
        width: 100%;
        tr {
            &:first-child td {
                background-color: #eeeeee;
            }
            td {
                padding: 0.8em;
                &:first-child {
                    width: 40%;
                }
                &:last-child {
                    font-weight: 500;
                }
            }
        }
    }
    #school-data, #school-data th, #school-data td {
        border: 1px solid #c7c7c9;
    }

    #school-contact-block {
        h2 {
            font-size: 1.2em;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                line-height: 1.4rem;
                .tel {
                    text-decoration: none;
                    color: #333333;
                    cursor: default;
                }
            }
        }
    }
    .location-block {
        h2 {
            font-size: 1.2em;
        }
    }

    #contacts {
        @include break-on(sm, max) {
            display: none;
        }
    }
    #contacts-mobile {
        margin-bottom: 3rem;
        @include break-on(sm, min) {
            display: none;
        }
    }
}