<div><breadcrumbs></breadcrumbs></div>
<div class="sectors main-container">
  <div class="sectors__list-head">
    <div class="sectors__head">
      <div class="sectors__title text-left">{{ 'oskaProfessions.fields' | translate | uppercase }}</div>
    </div>
  </div><!--/row-->
  <div class="sectors__list-body" *ngIf="loading && !data">
    <mat-spinner></mat-spinner>
  </div>
  <div class="sectors__list-body" *ngIf="data">
    <div class="row sectors--row" *ngIf="data.length">
      <ng-container *ngFor="let elem of data">
        <div class="col-3 md-4 xs-6 sectors--col">
          <a href="javascript:void(0)" attr.aria-label="{{ elem.title }}" [routerLink]="elem.entityUrl.path" class="sector__wrapper">
            <div class="sector__wrapper--pic">
              <img *ngIf="elem.fieldOskaFieldPicture && elem.fieldOskaFieldPicture.derivative && elem.fieldOskaFieldPicture.derivative.url" [alt]="elem.fieldOskaFieldPicture.alt" [title]="elem.fieldOskaFieldPicture.title" [src]="elem.fieldOskaFieldPicture.derivative.url">
              <img alt="{{ 'errors.img_missing' | translate }}" title="{{ 'errors.img_missing' | translate }}" *ngIf="!elem.fieldOskaFieldPicture" src="../../assets/img/1208x680.png">
              <div class="overlay"></div>
            </div>
            <div class="sector__wrapper--title">
              <h1>{{ elem.title }}</h1>
            </div>
          </a>
        </div>
      </ng-container>
    </div>
  </div>
  <!-- <div class="sectors__list-body" *ngIf="view == 'compare'"></div> -->
  <div class="sectors__list-body" *ngIf="errMessage && !data">
    <div class="text-center actions__error">
      <p role="alert">{{ 'errors.request' | translate }}</p>
    </div>
  </div>
</div>


