<div><breadcrumbs *ngIf="!inputData"></breadcrumbs></div>
<div class="main-container">
  <mat-spinner *ngIf="!content && !error"></mat-spinner>
  <div class="row events__single" *ngIf="content && !participantsListActiveState">
    <div class="col-8 sm-12">
      <div class="events__list">
        <div class="events__title">{{ 'event.label' | translate | uppercase }}</div>
        <article>
          <div class="row title">
            <div class="col-12 flex">
              <h1 class="mt-0 mb-0">{{ content.entity.entityLabel }}</h1>
            </div><!--/col-10-->
            <div class="mininav col-12 flex text-right">
              <favourites *ngIf="!userLoggedOut" [state]="content.entity.isFavorite" [id]="content.entity.nid" [title]="content.entity.entityLabel"></favourites>
              <share [title]="content.entity.entityLabel"></share>
            </div><!--/col-10-->
          </div><!--/row-->
      
          <div class="row">
            <div class="col-12">
              <div class="short" *ngIf="content.entity.fieldDescriptionSummary" [innerHTML]="content.entity.fieldDescriptionSummary"></div>
              <div *ngIf="content.entity.fieldPicture !== null" class="article-image pull-right" (click)="openImage()">
                <img class="pointer" tabindex="0" src="{{ content.entity.fieldPicture.derivative.url }}" alt="{{ content.entity.fieldPicture.alt }}" title="{{ content.entity.fieldPicture.title }}" style="max-width:100%;" />
                <div class="image-alt-text" *ngIf="content.entity.fieldPicture.title" aria-hidden="true">{{ content.entity.fieldPicture.title }}</div>
              </div><!--/article-image-->
              <div class="description" [innerHTML]="content.entity.fieldDescription.value" *ngIf="content.entity.fieldDescription"></div>
            </div>
          </div>

          <div class="row links" *ngIf="content.entity.fieldAttachmentFile">
            <div class="col-12">
              <ul class="link-list mt-0 mb-0">
                <li *ngFor="let item of content.entity.fieldEventLink"><a href="{{ item.url.path | url }}" target="_blank"><span class="htm-icon">launch</span>{{ item.title }}</a></li>
                <li *ngFor="let item of content.entity.fieldAttachmentFile"><a href="{{ item.entity.url }}" target="_blank"><span class="htm-icon">file_copy</span>{{ item.description || item.entity.entityLabel }}</a></li>
              </ul>
            </div><!--/col-12-->
          </div>

          <div class="row tags" *ngIf="content.entity.fieldTag">
            <div class="col-12">
              <mat-chip-list>
                <span class="mat-chip-list-wrapper" *ngIf="content.entity.fieldEventType">
                  <mat-chip tabindex="0">{{ content.entity.fieldEventType.entity.entityLabel }}</mat-chip>
                </span>
                <span *ngFor="let tag of content.entity.fieldTag" class="mat-chip-list-wrapper">
                  <mat-chip *ngIf="tag.entity && tag.entity" tabindex="0">{{ tag.entity.entityLabel }}</mat-chip>
                </span>
              </mat-chip-list>
            </div><!--/col-10-->
          </div><!--/row-->

          <feedback [nid]="content.entity.nid"></feedback>

        </article>
      </div>
      <div class="events__list second sm-hide" *ngIf="content.entity.fieldEventGroup">
        <div class="events__title">{{ 'event.related' | translate | uppercase }}</div>
        <related-events [groupID]="content.entity.fieldEventGroup.targetId" [nid]="content.entity.nid" *ngIf="content.entity.fieldEventGroup"></related-events>
      </div>
    </div><!--/col-8-->
    <div class="col-4 sm-12">
      <recent-events (viewChange)="onViewChange($event)" [map]="map" [nid]="content.entity.nid" [content]="content"></recent-events>
    </div><!--/col-4-->
    <div class="col-8 sm-12 sm-show">
      <div class="events__list" *ngIf="content.entity.fieldEventGroup">
        <div class="events__title">{{ 'event.related' | translate | uppercase }}</div>
        <related-events [groupID]="content.entity.fieldEventGroup.targetId" [nid]="content.entity.nid" *ngIf="content.entity.fieldEventGroup"></related-events>
      </div>
    </div><!--/col-4-->
  </div><!--/row-->

  <div class="row events__single--participants" *ngIf="content && sortedParticipants && participantsListActiveState">
    <div class="col-12">
      
      <div class="events__list">
        <div class="events__title">
          <span>{{ 'event.label' | translate | uppercase }}</span>
        </div>
        <article>
          <div class="row title">
            <div class="col-6 sm-7">
              <h1 class="mt-0 mb-0" >{{ 'event.participant_list' | translate }}: {{ sortedParticipants.length }} {{ 'event.participant_count' | translate | lowercase }}</h1>
            </div><!--/col-10-->
            <div class="col-6 sm-5 text-right share">
              <div class="share-btn--participants">
                <a href="javascript:void(0)" (click)="revertParticipantsListState()">{{ 'button.back' | translate | uppercase }}</a>
                <mat-menu #appMenu="matMenu" overlapTrigger="false" direction="right" xPosition="before">
                  <a mat-menu-item href="{{ iCalUrl }}{{ content.entity.nid }}" >iCAL</a>
                  <a mat-menu-item (click)="getCSV()">CSV</a>
                </mat-menu>
                <button mat-button [matMenuTriggerFor]="appMenu" ><span class="more htm-icon" [attr.title]="viewTranslations.download">get_app</span></button>
              </div>
            </div><!--/col-10-->
          </div><!--/row-->
          <div class="scrollable">
            <div class="scrollable__rectangle scrollable__rectangle--left pointer" *ngIf="!elemAtStart" 
              (touchstart)="tableService.scrollStart('participantsElem')" 
              (mousedown)="tableService.scrollStart('participantsElem')" 
              (touchend)="tableService.scrollEnd()" 
              (mouseup)="tableService.scrollEnd()">
              <span class="htm-icon">keyboard_arrow_left</span>
            </div>
            <div class="scrollable__rectangle scrollable__rectangle--right pointer" *ngIf="tableOverflown" 
              (touchstart)="tableService.scrollStart('participantsElem', true)"
              (mousedown)="tableService.scrollStart('participantsElem', true)"
              (touchend)="tableService.scrollEnd(true)"
              (mouseup)="tableService.scrollEnd(true)">
              <span class="htm-icon">keyboard_arrow_right</span>
            </div>
            <div class="scrollable__table" id="participantsElem" (scroll)="tableOverflown = tableService.isOverflownWhileScrolling($event); elemAtStart = tableService.isElemAtStart('participantsElem')">
              <table class="scrollableTable">
                <thead>
                  <tr>
                    <th>{{ 'event.participant_index' | translate }}</th>
                    <th>
                      <span>{{ 'event.participant_first_name' | translate }}</span>
                      <span class="sortable pointer" (click)="organizeParticipants('participantFirstName')">
                        <span class="htm-icon" *ngIf="participantsSortOrder['participantFirstName'] !== 'desc'
                          && participantsSortOrder['participantFirstName'] !== ''
                          && participantsSortOrder['participantFirstName']"
                          [attr.title]="viewTranslations.sort">keyboard_arrow_down</span>
                        <span class="htm-icon" *ngIf="participantsSortOrder['participantFirstName'] !== 'asc'"
                          [attr.title]="viewTranslations.sort">keyboard_arrow_up</span>
                      </span>
                    </th>
                    <th>
                      <span>{{ 'participant_last_name' | translate }}</span>
                      <span class="sortable pointer" (click)="organizeParticipants('participantLastName')">
                        <span class="htm-icon" *ngIf="participantsSortOrder['participantLastName'] !== 'desc'
                          && participantsSortOrder['participantLastName'] !== ''
                          && participantsSortOrder['participantLastName']"
                          [attr.title]="viewTranslations.sort">keyboard_arrow_down</span>
                        <span class="htm-icon" *ngIf="participantsSortOrder['participantLastName'] !== 'asc'"
                          [attr.title]="viewTranslations.sort">keyboard_arrow_up</span>
                      </span>
                    </th>
                    <th>
                      <span>{{ 'participant_organization' | translate }}</span>
                      <span class="sortable pointer" (click)="organizeParticipants('participantOrganization')">
                        <span class="htm-icon" *ngIf="participantsSortOrder['participantOrganization'] !== 'desc'
                          && participantsSortOrder['participantOrganization'] !== ''
                          && participantsSortOrder['participantOrganization']"
                          [attr.title]="viewTranslations.sort">keyboard_arrow_down</span>
                        <span class="htm-icon" *ngIf="participantsSortOrder['participantOrganization'] !== 'asc'"
                          [attr.title]="viewTranslations.sort">keyboard_arrow_up</span>
                      </span>
                    </th>

                    <th>{{ 'participant_email' | translate }} </th>
                    <th class="separator" *ngIf="!phoneVisible"></th>
                    <th [class.hidden]="!phoneVisible">
                      <span *ngIf="phoneVisible">{{ 'participant_phone' | translate }}</span>
                      <span *ngIf="phoneVisible">
                        <span class="htm-icon" [attr.title]="viewTranslations['column.close']" (click)="phoneVisible = !phoneVisible; tableOverflown = tableService.isElemOverflown('participantsElem');">skip_previous</span>
                      </span>
                      <span *ngIf="!phoneVisible">
                        <span class="htm-icon" [attr.title]="viewTranslations['column.open']" (click)="phoneVisible = !phoneVisible; tableOverflown = tableService.isElemOverflown('participantsElem');">skip_next</span>
                      </span>
                    </th>
                    <th class="separator" *ngIf="!createdVisible"></th>
                    <th [class.hidden]="!createdVisible">
                      <span *ngIf="createdVisible">{{ 'participant_created' | translate }}</span>
                      <span *ngIf="createdVisible">
                        <span class="htm-icon" [attr.title]="viewTranslations['column.close']" (click)="createdVisible = !createdVisible; tableOverflown = tableService.isElemOverflown('participantsElem');">skip_previous</span>
                      </span>
                      <span *ngIf="!createdVisible">
                        <span class="htm-icon" [attr.title]="viewTranslations['column.open']" (click)="createdVisible = !createdVisible; tableOverflown = tableService.isElemOverflown('participantsElem');">skip_next</span></span>
                    </th>
                    <th class="separator" *ngIf="!commentVisible"></th>
                    <th [class.hidden]="!commentVisible">
                      <span *ngIf="commentVisible">{{ 'participant_comment' | translate }}</span>
                      <span *ngIf="commentVisible">
                        <span class="htm-icon" [attr.title]="viewTranslations['column.close']" (click)="commentVisible = !commentVisible; tableOverflown = tableService.isElemOverflown('participantsElem');">skip_previous</span>
                      </span>
                      <span *ngIf="!commentVisible">
                        <span class="htm-icon" [attr.title]="viewTranslations['column.open']" (click)="commentVisible = !commentVisible; tableOverflown = tableService.isElemOverflown('participantsElem');">skip_next</span>
                      </span>
                    </th>
                  </tr>
                </thead>
          
                <tbody>
                  <tr *ngFor="let item of sortedParticipants; let first = first; let last = last;">
                    <td>{{ item.participantIndex }}</td>
                    <td>{{ item.participantFirstName }}</td>
                    <td>{{ item.participantLastName }}</td>
                    <td>{{ item.participantOrganization }}</td>
                    <td>{{ item.participantEmail }}</td>
                    <td class="separator" *ngIf="!phoneVisible"></td>
                    <td [class.hidden]="!phoneVisible" [class.last]="last" [class.vertical]="!phoneVisible && first">
                      <span class="vertical__text" *ngIf="!phoneVisible && first">{{ 'participant_phone' | translate }}</span>
                      <span *ngIf="phoneVisible">{{ item.participantPhone }}</span>  
                    </td>
                    <td class="separator" *ngIf="!createdVisible"></td>
                    <td [class.hidden]="!createdVisible" [class.last]="last" [class.vertical]="!createdVisible && first">
                      <span class="vertical__text" *ngIf="!createdVisible && first">{{ 'participant_created' | translate }}</span>
                      <span *ngIf="createdVisible">{{ item.participantCreated*1000 | date: 'dd.MM.yyyy HH:mm' }}</span>  
                    </td>
                    <td class="separator" *ngIf="!commentVisible"></td>
                    <td [class.hidden]="!commentVisible" [class.last]="last" [class.vertical]="!commentVisible && first">
                      <span class="vertical__text" *ngIf="!commentVisible && first">{{ 'participant_comment' | translate }}</span>
                      <span *ngIf="commentVisible">{{ item.participantComment }}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>