<breadcrumbs></breadcrumbs>
<mat-spinner *ngIf="!content && !error"></mat-spinner>
<div class="row events__single" *ngIf="content">
  <div class="col-8 sm-12">
    <div class="events__list">
      <div class="events__title">{{ 'events' | translate | uppercase }}</div>
      <article>
        <div class="row title">
          <div class="col-11">
            <h1 class="mt-0 mb-0">{{ content.entity.entityLabel }}</h1>
          </div><!--/col-10-->
          <div class="col-1 text-right share">
            <a href="javascript:void(0)" class="share-btn"><mat-icon>share</mat-icon></a>
          </div><!--/col-10-->
        </div><!--/row-->
    
        <div class="row">
          <div class="col-12">
            <div class="short" *ngIf="content.entity.fieldDescription" [innerHTML]="content.entity.fieldDescriptionSummary"></div>
            <div *ngIf="content.entity.fieldPicture !== null" class="article-image pull-right" (click)="openImage()">
              <img src="{{ content.entity.fieldPicture.url }}" alt="{{ content.entity.fieldPicture.alt }}" title="{{ content.entity.fieldPicture.title }}" style="max-width:100%;" />
              <div class="image-alt-text" *ngIf="content.entity.fieldPicture.alt">{{ content.entity.fieldPicture.alt }}</div>
            </div>

            <div class="description" [innerHTML]="content.entity.fieldDescription.value" *ngIf="content.entity.fieldDescription"></div>
          </div>
        </div>

        <div class="row links" *ngIf="content.entity.fieldAttachmentFile">
          <div class="col-12">
            <ul class="link-list mt-0 mb-0">
              <li *ngFor="let item of content.entity.fieldEventLink"><a href="{{ item.url.path | url }}" target="_blank"><mat-icon>launch</mat-icon>{{ item.title }}</a></li>
              <li *ngFor="let item of content.entity.fieldAttachmentFile"><a href="{{ item.entity.url }}" target="_blank"><mat-icon>file_copy</mat-icon>{{ item.entity.entityLabel }}</a></li>
            </ul>
          </div><!--/col-12-->
        </div>

        <div class="row tags" *ngIf="content.entity.fieldTag">
          <div class="col-12">
            <mat-chip-list>
                <span *ngFor="let tag of content.entity.fieldTag" class="mat-chip-wrapper">
                  <mat-chip *ngIf="tag.entity">{{ tag.entity.entityTranslation.entityLabel }}</mat-chip>
                </span>
            </mat-chip-list>
          </div><!--/col-10-->
        </div><!--/row-->
        
        <!-- Disable participants until design is done -->
        <div class="participants">
          <ng-container *ngIf="content.entity.fieldEntryType">
            <a href="{{ iCalUrl }}{{ content.entity.nid }}" mat-raised-button>DOWNLOAD iCAL</a>
          </ng-container>
        
          <button *ngIf="participants && !showParticipants" (click)="showParticipants = !showParticipants">Show participants</button>
          <button *ngIf="showParticipants" (click)="showParticipants = !showParticipants">Hide participants</button>
        
        
          <div *ngIf="showParticipants">
            <h3>Participants: {{ sortedParticipants.length }}</h3>
        
            <a (click)="getCSV()" mat-raised-button>DOWNLOAD participants list</a>
        
            <table *ngIf="showParticipants" class="participantsTable">
              <thead>
                <tr>
                  <th>{{ 'participantIndex' | translate }}</th>
                  <th (click)="organizeParticipants('participantFirstName')">{{ 'participantFirstName' | translate }}  <span class="participantsTable-arrow-{{ participantsSortOrder['participantFirstName'] }}"></span></th>
                  <th (click)="organizeParticipants('participantLastName')">{{ 'participantLastName' | translate }}  <span class="participantsTable-arrow-{{ participantsSortOrder['participantLastName'] }}"></span></th>
                  <th (click)="organizeParticipants('participantOrganization')">{{ 'participantOrganization' | translate }}  <span class="participantsTable-arrow-{{ participantsSortOrder['participantOrganization'] }}"></span></th>
                  <th>{{ 'participantEmail' | translate }} </th>
                  <th>{{ 'participantPhone' | translate }}</th>
                  <th (click)="organizeParticipants('participantCreated')">{{ 'participantCreated' | translate }}  <span class="participantsTable-arrow-{{ participantsSortOrder['participantCreated'] }}"></span></th>
                  <th>{{ 'participantComment' | translate }}</th>
                </tr>
              </thead>
        
              <tbody>
                <tr *ngFor="let item of sortedParticipants;">
                  <td>{{ item.participantIndex }}</td>
                  <td>{{ item.participantFirstName }}</td>
                  <td>{{ item.participantLastName }}</td>
                  <td>{{ item.participantOrganization }}</td>
                  <td>{{ item.participantEmail }}</td>
                  <td>{{ item.participantPhone }}</td>
                  <td>{{ item.participantCreated*1000 | date: 'dd.MM.yyyy HH:mm' }}</td>
                  <td>{{ item.participantComment }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div><!-- participants -->
      </article>
    </div>
    <div class="events__list second sm-hide" *ngIf="content.entity.fieldEventGroup">
      <div class="events__title">{{ 'events.related' | translate | uppercase }}</div>
      <related-events [groupID]="content.entity.fieldEventGroup.targetId" [nid]="content.entity.nid" *ngIf="content.entity.fieldEventGroup"></related-events>
    </div>
  </div><!--/col-8-->
  <div class="col-4 sm-12">
    <recent-events [map]="map" [content]="content"></recent-events>
  </div><!--/col-4-->
  <div class="col-8 sm-12 sm-show">
    <div class="events__list" *ngIf="content.entity.fieldEventGroup">
      <div class="events__title">{{ 'events.related' | translate | uppercase }}</div>
      <related-events [groupID]="content.entity.fieldEventGroup.targetId" [nid]="content.entity.nid" *ngIf="content.entity.fieldEventGroup"></related-events>
    </div>
  </div><!--/col-4-->
</div><!--/row-->