@import "../../../assets/styles/typography.scss"; 

a:visited {
  color: $visited!important;
}

article {padding-bottom: 1rem;
  a {color: $blue;padding-right: $small;
    .htm-icon {color: $blue;}
    @include break-on(sm, min) {padding-right: 0;}
  }
}
.tags {padding-bottom: 0;}
.share-btn {
  .mat-button {min-width: $medium;width: $medium;padding-left: $small;padding-right: 0;position: relative;bottom: 0.3125rem;
    @include break-on(sm, min) {padding-right: $small;}
  }
  .htm-icon {line-height: 1.3;
    @include break-on(sm, max) {right: $small;position: relative;}
  }
  &--participants {@extend.share-btn;color: $blue;padding-right: $half-gutter;
    @include break-on(sm, max) {display: inline-flex;padding-right: 0;}
  }
}
::ng-deep .mat-button-focus-overlay, ::ng-deep .mat-button-ripple {display: none;}
::ng-deep .mat-button:hover .mat-button-focus-overlay, .mat-stroked-button:hover .mat-button-focus-overlay {opacity: 0;transition: none;}
.events__title {font-size: $small;line-height: 2;color: $dark-gray; padding: $small $medium;
  a {float: right;}
}
.events__list {border-top: $gutter solid $light-blue;background: $white;
  @include break-on(sm, min) {border-radius: $half-gutter; margin-left: $medium;}
  @include break-on(lg, min) {margin-left: 0;}
  &__recent {@extend .events__list;border-top: $gutter solid $orange;margin-bottom: $small; 
    a {text-decoration: none; word-break: break-all;
      &:hover { text-decoration: underline; }
    }
    .map-wrapper {position: relative;
      a {position:absolute;bottom:0;width:stretch;background-color: rgba(0, 0, 0, 0.6);color:$white;align-items: center;justify-content: center;
        font-weight: normal;line-height: 1.25;font-size: $small;display: flex; padding: $small;text-decoration:none;
        .htm-icon {font-size: 1.25rem;height: 1.25rem !important;}
      }  
    }
    @include break-on(sm, min) {border-radius: $half-gutter; margin-left: 0;}
    p { line-height: 1.375rem; }
  }
  &.second {margin-top:$small;}
  &__item {padding: $medium;padding-top: $small;padding-bottom:$gutter;
    .title {padding: 0;padding-bottom: $gutter;}
    .child {line-height: 1.375rem;}
    button {width: 100%; margin-top: $small;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
    &__body {overflow: hidden;text-overflow: ellipsis;
      &.error {padding-bottom: $medium;}
      .error {color: $dark-red; line-height: 1.38; font-size: $small; font-weight: 500;}
    }
    &__footer {padding-top:$gutter;line-height: 1.375rem;}
    @include break-on(sm, min) {padding-bottom: $medium;
      &.register {padding-bottom:$medium;}
    }
  } 
}
.title {font-size: $small;line-height: 2;padding: 0 $medium;
  h1 {color:$black; }
  &__recent {padding: $small $medium 0 $medium;}
}
.author {padding: $half-gutter $medium 0 $medium;font-size: 0.875rem;line-height: 1.43;color: $dark-gray;}
.description {padding: $small $medium; color: $black; line-height: 1.375rem; padding-bottom: 0;}
.short {@extend .description; font-weight: 500; padding-bottom: $small;}
.article-image { max-width:100%; height: auto;
  @include break-on(sm, min) {width: stretch;max-width: 100%;margin: 0 1.5rem;}
  img { width: 100%; }
}
.image-alt-text {font-size: .875rem; color:$black; font-style: italic; font-weight: 300; padding: 0 $medium $small;
  @include break-on(sm, min) {padding: 0 0 $small 0;}
}
_:-ms-lang(x), .image-alt-text {padding-left: $medium;}
.events__single {
  @include break-on(sm, min) {padding-top: $gutter; padding-bottom: $medium; padding-right: $medium;}
  @include break-on(lg, min) {padding-right: 0;}
  &--participants {@extend .events__single;}
}
.links {padding: 0 $medium;}
.breadcrumb {padding-bottom: $gutter;}
.calendar__add {margin-top: 1rem;text-align: center;}

::ng-deep .description a[target="_blank"]:before, ::ng-deep .short a[target="_blank"]:before {font-feature-settings: 'liga';-ms-font-feature-settings: 'liga';
  font-family: 'htm-icon';content: 'launch' !important;position: relative;top: 0.1875rem;
}
::ng-deep .description a[target="_blank"], ::ng-deep .short a[target="_blank"] {text-decoration: underline;}
::ng-deep .events__list__item__body p:first-child {margin-top: 0;}
::ng-deep .events__list__item__body p:last-child {margin-bottom: 0;}
::ng-deep .events__list__item__body p { line-height: 1.375rem; }

.btn-hidden {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border: 0px solid transparent;
  background: transparent;
  width: 1.5rem;
}
