<breadcrumbs></breadcrumbs>
<events-filter></events-filter>
<div class="events">
  <div class="events__list-head row">
    <div class="col-6 sm-12">
      <div class="events__title">{{ 'events' | translate | uppercase }}</div>
    </div>
    <div class="col-6 text-right sm-hide">
      <div class="button-list">
        <mat-button-toggle-group>
          <mat-button-toggle checked="checked" name="view" value="list" (click)="changeView('list')"><mat-icon>view_list</mat-icon></mat-button-toggle>
          <mat-button-toggle name="view" value="grid" (click)="changeView('calendar')"><mat-icon>grid_on</mat-icon></mat-button-toggle>
        </mat-button-toggle-group>
      </div><!--/button-list-->
    </div><!--/col-6-->
  </div><!--/row-->

  <div class="events__month"><h1>Mai</h1></div>

  <mat-spinner *ngIf="!eventList && !error"></mat-spinner>

  <div class="events__list-body" *ngIf="eventList && view == 'list' ">
    <div class="events__header center">
      <div class="events__datetime">
        <div class="day">Teisipäev</div>
        <div class="date">11.05</div>
      </div>
      <div class="events__separator w-100">
        <div class="border__highlighted"></div>
        <div class="dot__highlighted"></div>
      </div>
    </div>
    <div class="events__block" *ngFor="let event of eventList">
      <div class="events__content" [routerLink]="event.entityUrl.path" style="cursor: pointer;">
        <div class="title">{{ event.title }}</div>
        <div class="info" class="sm-show">
          <span>{{ parseIntoReadableTime(event.eventDates[0].entity.fieldEventStartTime*1000) }}</span>
          <span>{{ event.location ? event.location.name : '' }}</span>
        </div>
        <div class="info" class="sm-hide">
          <span>Algusaeg: <strong>{{ parseIntoReadableTime(event.eventDates[0].entity.fieldEventStartTime*1000) }}</strong></span>
          <span *ngIf="event.location">Toimumiskoht: <strong>{{ event.location ? event.location.name : '' }}</strong></span>
          <span *ngIf="event.fieldEntryType">Sissepääs: <strong>{{ event.fieldEntryType}}</strong></span>
        </div>
        <div class="tags sm-hide">
          <mat-chip-list>
              <span *ngFor="let eventTag of event.hashTags" class="mat-chip-wrapper">
                <mat-chip>{{ eventTag.entity.entityLabel }}</mat-chip>
              </span>
          </mat-chip-list>
        </div><!--/row-->
      </div>
    </div>
  </div><!--/ngIf-->
  <div class="text-center actions" *ngIf="!listEnd && view !== 'calendar'">
    <button mat-raised-button color="primary" (click)="loadMore()" >{{ 'load.more' | translate }}</button>
  </div><!--/text-center-->
  <div class="text-center actions__error" *ngIf="(eventList != null && eventList.length) === 0">
    <p>No result</p>
  </div><!--/text-center-->

  <div *ngIf="view == 'calendar'">

    <div class="text-center">
      <button mat-button color="primary" (click)="changeMonth(-1);">Eelmine</button>
      {{ year }} / {{ month }}
      <button mat-button color="primary" (click)="changeMonth(1);">Järgmine</button>
    </div><!--/text-center-->
    
    <table class="calendar">
      <tr>
          <th width="14.2%">{{ 'monday' | translate }}</th>
          <th width="14.2%">{{ 'tuesday' | translate }}</th>
          <th width="14.2%">{{ 'wednesday' | translate }}</th>
          <th width="14.2%">{{ 'thursday' | translate }}</th>
          <th width="14.2%">{{ 'friday' | translate }}</th>
          <th width="14.2%">{{ 'saturday' | translate }}</th>
          <th width="14.2%">{{ 'sunday' | translate }}</th>
      </tr>
      <tr *ngFor="let week of calendarDays">
        <td *ngFor="let day of week">{{ day }}</td>
      </tr>
    </table>
  </div><!--/view content-->
</div>


