<h1>Events</h1>

<div class="row">
  <div class="col-3">
    <mat-form-field class="w-100">
      <mat-placeholder>Otsi sündmust nime järgi </mat-placeholder>
      <input matInput />
    </mat-form-field>
  </div><!--/col-3-->
  <div class="col">
    <div class="row">
      <div class="col-5">
        <mat-form-field class="w-100">
          <mat-placeholder>pp.kk.aa</mat-placeholder>
          <input matInput [matDatepicker]="myDatepicker1">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker1></mat-datepicker>
        </mat-form-field>
      </div><!--/col-5-->
      <div class="col-2"><div class="mat-form-label">kuni</div></div>
      <div class="col-5">
        <mat-form-field class="w-100">
          <mat-placeholder>pp.kk.aa</mat-placeholder>
          <input matInput [matDatepicker]="myDatepicker2">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker2></mat-datepicker>
        </mat-form-field>
      </div><!--/col-5-->
    </div><!--/row-->
  </div><!--/col-3-->
  <div class="col-3">
    <mat-form-field class="w-100">
      <mat-placeholder>Vali liik</mat-placeholder>
      <mat-select multiple>
        <mat-option value="1">Koolitus</mat-option>
        <mat-option value="2">Sündmus</mat-option>
        <mat-option value="3">Seminar</mat-option>
        <mat-option value="4">Sündmuse liik</mat-option>
      </mat-select>
    </mat-form-field>
  </div><!--/col-3-->
  <div class="col-3">
    <mat-form-field class="w-100">
      <mat-placeholder>Sündmuse sildid</mat-placeholder>
      <mat-select multiple>
        <mat-option value="1">Silt 1</mat-option>
        <mat-option value="2">Silt 2</mat-option>
        <mat-option value="3">Silt 3</mat-option>
        <mat-option value="4">Silt 4</mat-option>
      </mat-select>
    </mat-form-field>
  </div><!--/col-3-->
</div><!--/row-->

<div class="row">
  <div class="col-12 text-right">
    <mat-icon>view_list</mat-icon>
    <mat-icon>grid_on</mat-icon>
  </div><!--/col-12-->
</div><!--/row-->


<div *ngFor="let item of content.entities">
  <div class="row">
    <div class="dateBlock">
      <div class="dateBlock-inner">
        <div class="dateBlock-title">Kolmapäev</div>
        <div class="dateBlock-date">28.03</div>
      </div>
    </div><!--/date-block-->
    <div class="col">
      
      <p class="mt-0"><b> {{ item.title }}</b></p>
      
      <div class="row">
        <div class="col-3">
          <span *ngIf="item.eventDate[0]">Toimumiseaeg: {{ item.eventDate[0].entity.fieldEventStartTime }}</span>
        </div><!--/col-4-->
        <div class="col-4" *ngIf="item.location.name">
          <span>Asukoht: {{ item.location.name }}</span>
        </div><!--/col-4-->
        <div class="col-4">
          <span *ngIf="item.registrationDate">Sündmuse staatus: Registreerumisega kuni {{ item.registrationDate.entity.fieldRegistrationFirstDate.value }}</span>
        </div><!--/col-4-->
      </div><!--/row-->

      <div class="row" *ngIf="item.hashTags.length > 0">
        <div class="col-12">
          <mat-chip-list>
            <mat-chip *ngFor="let item of item.hashTags">#{{ item.entity.entityLabel }}</mat-chip>
          </mat-chip-list>
        </div><!--/col-12-->
      </div><!--/row-->
    </div><!--/col-10-->
  </div><!--/row-->
  <mat-divider></mat-divider>
</div>