@import "../../../assets/styles/typography.scss"; 
@import "../../../assets/styles/layout.scss"; 

:host{position:fixed; bottom:0; left:0; width:100%; z-index: 999999999; font-family:Rubik;
  .inline{max-width:1280px; margin:0 auto; border:#c7c7c9 1px solid; border-radius:4px; background:#eeeeee; padding:1.4375rem 4.75rem; display:flex;
    @include break-on(sm, max) { padding:1.4375rem 2rem;  flex-wrap: wrap; }
  }
  .cookieNotification__desc{font-size:1rem; color:#333; display: flex; align-items: center; flex-grow: 1; flex-shrink: 1;}
  .cookieNotification__buttons{ flex-shrink: 0;
    @include break-on(sm, max) { margin-top:1rem; width:100%;}
  }
  button{margin-left:1.5rem; width:auto !important;}
  
}