<ng-container *ngIf="status == 'vote'">
  <p  attr.aria-label="{{ 'feedback_heading' | translate }}"><b>{{ 'feedback_heading' | translate }}</b></p>
  <div class="options">
    <button (click)="vote(true)" attr.aria-label="{{ 'feedback_yes' | translate }}">
      <span class="htm-icon">thumb_up</span>{{ 'feedback_yes' | translate }}
    </button>
    <button (click)="vote(false)" attr.aria-label="{{ 'feedback_no' | translate }}">
      <span class="htm-icon negative">thumb_down</span>{{ 'feedback_no' | translate }}
    </button>
  </div><!--/options-->
</ng-container>

<ng-container *ngIf="status == 'add_comment'">
  <p  attr.aria-label="{{ 'feedback_how_to_improve' | translate }}" role="alert"><b>{{ 'feedback_how_to_improve' | translate }}</b></p>
  <div class="comment">
    <div class="formItem">
      <textarea placeholder="{{ 'feedback_comment' | translate }}" [(ngModel)]='values.comment' attr.aria-label="{{ 'feedback_comment' | translate }}"></textarea>
    </div><!--/formItem-->
    <button mat-raised-button (click)="sendVote()" color="primary" attr.aria-label="{{ 'feedback_send' | translate }}">{{ 'feedback_send' | translate }}</button>
  </div><!--/comment-->
</ng-container>

<ng-container *ngIf="status == 'response'">
  <div class="response">
    <p  attr.aria-label="{{ 'feedback_thanks' | translate }}"  role="alert"><b>{{ 'feedback_thanks' | translate }}</b></p>
  </div><!--/response-->
</ng-container>