@import "../../../assets/styles/typography.scss"; 
@import "../../../assets/styles/layout.scss"; 

:host{display:block; border-top:$gray 1px solid; padding:1rem 0 1.25rem 0; margin:1.5rem 1.5rem 0 1.5rem;

  
  p{margin:0 0 0.75rem 0; text-align: center; font-size:1rem;
    &:last-child{margin-bottom:0;}
  }
  .options{display:flex; justify-content: center; flex-wrap: wrap; margin-bottom:-1rem; margin-left:-1.5rem; margin-right:-1.5rem;
    button{margin-left:2.25rem; margin-right:2.25rem; appearance:none; padding:0; background:none; border:none; text-decoration: underline; color:$blue; font-size:1rem; line-height:2.5rem; margin-bottom:1rem;
      &:hover{text-decoration: none;}
      span{display:inline-block; width:2.5rem !important; height:2.5rem !important; line-height:2.375rem !important; text-align: center; color:#008d53; border:#008d53 1px solid; background:#e6f5ef; margin-right:8px; vertical-align: middle; border-radius:4px;
        &.negative{color:#d0021b; border-color:#d0021b; background:#fdf3f4;}
      }

    }
  }

  .comment{text-align: right;
    textarea{display: block; width:100%; padding:0.5rem 1rem; font-size:16px; color:$dark-gray; line-height:150%; border-radius:4px; border:$gray 1px solid; box-sizing: border-box; font-family: Rubik; height:6.25rem;}
    button{margin-top:1rem;}
  }

  @include break-on(xs, max) {margin:1.5rem 0 0 0; padding-left:1.5rem; padding-right:1.5rem;
    .options{flex-direction: column;
      button{margin-right:0; margin-left:0; }
    }
  }
}