<base-layout>
	<div class="inline">
		<breadcrumbs path="/ametialad"></breadcrumbs>
	</div><!--/inline-->
	<form class="filter-wrapper" filters [eventTracker]="getGoogleAnalyticsObject()">
		<div class="inline">
			<div #filterToggle class="sm-show text-right filter-control">
				<a href="javascript:void(0);" (click)="showFilter = !showFilter">
					<span *ngIf="!showFilter">{{ 'oska.search_professions' | translate }}</span>
					<span *ngIf="showFilter">{{ 'button.close' | translate }}</span>
				</a>
			</div>
			<ng-container *ngIf="showFilter">
				<div class="row first">
					<div class="col sm-12 search__title">{{ 'oska.search_professions' | translate }}</div>
				</div>
				<div class="row first">
					<div class="col-5 sm-12">
						<formItem type="text" title="{{ 'search.keyword' | translate }}"  ariaLabel="{{ 'search.keyword' | translate }}" name="title"
						[(ngModel)]="searchTitle"></formItem>
					</div>
					<div class="col-5 sm-12">						
						<formItem type="multi-select" title="{{ 'oska.title_field' | translate }}" ariaLabel="{{ 'oska.title_field' | translate }}" name="oskaField"
							[options]="oskaFields"></formItem>
					</div>
				</div>
				<!--/row-->
				<div class="row">
					<div class="col-5 sm-12">
						<formItem type="multi-select" title="{{ 'oska.competition_by_professions' | translate }}" ariaLabel="{{ 'oska.competition_by_professions' | translate }}" name="fillingBar"
							[sortOptions]="false" [options]="competitionFilters">
						</formItem>
					</div>
					<div class="col-5 sm-12">
						<formItem type="select" title="{{ 'oska.professions_or_jobs' | translate }}" ariaLabel="{{ 'oska.professions_or_jobs' | translate }}" name="fieldProfession"
						[sortOptions]="false" [options]="sortedBy">
						</formItem>
					</div>
					<div class="col-2 align-end text-right sm-12 inline-flex">
						<div class="button-row">
							<button htm-button>{{ 'button.search' | translate }}</button>
						</div>
					</div>
				</div>
			</ng-container>
		</div><!--/inline-->
	</form>
	<div class="inline">
		<block titleBorder="true" tabStyle="default">
			<block-title><h1>{{ 'oska.professions_and_jobs' | translate }}</h1></block-title>
			<block-content blank="true" tabLabel="{{ 'oska.professions_and_jobs' | translate }}" tabIcon="grid" tabLink="/ametialad">
				<mainProfessionsSearchResults
					#searchResults
					limit="24">
				</mainProfessionsSearchResults>
			</block-content>
			<block-content tabLabel="{{ 'oska.professions_data' | translate }}" tabIcon="info"  tabLink="/ametialad/andmed">
			</block-content>
		</block>
	</div><!--/inline-->
</base-layout>
