@import "typography.scss";
@import "breakpoints.scss";
@import "grid.scss";
:host {
  .col-25 {
    width: 20.83%;
  }
  
  .filter-wrapper {
    padding: 1.5rem;
    background: #fff;
    @include break-on(sm, min) {
      margin: 1rem 0 1.5rem;
      padding: 0.5rem 1.5rem;
      @include break-on(lg, max) {
        .inline {
          margin: 0 -1.5rem;
        }
      }
    }
    @include break-on(sm, max) {
      margin-bottom: 0;
      padding: .75rem 1.5rem;
      .filter-control{
          padding: 0 !important;
          span {
              margin-right: 0;
          }
      }
      &.filtersActive {
        display: block;
      }
    }
    .filter-control {
      padding: 1.5rem 0rem 0.5rem;
    }
    .text-right {
      text-align: right;
    }
  }

  .highlighted__job {
    &__main {
      width: 100%;
      box-sizing: border-box;
    }
    &__wrapper {
      display: flex;
      @include break-on(xs, max) {
        flex-direction: column;
      }
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        h2 {
          font-size: 1.25rem;
          margin-bottom: 0.5rem;
          color: $blue;
        }
      }
      a.highlighted__job__footer__link {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
        &.extra-styles {
          display: flex;
          justify-content: center;
          margin-top: 1rem;
          @include break-on(xs, max) {
            display: none;
          }
        }
        @include break-on(xs, max) {
          display: none;
        }
      }
    }
    picto {
      margin-right: -3rem;
      margin-top: -1rem;
      margin-bottom: -1.5rem;
      @include break-on(xs, max) {
        margin: -1.5rem auto 0 auto;
      }
      &:focus {
        outline: none;
      }
    }
    @include break-on(xs, max) {
      ::ng-deep picto {
        .image {
          margin-bottom: 1rem;
        }
        .picto {
          left: -1.5rem;
        }
      }
    }
    
    .description {
      color: $black;
      font-size: $small;
      overflow: hidden;
      position: relative;
      line-height: 1.375rem;
      max-height: 2.75rem;
      text-align: justify;
      padding-right: $large;
      margin-top: .5rem;
      @include multiLineEllipsis($lineHeight: 1.375rem, $lineCount: 2, $bgColor: $white);
      a[target="_blank"]::after {
        -webkit-font-feature-settings: "liga";
        font-feature-settings: "liga";
        -ms-font-feature-settings: "liga";
        font-family: "iconfont";
        content: "" !important;
        position: relative;
        top: 0.125rem;
        left: 0.125rem;
        display: inline-block;
      }
      @include break-on(xs, max) {
        display: none;
      }
    }
    &__footer__mobile {
      text-align: center;
      @include break-on(xs, min) {
        display: none;
      }
    }
  }
  @include break-on(xxs, max) {
    ::ng-deep ngb-tooltip-window {
      max-width: 275px !important;
    }
  }
  .search__title__filter {
    color: $black;
    font-weight: 500;
  }
  .row {
    margin: 0 -0.5rem;
    &.first {
			@include break-on(sm, max) {
				margin-top: .5rem;
			}
		}
    .align-end {
      align-self: flex-end;
      margin-bottom: auto;
    }
    .inline-flex {
      display: inline-flex;
      justify-content: flex-end;
    }
    .text-right {
      text-align: right;
    }
    .align-center {
      align-self: center;
    }
    .filter-state {
      margin: 0 auto;
      position: relative;
      right: 0.5rem;
      text-align: center;
      text-decoration: underline;
      &:hover {
          text-decoration: none;
      }
    }
  }
  
  ::ng-deep block-content button[tag] {
    margin: 1rem 1.5rem 1.5rem 0;
    &:last-of-type {
      margin-right: 0;
      margin-bottom: 2rem;
    }
    @include break-on(xs, max) {
      margin: 1rem 1.5rem 0 0;
      &:last-of-type {
        margin-right: 0;
        margin-bottom: 2.5rem;
      }
    }
  }

  

  div[class*="col-"] {
    padding: 0.5rem !important;
  }
  
  .button-row {
    @include break-on(sm, max) {
      width: 100%;
    }
    button {
      width: 100%;
    }
  }
  
  .xxs-show {
    display: none !important;
  }
  .xxs-flex {
    display: none !important;
  }
  .xs-show {
    display: none !important;
  }
  .xs-flex {
    display: none !important;
  }
  .sm-show {
    display: none !important;
  }
  .sm-flex {
    display: none !important;
  }
  .md-show {
    display: none !important;
  }
  .md-flex {
    display: none !important;
  }
  @include break-on(xxs, max) {
    .xxs-hide {
      display: none !important;
    }
    .xxs-show {
      display: block !important;
    }
    .xxs-flex {
      display: flex !important;
    }
  }
  @include break-on(xs, max) {
    .xs-hide {
      display: none !important;
    }
    .xs-show {
      display: block !important;
    }
    .xs-flex {
      display: flex !important;
    }
  }
  @include break-on(sm, max) {
    .sm-hide {
      display: none !important;
    }
    .sm-show {
      display: block !important;
    }
    .sm-flex {
      display: flex !important;
    }
  }
  @include break-on(md, max) {
    .md-hide {
      display: none !important;
    }
    .md-show {
      display: block !important;
    }
    .md-flex {
      display: flex !important;
    }
  }
  
  .hidden {
    display: none;
  }  
}
