
<div class="block padding-block gutter-bottom sm-top border-orange" *ngIf="loading">
  <div *ngIf="loading">
    <mat-spinner diameter="60"></mat-spinner>
  </div>
</div>
<div class="block padding-block gutter-bottom sm-top border-orange" *ngIf="!loading && events && events.length">
  <div class="block-title-big" role="list">{{ 'event.label' | translate }}</div>
  <ul class="list" role="list">
    <ng-container *ngFor="let event of events">
      <li *ngIf="event.title && event.entityUrl.path">
        <a attr.aria-label="{{ event.fieldEventMainDate.unix*1000 | date: 'dd.MM' }} {{ 'time.time_of_day' | translate }} {{ event.fieldEventMainStartTime | unixToTime }}: {{ event.title }}" 
          role="link" [routerLink]="[event.entityUrl.path]">
          <div>
            <span *ngIf="!compareDate(event.fieldEventMainDate.unix)">{{ event.fieldEventMainDate.unix*1000 | date: 'dd.MM' }}</span>
            <span *ngIf="compareDate(event.fieldEventMainDate.unix)"> {{ event.fieldEventMainDate.unix*1000 | date: 'dd.MM.yyyy' }}</span>
            <span> {{ 'time.time_of_day' | translate | lowercase }}</span>
            <span> {{ event.fieldEventMainStartTime | unixToTime }}</span>
          </div>
          <h2>{{ event.title }}</h2>
        </a>
      </li>
    </ng-container>
    <li><a attr.aria-label="{{ 'event.label' | translate }}: {{ 'button.view_all' | translate }}" role="link" [routerLink]="viewAllEventsLink()">{{ 'button.view_all' | translate }}</a></li>
  </ul>
</div>
