$create-font-face: false;
@import 'fonts.scss';
@import '_iconfont.scss';
@import 'typography.scss';
@import 'breakpoints.scss';
@import 'grid.scss';
@import 'overrides/index.scss';

html{font-family: Rubik, Arial, Helvetica, sans-serif;}

body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
}

*{box-sizing: border-box;}

a{color: #2e3374;
  &:hover{text-decoration: none;}
}

@keyframes ripple {
	0% {
		opacity: 0.3;
		transform: scale(0);
	}

	100% {
		opacity: 0;
		transform: scale(30);
	}
}
