<div class="inline">
	<article-layout>
		<breadcrumbs [data]="breadcrumbs"></breadcrumbs>
		<block [titleBorder]="false" tabStyle="middle">
			<block-title>
                <h1>{{'certificates.title' | translate }}</h1>
			</block-title>
			<block-secondary-title>
        {{'certificates.final_documents' | translate }}
      </block-secondary-title>
			
      <block-content
				[tabLabel]="'certificates.e_certificates' | translate"
				tabIcon="file-text"
			>
				<certificate-final-documents></certificate-final-documents>
			</block-content>
		
			<block-content
				[tabLabel]="'certificates.validity_check' | translate"
				tabIcon="file-text"
			>
				<certificate-document-check></certificate-document-check>
			</block-content>
		</block>
	</article-layout>
</div>
