<div class="dialog" cdkTrapFocus>
  <div class="row">
    <div class="col-12" style="position: relative;">
      <span class="dialog__text--medium">{{ data.pretitle | uppercase }}</span>
      <div class="pull-right" attr.aria-label="{{'modal.info | translate'}}" role="close">
        <span class="htm-icon">close
          <button class="btn-hidden" (keyup.space)="closeModal()" (keyup.enter)="closeModal()" (click)="closeModal()" tabindex="0"></button>
        </span>
      </div>
    </div>
  </div>
  <div class="dialog__success--modal dialog__success--modal--table">
    <mat-spinner *ngIf="loading && !error"></mat-spinner>
    <div class="dialog__success--content dialog__success--content--table" *ngIf="!loading && content && !error">
      <h1 class="mt-0 mb-0" >{{ data.title | titleCase }}</h1>
      <table class="dashboard-table">
        <tbody>
          <ng-container *ngFor="let field of data.fields; let i = index;">
            <tr *ngIf="content[field] && field !== 'oppelaenOigus'">
              <td colspan="3">{{ fieldTranslations[i] }}</td>
              <td colspan="2">{{ content[field] }}</td>
            </tr>
            <tr class="extraRow" *ngIf="content[field] && field === 'oppelaenOigus' && content[field].length">
              <td colspan="5">{{ fieldTranslations[i] }}</td>
            </tr>
            <ng-container *ngIf="content[field] && field === 'oppelaenOigus' && content[field].length">
              <tr [class.extraBottom]="last" *ngFor="let reason of content[field][0].pohjus; let secondIndex = index; let last = last;">
                <td [class.lastRow]="last" class="additional additional--1" colspan="1">{{ secondIndex + 1 }}</td>
                <td [class.lastRow]="last" class="additional additional--2" colspan="2">{{ 'frontpage.reason' | translate }} </td>
                <td [class.lastRow]="last" class="additional additional--3" colspan="2">{{ reason }}</td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="dialog__success--content dialog__success--content--error" *ngIf="error" role="alert">
      <span *ngIf="!errorMessage">{{'errors.personal_data_missing' | translate}}</span>
      <span *ngIf="errorMessage">{{'errors.personal_data_request' | translate}}</span>
    </div>
    <div class="dialog__actions--success">
      <div class="text-center">
        <div class="dialog__actions--success__close"><a href="javascript:void(0)" attr.aria-label="{{'modal.close' | translate}}" (keyup.space)="closeModal()" (keyup.enter)="closeModal()" (click)="closeModal()">{{ data.close }}</a></div>
      </div>
    </div>
  </div>
</div>