<div class="dialog" cdkTrapFocus>
  <div class="row">
    <div class="col-12" style="position: relative;">
      <span class="dialog__text--medium">{{ data.pretitle | uppercase }}</span>
      <div class="pull-right" attr.aria-label="{{'modal.info | translate'}}" role="close">
        <span class="htm-icon">close
          <button class="btn-hidden" (keyup.space)="closeModal()" (keyup.enter)="closeModal()" (click)="closeModal()" tabindex="0"></button>
        </span>
      </div>
    </div>
  </div>
  <notifications id="personal_data" class="notifications notifications--small"></notifications>
  <loader *ngIf="loading && !error"></loader>
  <div class="dialog__success--modal dialog__success--modal--table" *ngIf="!loading && content && !error">
    <div class="dialog__success--content dialog__success--content--table">
      <h1 class="mt-0 mb-0" >{{ data.title | titleCase }}</h1>
      <table class="dashboard-table">
        <tbody>
          <ng-container *ngFor="let field of data.fields; let i = index;">
            <tr *ngIf="content[field] && field !== 'oppelaenOigus'">
              <td colspan="3">{{ fieldTranslations[i] }}</td>
              <td colspan="2">{{ content[field] }}</td>
            </tr>
            <tr [class.extraRow]="content[field].oigus === 'Ei'" *ngIf="content[field] && field === 'oppelaenOigus' && content[field].length !== 0">
              <td colspan="3">{{ fieldTranslations[i] }}</td>
              <td colspan="3">{{ content[field].oigus }}</td>
            </tr>
            <ng-container *ngIf="content[field] && field === 'oppelaenOigus' && content[field].pohjus && content[field].pohjus.length > 0">
              <tr [class.extraBottom]="last" *ngFor="let reason of content[field].pohjus; let secondIndex = index; let last = last;">
                <td [class.lastRow]="last" class="additional additional--1" colspan="1">{{ secondIndex + 1 }}</td>
                <td [class.lastRow]="last" class="additional additional--2" colspan="2">{{ 'frontpage.reason' | translate }} </td>
                <td [class.lastRow]="last" class="additional additional--3" colspan="2">{{ parseTypeTranslation(reason) }}</td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div class="dialog__actions--success">
    <div class="text-center">
      <div class="dialog__actions--success__close"><a href="javascript:void(0)" attr.aria-label="{{'modal.close' | translate}}" (keyup.space)="closeModal()" (keyup.enter)="closeModal()" (click)="closeModal()">{{ data.close }}</a></div>
    </div>
  </div>
</div>