<div class="dialog" cdkTrapFocus>
  <div class="row">
    <div class="col-12 mb-0 pb-0" style="position: relative;">
      <span class="dialog__text--medium">{{ data.pretitle | uppercase }}</span>
      <div class="pull-right" attr.aria-label="{{'modal.info | translate'}}" role="close">
        <span class="htm-icon">close
          <button class="btn-hidden" (keyup.space)="closeModal()" (keyup.enter)="closeModal()" (click)="closeModal()" tabindex="0"></button>
        </span>
      </div>
    </div>
  </div>
  <notifications [ngStyle]="{display: error ? block : none}" style="margin-top: 1.5rem" id="personal_data" class="notifications notifications--small"></notifications>
  <loader *ngIf="loading && !error"></loader>
  <div class="dialog__success--modal--table" *ngIf="!loading && content && !error">
    <div class="dialog__success--content dialog__success--content--table">
      <h1 class="mt-0 mb-0" >{{ data.title | titleCase }}</h1>
      <table class="dashboard-table">
        <tbody>
          <ng-container *ngFor="let field of data.fields; let i = index;">
            <tr *ngIf="content[field] && field !== 'oppelaenOigus'">
              <td colspan="3">{{ fieldTranslations[i] }}</td>
              <td colspan="2">{{ content[field] }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div class="dialog__actions--success">
    <div class="text-center">
      <div class="dialog__actions--success__close"><a href="javascript:void(0)" attr.aria-label="{{'modal.close' | translate}}" (keyup.space)="closeModal()" (keyup.enter)="closeModal()" (click)="closeModal()">{{ data.close }}</a></div>
    </div>
  </div>
</div>