<ng-container *ngIf="status == 'vote'">
  <p attr.aria-label="{{ 'feedback_heading' | translate }}">
    <b>{{ 'feedback_heading' | translate }}</b></p>
  <div class="options">
    <button (click)="vote(true)" attr.aria-label="{{ 'feedback_yes' | translate }}">
      <icon glyph="thumbs-up" bg="true"></icon>
      {{ 'feedback_yes' | translate }}
    </button>
    <button (click)="vote(false)" class="negative"
            attr.aria-label="{{ 'feedback_no' | translate }}">
      <icon glyph="thumbs-down" bg="true"></icon>
      {{ 'feedback_no' | translate }}
    </button>
  </div><!--/options-->
</ng-container>

<ng-container *ngIf="status == 'add_comment'">
  <p role="alert" *ngIf="!values.vote">
    <b>{{ 'feedback_how_to_improve' | translate }}</b>
  </p>
  <p role="alert" *ngIf="values.vote">
    <b>{{ 'feedback_add_comment' | translate }}</b>
  </p>
  <div class="comment">
    <div class="formItem">
      <formItem
        *ngIf="values.vote"
        type="textarea"
        [(ngModel)]='values.comment'
        attr.aria-label="{{ 'feedback_comment' | translate }}"
        height="120"
        [error]="feedbackError"
        [errorMessage]="'feedback_comment_error' | translate"
        [title]="'feedback_comment' | translate"></formItem>
      <formItem
        *ngIf="!values.vote"
        type="textarea"
        [(ngModel)]='values.comment'
        attr.aria-label="{{ 'feedback_comment_required' | translate }}"
        height="120"
        [error]="feedbackError"
        [errorMessage]="'feedback_comment_error' | translate"
        [title]="'feedback_comment_required' | translate"></formItem>
    </div><!--/formItem-->
    <button htm-button theme="plain" (click)="cancel()"
            attr.aria-label="{{ 'feedback_cancel' | translate }}">{{ 'feedback_cancel' | translate }}</button>
    <button htm-button (click)="sendVote()"
            attr.aria-label="{{ 'feedback_send' | translate }}">{{ 'feedback_send' | translate }}</button>
  </div><!--/comment-->
</ng-container>

<ng-container *ngIf="status == 'response'">
  <div class="response">
    <p role="alert">
      <b>{{ 'feedback_thanks' | translate }}</b>
    </p>
  </div><!--/response-->
</ng-container>
