<div class="accordion">
  <more-block id="1" content="abitekst.opetan"></more-block>
  <div class="digital-sign-wrapper">
    <a routerLink="digitempel">{{ 'dashboard.digital_sign.button' | translate }}</a>
    <icon glyph="help-circle" ngbTooltip="{{ 'dashboard.digital_sign.tooltip' | translate }}" placement="bottom"></icon>
  </div>

  <h2 class="section--header">{{ 'frontpage.teachings_data' | translate }}</h2>
  <loader *ngIf="loading && !error"></loader>
  <alerts [id]="'teachings'" small="true"></alerts>
  <accordion *ngIf="!error && !loading">
    <ng-container *ngFor="let type of contentTypes; let first = first; let ind = index;">
      <accordion-item  title="{{ parseTypeTranslation(type) | titleCase }}" *ngIf="content[type].length">
        <ng-template>
      <table htm-table>
        <tbody>
          <tr *ngFor="let work of content[type];">
            <td>
              <span>{{ work.oppeasutus }}</span>
              <span *ngIf="work.ametikohtLopp && isDateInPast(work.ametikohtLopp)">,
                {{ 'frontpage.lopetatud' | translate }} {{ work.ametikohtLopp }}</span>
                <span *ngIf="work.aasta">, {{ work.aasta }}</span>
                <span *ngIf="work.aastaLopetanud">, {{ work.aastaLopetanud }}</span>
              </td>
              <td class="text-center"><a [routerLink]="'õpetan/' + routeType[type]"
                [state]="{ data: work, type: type }">{{ 'button.view_more' | translate }}</a></td>
              </tr>
            </tbody>
          </table>
        </ng-template>
        </accordion-item>
    </ng-container>
  </accordion>
</div>