@import "../../../assets/styles/typography.scss"; 

.dashboard-table {
  border: .0625rem solid $gray;
  border-collapse: collapse;
  width: 100%;
  font-size: $small; 
  tr{
    border: .0625rem solid $gray;
    td{
      padding: 15px;
      border: .0625rem solid $gray;
      width: 33%;
      color: $black;
      &:last-of-type {
        font-weight: 500;
      }
    }
  }
}

h1 { 
display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.25;
  text-align: left;
  color: $black;
  margin-bottom: 1rem;
}

.top-link {
  line-height: 1.875rem;
    margin-bottom: 1rem;
}

.highlighted {
    border-radius: 0.78125rem;
  background-color: $aqua;
    font-size: 0.875rem;
  line-height: 1.29;
  color: #333333;
  margin-left: 1rem;
  padding: 0.3125rem 0.75rem;
  position: relative;
  top: -0.1875rem;
}







