@import "../../../assets/styles/typography.scss"; 

.main-container{@include break-on(sm, min) {margin:.5rem 1.5rem 0;}}
h1 { 
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.25;
  text-align: left;
  color: $black;
  margin-bottom: 1rem;
}

.block-title {line-height: 2rem;}
.table-holder {overflow: scroll;}
.padding-block {padding: 1rem 1.5rem 3rem;}

.top-link {
  line-height: 1.875rem;
  margin-bottom: 1rem;
}

.highlighted {
  border-radius: 0.78125rem;
  background-color: $aqua;
  font-size: 0.875rem;
  line-height: 1.29;
  color: #333333;
  margin-left: 1rem;
  padding: 0.3125rem 0.75rem;
  position: relative;
  top: -0.1875rem;
}







