<block theme="sidebar">
	<block-title>
    <h2>{{ 'study.study_data' | translate }}</h2>
  </block-title>
  <block-content>
    <study-sidebar-study-data-list-item
      *ngIf="data?.fieldAuthor">
      <h3>{{ 'study.authors' | translate }}</h3>
      <p>{{ data?.fieldAuthor }}</p>
    </study-sidebar-study-data-list-item>
    <study-sidebar-study-data-list-item
      *ngIf="data?.fieldAuthorInstitution">
      <h3>{{ 'study.author_institution' | translate }}</h3>
      <p>{{ data?.fieldAuthorInstitution }}</p>
    </study-sidebar-study-data-list-item>
    <study-sidebar-study-data-list-item
      *ngIf="data?.fieldPublicationLang">
      <h3>{{ 'study.publication_language' | translate }}</h3>
      <p>{{ data?.fieldPublicationLang }}</p>
    </study-sidebar-study-data-list-item>
    <study-sidebar-study-data-list-item
      *ngIf="data?.fieldOrderer">
      <h3>{{ 'study.orderer' | translate }}</h3>
      <p>{{ data?.fieldOrderer }}</p>
    </study-sidebar-study-data-list-item>
    <study-sidebar-study-data-list-item
      *ngIf="data?.fieldPublisher">
      <h3>{{ 'study.publisher' | translate }}</h3>
      <p>{{ data?.fieldPublisher }}</p>
    </study-sidebar-study-data-list-item>
    <study-sidebar-study-data-list-item
      *ngIf="data?.fieldYear">
      <h3>{{ 'study.year' | translate }}</h3>
      <p>{{ data?.fieldYear }}</p>
    </study-sidebar-study-data-list-item>
    <study-sidebar-study-data-list-item
      *ngIf="data?.fieldPublicationType">
      <h3>{{ 'study.publication_type' | translate }}</h3>
      <p>{{ data?.fieldPublicationType }}</p>
    </study-sidebar-study-data-list-item>
  </block-content>
</block>
