<div class="news-component">
    <breadcrumbs></breadcrumbs>

    <div class="sm-show text-right filter-control">
      <a href="javascript:void(0);" (click)="hideFilter()">
        <span *ngIf="!filter">Filtreeri</span>
        <span *ngIf="filter">Sulge filter</span>
      </a>
    </div>
    <form [formGroup]="filterFormGroup" class="filter-wrapper" *ngIf="filter">
      <div class="row">
        <div class="col-4 sm-12">
          <div class="round-input__wrapper">
            <span class="round-input__title" [class.exists]="titleValue">{{ 'search.news.name' | translate }}</span>
            <div class="round-input__field-wrapper" [class.spacing]="titleValue">
              <input class="round-input__field" placeholder="{{ 'search.news.name' | translate }}" formControlName="titleForm" [(ngModel)]="titleValue"/>
              <button class="round-input__clear" mat-button *ngIf="titleValue" matSuffix mat-icon-button aria-label="Clear" (click)="titleValue=''">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </div><!--/col-3-->
        <div class="col-25 sm-6">
          <div class="round-input__wrapper">
            <span class="round-input__title" [class.exists]="filterFormGroup.value.minDateForm">{{ 'date.from' | translate }}</span>
            <div class="round-input__field-wrapper" [class.spacing]="filterFormGroup.value.minDateForm">
              <input class="round-input__field" placeholder="{{ 'date.from' | translate }}" [matDatepicker]="myDatepicker1" formControlName="minDateForm" [max]="datepickerMax" maxlength="10" dateFormatter />
              <!--(click)="myDatepicker1.open()"-->
              <mat-datepicker-toggle class="round-input__clear" matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker1></mat-datepicker>
            </div>
          </div>
        </div>
        <div class="col-25 sm-6">
          <div class="round-input__wrapper">
            <span class="round-input__title" [class.exists]="filterFormGroup.value.maxDateForm">{{ 'date.to' | translate }}</span>
            <div class="round-input__field-wrapper" [class.spacing]="filterFormGroup.value.maxDateForm">
              <input class="round-input__field" placeholder="{{ 'date.to' | translate }}" [matDatepicker]="myDatepicker2" formControlName="maxDateForm" [min]="datepickerMin" maxlength="10" dateFormatter />
              <!--(click)="myDatepicker2.open()"-->
              <mat-datepicker-toggle class="round-input__clear" matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker2></mat-datepicker>
            </div>
          </div>
        </div><!--/col-3-->
        <div class="col-3 align-end text-right sm-12 inline-flex sm-hide" *ngIf="!filterState">
          <div class="align-center filter-state sm-hide">       
            <a href="javascript:void(0);" (click)="changeFilterState()"><span>Täpsem otsing</span></a>
          </div>
          <div class="button-row">
            <button mat-raised-button color="primary" (click)="newsFilter()">Otsi</button>
          </div>
        </div><!--/col-3-->
        <div class="col-3 align-end sm-12 sm-show">
          <div class="button-row">
            <button mat-raised-button color="primary" (click)="newsFilter()">Otsi</button>
          </div>
        </div><!--/col-3-->
      </div>
      <div class="row sm-hide" *ngIf="filterState">
        <div class="col-9">
          <div class="ng-select__wrapper">
            <span class="ng-select__title" [class.exists]="filterFormGroup.value.newsTagsSelectForm && filterFormGroup.value.newsTagsSelectForm.length">Uudiste sildid</span>
            <ng-select
            [class.exists]="filterFormGroup.value.newsTagsSelectForm && filterFormGroup.value.newsTagsSelectForm.length"
            [items]="newsTagObs | async"
            [multiple]="true"
            [closeOnSelect]="false"
            bindLabel="name"
            placeholder="Select people"
            [(ngModel)]="selectedTags"
            formControlName="newsTagsSelectForm"
            [dropdownPosition]="'bottom'"></ng-select>
          </div>
        </div>
        <div class="col-3 align-end text-right sm-12 inline-flex sm-hide">
          <div class="align-center filter-state sm-hide">       
            <a href="javascript:void(0);" (click)="changeFilterState()"><span>Kitsam otsing</span></a>
          </div>
          <div class="button-row">
            <button mat-raised-button color="primary" (click)="newsFilter()">Otsi</button>
          </div>
        </div><!--/col-3-->
      </div>
      
      <div *ngIf="filterFormGroup.invalid" style="background-color: red;">ERRORS</div>
      
    </form><!--/row-->
  
    <mat-spinner *ngIf="!list && !error"></mat-spinner>
    <div class="news-list" *ngIf="list">
      <div class="news-title">{{ 'news' | translate | uppercase }}</div>
      <div>
        <div *ngFor="let item of list" class="news-item">
          <mat-card>
            <mat-card-content>
              <div class="row">
                <div class="col-9 sm-hide">
                  <div class="mt-0 title"><a href="javascript:void();" class="normal-text" [routerLink]="[item.entityUrl.path]"><h1> {{ item.entityLabel }}</h1></a></div>
                  
                  <div class="author">{{ item.fieldAuthor }} {{ item.created*1000 | date:"dd.MM.yyyy" }}</div>
                  <div class="tags" *ngIf="item.fieldNewsTag">
                    <mat-chip-list>
                        <span *ngFor="let tag of item.fieldNewsTag" class="mat-chip-wrapper">
                          <mat-chip *ngIf="tag.entity">{{ tag.entity.entityLabel }}</mat-chip>
                        </span>
                    </mat-chip-list>
                  </div><!--/row-->
                  
                  <div class="description">{{ item.fieldShortDescription }}</div>
                </div>
                <div class="col-3 sm-12 pointer" *ngIf="item.fieldIntroductionImage" [routerLink]="[item.entityUrl.path]">
                  <img src="{{ item.fieldIntroductionImage.url }}" alt="{{ item.fieldIntroductionImage.alt }}" width="100%" />
                </div>
              </div>
              <div class="sm-show col-12">
                <div class="mb-0 title"><a href="javascript:void();" class="normal-text" [routerLink]="[item.entityUrl.path]"><h1> {{ item.entityLabel }}</h1></a></div>
                <div class="author">{{ item.fieldAuthor }} {{ item.created*1000 | date:"dd.MM.yyyy" }}</div>
              </div><!--/col-12-->
            </mat-card-content>
          </mat-card>
        </div><!--ngFor-->
        
        <div class="text-center actions" *ngIf="!listEnd">
          <button mat-raised-button color="primary" (click)="loadMore()" >Lae rohkem</button>
        </div><!--/text-center-->
        <div class="text-center actions__error" *ngIf="(list != null && list.length) === 0">
          <p>{{ 'results.none' | translate }}</p>
        </div><!--/text-center-->
        
      </div><!--/ngIf-->
    </div>
  </div>