@import "../../../assets/styles/typography.scss";
.news-component {
  padding-bottom: 3rem;
  .news-title {font-size: 1rem;line-height: 2;color: $dark-gray; padding: 0.75rem 1.5rem 0.5rem 1.5rem;}
  .title {
    padding: 1rem 1.5rem 0 1.5rem;
    @media (min-width: 900px) {padding: 0;}
  }
  .author {
    padding: 0.25rem 1.5rem 0 1.5rem;
    font-size: 0.875rem;
    line-height: 1.43;
    color: $dark-gray;
    @media (min-width: 900px) {padding: 0; padding-top: 0.25rem;}
  }
  .description {padding-top: 1rem;}
}
.filter-control {padding: 1.5rem;}
.news-list {
  border-top: 8px solid $light-blue;
  background: $white;
  @media (min-width: 900px) {border-radius: 0.25rem; margin-left: 1.5rem; margin-right: 1.5rem;}
}
.mat-card {
  box-shadow: none !important;
  @media (max-width: 900px) {padding: 0 !important;}
}
.news-item {
  padding-top: 3rem;
  &:first-child {padding-top: 0.375rem;}
  &:first-child {.mat-card {padding-top: 0px;}}
  @media (min-width: 900px) {padding-top: 0rem; border-top: solid 1px $gray;
    &:first-child { border-top: none; }
  }
}
.actions {
  padding-top: 1.5rem;
  button { margin: 0 1.5rem; width: stretch;}
  @media (min-width: 900px) {
    background: $light-gray;
    button { margin: 0 1.5rem; width: auto;}
  }
  &__error {
    padding-bottom: 1rem;
  }
}
.filter-state { padding-right: 1rem;
  @media (max-width: 1011px) { padding-right: 0rem;}
}
.col-25 {width: 20.83%;}
.inline-flex {display: inline-flex;justify-content: flex-end;} 