@import "../../../assets/styles/typography.scss";
.news-component {
  a:hover { text-decoration: underline; }
  padding-bottom: $xxl;
  .news-title {font-size: $small;line-height: 2;color: $dark-gray; padding: $quarter $medium $gutter $medium;}
  .title {
    padding: $small $medium 0 $medium;
    @media (min-width: 900px) {padding: 0;}
  }
  .author {
    padding: $half-gutter $medium 0 $medium;
    font-size: 0.875rem;
    line-height: 1.43;
    color: $dark-gray;
    @media (min-width: 900px) {padding: 0; padding-top: $half-gutter;}
  }
  .description {padding-top: $small;font-size: 0.875rem;}
}
.filter-control {padding: $medium;}
.news-list {
  border-top: $gutter solid $light-blue;
  background: $white;
  @media (min-width: 900px) {border-radius: $half-gutter; margin-left: $medium; margin-right: $medium;}
}
.mat-card {
  box-shadow: none !important;
  @media (max-width: 900px) {padding: 0 !important;}
}
.news-item {
  padding-top: $xxl;
  &:first-child {padding-top: 0.375rem;}
  &:first-child {.mat-card {padding-top: 0px;}}
  @media (min-width: 900px) {padding-top: 0; border-top: solid 1px $gray;
    &:first-child { border-top: none; }
  }
}
.actions {
  padding-top: $medium;
  button { margin: 0 $medium; width: stretch;}
  @media (min-width: 900px) {
    background: $light-gray;
    button { margin: 0 $medium; width: auto;}
  }
  &__error {
    padding-bottom: $small;
  }
}
.filter-state { padding-right: $small;
  @media (max-width: 1011px) { padding-right: 0;}
}
.col-25 {width: 20.83%;}
.inline-flex {display: inline-flex;justify-content: flex-end;} 