@import 'colors.scss';
@import 'breakpoints.scss';

:host {
  display: grid;
  display: -ms-grid;
  background-color: $light-gray;
  position: relative;
  grid-template-areas: 'content content'
                       'content content';
  grid-template-columns: 0 1fr;
  -ms-grid-columns:0 1fr;

  ::ng-deep .content feedback {
    display: none;
    @include break-on(sm, min) {
      display: block;
    }
  }
  @include break-on(sm, min) {
    grid-template-columns: 16.25rem 1fr;
    -ms-grid-columns:16.25rem 1fr;
  }
  grid-template-rows: 4rem 1fr;
  main {
    display: grid;
    display: -ms-grid;
    box-sizing: border-box;
    grid-area: content;
    grid-template-areas: '.'
                         'sidebar';
    -ms-grid-row: 2; 
    -ms-grid-row-span: 2; 
    -ms-grid-column: 1; 
    -ms-grid-column-span:2;
    height: calc(100vh - 4rem);
    // grid-gap: 1rem;
    grid-template-columns: 1fr;
    -ms-grid-columns: 1fr;
    padding: 0;
    min-height: 100%;
    @include break-on(sm, min) {
      grid-template-areas: '. sidebar';
      grid-template-columns: 2fr 1fr;
      -ms-grid-columns: 2fr 1fr;
      padding: 1rem;
    }
  }
  .content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    @include break-on(sm, min) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      margin-right: 1rem;
    }
  }
  .sidebar {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    @include break-on(sm, min) {
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 2;
      -ms-grid-column-span: 2;
    }

  }
}