@import 'colors.scss';
@import 'breakpoints.scss';

:host {
  display: grid;
  background-color: $light-gray;
  position: relative;
  grid-template-areas: 'header header header'
                       'sidemenu content content'
                       'sidemenu content content';
  grid-template-columns: 0 1fr;
  height: 100vh;
  overflow: hidden;
  @include break-on(sm, min) {
    grid-template-columns: 16.25rem 1fr;
  }
  grid-template-rows: 4rem 1fr;
  main {
    display: grid;
    box-sizing: border-box;
    grid-area: content;
    grid-template-areas: '.'
                         'sidebar';
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    @include break-on(sm, min) {
      grid-template-areas: '. sidebar';
      grid-template-columns: 2fr 1fr;
    }
    padding: 1rem;
    overflow-y: scroll;
    min-height: 100%;
  }
}