<div class="news-list__recent">
  <div class="news-title">{{ 'recent.news' | translate }}</div>
  <div *ngFor="let item of content">
    <!-- <p>{{ item.created*1000 | date:"dd.MM.yyyy" }}</p>
    <p [innerHtml]="item.fieldShortDescription"></p> -->
    <div class="pointer field-image" *ngIf="item.fieldIntroductionImage" [routerLink]="[item.entityUrl.path]">
      <img src="{{ item.fieldIntroductionImage.url }}" alt="{{ item.fieldIntroductionImage.alt }}" width="100%" />
    </div>
    <div class="title__recent"><a href="javascript:void();" class="normal-text" [routerLink]="[item.entityUrl.path]"><h2> {{ item.entityLabel }}</h2></a></div>
    <div class="author">{{ item.fieldAuthor }} {{ item.created*1000 | date:"dd.MM.yyyy" }}</div>
    <!-- <mat-divider class="mt-20 mb-20"></mat-divider> -->
  </div>
  <!-- <a href="javascript:void(0);" [routerLink]="allPath" mat-button color="primary">Vaata kõiki</a> -->
</div>