@import "../../../assets/styles/typography.scss"; 
.map-wrapper {position: relative;box-sizing: border-box;min-height:173px;padding-bottom:56%;
  &:after{content:" "; display: block; top:0; left:0; width:100%; height:100%;  z-index: 5; position: absolute;}
  .sebm-google-map-container{position: absolute; top:0; left:0; width:100%; height:100%;}
  .map-link {position: absolute;left: 0; width:100%; min-width:100%; bottom: 0;height: 50px;line-height: 50px;
    background: rgba($color: #000000, $alpha: 0.5);color: $white;text-align: center;z-index: 6;
    a {color: $white;vertical-align: middle;display: inline-block;text-decoration: none;font-size: $small;
      * {vertical-align: middle;}
      .mat-icon {font-size: 1.23rem;display: inline;padding-right: .3125rem;
      }
    }
  }
}
