@import "../../../assets/styles/typography.scss"; 
.map-wrapper {position: relative;box-sizing: border-box;min-height:173px;padding-bottom:56%; speak: none;
  &:after{content:" "; display: block; top:0; left:0; width:100%; height:100%;  z-index: 5; position: absolute;}
  .sebm-google-map-container{position: absolute; top:0; left:0; width:100%; height:100%;}
  .map-link {position: absolute;left: 0; width:100%; min-width:100%; bottom: 0;height: 50px;line-height: 50px;
    background: rgba($color: $black, $alpha: 0.9);color: $white;text-align: center;z-index: 6;
    a {color: $white;vertical-align: middle;display: inline-block;text-decoration: underline;font-size: $small;
      &:hover {text-decoration: none;}
      &:visited { color: #DADADC; }
      * {vertical-align: middle;}
      .htm-icon {font-size: $medium;display: inline-block;padding-right: .3125rem; vertical-align: middle; text-decoration: none;
      }
    }
  }
}
