@import "breakpoints.scss"; 

:host {
  .picto {
    position: relative;
    line-height: 0;
    .picto-image {
      filter: invert(3%) sepia(53%) saturate(2100%) hue-rotate(218deg) brightness(94%) contrast(87%);
      position: relative;
      height: 6.875rem;
      z-index: 5;
    }
    .bg {
      position: absolute;
      top: 0;
      .circle {
        position: absolute;
        width: 1em;
        height: 1em;
        border-radius: 1em;
      }
      .triangle {
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-style: inset;
      }
    }
  }
  @include break-on(xs, min) {
    &.inside__text .picto {
      margin: 1rem;
      float: right !important;
    }
  }
}
