::ng-deep {
  .picto {
    .image {
      position: relative;
      float: right !important;
      height: 5.5rem;
      z-index: 5;
      margin-right: 1.5rem;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      margin-left: 2.5rem;
    }
    .circle {
      position: relative;
      float: right;
      width: 1em;
      height: 1em;
      border-radius: 1em;
    }
  }
}
