@import "breakpoints.scss"; 

::ng-deep {
  .picto {
    position: relative;
    .image {
      filter: invert(3%) sepia(53%) saturate(2100%) hue-rotate(218deg) brightness(94%) contrast(87%);
      position: relative;
      float: right !important;
      height: 7rem;
      z-index: 5;
      margin-right: 4rem;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      margin-left: 2.5rem;
      @include break-on(xs, max) {
        position: relative;
        left: 30%;
        transform: translateX(-30%);
        float: none !important;
      }
    }
    .bg {
      @include break-on(xs, max) {
        position: absolute;
        top: 0;
        left: 20%;
        transform: translateX(-20%);
      }
      .circle {
        position: relative;
        float: right;
        width: 1em;
        height: 1em;
        border-radius: 1em;
      }
      .triangle {
        position: relative;
        float: right;
        width: 0;
        height: 0;
        border-style: solid;
        border-style: inset;
      }
    }
  }
}
