@import "../../../assets/styles/typography.scss"; 
.mat-toolbar.mat-primary {background: $blue;height: 4rem;box-shadow: 0 0.1875rem 0.0625rem -0.125rem rgba(0,0,0,.2), 0 0.125rem 0.125rem 0 rgba(0,0,0,.14), 0 0.0625rem 0.3125rem 0 rgba(0,0,0,.12);}
.header-logo {text-align: left;margin-left: 1.25rem;text-decoration: none;letter-spacing: 0.03125rem;font-size: 1.25rem;line-height: 1.4;color: $white; box-sizing: border-box; padding-left:1.5rem;
  span {font-weight: 300;}
  span.bold {font-weight: 500;}
  @include break-on(sm, min) {width: 16.25rem;margin-left: 0;}
  @include break-on(sm, max) {padding-left:0;}
}
.search-input  {height: 2.5rem;border-radius: 1.25rem;background-color: rgba(255, 255, 255, 0.1);border: .0625rem solid rgba(255, 255, 255, 0); font-weight: 300;
  color: $white;padding: 0 $small 0 2.5rem;font-size: $small;width: 100%;box-sizing: border-box;max-width: 40.625rem; 
}
.searchbar {
  position: relative;
  .search-icn {
    &::before {
      position: absolute;
      font-family: 'htm-icon';
      font-feature-settings: "liga";
      font-size: 1.25rem;
      content: 'search';
      color: white;
      left: 1rem;
      top: .33rem;
      @include break-on (xl, min) {top: .5rem;}
    }
  }
  a {text-decoration: none;}
  @include break-on(sm, max) {display: none;}
}
.languages {position: relative;top: .125rem;padding-left: $half-gutter;
    @include break-on(xl, min) { top: 0rem; }
        @include break-on(xxl, min) { top: -.25rem; }
  a {color: $white;text-decoration: none;font-size: $small;font-weight: 400;}
}

.assets_wrapper{flex-grow: 1; display:flex; align-items:center; padding:0 1.5rem;
  @include break-on(lg, min) {max-width: 1130px;margin-left: auto !important;margin-right: auto !important;}
  @include break-on(xl, min) {max-width: 1430px;margin-left: auto !important;margin-right: auto !important;}
  @include break-on(xxl, min) {max-width: 1890px;margin-left: auto !important;margin-right: auto !important;}
  .searchbar{width:66.66666667%;
    .search{display: block;}
    .search-input{max-width: unset; }
  }
}

.loginbar {margin-left: $xxl; display: flex;
  @include break-on(xl, min) {position: relative;top: 0rem; }
    @include break-on(xxl, min) { top: .1875rem; }
}
.htm-icon { 
  &.search { padding-right: 1rem;
    @include break-on(sm, max) {position:relative; top: .0625rem;}
  }
  &.person { padding-right: 0.75rem;
    @include break-on(sm, min) {padding-right: 0;}
  }
  &.more {padding-right: 0.75rem;
    @include break-on(sm, min) {padding-right: 0;}
  }
}
mat-toolbar button {min-width: $medium; width: $medium; padding: 0;}

//Placeholder
::-webkit-input-placeholder { color: white; }
::-moz-placeholder { color: white; }
:-ms-input-placeholder { color: white; }
:-moz-placeholder { color: white; }
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

.fill-space {
  /* This fills the remaining space, by using flexbox. 
  Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
  margin: 0 auto;
  max-width: 1180px;
  @include break-on(xl, min) {max-width: 1485px;}
  @include break-on(xxl, min) {max-width: 1965px;}
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    max-width: none !important;
  }
  &__flex {display: flex; align-items: center; justify-content: flex-end;}
}
.mob-space {flex: 1 1 auto;}

app-login {
  position: relative;
  @include break-on(sm, max) {
    position: static;
  }
}

.languages .htm-icon {
  position: relative;
  top: 0.375rem;
  margin-left: 0px;
}

.inline {
  min-height: 2.5rem;
}

/* Hamburger */
.hamburger { padding: 1rem; margin: -0.7rem -1rem 0; }
.selected.hamburger .burger-toggle  {
  position: relative; 
  background: transparent;
  transition: all .3s ease-in-out;}
  .selected.hamburger .burger-toggle:before {
    transform: translateY(0) rotate(45deg);
    height: 0.1rem;
    width: 1.2rem;
    top: 0rem;
    background: #ffffff;
    transition: all .3s ease-in-out;
    content: "";
    display: block;
    position: relative; }
    .selected.hamburger .burger-toggle:after {
    transform: translateY(0) rotate(-45deg);
    height: 0.1rem;
    width: 1.2rem;
    top: -0.1rem;
    background: #ffffff;
    transition: all .3s ease-in-out;
    content: "";
    display: block;
    position: relative; }

.hamburger .burger-toggle {
  position: relative;
  display: inline-block; }
 .hamburger .burger-toggle, .hamburger .burger-toggle:before, .hamburger .burger-toggle:after {
    height: 0.15rem;
    width: 1.2rem;
    background: #ffffff;
    transition: all .3s ease-in-out; }
    .hamburger .burger-toggle:before, .hamburger .burger-toggle:after {
    content: "";
    display: block;
    position: absolute; }
    .hamburger .burger-toggle:before {
    transform: translateY(-0.5rem) rotate(0);
    top: 0.2rem;
    height: 0.1rem; }
    .hamburger .burger-toggle:after {
    transform: translateY(0.5rem) rotate(0);
    top: -0.2rem;
    height: 0.15rem; }