<mat-toolbar color="primary" class="header-toolbar mat-elevation-z6" role="banner" attr.aria-label="{{'frontpage.header' | translate}}">
  <div class="inline">

    <div class="menu-burger pointer">
      <span tabindex="0" role="navigation">
        <span [class.selected]="wasClicked" (click)="toggleSideNav()" class="hamburger sm-show">
          <span class="burger-toggle"></span>
          </span>
      </span>
    </div><!--/menu-burger-->

    <a role="link" attr.aria-label="{{'frontpage.lead' | translate}}" [routerLink]="[logoLink]" class="header-logo">
      <img src="assets/img/logo.svg" alt="edu.ee logo"/>
    </a>
    <!-- This fills the remaining space of the current row -->
    <!-- <div class="head-container"> -->

    <div class="assets_wrapper">
      <div class="searchbar">
        <span class="search" *ngIf="!hideElement">
          <input type="text"
            (keyup.enter)="searchRoute(searchParam)"
            attr.aria-label="{{ 'frontpage.enter_keyword_and_search' | translate }}"
            class="search-input round-input" placeholder="{{'frontpage.enter_keyword_and_search' | translate}}"
            [(ngModel)]='searchParam'
            (focus)="populateSuggestionList(searchParam, 300)"
            role="combobox"
            aria-autocomplete="both"
            spellcheck="false"
            autocomplete="off"
            aria-owns="matAutocomplete"
            name="searchParam"
            id="searchParam"
            [matAutocomplete]="auto"
            (ngModelChange)="populateSuggestionList(searchParam, 300)"/>
          <mat-autocomplete #auto="matAutocomplete"
            role="listbox"
            id="matAutocomplete"
            (optionSelected)="autocompleteLoader = false;suggestionList = [];searchRoute(searchParam)">
            <ng-container *ngIf="autocompleteLoader && searchParam">
              <mat-option [value]="" disabled="true">
                <span>{{'search.searching_please_wait' | translate }}</span>
              </mat-option>
            </ng-container>
            <ng-container *ngIf="autocompleteLoader == false && suggestionList && searchParam">
              <mat-option *ngIf="!suggestionList.length" [value]="" disabled="true">
                <span role="alert" *ngIf="searchParam && searchParam.length < 3">{{'search.not_found_required_chars' | translate }}</span>
                <span role="alert" *ngIf="searchParam && searchParam.length >= 3">{{'search.not_found' | translate }}</span>
              </mat-option>
              <ng-container *ngIf="suggestionList.length > 0">
                <mat-option role="option" aria-selected="false" *ngFor="let result of suggestionList; let ind = index;" [value]="result.Suggestion">
                  <span id="{{'option_' + ind" role="option">{{ result.Suggestion }}</span>
                </mat-option>
                <div class="search__alert" role="alert">
                  <span class="search__alert--elem">{{suggestionList.length}} {{'search.suggestions_available' | translate}}</span>
                </div>
              </ng-container>
            </ng-container>
          </mat-autocomplete>
          <a role="button" (click)="searchRoute(searchParam)" href="javascript:void(0)" class="search-icn"></a>
        </span>
      </div><!--/searchbar-->
      <div class="fill-space sm-hide">
        <div class="fill-space__flex">
          <div class="loginbar">

            <app-login></app-login>

            <div *ngIf="languages" class="languages pull-right">
              <mat-menu #appMenu="matMenu" overlapTrigger="false" direction="right" xPosition="before" attr.aria-label="{{'frontpage.languages' | translate}}">
                <button [class.mat-menu-item-active]="item.argument === activeLanguage" role="button" mat-menu-item *ngFor="let item of languages" (click)="changeLanguage(item.argument)" attr.aria-label=" {{'frontpage.lang' | translate}} {{ item.argument }}">{{ item.argument === 'et' ? 'EST' : 'ENG' }}</button>
              </mat-menu>
              <a href="javascript:void(0)" [matMenuTriggerFor]="appMenu" >{{activeLanguage === 'et' ? 'EST' : 'ENG'}}<span class="htm-icon" aria-hidden="true">keyboard_arrow_down</span></a>
            </div>



          </div>
        </div>
      </div>
      <span class="mob-space sm-show"></span>

      <button class="search__action sm-show" [class.active]="dialogOpened" attr.aria-label="{{ 'button.search' | translate }}" (click)="toggleSearch()">
        <span class="pointer htm-icon search" aria-hidden="true">search</span>
      </button>

      <app-login class="sm-show"></app-login>

      <div *ngIf="languages" class="languages sm-show pull-right">
        <mat-menu #appMenu="matMenu" overlapTrigger="false" direction="right" xPosition="before" role="button">
          <button mat-menu-item [class.mat-menu-item-active]="item.argument === activeLanguage" *ngFor="let item of languages" (click)="changeLanguage(item.argument)" attr.aria-label=" {{'frontpage.language'}} {{ item.argument }} ">{{ item.argument === 'et' ? 'EST' : 'ENG' }}</button>
        </mat-menu>
        <a href="javascript:void(0)" [matMenuTriggerFor]="appMenu" >{{activeLanguage === 'et' ? 'EST' : 'ENG'}}<span class="htm-icon" aria-hidden="true">keyboard_arrow_down</span></a>
      </div>
    </div><!--/assets_wrapper-->
  </div><!--/inline-->
</mat-toolbar>
