@import "../../../assets/styles/typography.scss"; 
.mat-toolbar.mat-primary {
  background:#2e3374;
  height: 4rem;
}
.close {cursor: pointer;margin-left: $medium;}
.header-logo {
  margin-left: 1.25rem;
  span {font-weight: 300;}
  span.bold {font-weight: 500;}
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 1.25rem;
  line-height: 1.4;
  color: #ffffff;
  @include break-on(sm, min) {
    margin-left: 1.75rem;
    width: 11.5rem;
  }
}
.search-input  {
  height: 2.5rem;
  border-radius: 1.25rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: .0625rem solid rgba(255, 255, 255, 0);
  color: white;
  padding: 0 1rem 0 2.5rem;
  font-size: 1rem;
}
.searchbar {
  justify-content: flex-start;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  .search {flex-basis: 75%;
    &::before {
      position: relative;
      font-family: 'Material Icons';
      font-size: 1.25rem;
      content: 'search';
      color: white;
      left: 2.5rem;
      top: .25rem;
    }
  }
  @include break-on(sm, max) {display: none;}
}
mat-icon { 
  &.search { padding-right: 1rem; }
  &.person { padding-right: 0.75rem;
    @include break-on(sm, min) {padding-right: 0;}
  }
  &.more {padding-right: 0.75rem;
    @include break-on(sm, min) {padding-right: 0;}
  }
}
mat-toolbar button {min-width: 1.5rem; width: 1.5rem; padding: 0;}

//Placeholder
::-webkit-input-placeholder { color: white; }
::-moz-placeholder { color: white; }
:-ms-input-placeholder { color: white; }
:-moz-placeholder { color: white; }
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }