<mat-toolbar color="primary" class="header-toolbar mat-elevation-z6">
  <div class="inline">

    <div class="menu-burger pointer">
      <span tabindex="0" role="navigation">
        <span [class.selected]="wasClicked" (click)="toggleSideNav()" class="hamburger sm-show">
          <span class="burger-toggle"></span>
          </span>
      </span>
    </div><!--/menu-burger-->
    
    <a role="link" attr.aria-label="{{'frontpage.lead' | translate}}" [routerLink]="[logoLink]" class="header-logo">
      <span>Edu<span class="bold">portaal</span></span>
      <!-- <img src="assets/logo.png" /> -->
    </a>
    <!-- This fills the remaining space of the current row -->
    <!-- <div class="head-container"> -->
    <div class="fill-space sm-hide">
      <div class="fill-space__flex">
        <div class="searchbar">
          <span class="search" [hidden]="hideElement">
            <input role="search" class="search-input round-input" (keyup.enter)="searchRoute(param)" [(ngModel)]="param" placeholder="{{'button.search_from_page' | translate}}" />
            <a role="button" (click)="searchRoute(param)" href="javascript:void(0)" class="search-icn"></a>
          </span>
        </div>
        <div class="loginbar">

        <app-login></app-login>

          <div *ngIf="languages" class="languages pull-right">
            <mat-menu #appMenu="matMenu" overlapTrigger="false" direction="right" xPosition="before">
              <button [class.mat-menu-item-active]="item.argument === activeLanguage" role="button" mat-menu-item *ngFor="let item of languages" (click)="changeLanguage(item.argument)" attr.aria-label=" {{'frontpage.lang' | translate}} {{ item.argument }}">{{ item.argument === 'et' ? 'EST' : 'ENG' }}</button>
            </mat-menu>
            <a href="javascript:void(0)" [matMenuTriggerFor]="appMenu" >{{activeLanguage === 'et' ? 'EST' : 'ENG'}}<span class="htm-icon">keyboard_arrow_down</span></a>
          </div>

  

        </div>
      </div>
    </div>
    <span class="mob-space sm-show"></span>
    <a href="javascript:void(0)" (click)="searchRoute(param)"><span class="htm-icon search sm-show">search</span></a>

    <app-login class="sm-show"></app-login>

    <div *ngIf="languages" class="languages sm-show pull-right">
      <mat-menu #appMenu="matMenu" overlapTrigger="false" direction="right" xPosition="before" role="button">
        <button mat-menu-item [class.mat-menu-item-active]="item.argument === activeLanguage" *ngFor="let item of languages" (click)="changeLanguage(item.argument)" attr.aria-label=" {{'frontpage.language'}} {{ item.argument }} ">{{ item.argument === 'et' ? 'EST' : 'ENG' }}</button>
      </mat-menu>
      <a href="javascript:void(0)" [matMenuTriggerFor]="appMenu" >{{activeLanguage === 'et' ? 'EST' : 'ENG'}}<span class="htm-icon">keyboard_arrow_down</span></a>
    </div>
  </div><!--/inline-->
</mat-toolbar>