.round-input {
  &__wrapper {
    margin-top: -18px;
    padding-right: 0.125rem;
    overflow: hidden;
    text-overflow: ellipsis;
    ::placeholder {color: #757575; opacity: 1; font-size: 0.875rem; overflow: hidden;}
    &:focus-within {
      .round-input__title {color: #2e3374;}
      .round-input__field-wrapper {border-color: #2e3374;}
    }
  }
  &__field-wrapper {
    display: inline-flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    border: solid 1px #c7c7c9;
    border-radius: 1.25rem;
    background: white;
    height: 38px;
  }
  &__field {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.875rem;
    line-height: 2;
    height: 22px;
    padding: 0.5rem 0rem 0.5rem 1rem;
    border: none;
    border-radius: 1.25rem;
    width: stretch;
  }
  &__clear {
    &.mat-icon-button, .mat-icon-button {
      .mat-datepicker-toggle-default-icon {fill: #d5401a;}
      height: 38px;
      width: 38px;
      &:hover {
        .mat-button-focus-overlay {background-color: rgba(0,0,0,0);}
      }
    }
  }
  &__title {
    top: 9px;
    white-space: nowrap;
    padding: 0.25rem 0.5rem 0 0.5rem;
    position: relative;
    background: #ffffff;
    font-size: 0.75rem;
    left: 24px;
  }
}