.round-input {
  &__wrapper {
    margin-top: -18px;
    padding-right: 0.125rem;
    overflow: hidden;
    text-overflow: ellipsis;
    ::placeholder {color: $dark-gray; opacity: 1; font-size: 0.875rem; overflow: hidden;}
    &:focus-within {
      .round-input__title {color: $blue;}
      .round-input__field-wrapper {border-color: $blue;}
    }
  }
  &__field-wrapper {
    display: inline-flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    border: solid 1px $gray;
    border-radius: 1.25rem;
    background: $white;
    height: 38px;
  }
  &__field {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.875rem;
    line-height: 2;
    height: 22px;
    padding: $gutter 0 $gutter $small;
    border: none;
    border-radius: 1.25rem;
    width: stretch;
  }
  &__clear {
    &.mat-icon-button, .mat-icon-button {
      .mat-datepicker-toggle-default-icon {fill: $red;}
      height: 38px;
      width: 38px;
      &:hover {
        .mat-button-focus-overlay {background-color: rgba(0,0,0,0);}
      }
    }
  }
  &__title {
    top: 9px;
    white-space: nowrap;
    padding: $half-gutter $gutter 0 $gutter;
    position: relative;
    background: $white;
    font-size: $quarter;
    left: $medium;
  }
}