.mat-toolbar.mat-primary {
  background:#2e3374;
}
.header-logo {
  width: 260px;
  span {font-weight: 300;}
  span.bold {font-weight: 500;}
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 1.25rem;
  line-height: 1.4;
  text-align: center;
  color: #ffffff;
}
.searchbar {
  justify-content: flex-start;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 2.5rem;
  .search {
    flex-basis: 75%; 
    .mat-input-flex.mat-form-field-flex {
      background-color: rgba(255, 255, 255, 0.1);
    }
    .mat-input-flex.mat-form-field-flex {
      border: 1px solid transparent;
    }
    .mat-form-field-label {
      color: white;
      font-weight: 300;
      top: 1.375rem;
      &:before {
        @extend .material-icons;
        content: 'search';
        position: relative;
        top: 3px;
        right: 4px;
      }
    }
  }
  @media (max-width: 900px) {
    display: none;
  }
  .mat-form-field-wrapper {padding-bottom: 0;}
}