.block {
    background: white;
    border-top: $gutter solid $gray;
    @include break-on(sm, min) {border-radius: $half-gutter;}
    margin-bottom: $small;
    h1 {
        color: #333333;
        font-size: $medium;
    }
    h2 {
        margin-top: 0;
        color: #333333;
        font-size: $small;
    }
    &__inline {display: inline;
        &--item {display: inline; padding: 0 $gutter;
            &:first-child {padding-left: 0;}
        }
    }
}
.no-results{padding:2rem 0; text-align: center;}
.left-col .block, .blue-container .block, .blue-block {
    border-top-color: $light-blue;
}
.right-col .block, .orange-container .block, .orange-block {
    border-top-color: $orange;
}
.block-title {
    font-size: $small;
    text-transform: uppercase;
    color: #757575;
    margin-bottom: $small;
}
.padding-block {
    padding: $medium;
    &.lg-bottom {padding-bottom: $xxl;
        &--extra {padding-bottom: 4.5rem;
            @include break-on(sm, min) {padding-bottom: $xxl}
        }
    }
    &.sm-top {padding-top: $small;}
    &.mob-bottom {@include break-on(sm, max) {margin-bottom: $xxl}}
}