.block {
  overflow-x:hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  background: white;
  border-top: $gutter solid $gray;
  margin-bottom: $small;
  &.border-orange{border-top-color:$orange;}
  &.border-blue{border-top-color:$light-blue;}

  @include break-on(sm, min) {
    border-radius: $half-gutter;
  }
  p {
    line-height: 1.375rem;
  }
  h1 {
    color: #333333;
    font-size: $medium;
    &.medium {font-size: 1.25rem; line-height: 1.875rem;}
    &.main-title {color: $black;line-height: 1.875rem;}
  }
  h2 {
    margin-top: 0;
    color: #333333;
    font-size: $small;
  }
  &__actions {
    padding-top: 1.5rem;
    &.sm-top {padding-top: 1rem;}
  }
  &__notice {
    margin-top: 2rem;
    &.ERROR {margin-bottom: 0;}
  }
  &__main {
    @include break-on(sm, min) {
      margin-left: 1.5rem;margin-right: 1.5rem;padding-top: 1rem;
    }
  }
  &__body {
    h2 {margin: 2rem 0 .5rem 0;line-height: 1.375rem;}
  }
  &__form {
    &.sm-top {padding-top: 1rem;}
    &__elem {
      &--66 {
        flex-basis: 66%;
        @include break-on(xs, max) {
          flex-basis: 100%;
        }
      }
    }
  }
  &__inline {
    display: inline;
    &--item {
      display: inline;
      padding: 0 $gutter;
      &:first-child {
        padding-left: 0;
      }
    }
  }
  .recaptcha {padding-top: 0;}
  &__introduction {font-size: 1rem; line-height: 1.375rem; color: $black;padding-top: 1.5rem;font-weight: 500;
    > p:first-child { margin-top: 0; }
  }
  &__head {display: flex; margin:-1.5rem -1.5rem 1rem -1.5rem;
    @include break-on(sm, min) {border-bottom: 1px solid $gray;}
    &.no-border{border:none;}
    &.no-bottom{margin-bottom:0;}
    &__title{padding:$small $medium; font-size:1rem; line-height:2rem; color:$dark-gray; flex-grow: 1;}

    &__buttons{flex-shrink: 0; display:flex;
      .view-item{position:relative; border-left:$gray 1px solid; padding:0 $medium; display: flex; flex-direction: column; text-align: center; justify-content: center; font-size:0.875rem; color:$blue; cursor:pointer; font-weight: 100;
        &.active{color:$black;pointer-events: none;cursor: initial;
          &:after{position:absolute; bottom:0; left:0; right:0; height:3px; background:$dark-orange; overflow: hidden; content:" ";}
        }
        .htm-icon{width:100% !important; line-height:1.5rem; font-size:1.5rem; margin-bottom:2px;}
      }
    }
  }

  &__tools{display:flex; align-items:center; padding-bottom:1rem;
    .title-tag{height:1.5625rem; line-height:1.5625rem; padding:0 12px; border-radius:999px; background:$light-orange; margin-left:2rem; display:inline-block; font-size:0.875rem;
      &:first-child{margin-left:0;}
    }
  }

}

.no-results { padding: 2rem 0; text-align: center; }

.left-col .block, .blue-container .block, .blue-block { border-top-color: $light-blue; }

.right-col .block, .orange-container .block, .orange-block { border-top-color: $orange; }

.block-title { font-size: $small; text-transform: uppercase; color: #757575; margin-bottom: $small; }

.block-title-big { font-size:1.25rem; color:$black; font-weight: 500; margin:0;}

.padding-block { padding: $medium;
  &.lg-bottom { padding-bottom: $xxl;
    &--extra { padding-bottom: 4.5rem;
      @include break-on(sm, min) {
        padding-bottom: $xxl
      }
    }
  }
  &.sm-top { padding-top: $small; }
  &.gutter-bottom { padding-bottom: $gutter; }
  &.mob-bottom {
    @include break-on(sm, max) {
      margin-bottom: $xxl
    }
  }
  &--content {
    padding-top: .5rem;line-height: 1.375rem;
    hr {margin: 1rem -1.5rem;border: solid 1px $light-gray;}
  }
  .block__footer {padding-bottom: .5rem;}
}