#left-col .block {
    border-top-color: $light-blue;
}
#right-col .block {
    border-top-color: $orange;
}
.block {
    background: white;
    border-top: $gutter solid $gray;
    @include break-on(sm, min) {border-radius: $half-gutter;}
    margin-bottom: 1rem;
}
.padding-block {
    padding: 24px;
}