.mat-sidenav {
  @media (max-width:900px) {
    margin-left: 0;
  }
  .side-menu-wrapper { 
    min-height: 100%;
    border: solid 1px $gray;
  }
  .mat-menu-item {
    border-left: 5px solid transparent;
    line-height: 1.25rem;
    padding: 0 1.1875rem;
    span { font-size: $small !important }
  }
  .mat-menu-item-active {
    font-weight: normal !important;
    border-left: 5px solid $dark-orange;
    transition: border-left .3s cubic-bezier(.55,0,.55,.2);
  }
  .mat-menu-item-active-parent {
    transition: border-left .3s cubic-bezier(.55,0,.55,.2);
    font-weight: normal !important;
    border-left: 5px solid $dark-orange;
  }
  .menu-category {
    color: #9b9b9b;
    padding: $medium $medium $small $medium;
    font-size: $small;
    font-weight: normal;
  }
  .ul-styleless.category {
    // padding-bottom: 0.625rem;
    border-bottom: solid 1px $gray;
  }
}