$white: #ffffff;
$light-gray: #eeeeee;
$gray: #c7c7c9;
$dark-gray: #757575;
$black: #333333;
$blue: #2e3374;
$light-blue: #15adc2;
$orange: #f8b243;
$red: rgba(208, 2, 27, 0.87);


h2 {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #2e3374;
  margin-top: 0;
  margin-bottom: 0;
}