@import "../../../assets/styles/typography.scss";
.search {background: $white;border-top: $gutter solid $light-blue;
  @include break-on(sm, min) {border-radius: $half-gutter;margin-bottom: $medium;margin-right: $medium;margin-left: $medium;padding-bottom: $small;}
  @include break-on(lg, min) {margin-right: 0;margin-left: 0;}
  &__title {font-size: $small;line-height: 2;color: $dark-gray; padding: $small $medium $small $medium;border-bottom: .0625rem solid $gray;
    &--filter {font-size: $small; line-height: 1.875rem;padding: $small $medium $quarter $medium;color: $black;font-weight: 500;}
  }
  &__sub {padding: $small $medium;border-bottom: .0625rem solid $gray;display: block;text-decoration: none;
    &:hover .search__sub--title {text-decoration: underline;}
    @include break-on(sm, min) {&:last-child {border-bottom: none;padding-bottom: 0;}}
    &--category {font-size: 0.875rem;line-height: 1.43;color: $dark-gray;padding-bottom: $half-gutter;}
  }
  &__chips {display: flex;flex-wrap: wrap;margin: -$quarter $small .25rem;
    &--chip {border-radius: 1.25rem;padding: $gutter $medium;border: solid .0625rem $gray;text-decoration: none;
      margin: $quarter $gutter;font-size: .875rem;line-height: 1.25rem;color: $black;font-weight: 300;
      &.selected {background-color: $aqua;border-color: $aqua;}
      &:hover {border-color: $blue;}
    }
  }
  &.with-results {padding-bottom: $medium;
    @include break-on(sm, min) {padding-bottom: $xxl}
  }
  .alert {padding: $large $medium;font-size: $medium;line-height: $large;color: $black;}
}
.actions {margin-bottom: $xxl;margin-left: $medium; margin-right: $medium;
  @include break-on(sm, min) {margin-left: 0; margin-right: 0;}
}
.filter-wrapper {margin-top: $medium;
  .btn {width: 100%; padding-top: $medium;}
  @include break-on(sm, min) {margin-top: $small;padding-top: 1.5rem;
    .btn {width: auto;padding-top: 0;margin-left: $small;}
  }
}
.grow.full {padding-right: 0;}