<div class="row sm-hide crumbs" attr.aria-label="{{'breadcrumbs.breadcrumb' | translate}}">
  <div class="col-12">
    <ul role="link" class="main-container breadcrumb mt-0 mb-0" *ngIf="breadcrumbs && !loading">
      <li *ngFor="let breadcrumbEl of breadcrumbs; let last = last">
        <a [routerLink]="[breadcrumbEl.url]" *ngIf="!last">
          <span role="link">{{ breadcrumbEl.text }}</span>
        </a>
        <span role="dialog" attr.aria-current="{{'page'}}" *ngIf="last">{{ breadcrumbEl.text | ellipsis:30 }}</span>
      </li>
    </ul>
  </div>
</div>

<form (submit)="getResults(param, [])" class="filter-wrapper">
  <div class="main-container">
    <div class="flex wrap">
      <div class="grow full">
        <div class="round-input__wrapper" [class.complete]="param">
          <span class="round-input__title">{{'search.keyword' | translate}}</span>
          <div class="round-input__field-wrapper">
            <input attr.aria-label="{{ 'button.search_from_page' | translate }}" class="round-input__field" placeholder="{{'search.keyword' | translate}}" [(ngModel)]='param' name="param" />
          </div>
        </div>
      </div>
      <div class="btn">
        <button attr.aria-label="{{ 'button.search' | translate }}" mat-raised-button color="primary">{{ 'button.search' | translate}}</button>
      </div>
    </div>
  </div>
</form>
<div class="main-container">
  <div class="search" [class.with-results]="filteredResults && filteredResults.length">
    <div class="search__body">
      <div class="search__title">{{ 'search.results' | translate | uppercase }}</div>
      <div *ngIf="filteredResults && filteredResults.length" class="search__title--filter">{{ 'search.filter_results' | translate }}:</div>
      <ng-container *ngIf="filteredResults && filteredResults.length">
        <div class="search__chips" role="group" attr.aria-label="Search filter">
          <a id="initial" (keyup.enter)="filterAll()" (click)="filterAll()" *ngIf="results && results.length" href="javascript:void(0)" attr.aria-label="Filter: {{'button.all' | translate}} {{'search.results' | translate}}, status: {{allFilters ? 'On': 'Off'}}, count: {{ results.length }}" class="search__chips--chip pointer" [class.selected]="allFilters">{{'button.all' | translate}} <span>({{results.length}})</span></a>
          <ng-container *ngFor="let chip of types; let i = index;">
            <a *ngIf="chip.sum" href="javascript:void(0)" attr.aria-label="{{chip.name | translate}}, status: {{chip.value ? 'On': 'Off'}}, count: {{ chip.sum }}" (click)="filterView(i)" class="search__chips--chip pointer" [class.selected]="chip.value">{{chip.name | translate}} <span>({{chip.sum}})</span></a>
          </ng-container>
        </div>
      </ng-container>
      <mat-spinner *ngIf="loading"></mat-spinner>
      <ng-container *ngIf="filteredResults && filteredResults.length">
        <ng-container *ngFor="let item of filteredResults;let i = index;">
          <a tabindex="0" id="{{i}}" href="javascript:void(0)" attr.aria-label="{{ item.ContentType }}: {{ item.Title }}" *ngIf="i < listLimit" class="search__sub pointer" [routerLink]="[item.EntityPath]">  
            <div class="search__sub--category">{{ item.ContentType }}</div>
            <div class="search__sub--title"><h1>{{ item.Title }}</h1></div>
          </a><!--ngFor-->
        </ng-container>
      </ng-container>
    </div><!--/search__body-->
    <div class="text-center actions__error" *ngIf="!loading && filteredResults !== null && filteredResults.length === 0">
      <div class="alert" role="alert">{{'search.no_results_start' | translate}} <span *ngIf="route.snapshot.queryParams['term']">"{{route.snapshot.queryParams['term']}}" </span><span innerHtml="{{'search.no_results_end' | translate}}"></span></div>
    </div><!--/text-center-->
    <div class="text-center actions__error" *ngIf="!loading && !filteredResults">
      <div class="alert" role="alert">{{ 'news.no_results' | translate }}</div>
    </div><!--/text-center-->
  </div>
  <div class="text-center actions" *ngIf="listLength > listLimit && filteredResults && filteredResults.length">
    <button mat-raised-button color="primary" (click)="loadMore()" role="button" >{{ 'button.load_more' | translate }}</button>
  </div><!--/text-center-->
</div>


