@import "../../../assets/styles/typography.scss"; 
.related {padding: $gutter $medium $xxl $medium;
  h1 {font-size: 1.25rem;}
  .author {padding-bottom: $gutter;font-size: 0.875rem;line-height: 1.43;color: $dark-gray;}
  div:hover {
    h1 {
      text-decoration: underline;
    }
  }
}

a:visited {
  color: $red!important;
}
