<breadcrumbs></breadcrumbs>
 
  <form (submit)="filterSubmit()" class="filter-wrapper" *ngIf="showFilter">
    <div class="main-container">
      <div class="row">
        <div class="col-4 sm-12">
          <div class="round-input__wrapper" [class.complete]="filterFormItems.title">
            <span class="round-input__title">{{ 'studyProgramme.search.name' | translate }}</span>
            <div class="round-input__field-wrapper">
              <input class="round-input__field" placeholder="{{ 'studyProgramme.search.name' | translate }} " [(ngModel)]='filterFormItems.title' name="title" />
            </div>
          </div><!--/round-inpuit__wrapper-->
        </div><!--/col-4-->

        <div class="col-4 sm-12" >
          <div class="round-input__wrapper">
            <mat-form-field *ngIf="FilterOptions" >
              <mat-select placeholder="{{ 'studyProgramme.search.type' | translate }}" [(ngModel)]='filterFormItems.type' name="type">
                <mat-option>{{ 'all' | translate }}</mat-option>
                <mat-option *ngFor="let type of FilterOptions.type" [value]="type.tid">
                  {{type.entityLabel}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div><!--/col-4-->

        <div class="col-3 align-end text-right sm-12 inline-flex sm-hide" *ngIf="!filterFull">
          <div class="align-center filter-state sm-hide">       
            <a href="javascript:void(0);"  (click)="filterFull = !filterFull">
              <span class="md-hide">Täpsem otsing</span>
              <span class="md-show">Täpne</span>
            </a>
          </div>
          <div class="button-row">
            <button mat-raised-button color="primary">Otsi</button>
          </div>
        </div><!--/col-3-->
      </div><!--/row-->
      <ng-container *ngIf="filterFull">
        <div class="row" >
            <div class="col-4 sm-12" >
              <div class="round-input__wrapper">
                <mat-form-field *ngIf="FilterOptions" >
                  <mat-select placeholder="{{ 'studyProgramme.level' | translate }}" [(ngModel)]='filterFormItems.level' name="level">
                    <mat-option>{{ 'all' | translate }}</mat-option>
                    <mat-option  *ngFor="let level of FilterOptions.level" [value]="level.tid">
                      {{level.entityLabel}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div><!--/col-4-->

            <div class="col-4 sm-12">
              <div class="round-input__wrapper">
                <mat-form-field *ngIf="FilterOptions" >
                  <mat-select placeholder="{{ 'studyProgramme.search.iscedf_broad' | translate }}" (change)="isceChange(filterFormItems.iscedf_broad, 'iscedf_broad')" [(ngModel)]='filterFormItems.iscedf_broad' name="iscedf_broad">
                    <mat-option>{{ 'all' | translate }}</mat-option>
                    <mat-option *ngFor="let iscedf_broad of FilterOptions.iscedf_broad" [value]="iscedf_broad.entityId">
                      {{iscedf_broad.entityLabel}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div><!--/col-4-->
        </div>
        <div class="row" >
            <div class="col-4 sm-12" >
              <div class="round-input__wrapper">
                <mat-form-field *ngIf="FilterOptions" >
                  <mat-select placeholder="{{ 'studyProgramme.search.language' | translate }}" [(ngModel)]='filterFormItems.language' name="language">
                    <mat-option>{{ 'all' | translate }}</mat-option>
                    <mat-option  *ngFor="let language of FilterOptions.language" [value]="language.tid">
                      {{language.entityLabel}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div><!--/col-4-->
             
            <div class="col-4 sm-12">
              <div class="round-input__wrapper" [class.disabled]="!filterFormItems.iscedf_broad">
                <mat-form-field *ngIf="FilterOptions" >
                  <mat-select [disabled]="!filterFormItems.iscedf_broad" placeholder="{{ 'studyProgramme.search.iscedf_narrow' | translate }}" (change)="isceChange(filterFormItems.iscedf_narrow, 'iscedf_narrow')" [(ngModel)]='filterFormItems.iscedf_narrow' name="iscedf_narrow">
                    <mat-option>{{ 'all' | translate }}</mat-option>
                    <mat-option *ngFor="let iscedf_narrow of FilterOptions.iscedf_narrow" [value]="iscedf_narrow.entityId">
                      {{iscedf_narrow.entityLabel}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div><!--/col-4-->
        </div>
        <div class="row" >
            <div class="col-4 sm-12" >
           
              <div class="round-input__wrapper" [class.complete]="filterFormItems.school">
                <span class="round-input__title">{{ 'studyProgramme.search.school' | translate }}</span>
                <div class="round-input__field-wrapper">
                 
                  <input class="round-input__field" placeholder="{{ 'studyProgramme.search.school' | translate }} " [(ngModel)]='filterFormItems.school' name="school" />
                 

                </div>
              </div><!--round-inpuit__wrapper-->
              
            </div><!--/col-4-->

            <div class="col-4 sm-12">
              <div class="round-input__wrapper" [class.disabled]="!filterFormItems.iscedf_narrow">
                <mat-form-field *ngIf="FilterOptions">
                  <mat-select  [disabled]="!filterFormItems.iscedf_narrow" placeholder="{{ 'studyProgramme.search.iscedf_detailed' | translate }}" (change)="isceChange(filterFormItems.iscedf_detailed, 'iscedf_detailed')" [(ngModel)]='filterFormItems.iscedf_detailed' name="iscedf_detailed">
                    <mat-option>{{ 'all' | translate }}</mat-option>
                    <mat-option  *ngFor="let iscedf_detailed of FilterOptions.iscedf_detailed" [value]="iscedf_detailed.entityId">
                      {{iscedf_detailed.entityLabel}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div><!--/col-4-->
        </div>
        
        <div class="row" >
          <div class="col-4 sm-12" >
              <div class="round-input__wrapper" [class.complete]="filterFormItems.location">
                <span class="round-input__title">{{ 'studyProgramme.search.location' | translate }}</span>
                <div class="round-input__field-wrapper">
                  <input class="round-input__field" placeholder="{{ 'studyProgramme.search.location' | translate }} " [(ngModel)]='filterFormItems.location' name="location" />
                </div>
              </div><!--/round-inpuit__wrapper-->
          </div><!--/col-4-->
          <div class="col-4 sm-12" >
              <div class="custom-checkbox" style="margin-top: 0.5rem">
                  <mat-checkbox [(ngModel)]="filterFormItems.open_admission" name="open_admission"> {{ 'studyProgramme.search.open_admission' | translate }}</mat-checkbox>
              </div>
            
          </div><!--/col-4-->
          <div class="col-3 align-end text-right sm-12 inline-flex">
            <div class="align-center filter-state sm-hide">       
              <a href="javascript:void(0);" (click)="filterFull = !filterFull">
                <span class="md-hide">Kitsam otsing</span>
                <span class="md-show">Kitsas</span>
              </a>
            </div>
            <div class="button-row">
              <button mat-raised-button color="primary">Otsi</button>
            </div>
          </div><!--/col-3-->
        </div><!--/row-->
      </ng-container>
    </div>
  </form>

<div class="studyProgramme main-container">
  <div class="studyProgramme__list-head">
    <div class="studyProgramme__head">
      <div class="studyProgramme__title text-left">{{ 'studyProgramme' | translate | uppercase }}</div>
    </div>
  </div><!--/studyProgramme__list-head-->

  
  <div class="spinner-wrapper" *ngIf="!list"><mat-spinner></mat-spinner></div>


  <div *ngIf="list && list.length > 0">

    <ng-container *ngFor="let item of list; let i = index">
      <div class="studyProgramme__item" [routerLink]="[item.entityUrl.path]">
          <div class="studyProgramme__item__titlebox">
            <div class="col-grow">
              <div class="studyProgramme__item__title">{{ item.entityLabel }}</div>
              <div class="studyProgramme__item__subtitle" *ngIf="item.fieldEducationalInstitution">
                  <ng-container *ngIf="item.fieldEducationalInstitution.entity">{{ item.fieldEducationalInstitution.entity.entityLabel }},</ng-container>
                  <ng-container *ngIf="item.fieldSchoolAddress">{{ item.fieldSchoolAddress }}</ng-container>
                  <a href="{{ item.fieldSchoolWebsite }}" *ngIf="item.fieldSchoolWebsite">{{  item.fieldSchoolWebsite | removeProtocol }}</a>
              </div>      
            </div><!--col-9-->
            <div class="col">
                <div class="custom-checkbox">
                  <mat-checkbox [checked]="compare[item.nid]" (change)="compareChange(item.nid, $event)">Lisa võrdlusesse</mat-checkbox>
                </div>
            </div><!--/col-3-->
          </div>
          
          <div class="studyProgramme__item__col sm-hide">
            <p *ngIf="item.fieldStudyProgrammeLevel">{{ 'studyProgramme.level' | translate }} : <b>{{ item.fieldStudyProgrammeLevel.entity.entityLabel }}</b></p>
            <p *ngIf="item.fieldAccreditationStatus">
              {{ 'studyProgramme.accreditation' | translate }}: <b>{{ 'studyProgrammes.valid_accreditation' | translate }}</b></p>
          </div><!--/scools__item__col-->
          <div class="studyProgramme__item__col sm-hide">
              <p *ngIf="item.fieldTeachingLanguage">
                  {{ 'studyProgramme.languages' | translate }}: 
                <b *ngFor="let language of item.fieldTeachingLanguage; let last = last">
                  <span *ngIf="!last">{{ language.entity.entityLabel }},</span>
                  <span *ngIf="last">{{ language.entity.entityLabel }}</span>
                </b>
              </p>            
            <p *ngIf="item.fieldDurationYears || item.fieldDurationMonths">
              {{ 'studyProgramme.period' | translate }}: 
              <b>
                <ng-container *ngIf="item.fieldDurationYears" >
                    {{ item.fieldDurationYears }}
                    <span *ngIf="item.fieldDurationYears < 2">{{ 'duration.year.singular' | translate }}</span>
                    <span *ngIf="item.fieldDurationYears > 1">{{ 'duration.year.plural' | translate }}</span>
                </ng-container>
                <ng-container *ngIf="item.fieldDurationMonths">
                    {{ item.fieldDurationMonths }}
                    <ng-container *ngIf="item.fieldDurationMonths < 2">{{ 'duration.month.singular' | translate }}</ng-container>
                    <ng-container *ngIf="item.fieldDurationMonths > 1">{{ 'duration.month.plural' | translate }}</ng-container>
                    
                </ng-container>
                
                
              </b>
            </p>
          </div><!--/scools__item__col-->
          <div class="studyProgramme__item__col sm-hide">
              <p *ngIf="item.fieldIscedfDetailed">
                  {{ 'studyProgramme.studygroup' | translate }} : 
                <b>{{item.fieldIscedfDetailed.entity.entityLabel}}</b>
              </p>            
            <p *ngIf="item.fieldAdmissionStatus">{{ 'studyProgramme.admission' | translate }}: <b>{{ item.fieldAdmissionStatus }}</b></p>
          </div><!--/scools__item__col-->
      </div><!--/studyProgramme__item-->
    </ng-container><!--/list repeat-->
  </div><!--/list-->

</div><!--/studyProgramme-->

<div class="text-center actions" *ngIf="!listEnd && list">
    <mat-spinner *ngIf="loading" diameter="20" style="margin:0 auto;"></mat-spinner>
    <button mat-raised-button color="primary" (click)="loadMore()"  *ngIf="!loading">
      {{ "load.more" | translate }}
    </button>
  </div><!--/text-center-->