@import 'colors.scss';
@import 'breakpoints.scss';

:host {
  .noResults{
    display: block;
    text-align: center;
    padding: 1.5rem;
  }

 
  .loadMore, loader.loadMore{
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 6rem;
    background-color: $white;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
    margin-bottom: -1.6rem;
    @include break-on(sm, min){
      background-color: $light-gray;
    }
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    button {
      width: 100%;
      @include break-on(sm, min){
        width: auto;
      }
    }
  }

  ::ng-deep block {
    margin-bottom: 0;
    .block__content {
      padding-bottom: 0;
    }
  }
}