<div class="noResults" *ngIf="!list?.length && !loading">
  {{ noResultStringByType | translate }}
</div>
<label-count *ngIf="searchWithParams && listItemCount && list?.length" [count]="listItemCount">{{ 'search.results_of' | translate }}: </label-count>
<listItems
  *ngIf="list?.length"
  [type]="type"
  [list]="list"
  [compare]="compare"
></listItems>
<loader *ngIf="loading"></loader>
<loader class="loadMore" *ngIf="loadingMore"></loader>
<div class="loadMore" *ngIf="!loading && !loadingMore && canLoadMore">
  <button htm-button (click)="loadMore()">
    <span>{{ 'button.load_more' | translate }}</span>
    <span *ngIf="listItemCount && list?.length && (listItemCount - list.length > 0)"> ({{ listItemCount - list.length }})</span>
  </button>
</div><!--/loadMore-->


