@import 'colors.scss';
@import 'breakpoints.scss';

:host {
  ::ng-deep .block__title__secondary__text {
    margin: 0;
    hr {
      border: 0;
      border-bottom: 1px solid $light-gray;
    }
  }
  ::ng-deep .button-row {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    button:first-child {
      margin-right: 1.5rem;
    }
  }
  ::ng-deep .split {
    display: flex;
    align-items: center;
    formItem {
      width: 100%;
      &:first-child {
        margin-right: 1.5rem;
      }
      &.formItem--checkbox {
        text-align: center;
      }
    }
  }
  ::ng-deep #modal-finalDocument-addAccess {
    min-width: unset;
    max-width: 27.5rem;

    .required-info {
      margin-top: 0;
      margin-bottom: 1.5rem;
      font-size: 0.875rem;
    }

    .border-top {
      border-top: 1px solid $gray;
      margin-top: 1.5rem;
      padding-top: 1.5rem;
    }
  }
  ::ng-deep #modal-finalDocument-access {
    min-width: unset;
    max-width: 27.5rem;
    h1 {
      margin-bottom: 0.5rem;
    }
    labels div {
      margin-bottom: 0;
    }
    .line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $gray; 
      padding-bottom: 1rem;
      margin-bottom: 1.5rem;
      h2 {
        margin-right: 0.75rem;
        margin-bottom: 0;
      }
      labels {
        margin-right: 1rem;
      }
      @include break-on(xs, max) {
        button {
          text-align: left;
        }
      }
    }
  }
  ::ng-deep #modal-finalDocument-invalidAccesses {
    table {
      icon {
        color: $dark-gray;
      }
      td:nth-child(2) {
        word-break: break-all;
      }
    }
  }
  ::ng-deep #modal-finalDocument-confirmInvalidation {
    max-width: 33rem;
    min-width: unset;
    h1 {
      text-align: center;
    }
  }
  ::ng-deep .duplicate-badge {
    height: 40px;
    width: 180px;
    color: $error;
    background-color: rgba($color: $error, $alpha: 0.1);
    border-radius: 40px;
    margin: 0 auto;
    font-size: initial;
    font-weight: 200;
    display: inline-block;
    line-height: 2.5;
    text-align: center;
    margin-left: 2rem;
    @include break-on(sm, max) {
      margin: 0;
    }
  }
}
