@import 'typography.scss';

:host {
  ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0;
  }
  li {
    margin-bottom: .75rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  a {
    display: flex;
  }
  icon {
    margin-right: 12px;
  }

  h2 {
    font-size: $small + $half-gutter;
    margin: 0;
  }
}
