@import "typography.scss";
@import "breakpoints.scss";

.logo{
    margin-bottom: $medium;
    img{
        width: 100%;
        max-width: 200px;
        height: auto;
    }
}

.link-list{
    list-style: none;
    padding: 0;
    icon {
        vertical-align: top;
        margin-right: $gutter;
        color: #2e3374;
    }
}

::ng-deep{
    sidebar{
        margin: 0;
    }
}

::ng-deep{
    i {
        font-size: 1.2rem !important;
    }
}