<div class="outer__wrapper--dark">
  <div class="wrapper main-container">
    <div class="wrapper__heading">
      <span class="wrapper__heading__label">{{ heading | translate | uppercase }}</span>
      <span class="wrapper__heading__action">
        <a attr.aria-label="{{ generalLink.name | translate }}" [routerLink]="generalLink.url" href="javascript:void(0);">
          <span class="sm-hide">{{ generalLink.name | translate }}</span>
          <span class="sm-show">{{ 'button.view_all' | translate }}</span>
        </a>
      </span>
    </div>
    <article class="wrapper__article row">
      <a href="javascript:void();" class="col-4 sm-12 pointer article" *ngFor="let item of content; let first = first;" [routerLink]="item[contentLabels.url].path">
        <div class="article__image" *ngIf="item[contentLabels.image]">
          <img src="{{ item[contentLabels.image].derivative.url }}" alt="{{ item[contentLabels.image].alt }}"/>
        </div>
        <span class="article__date" *ngIf="item[contentLabels.date]" attr.aria-label="{{ 'event.start_time' | translate }}">{{ 'date' }}</span>
        <h1 class="article__title" *ngIf="item[contentLabels.title]">{{ item[contentLabels.title] }}</h1>
        <div class="article__author" *ngIf="item[contentLabels.subtext]">{{ item[contentLabels.subtext] }}</div>
      </a>
    </article>
  </div>
</div>