<article-layout>
	<div class="inline">
		<breadcrumbs [data]="breadcrumbs"></breadcrumbs>
	</div>
	<div class="inline">
		<block>
			<block-title>
				{{'gdpr_title' | translate}}
			</block-title>
			<block-secondary-title
				>{{'gdpr_yourDataRequests' | translate}}<a routerLink="/töölaud"
					>{{'button.back_to_dashboard' | translate}}</a
				></block-secondary-title
			>
			<block-content>
				<loader *ngIf="loading"></loader>
				<p *ngIf="!loading && (!data || groupedData.length === 0)">
					{{'xjson.data_missing' | translate}}
				</p>
				<accordion *ngIf="!loading && groupedData.length > 0">
					<accordion-item [title]="group.institution + ' <span>(' + group.queries.length + ' päringut)</span>'" *ngFor="let group of groupedData" >
						<div class="check-website" *ngIf="group.link">
							Vaata kodulehte: <span [innerHTML]="group.link"></span>
						</div>
						<table htm-table>
							<tr *ngFor="let query of group.queries">
								<td><span>{{query.logTime}}</span></td>
								<td [innerHTML]="query.action"></td>
							</tr>
						</table>
					</accordion-item>
				</accordion>
			</block-content>
		</block>
	</div>
</article-layout>
