@import "colors.scss";
@import "breakpoints.scss";

::ng-deep .sidemenu {
	width: 0;
	max-width: 16.25rem;
	overflow: hidden;
	height: calc(100vh - 4rem);
	min-height: 100%;
	overflow-y: auto;
	background: $white;
	display: inline-block;
	border-right: 0.0625rem solid $gray;
	box-sizing: border-box;
	position: relative;
	word-wrap: break-word;
	white-space: normal;
	flex-shrink: 0;
	box-shadow: 0 0.1875rem 0.0625rem -0.125rem rgba(0, 0, 0, 0.2),
	0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.14),
	0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.12);
	will-change: width;
	transition: width .2s cubic-bezier(0.215, 0.61, 0.355, 1);
	&.is-visible {
		z-index: 11;
		width: 16.25rem;
	}
	@include break-on(sm, max) {
		position: fixed;
	}
	ul,
	li {
		padding: 0;
		margin: 0;
		display: block;
	}
	> aside {
		height: 100%;
	}
	.space {
		padding: 1rem 1.5rem;
	}
	.sidemenu__category {
		&.expanded {
			border: 0.5px solid $light-gray;
			border-left: 0;
			box-sizing: border-box;
			box-shadow: 2px 2px 15px rgba(141, 141, 141, 0.25);
			border-radius: 4px;
			margin: 0 0 0.8rem 0;
			.sidemenu__button__category {
				padding: 1.2rem 1rem;
				&[aria-expanded=true] .chevron.shrink {
					display: inline-block;
				}
			}
		}
		sidemenu-item {
			.sidemenu__button {
				padding: 0.8rem 1rem;
				&:not(.with-submenu).active {
					border-left-color: $theme-default-darker;
					background-color: $theme-default;
				}
				&.with-submenu {
					&[aria-expanded=true] .chevron.expand {
						transform: rotate(90deg);
					}
					.chevron.expand {
						display: inline-block;
					}
				}
			}
			.sidemenu__item.active.expanded .sidemenu__button {
				border-left-color: $theme-default-darker;
			}
			sidemenu-item .sidemenu__button {
				padding: 0.8rem 3rem;
			}
			&#-ppimine {
				.sidemenu__item.active.expanded .sidemenu__button {
					border-left-color: $theme-learning-darker;
				}
				.sidemenu__button:not(.with-submenu).active {
					border-left-color: $theme-learning-darker;
					background-color: $theme-learning;
				}
			}
			&#karj-r {
				.sidemenu__item.active.expanded .sidemenu__button {
					border-left-color: $theme-career-darker;
				}
				.sidemenu__button:not(.with-submenu).active {
					border-left-color: $theme-career-darker;
					background-color: $theme-career;
				}
			}
			&#-petamine {
				.sidemenu__item.active.expanded .sidemenu__button {
					border-left-color: $theme-teaching-darker;
				}
				.sidemenu__button:not(.with-submenu).active {
					border-left-color: $theme-teaching-darker;
					background-color: $theme-teaching;
				}
			}
			&#noortevaldkond, &#noored {
				.sidemenu__item.active.expanded .sidemenu__button {
					border-left-color: $theme-young-darker;
				}
				.sidemenu__button:not(.with-submenu).active {
					border-left-color: $theme-young-darker;
					background-color: $theme-young;
				}
			}
		}
	}
	& .sidemenu__button {
		width: 16.25rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		overflow: hidden;
		padding: 1rem 1.5rem;
		text-decoration: none;
		border: none;
		border-left: 0.35rem solid transparent;
		cursor: pointer;
		color: $blue;
		background: none;
		font-family: inherit;
		font-size: 1rem;
		text-align: left;
		position: relative;
		transition: border-left-color,
		background-color 0.2s cubic-bezier(0.19, 1, 0.22, 1);
		&:hover {
			text-decoration: underline;
		}
		&.active {
			font-weight: 500;
		}
		.chevron {
			display: none;
			transition: transform cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
		}
		&__category {
			text-transform: uppercase;
			padding: 1.2rem 1.5rem;
		}
	}
	.sidemenu__info {
		padding: 1.5rem;
		text-align: center;
		color: $dark-gray;
		font-size: 0.875rem;
		font-weight: 300;
		width: 16.25rem;
		.version {
			margin-top: 0.25rem;
			padding-bottom: 1.5rem;
			line-height: 1;
		}
	}
}
;
