@import "colors.scss";
@import "breakpoints.scss";

::ng-deep .sidemenu {
	grid-area: sidemenu;
	-ms-grid-row: 2; 
	-ms-grid-row-span: 2; 
	-ms-grid-column: 1;
	height: calc(100vh - 4rem);
	min-height: 100%;
	overflow-y: auto;
	width: 16.25rem;
	background: $white;
	display: inline-block;
	border-right: 0.0625rem solid $gray;
	word-wrap: break-word;
	box-sizing: border-box;
	position: relative;
	box-shadow: 0 0.1875rem 0.0625rem -0.125rem rgba(0, 0, 0, 0.2),
		0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.14),
		0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.12);
	transform: translateX(-16.25rem);
	will-change: transform;
	transition: transform .2s cubic-bezier(0.215, 0.61, 0.355, 1);
	&.is-visible {
		z-index: 1;
		transform: translateX(0);
	}
	ul,
	li {
		padding: 0;
		margin: 0;
		display: block;
	}
	> aside {
		height: 100%;
		overflow-y: scroll;
	}

	.sidemenu__block {
		border-bottom: 0.0625rem solid $gray;
	}
	.sidemenu__category,
	.sidemenu__link {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: $white;
		color: $dark-gray;
		border: 0;
		line-height: 120%;
	}
	.sidemenu__category {
		padding: 1.5rem 1.5rem 1rem;
	}
	.sidemenu__link {
		padding: 0.875rem 1.1875rem;
		border-left: 0.3125rem solid transparent;
		cursor: pointer;
		box-sizing: border-box;
		text-decoration: none;
		color: $black;
		width: 100%;
		text-align: left;
		font-size: 1rem;
		font-weight: normal;
		transition: border-left-color,
			background-color 0.2s cubic-bezier(0.19, 1, 0.22, 1);
		overflow: hidden;
		position: relative;
		min-height: 3.25rem;
		+ ul {
			display: none;
		}
		icon {
			float: right;
		}
		&:hover, &--active{
			background-color: darken($white, 5%);
			border-left-color: $dark-orange;
		}
		&--active{
			font-weight: 500;
		}
	}
	.sidemenu__link[aria-expanded="true"] {
		border-left-color: $dark-orange;
		span {
			font-weight: bold;
			color: rgba(0, 0, 0, 0.87);
		}
		+ ul {
			display: block;
			.sidemenu__link {
				border-left-color: $dark-orange;
				span {
					position: relative;
					display: block;
					margin-left: 1rem;
				}
			}
		}
		icon {
			transform: rotateZ(180deg);
		}
	}
	.sidemenu__info {
		padding: 1.5rem;
		text-align: center;
		color: $dark-gray;
		font-size: 0.875rem;
		font-weight: 300;
		.version {
			margin-top: 0.25rem;
			padding-bottom: 1.5rem;
			line-height: 1;
		}
	}
	@include break-on(sm, min) {
		&{
			transform: translateX(0);
		}
		
	}
}

