<aside>
  <nav>
    <ul>
      <li *ngFor="let item of data.menu.links">
        <ng-container *ngIf="item.url.path === '#nocategory'; else category">
          <ul class="sidemenu__block">
            <li *ngFor="let item of item.links">
              <sidemenu-item [item]="item"></sidemenu-item>
            </li>
          </ul>
        </ng-container>
        <ng-template #category>
          <ul class="sidemenu__block">
            <li class="sidemenu__category">{{item.label}}</li>
            <li *ngFor="let item of item.links">
              <sidemenu-item [item]="item"></sidemenu-item>
            </li>
          </ul>
        </ng-template>
        
      </li>
    </ul>
  </nav>
</aside>