<aside *ngIf="!isLoading">
	<div class="space">
		<button htm-button theme="icon" attr.aria-label="{{ 'button.close' | translate }} {{
			'frontpage.main_menu' | translate
    }}" (click)="closeSidemenu()" #sidemenuCloser>
			<span class="button--label">
				<icon class="large" glyph="x" size="large" aria-hidden="true"></icon>
			</span>
		</button>
	</div>
	<div class="loader" *ngIf="!data || !data.length">
		<loader></loader>
	</div>
	<nav>
		<ng-container *ngIf="data && data.length">
			<sidemenu-item [items]="data" [type]="'category'" (hideToggle)="hideOthers($event)"></sidemenu-item>
		</ng-container>
		<div class="sidemenu__info">
			<div class="version">{{ 'frontpage.version' | translate }} {{version}}</div>
			<div class="support" innerHtml="{{ 'sidemenu.support_text' | translate }}"></div>
		</div>
	</nav>
</aside>
