<ul>
  <li *ngFor="let item of items" 
      class="sidemenu__{{ type }}"
      [class.active]="item.active"
      [class.expanded]="item.expanded">
    <a (click)="clickMenuItem(item, $event); false"
      class="sidemenu__button sidemenu__button__{{ type }}"
      href="{{ item.url.path }}"
      [attr.aria-expanded]="item.expanded"
      [attr.aria-controls]="item.label | slugify"
      [class.with-submenu]="item.links.length"
      [class.active]="item.active">
    <span>
      <icon class="chevron shrink small" glyph="chevron-left" size="small"></icon>
      {{item.label}}
      <icon class="chevron expand small" glyph="chevron-right" size="small"></icon>
    </span></a>
    <ng-container *ngIf="item.links.length && item.expanded">
      <sidemenu-item [items]="item.links" id="{{ item.label | slugify }}"></sidemenu-item>
    </ng-container>
  </li>
</ul>
