<ul>
  <li *ngFor="let item of items" 
      class="sidemenu__{{ type }}"
      [class.active]="item.active"
      [class.expanded]="item.expanded">
    
    <a (click)="clickMenuItem(item, $event); false"
      class="sidemenu__button sidemenu__button__{{ type }}"
      href="{{ item.url.path }}"
      [attr.aria-expanded]="item.links && item.links.length ? item.expanded : null"
      [attr.aria-controls]="item.links && item.links.length ? (item.label | slugify) : null"
      [class.with-submenu]="item.links && item.links.length"
      [class.active]="item.active"
      (mousedown)="animateRipple($event)"
      *ngIf="item.url.path !== '#nolink' && item.url.path !== '#nocategory'">
    <span>
      <icon class="chevron shrink small" glyph="chevron-left" size="small"></icon>
      {{item.label}}
      <icon class="chevron expand small" glyph="chevron-right" size="small"></icon>
    </span></a>

    <button (click)="clickMenuItem(item, $event); false"
      class="sidemenu__button sidemenu__button__{{ type }}"
      [attr.aria-expanded]="item.links && item.links.length ? item.expanded : null"
      [attr.aria-controls]="item.links && item.links.length ? (item.label | slugify) : null"
      [class.with-submenu]="item.links && item.links.length"
      [class.active]="item.active"
      (mousedown)="animateRipple($event)"
      *ngIf="item.url.path === '#nolink' || item.url.path === '#nocategory'">
    <span>
      <icon class="chevron shrink small" glyph="chevron-left" size="small"></icon>
      {{item.label}}
      <icon class="chevron expand small" glyph="chevron-right" size="small"></icon>
    </span></button>

    <ng-container *ngIf="item.links && item.links.length && item.expanded">
      <sidemenu-item [items]="item.links" id="{{ item.label | slugify }}"></sidemenu-item>
    </ng-container>
  </li>
</ul>
